[2017-11-17 11:56] #278 closed, assigned to scarroll32

[2017-11-17 12:27] ieggel opened #432 "Possibility to re-upload EUA"
@seanfcarroll
Currently there is no way for a participant to re-upload the EUA doc. This should be possible as long as the participant has not been approved yet

[2017-11-17 12:53] scarroll32 commented on #428
All these issues are now fixed. A new release will be produced shortly.

[2017-11-17 13:01] #383 closed, assigned to scarroll32

[2017-11-17 13:37] ieggel commented on #428
@seanfcarroll

For LifeCLEF: if i have access to the LifeCLEF challenge dataset i get  this message "Your signed EUA has been approved ...". Would it be possible to show the message without the EUA part, since the LifeCLEF participants do not have to upload an EUA.

[2017-11-17 13:39] ieggel commented on #428
@seanfcarroll

Error 500 if i want to add a dataset file on the task page. This happened being a LifeCLEF organizer
Same thing is happening as an ImageCLEF organizer.

[2017-11-17 13:39] ieggel commented on #428
@seanfcarroll
Error 500 if i click on participants tab of challenge. Was logged in as an organizer.

[2017-11-17 16:19] #428 closed, assigned to scarroll32

[2017-11-17 16:51] ieggel opened #434 "Participants tab for LifeCLEF"
It would be nice to see the registered participants of LifeCLEF on the participants tab of the challenge, so that organizers can see them.
So if i got it right a LifeCLEF participant is considered as registered as soon as he/she has downloaded a dataset file.

[2017-11-17 16:53] ieggel opened #435 "Email notification for EUA upload for ImageCLEF challenges"
ImageCLEF organizers should be notified as soon as a participant has uploaded an EUA

[2017-11-17 16:54] ieggel opened #436 "Email notification about EUA approval for ImageCLEF participants"
ImageCLEF participants should be notified as soon as their EUA has been approved

[2017-11-17 16:56] ieggel opened #437 "LifeCLEF Dataset access EUA message issue"
For LifeCLEF: if i have access to the LifeCLEF challenge dataset i get this message "Your signed EUA has been approved ...". Would it be possible to show the message without the EUA part, since the LifeCLEF participants do not have to upload an EUA?

[2017-11-20 11:19] jsnrynlds commented on #431
@seanfcarroll This was a bit tricky as it affected the red border below the active item. Changed the SCSS for `<sup>` and the way line-height works in `.sub-nav`. Seems to work fine in Firefox, Chrome & Safari now. Pushed to: https://github.com/salathegroup/crowdai-templates

[2017-11-20 11:20] jsnrynlds commented on #385
Duplicate issue: https://github.com/crowdAI/crowdai/issues/431

[2017-11-20 11:20] #385 closed, assigned to jsnrynlds, scarroll32

[2017-11-20 11:30] jsnrynlds commented on #231
@seanfcarroll Is this still occurring in iOS? I think we previously removed `transform: scale(1.3848)` and it's fine on Android now.

[2017-11-20 11:47] jsnrynlds commented on #369
@seanfcarroll Added flags to the job board. I've used https://github.com/7kfpun/flag-css which seems to work well.

Also, made some changes to the structure of template-job-board.html

Pushed to https://github.com/salathegroup/crowdai-templates

[2017-11-21 08:08] scarroll32 commented on #437
Implemented.

[2017-11-21 08:08] #437 closed, assigned to nobody

[2017-11-21 08:25] scarroll32 commented on #426
Implemented

[2017-11-21 08:25] #426 closed, assigned to nobody

[2017-11-21 09:02] scarroll32 opened #438 "Re-enable challenge stats"
Disabled during dev due to incompatibility with webpacker: causing deadlocks.

[2017-11-21 09:53] scarroll32 commented on #438
Added sidekiq unique to solve this issue.

[2017-11-21 09:53] #438 closed, assigned to scarroll32

[2017-11-23 02:37] spMohanty opened #440 "Admin users should be able to make submissions when challenge in draft mode"

[2017-11-23 11:35] ieggel opened #441 "Cannot see CLEF challenges on participant page"
LifeCLEF and ImageCLEF challenges are not listed on the participants page in the challenges tab

[2017-11-23 15:54] scarroll32 opened #444 "Second dynamic page"
**Overview**

This issue creates the ability to host react components that have been packaged with Npm, on a per challenge basis. Once the component is packaged, a crowdAI release is needed to add it to the manifest. This will involve only adding the package, then committing and pushing the release. ie:

[code]
**Configuration**

After that, the visibility of the plug in is controlled from the cha

[2017-11-23 19:50] scarroll32 opened #445 "Gitlab"

[2017-11-24 15:54] spMohanty opened #447 "Dynamic page does not load, when clicked on the tab (from within the overview page, or any other page)"

[2017-11-25 09:07] scarroll32 commented on #447
I think it is a Turbolinks issue. Will check it out.

[2017-11-26 11:03] marcelsalathe opened #448 "rendering issues in music challenge"
This looks wrong:

<img width="708" alt="screen shot 2017-11-26 at 12 02 43" src="https://user-images.githubusercontent.com/215057/33239399-d1d7e98c-d2a1-11e7-832a-29c58c4ee724.png">

[2017-11-26 11:10] marcelsalathe commented on #424
I agree. If we're at it, we should also see how we can better distinguish code from links. In the screenshot below, it's hard to see which ones are links and which ones are code style:

<img width="725" alt="screen shot 2017-11-26 at 12 07 59" src="https://user-images.githubusercontent.com/215057/33239457-a713a910-d2a2-11e7-96d4-b6d4136d0814.png">

I'm bringing in @jsnrynlds to help us with this.

[2017-11-27 10:18] scarroll32 commented on #447
Patched .. but we need to modify the component also. Leaving this open.

[2017-11-27 12:49] spMohanty commented on #448
The correct syntax should be : `$ \mu $` but when I do it, I do not see anything at all.
Could be a CSS issue of how mathjax blocks are rendered ?

[2017-11-27 12:54] scarroll32 commented on #448
I think it is Turbolinks related, refreshing fixes it. I will look at this after the single sign on

<img width="620" alt="screen shot 2017-11-27 at 13 52 48" src="https://user-images.githubusercontent.com/11340230/33267601-65d1f5a0-d37a-11e7-9626-c8456da89238.png">
<img width="687" alt="screen shot 2017-11-27 at 13 52 32" src="https://user-images.githubusercontent.com/11340230/33267602-65f6ee1e-d

[2017-11-27 13:04] spMohanty commented on #448
Okay, turns out, its probably an issue with the `Preview` tab.
I was using it to check how it will appear, and now when I updated the content disregarding the `Preview` output, it renders correctly on the main page.

[2017-11-27 13:04] spMohanty commented on #448
The leaderboard headers do not render properly though.
Check the parts where usually we have "Score" and the "Secondary Score" headers.

[2017-11-27 13:26] scarroll32 commented on #448
They need to be added in the config. I can do it: are we just going with score & secondary score or something else?

<img width="829" alt="screen shot 2017-11-27 at 14 25 46" src="https://user-images.githubusercontent.com/11340230/33268848-f76f3f50-d37e-11e7-87dd-969f37809bc5.png">

[2017-11-27 13:26] scarroll32 commented on #448
And sort order?

[2017-11-27 13:44] spMohanty commented on #448
<img width="917" alt="screen shot 2017-11-27 at 14 43 35" src="https://user-images.githubusercontent.com/1581312/33269545-633bbe96-d381-11e7-939f-de374c76ea97.png">

I have this already configured :-?

[2017-11-27 14:26] scarroll32 commented on #448
Mathjax in the table headers!

Cool - it is all working now.

[2017-11-27 14:26] #448 closed, assigned to spMohanty, scarroll32

[2017-11-27 14:44] ieggel opened #452 "Make EUA PDF download icon larger"
Got some requests on making the EUA PDF download icon a bit larger since it is not clearly visible in the page where participants can download and upload the EUA document,

[2017-11-27 15:06] marcelsalathe opened #453 "video icon needs to be removed"
from non-video challenges - a very confusing user experience:

<img width="152" alt="screen shot 2017-11-27 at 16 05 19" src="https://user-images.githubusercontent.com/215057/33273217-e85b75c0-d38c-11e7-9d97-4bffc359a3dc.png">

i.e. on the NIPS workshop challenge, the music challenge, etc...

[2017-11-27 16:18] spMohanty commented on #453
Actually these are supposed to take the user to a generic submission page. Which has more details about the submission.
Instead of removing them, I would simply link them to the correct page about the submission.

In the absence of media, it could be simple meta data about the submission, available scores, etc.

In case of the music challenge, I can very quickly implement a player for the whole so

[2017-11-27 17:06] marcelsalathe commented on #453
We don't, so for now I would remove it. Also on the other challenges where it is.

[2017-11-28 08:16] #432 closed, assigned to nobody

[2017-11-28 08:54] scarroll32 commented on #453
Driving it from the "media on leaderboard" setting on the challenge.

[2017-11-28 09:23] scarroll32 commented on #406
Also added score if there is no message.

[2017-11-28 10:26] ieggel opened #455 "REST Service for CLEF Registrations"
Create a REST service that provides returns registered CLEF participants including the tasks they are registered for.

[2017-11-28 10:39] scarroll32 commented on #455
No problem.

Please nominate which fields should be visible.

Is this a read-only service?

[2017-11-28 10:44] scarroll32 commented on #453
Implemented.

[2017-11-28 10:44] #453 closed, assigned to scarroll32

[2017-11-28 10:44] scarroll32 commented on #440
Implemented

[2017-11-28 10:44] #440 closed, assigned to nobody

[2017-11-28 10:44] #421 closed, assigned to nobody

[2017-11-28 10:51] ieggel commented on #455
Yes this should be a readonly service.

Maybe it would be best to have a service that returns participants of a certain task

For participants the following fields should be provided:
- name
- first name
- last name
- email
- affiliation
- address
- city
- country

Maybe we should also include a parameter "status" with the following possible values:
- <empty>  => return participants regardless of

[2017-11-29 03:52] spMohanty opened #456 "Email unsubscribe not working"
One of the participants reported this in the gitter channel :

<img width="1229" alt="screen shot 2017-11-29 at 04 51 42" src="https://user-images.githubusercontent.com/1581312/33357191-1552076c-d4c1-11e7-9f32-71fd291fb03e.png">

[2017-11-29 03:57] spMohanty commented on #456
As an admin user I can see some extra options :
<img width="595" alt="screen shot 2017-11-29 at 04 53 54" src="https://user-images.githubusercontent.com/1581312/33357324-c5dd4916-d4c1-11e7-800d-20a86c5d7ed6.png">

[2017-11-29 10:48] LiberiFatali commented on #456
Sorry, I may create misunderstanding. I do have those extra options.
However, I thought that I would have received the email once a week if I checked the last frequency option. I have got digest email everyday instead.

[2017-11-29 13:30] jsnrynlds commented on #424
@spMohanty @marcelsalathe I can see how this could be confusing.

Maybe something like one of the attached...

<img width="743" alt="screen shot 2017-11-29 at 13 26 55" src="https://user-images.githubusercontent.com/1162939/33377457-71396654-d509-11e7-98b2-81fabc4f26d2.png">
<img width="733" alt="screen shot 2017-11-29 at 13 28 49" src="https://user-images.githubusercontent.com/1162939/33377458-71

[2017-11-29 13:31] jsnrynlds commented on #424
The text-colour probably needs to be a bit darker on that second example...

[2017-11-29 13:32] jsnrynlds commented on #319
Hi @seanfcarroll – do I have access to the Mailchimp account for this yet?

[2017-11-29 14:02] marcelsalathe commented on #424
Thanks @jsnrynlds - the first one is better, more neutral. It's also what GitHub uses:
`hello I'm a codeblock`
The only thing I would do is follow GitHub's lead and make the text on the gray background fully black so it truly stands out. It's what millions of developers are used to now.

[2017-11-29 14:10] spMohanty commented on #424
Just adding that, apart from this, Kramdown also supports syntax for code blocks in python, ruby, etc, out of the box.
https://kramdown.gettalong.org/syntax_highlighter/rouge.html

@sean : I dont think this is enabled on crowdAI ?

[2017-11-30 08:15] scarroll32 opened #457 "Call for workshops / challenges"
Create a form

/call-for-challenges

new role - to give access to specific users

- based on WWW form
- friendly url for each call

- name
- website
- status
- closing date

Click to go to detail page where the form is added.

[2017-11-30 11:46] #430 closed, assigned to nobody

[2017-11-30 11:47] scarroll32 commented on #338
On second thoughts this adds a lot of overhead, as we need to distinguish between an actual zero and a unlimited zero. Closed as not implemented.

[2017-11-30 11:47] #338 closed, assigned to scarroll32

[2017-11-30 12:04] scarroll32 commented on #382
Fixed

[2017-11-30 12:04] #382 closed, assigned to scarroll32

[2017-11-30 12:07] scarroll32 commented on #293
https://blog.codeship.com/deploying-docker-rails-app/

[2017-11-30 12:14] scarroll32 commented on #395
Closed

[2017-11-30 12:14] #395 closed, assigned to scarroll32

[2017-11-30 12:14] #348 closed, assigned to jsnrynlds

[2017-11-30 12:17] #447 closed, assigned to scarroll32

[2017-11-30 13:09] scarroll32 commented on #345
Has been superceeded by React component approach. Closed.

[2017-11-30 13:09] #345 closed, assigned to scarroll32

[2017-11-30 14:10] scarroll32 commented on #456
Dear @LiberiFatali thank you for your contribution. In fact the UI had a small bug which is then misinterpreted by the mail program. The first set of boxes determine what emails are sent, and the second set which frequency. I have corrected your record to weekly, and I think it will be OK now.

[2017-11-30 14:10] #456 closed, assigned to nobody

[2017-11-30 14:10] scarroll32 commented on #333
Should be OK now.

[2017-11-30 14:10] #333 closed, assigned to scarroll32

[2017-12-01 09:29] scarroll32 commented on #436
Can you provide some copy text for the email?

[2017-12-01 09:29] scarroll32 commented on #435
@ieggel Can you provide some copy text for the email?

[2017-12-01 09:41] ieggel commented on #436
SUBJECT: [ImageCLEF CrowdAI] - EUA approved for task {taskname}
Dear {participant name},

Your previously uploaded End User Agreement for the ImageCLEF task {Task name} on CrowdAI has been approved by an organizer. To access the data click on the dataset tab of one of this task's challenges at https://www.crowdai.org.

Best regards,
The ImageCLEF team

@seanfcarroll

[2017-12-01 09:49] scarroll32 opened #462 "Starter discussion topics"
For the ImageCLEF and LifeCLEF challenges, it would be great if there was some type of starter post in the the forum. This could be a very simple FAQ.

At the moment they are blank

![screen shot 2017-12-01 at 10 48 02](https://user-images.githubusercontent.com/11340230/33477253-4e1e3924-d685-11e7-833e-6c1b7cfec640.png)

[2017-12-01 09:54] ieggel commented on #435
SUBJECT: [ImageCLEF CrowdAI] - New EUA upload for {task name}

Dear {organizer participant name},

{participant name}has uploaded an End User Agreement (EUA) for task {task name} on CrowdAI. If your are responsible for this task, please check the participant's EUA. If the form is compliant, you can approve it by clicking on the approve button next to the participant's name. In case the EUA is faul

[2017-12-01 10:59] jsnrynlds commented on #424
I can't use GitHub desktop today for some reason, but have just changed the `<code>` CSS in __typography.scss_ to:

[code]

[2017-12-01 11:53] scarroll32 commented on #441
Fixed

[2017-12-01 11:53] #441 closed, assigned to nobody

[2017-12-01 11:53] scarroll32 commented on #431
@jsnrynlds yes that did it. Thanks.

[2017-12-01 11:53] #431 closed, assigned to jsnrynlds

[2017-12-01 12:04] scarroll32 commented on #434
Implemented.

[2017-12-01 12:04] #434 closed, assigned to nobody

[2017-12-01 12:15] #423 closed, assigned to nobody

[2017-12-01 13:40] scarroll32 commented on #369
Implemented

[2017-12-01 13:40] #369 closed, assigned to jsnrynlds

[2017-12-01 13:56] scarroll32 commented on #452
Implemented

[2017-12-01 13:56] #452 closed, assigned to nobody

[2017-12-01 13:57] #462 closed, assigned to ieggel

[2017-12-01 16:17] ieggel opened #464 "Layout issues participants tab LifeCLEF"
The participant avaters are very large on the particiants tab of lifeclef challenges:
![image](https://user-images.githubusercontent.com/9192090/33491751-7d4244e4-d6bb-11e7-9e97-bb9cb7d8267b.png)

[2017-12-01 20:32] scarroll32 commented on #464
Fixed

[2017-12-01 20:32] #464 closed, assigned to nobody

[2017-12-02 18:14] scarroll32 opened #465 "Handle conflicts in slugs"
At present slugs must be unique

[2017-12-04 07:01] scarroll32 opened #466 "Remove login requirements for music challenge"

[2017-12-04 07:03] scarroll32 commented on #466
<img width="578" alt="screen shot 2017-12-04 at 08 02 53" src="https://user-images.githubusercontent.com/11340230/33540061-90193018-d8c9-11e7-92de-3ec961321f31.png">

And well in case of null participant id, we dont consider it

But general public should be able to make evaluations in any case

The challenge relies on a lot of human evaluations. So we have to make it as easy as we can for them

[2017-12-04 10:26] marcelsalathe opened #467 "checkboxes in email settings have different style"
<img width="520" alt="screen shot 2017-12-04 at 11 25 00" src="https://user-images.githubusercontent.com/215057/33547925-dd0765b8-d8e5-11e7-99a7-7defa80656cf.png">

Not sure why - in fact that one at the bottom looks inactive.

[2017-12-04 17:55] jsnrynlds commented on #467
I'm not sure this is a CSS issue, but as the user can only select one of those three options we should probably be using radio buttons instead.

[2017-12-05 14:06] scarroll32 commented on #467
I agree with radio buttons. Will implement.

[2017-12-05 14:19] scarroll32 commented on #466
Implemented.

[2017-12-05 14:19] #466 closed, assigned to scarroll32

[2017-12-05 14:40] scarroll32 commented on #365
Implemented.

[2017-12-05 14:40] #365 closed, assigned to scarroll32

[2017-12-05 15:47] scarroll32 commented on #465
Implemented

[2017-12-05 15:47] #465 closed, assigned to nobody

[2017-12-05 16:00] scarroll32 commented on #444
Add 'require user logged in' as a parameter

[2017-12-05 16:01] scarroll32 commented on #231
Looking good. Thanks Jason.

[2017-12-05 16:01] #231 closed, assigned to jsnrynlds

[2017-12-06 14:23] scarroll32 opened #470 "Leaderboard ordering"
Needs to be at the DB view level, not in the controller.

[2017-12-06 19:26] spMohanty opened #472 "Submissions Page layout"
The layout gets very weird in case of long messages.
<img width="1178" alt="screen shot 2017-12-06 at 11 25 03" src="https://user-images.githubusercontent.com/1581312/33681023-3a4b1fce-da78-11e7-918e-0ecbffeeda39.png">

[2017-12-07 00:01] spMohanty opened #473 "Submission page not showing all entries"
In the AI generated music challenge, my user account is on the leaderboard, but there is no corresponding entry on the submissions page :-?

[2017-12-07 08:00] scarroll32 commented on #472
It needs to be styled. Will work with Jason.

[2017-12-07 08:52] scarroll32 commented on #473
I can see you there.

There were some changes made to the leaderboard but they shouldn't have affected the submission view.

<img width="1183" alt="screen shot 2017-12-07 at 09 51 30" src="https://user-images.githubusercontent.com/11340230/33706402-574f88dc-db34-11e7-9448-150f97fbee1c.png">

[2017-12-07 08:52] #473 closed, assigned to nobody

[2017-12-07 11:49] scarroll32 opened #474 "500 on delete dataset file"

[2017-12-07 12:28] scarroll32 commented on #294
On second thoughts I think this is a bad idea ... we will potentially end up chasing differences in dev & prod environments if using a fake and it adds an new dependency.

[2017-12-07 12:28] #294 closed, assigned to nobody

[2017-12-07 13:51] scarroll32 commented on #470
Implemented.

[2017-12-07 13:51] #470 closed, assigned to scarroll32

[2017-12-07 18:48] scarroll32 opened #477 "Mathjax not working on mobile"
![image uploaded from ios](https://user-images.githubusercontent.com/11340230/33732685-873d121e-db87-11e7-9c22-39bb96db0793.png)

[2017-12-07 19:12] scarroll32 opened #478 "Refactoring"
https://sergiotapia.me/using-pundit-to-protect-your-rails-api-3f13b238b183

https://pchm.co/posts/tutorial-how-to-build-a-cms-in-ruby-on-rails#admin-interface

[2017-12-07 22:06] mdeff opened #479 "Markdown on dataset page"
When the data is hosted outside crowdAI, it would be nice to be able to write instructions directly on the dataset page instead of having to upload a PDF with them. See for example the [musical genre recognition challenge](https://www.crowdai.org/challenges/www-2018-challenge-learning-to-recognize-musical-genre/dataset_files), where training and test data are hosted on SWITCH.

An alternative woul

[2017-12-07 22:07] mdeff commented on #474
Note that this happened when I created a new entry without actually uploading a file. When a file was uploaded, I could always delete the entry.

[2017-12-07 22:12] mdeff opened #480 "Markdown styling"
Spacing is too small when a list starts right below a title. On the below screenshot, look at the spacing below the "Rules" title vs. the "Prizes" title.

![2017-12-07-23 09 25](https://user-images.githubusercontent.com/6806065/33741219-c58c908c-dba3-11e7-952b-3615ad988c92.png)

[2017-12-12 10:45] scarroll32 commented on #457
Implemented

[2017-12-12 10:45] #457 closed, assigned to scarroll32

[2017-12-12 13:21] scarroll32 commented on #319
Hi Jason I've split the accounts, but let's have a call to discuss this at some point.

[2017-12-12 15:53] jsnrynlds commented on #319
Thanks Sean. Can Skype tomorrow if that's good for you?

[2017-12-12 16:01] scarroll32 commented on #406
@jsnrynlds This page wasn't really designed ... and it shows :-)

Not super urgent, but if you have time to clean it up it would be appreciated. Here's an example: https://www.crowdai.org/challenges/www-2018-challenge-learning-to-recognize-musical-genre/submissions

The grading status is text at present, but it might make sense for it to be some type of badge (https://github.com/crowdAI/crowdai/is

[2017-12-13 00:14] spMohanty opened #484 "Spinner/Loader for when media is loading"
For example if you go here : https://www.crowdai.org/challenges/8/leaderboards/3452

and the media is not already loaded, then for sometime, it seems like nothing is happenning !!
Would be good to render a spinner while the data is loading

[2017-12-14 08:50] scarroll32 commented on #484
I plan to rewrite the leaderboard as a React component over the Christmas period ... will incorporate this feature.

[2017-12-14 09:45] scarroll32 opened #486 "Replace markdown editor"
https://github.com/rexxars/react-markdown

[2017-12-14 09:47] scarroll32 commented on #486
Related issues:

https://github.com/crowdAI/crowdai/issues/425

https://github.com/crowdAI/crowdai/issues/480

https://github.com/crowdAI/crowdai/issues/477

[2017-12-14 09:47] scarroll32 opened #487 "Host datasets externally"

[2017-12-14 16:27] scarroll32 commented on #487
Implemented https://github.com/crowdAI/crowdai/pull/488/commits/b9766056f002ffb4635d727fc5d96b09c873301f

[2017-12-14 16:27] #487 closed, assigned to nobody

[2017-12-14 16:28] scarroll32 commented on #474
Fixed

[2017-12-14 16:28] #474 closed, assigned to nobody

[2017-12-14 16:48] scarroll32 commented on #479
External files can now be uploaded.

[2017-12-14 16:50] #479 closed, assigned to nobody

[2017-12-14 22:07] scarroll32 commented on #429
https://github.com/scambra/devise_invitable

[2017-12-18 12:44] scarroll32 commented on #486
Decided to keep it after internal discussions.

[2017-12-18 12:44] #486 closed, assigned to scarroll32

[2017-12-18 15:51] scarroll32 opened #490 "AI Music challenge keyboard not working on Firefox"

[2017-12-18 17:02] marcelsalathe opened #491 "Text for challenge calls"
Some suggested changes:

Describe the task and general overview of the way the challenge will be run.
->
Give a general overview of the challenge, what problem it should solve, and how it will be run.

Why should the challenge be hosted on crowdAI?
->
Impact of the challenge

Describe why the challenge should be hosted on crowdAI, including assessment of the significance of the task and of the pot

[2017-12-18 19:23] spMohanty commented on #491
PS: Sorry for the formatting. typing this out on my smartphone; and will fix the formatting when i get back to my laptop.

Hi @marcelsalathe,

Here are some of the changes I would suggest :

---
Why should the challenge be hosted on crowdAI?
->
Impact of the challenge

This question is redundant ? the next questions asks the same thing, in a more expressive way. or am I getting something wrong ?
-

[2017-12-18 20:23] marcelsalathe commented on #491
Taking @spMohanty's points into account, here are the new changes:

Describe the task and general overview of the way the challenge will be run.
->
Give a general overview of the challenge, what problem it should solve, and how it will be run.

Why should the challenge be hosted on crowdAI?
->
Impact of the challenge

Describe why the challenge should be hosted on crowdAI, including assessment of

[2017-12-19 08:40] scarroll32 commented on #491
Implemented.

[2017-12-19 08:40] #491 closed, assigned to spMohanty, scarroll32

[2017-12-20 17:03] marcelsalathe opened #494 "Challenge call text not rendering markdown"
https://www.crowdai.org/call-for-challenges/ieee/apply

[2017-12-22 09:15] scarroll32 opened #496 "Possible leaderboard UI issue"
Sent via email to info@crowdAI.org

I'm honoured to joint such an interesting challenge. However, recently I found there's a problem of my account.
In the leaderboard, the entries of my row becomes a red ''1''. When I click this red ''1'', it shows me a ''close''.
May I know that what happens to my account? Thank you very much and looking forward for your reply.

[2017-12-22 09:28] scarroll32 commented on #494
Markdown implemented

[2017-12-22 09:28] #494 closed, assigned to scarroll32

[2017-12-22 15:09] #478 closed, assigned to nobody

[2017-12-29 12:20] scarroll32 commented on #496
Not actually a bug. The leaderboard shows the number of submissions, which can be clicked to reveal the actual submissions underneath. Closed.

[2017-12-29 12:20] #496 closed, assigned to scarroll32

[2017-12-31 12:53] mftaff commented on #229
@seanfcarroll Is help still wanted? I am looking to contribute to the open-source community. Do you think I could have a go at this?

[2018-01-03 17:45] spMohanty commented on #490
is there any version information provided ?

[2018-01-03 17:46] spMohanty opened #499 "Editing forum post changes authorship"
If an admin edits a forum post, the old author name is replaced by that of the admin who edited the post

[2018-01-03 17:48] marcelsalathe opened #500 "Editing a user post by an admin changes the user"
I was editing a user post in the forum (excessive use of question marks), and it changed the posting user to me:

<img width="510" alt="screen shot 2018-01-03 at 18 37 17" src="https://user-images.githubusercontent.com/215057/34532487-94dfa0c8-f0b6-11e7-9b36-63ea295ef7b6.png">

[2018-01-03 18:02] spMohanty opened #501 "Number of Page Views ?"
the page views of a challenge doesnt seem to increase if a user just goes to the evaluation page (or the leaderboard etc), and only increases on the main overview page

Not sure if this is by design or if its a bug

[2018-01-03 18:14] spMohanty opened #502 "Header logo doesnt link back to Home Page"
<img width="1028" alt="screen shot 2018-01-03 at 23 43 41" src="https://user-images.githubusercontent.com/1581312/34533388-0aa229a6-f0e0-11e7-845e-9196f5148268.png">

[2018-01-04 08:42] scarroll32 commented on #499
Dup of #500

[2018-01-04 08:42] #499 closed, assigned to nobody

[2018-01-04 11:50] marcelsalathe opened #503 "CSS issues"
on mobile, this keeps bothering me too much, so I'll give this a high priority label (especially since fix should be easy to implement):

![img_0267](https://user-images.githubusercontent.com/215057/34562234-bc946710-f14d-11e7-8a4b-dbd0cf2d4037.jpg)

1. The numbers - there, I think we could enforce a numerical precision limit, which could be changed in the challenge setting (default could perhaps

[2018-01-04 12:27] scarroll32 commented on #503
@marcelsalathe

1. Yes we can implement a precision level on scores. It seems only the very long numbers are a problem (and only on mobile). The problem could also exist if we have a challenge where there is a large whole number component. It seems 13 digits, including the decimal, are too many, but 10 or 11 would be fine on mobile.

So I will just truncate (not round) for visual purposes only, so

[2018-01-04 12:50] marcelsalathe commented on #503
Thanks @seanfcarroll  - I think it's better to implement a lower precision level. Even 16.3367203 is too precise - it's an irrelevant precision level. 3 seems like a good default (also happens to be the default here https://apidock.com/rails/ActionView/Helpers/NumberHelper/number_with_precision)

[2018-01-04 13:40] scarroll32 commented on #270
In progress :-)

[2018-01-04 13:43] scarroll32 commented on #401
When it comes to regex, spaces are evil.

[2018-01-04 13:56] scarroll32 commented on #501
The counter only fires on the challenge home page.

It wasn't added to the other pages, as we will then effectively be double counting, as the stat is displayed as 'views'.

<img width="269" alt="screen shot 2018-01-04 at 14 55 05" src="https://user-images.githubusercontent.com/11340230/34566559-4a0d5b72-f15f-11e7-92d6-af96f818e043.png">

If we consider it 'page views' then no problem ... can be a

[2018-01-04 14:09] spMohanty commented on #501
No I pointed it out, because we recently had a large number of users who visited just the evaluation page (and not the main overview page).

Given that they didnot visit the challenge overview page, the counter didnt increase; but the numbers were reflected in google analytics.

Just putting it out here for future reference.
We can leave it as it is for now, and discuss in detail what the stats me

[2018-01-04 14:38] scarroll32 commented on #501
No problem, but also easy to add.

[2018-01-09 09:17] scarroll32 opened #504 "Cloudfront SSL issue"
<img width="1220" alt="screen shot 2018-01-09 at 10 17 08" src="https://user-images.githubusercontent.com/11340230/34713357-4fbd0cd2-f526-11e7-848c-c04872482de6.png">

[2018-01-09 14:35] jsnrynlds commented on #503
@seanfcarroll @marcelsalathe I'm wondering could we truncate the names @ mobile res? The table cells really need to be vertically centred when a video and expand button are present.

I've added some padding between table cells and have also fixed the footer so it works at mobile. Pushed to: https://github.com/salathegroup/crowdai-templates

[2018-01-09 15:12] marcelsalathe commented on #503
sounds good to me. It's really not that important to see the full name on mobile, especially since one can click on the link. So we could write Marcel Sa... instead of Marcel Salathé

[2018-01-09 18:22] scarroll32 commented on #401
Actually this is now solved.

[2018-01-09 18:22] #401 closed, assigned to nobody

[2018-01-09 18:22] scarroll32 commented on #490
Closed

[2018-01-09 18:22] #490 closed, assigned to scarroll32

[2018-01-11 13:12] scarroll32 commented on #503
Code added in templates for footer

[2018-01-11 13:38] scarroll32 commented on #429
<img width="1171" alt="screen shot 2018-01-11 at 14 38 09" src="https://user-images.githubusercontent.com/11340230/34828208-1998ff9a-f6dd-11e7-8cd0-157b47647cab.png">

[2018-01-11 13:40] scarroll32 commented on #429
Template available http://localhost:8000/template-index.html

[2018-01-11 13:52] scarroll32 commented on #375
Design available in template-challenge.html

[2018-01-11 14:16] scarroll32 commented on #319
There are also some other templates that need a bit of design work (already in the Mailchimp account).

<img width="833" alt="screen shot 2018-01-11 at 15 15 36" src="https://user-images.githubusercontent.com/11340230/34829882-66a3ea8e-f6e2-11e7-9250-62c06e083307.png">

[2018-01-11 14:28] scarroll32 opened #506 "update leaderboard more button with new design"

[2018-01-11 16:10] scarroll32 opened #507 "Run regrading script"
Save existing data first

[2018-01-11 16:16] scarroll32 commented on #502
Fixed

[2018-01-11 16:16] #502 closed, assigned to nobody

[2018-01-11 16:16] scarroll32 commented on #501
Closed

[2018-01-11 16:16] #501 closed, assigned to nobody

[2018-01-11 16:17] scarroll32 commented on #306
Implemented

[2018-01-11 16:17] #306 closed, assigned to scarroll32

[2018-01-11 16:17] scarroll32 commented on #270
Implemented

[2018-01-11 16:17] #270 closed, assigned to scarroll32

[2018-01-11 16:18] scarroll32 commented on #407
As discussed with Jason, will be implemented via the designed Search.

[2018-01-11 16:19] scarroll32 commented on #229
@mftaff it would be great to have this added. We'd be happy with a jQuery / native js approach, and even happier if it were React :-).

[2018-01-11 19:13] scarroll32 commented on #484
Jason will design a full page spinner. @jsnrynlds

[2018-01-11 19:14] scarroll32 commented on #325
As discussed today Jason will do some wireframes. @jsnrynlds

[2018-01-11 19:27] scarroll32 opened #508 "IP tracking and geo lookups"
Currently we track the last login IP. Track a history of IP addresses and do a lookup in the background.

https://github.com/cjheath/geoip

[2018-01-12 10:41] scarroll32 commented on #507
Closed

[2018-01-12 10:41] #507 closed, assigned to scarroll32

[2018-01-12 13:04] scarroll32 commented on #503
All implemented except the name issue. At present a truncate (with dots) after 10 characters has been implemented, which looks good on mobile but a bit short on desktop.

Jason to see if there is a simple CSS solution based on media queries, otherwise we can JS it. Leaving this open only for the name.

[2018-01-12 13:31] spMohanty opened #511 "Leadboard Load More doesnt load more than 30 entries"
https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards

[2018-01-12 15:51] scarroll32 commented on #500
Fixed

[2018-01-12 15:51] #500 closed, assigned to scarroll32

[2018-01-12 15:54] scarroll32 commented on #511
The leaderboard is defaulting to round 2 ... where there are only 30 entries. Switch it back to round 1.

[2018-01-12 15:54] #511 closed, assigned to nobody

[2018-01-18 09:07] scarroll32 opened #512 "Make crowdAI an OAuth provider"
Needed for SDSC integration.

[2018-01-18 09:19] scarroll32 commented on #293
Will be done via Docker.

[2018-01-18 09:23] scarroll32 commented on #512
https://www.sitepoint.com/rails-authentication-oauth-2-0-omniauth/

[2018-01-18 09:23] scarroll32 commented on #512
https://blog.codeship.com/deploying-docker-rails-app/

[2018-01-18 09:37] scarroll32 commented on #293
Codeship tutorial out of date, use the Heroku container tools:

[code]

[2018-01-23 14:48] spMohanty opened #513 "Cannot see more than 30 participants on the leaderboard ?"
https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards

[2018-01-24 18:16] jsnrynlds commented on #319
Hi @seanfcarroll – I finally got round to looking at these. May potentially want to look at styles when digest text is added but all-in-all think these are looking a lot tidier now.

<img width="730" alt="screen shot 2018-01-24 at 18 13 41" src="https://user-images.githubusercontent.com/1162939/35349380-a8f02dbc-0132-11e8-958d-66d4fa148cf3.png">

[2018-01-24 18:16] #319 closed, assigned to jsnrynlds

[2018-01-26 08:02] jsnrynlds commented on #503
Hi Sean – I can't find a way to do this using CSS without JS... looks okay currently though.

[2018-01-26 08:02] #503 closed, assigned to jsnrynlds

[2018-01-26 08:24] jsnrynlds commented on #484
Added full-page loader: https://github.com/salathegroup/crowdai-templates

`template-loader.html`

[2018-01-26 08:50] jsnrynlds commented on #472
Sorted this. Can we remove the avatars as they don't seem necessary here.

HTML changed in _organism-table-submissions.html_; SCSS in __tables.scss_.

[2018-01-26 13:14] scarroll32 commented on #375
Can now add logos along with a link, in the challenge setup.

[2018-01-26 13:14] #375 closed, assigned to scarroll32

[2018-01-26 13:16] scarroll32 commented on #513
Hi @jsnrynlds apparently the pills for round 2 are causing some confusion. Let's discuss options at some point when you have time

Low priority.

![screen shot 2018-01-26 at 14 15 08](https://user-images.githubusercontent.com/11340230/35441326-6b6b8762-02a3-11e8-884b-3912e320fcbd.png)

[2018-01-26 13:18] #407 closed, assigned to nobody

[2018-01-26 14:37] scarroll32 commented on #508
Done

[2018-01-26 14:37] #508 closed, assigned to nobody

[2018-01-26 18:18] #444 closed, assigned to scarroll32

[2018-01-26 18:18] #235 closed, assigned to scarroll32

[2018-01-26 18:19] #477 closed, assigned to nobody

[2018-01-26 18:20] scarroll32 commented on #229
@mftaff are you still interested in working on this ?

[2018-01-26 18:20] #119 closed, assigned to jsnrynlds, scarroll32

[2018-01-26 18:21] #127 closed, assigned to scarroll32

[2018-01-28 09:23] mftaff commented on #229
Ahh sorry! this issue slipped through my net... If someone else is looking to take over, by all means it is theirs!

[2018-01-30 14:07] scarroll32 opened #515 "Music challenge"
1) Remove ID
2) Make sure 2 sides are different
<img width="1140" alt="screen shot 2018-01-30 at 15 04 37" src="https://user-images.githubusercontent.com/11340230/35570343-3961284c-05cf-11e8-8e99-6e29674dabf1.png">

[2018-01-31 16:56] scarroll32 opened #517 "Active Admin CSV export failing on Chrome"
Says "network error". Works OK on Firefox.

[2018-02-01 11:40] scarroll32 opened #518 "Gitlab cert"
Your certificate (or certificates) for the names listed below will expire in
20 days (on 21 Feb 18 11:46 +0000). Please make sure to renew
your certificate before then, or visitors to your website will encounter errors.

gitlab.crowdai.org

[2018-02-01 11:43] scarroll32 opened #519 "Allow for private challenges"
First steps towards crowdAI classroom.

https://trello.com/c/T9xBPssG/40-kit-challenge

[2018-02-01 13:13] scarroll32 opened #520 "Prepare user statistics"
Should be accessible only from the admin page.

[2018-02-02 12:01] scarroll32 commented on #435
- [x] add a checkbox to receive email
- [x] create a background job to send emails when the EUA is uploaded
- [x] Create a mailer

[2018-02-02 14:50] scarroll32 commented on #435
Implemented

[2018-02-02 14:50] #435 closed, assigned to nobody

[2018-02-02 17:03] spMohanty opened #523 "Plots for per-challenge statistics"
One page for every challenge where participants can get a birds eye view of the participant in the challenge. Here are some plots we generated for the Learning2Run challenge :
* Score Distribution

![histogram](https://user-images.githubusercontent.com/1581312/35745401-7c50538c-0843-11e8-85b5-502173f546ff.png)

* Progression of Score over Time
![score progression](https://user-images.githubusercon

[2018-02-05 09:50] scarroll32 commented on #455
Example starter code with a working endpoint and tests here: https://github.com/crowdAI/crowdai/pull/524/commits/d43144d883e404655f987a85d25a4acc28de8d55

@ieggel  This will be merged to master so as not to get too far behind the trunk, but can be extended at anytime by yourself.

[2018-02-05 09:54] scarroll32 commented on #523
Is that matplotlib? Is this view public or for the admin only?

[2018-02-05 12:06] spMohanty commented on #523
Yeah these plots are done using matplotlib and tsplot. But ideally we should try something like plotly for these plots. Lets discuss more on this soon.

And yeah, these should ideally be public for all challenges. Because the information used to make these plots is anyway present on the leaderboard, this just presents all that information in a more easily digestible way.

[2018-02-05 14:35] scarroll32 opened #525 "Challenge upload page links to grading broker"
- [ ] reinstate ability to upload submission file(s) and tar archive of code
- [ ] make this a challenge-level configuration option (Python client or page upload)
- [ ] store uploaded submission in S3 (existing, needs refactoring)
- [ ] make API call to the broker (with crowdAI key as auth) to pass the submission id and s3 key for grading

[2018-02-06 14:37] scarroll32 opened #526 "Challenge configuration refactoring"
We can possibly cleanup some parts of the challenge configuration page.

- [ ] Remove grading type dropdown - this is now replaced by job factories
- [ ] Remove the "Automatic grading" checkbox
- [ ] Remove grading factor and threshold?
- [ ] Primary and secondary score titles should now fall under challenge rounds
- [ ] Answer file should fall under challenge rounds

- [ ] We never implemented ch

[2018-02-06 14:39] scarroll32 opened #527 "Add "week" to submission periods"
Current day and round, needed for IEEE challenge.

<img width="746" alt="screen shot 2018-02-06 at 15 39 17" src="https://user-images.githubusercontent.com/11340230/35865099-ef48ed46-0b53-11e8-97d6-eb5784deaf5c.png">

[2018-02-06 14:46] scarroll32 opened #528 "Refactor challenge description fields"
Currently we have multiple markdown fields for describing challenges

- Overview
- Evaluation criteria
- Rules
- Prizes
- Resources

This is a carry-over from crowdAI v1 where each section was anchored to a sidebar menu. Now, all of these are merged into the 'overview' tab.

Would be simpler to have a single, larger, edit page. Each heading is a simple markdown heading.
We can default suggested se

[2018-02-07 14:05] mdeff opened #529 "Disappearing discussion comments"
It happened that the first comment I wrote on a discussion disappeared:

![2018-02-07-15 01 13](https://user-images.githubusercontent.com/6806065/35920406-13e6a67e-0c18-11e8-89bc-a0ea3389133d.png)

Though I can see there should be 3 comments:

![2018-02-07-15 01 25](https://user-images.githubusercontent.com/6806065/35920412-1d9a2592-0c18-11e8-8a71-11f724c9a936.png)

These are two discussions for w

[2018-02-07 15:01] scarroll32 opened #530 "Staging server is found in google search"

[2018-02-08 15:06] scarroll32 commented on #445
Closed as will be implemented by SDSC

[2018-02-08 15:06] #445 closed, assigned to scarroll32

[2018-02-08 15:06] scarroll32 commented on #518
Closed as will be implemented by SDSC

[2018-02-08 15:06] #518 closed, assigned to scarroll32

[2018-02-09 13:42] scarroll32 opened #531 "Sign up form issues"
- JS sometimes not executing
- error message needs spacing
- replace 'is invalid' with 'please enter a valid email address'

[2018-02-09 14:07] marcelsalathe commented on #531
Also, in signup form, some names are invalid (i.e. when adding a space), but the reason given ("is invalid") is not specific enough.

[2018-02-09 15:13] scarroll32 commented on #519
https://github.com/crowdAI/crowdai/commit/f3c205d5708d1e3c1972902cd292a0977df808f9

[2018-02-09 15:13] #519 closed, assigned to scarroll32

[2018-02-12 18:36] spMohanty commented on #515
These issues have been addressed.
A more comprehensive list of tasks :
(submitted by @FlorianColombo )
- [x] Clear the log and submission (start from fresh)
- [x] Remove identifiers from evaluation page.
- [x] Make sure a submission cannot be evaluated against itself
- [ ] Implement a manual filter of submissions. By that I mean, there should be a human listening to each new submission. If we are

[2018-02-16 08:29] ieggel opened #533 "LifeClef participants bug"
It seems that if a participant downloads a LifeClef dataset file, no entry is created in the participant_clef_tasks table.
A LifeCLEF participant should be considered as registered as soon as he/she downloads a dataset file. This has actually worked before.
@seanfcarroll  have you changed anything regarding this?

[2018-02-17 15:44] spMohanty opened #535 "A dedicated "register for challenge" page"
The current strategy of measuring participation by downloads, etc is a bit tricky.

We have to have a "register for challenge" page, which can be simply have a "I agree to the rules of this challenge", etc.

But only registered participants get access to the datasets section, or get featured on the leaderboard (maybe for un registered participants, we display "Unregistered participant").

I would

[2018-02-19 07:50] scarroll32 commented on #533
@ieggel I haven't directly touched that code.

[2018-02-19 07:53] scarroll32 commented on #535
We have a 2 versions of this for clef challenges. I think the best option is to merge this functionality and to make it configurable at the challenge level.

https://github.com/crowdAI/crowdai/issues/422

[2018-02-19 07:53] scarroll32 commented on #525
@spMohanty is this still needed?

[2018-02-19 08:53] scarroll32 commented on #515
Needs a face to face discussion - seems like a major piece of work.

[2018-02-19 08:54] scarroll32 commented on #523
Needs a design session.

[2018-02-19 08:59] scarroll32 commented on #504
Was an AWS issue and has now been resolved.
https://forums.aws.amazon.com/thread.jspa?messageID=820290

[2018-02-19 08:59] #504 closed, assigned to scarroll32

[2018-02-19 09:33] scarroll32 commented on #472
Implemented.

I left in the badges (they were not in the new design).

Related issue opened here to reduce size of scores
https://github.com/crowdAI/AIGeneratedMusicChallenge_job_factory/issues/2

[2018-02-19 09:33] #472 closed, assigned to jsnrynlds

[2018-02-19 09:48] scarroll32 commented on #472
https://github.com/crowdAI/crowdai/pull/537

[2018-02-20 06:26] spMohanty opened #538 "KnowledgeBase articles should be accessible without login"
This is important for crawlers from various search engines to index the articles there

[2018-02-20 15:25] scarroll32 opened #540 "Add google link tracking to social shares"
https://blog.kissmetrics.com/how-to-use-utm-parameters/

[2018-02-20 15:53] spMohanty commented on #324
Thanks @seanfcarroll for pushing the Social Share features.
Heres somethings I noticed :
* ~~The facebook share isnt working for me. This is what I see :~~
<img width="931" alt="screen shot 2018-02-20 at 16 50 46" src="https://user-images.githubusercontent.com/1581312/36434002-3ee4ae20-165e-11e8-86ef-5d3ac9286416.png">
* The `Get Link` is a bit confusing. Especially because I wasnt sure what to ex

[2018-02-20 16:32] spMohanty commented on #540
Related to https://github.com/crowdAI/crowdai/issues/324

[2018-02-20 16:39] scarroll32 commented on #324
Facebook link is OK now.
Copy URL text changed.

I suggest we do something visual with the button when copying, and perhaps also the tooltip.

[2018-02-20 16:43] scarroll32 commented on #324
Add difference in rank from previous:

<img width="669" alt="screen shot 2018-02-20 at 17 42 45" src="https://user-images.githubusercontent.com/11340230/36436762-832450e8-1665-11e8-8dcf-dd4bde25ee75.png">

[2018-02-20 22:26] scarroll32 opened #544 "Urgent Sinatra security vulnerability"
<img width="961" alt="screen shot 2018-02-20 at 23 24 54" src="https://user-images.githubusercontent.com/11340230/36452570-6a10b8fa-1695-11e8-804a-69956e98cd98.png">

[2018-02-20 22:48] scarroll32 commented on #544
Patched https://github.com/crowdAI/crowdai/commit/8f4901c1c1833debef8ec210570fe29f4e484747

[2018-02-20 22:48] #544 closed, assigned to nobody

[2018-02-21 15:16] ieggel commented on #533
@seanfcarroll
I found the bug. Actually the lifeclef participants are never stored in the participant_clef_task db table. Also, the wrong view is shown in the participants tab for the challenge, so there must have been some other criteria (probably the same as for the ordinary challenges) on when to consider a participant as registered.
I will fix the bug ASAP.

[2018-02-22 10:06] scarroll32 opened #545 "Replace admin pages"
ActiveAdmin is a great way to get started but we are now at the point when we need a better admin tool. We also need to selectively open portions of admin functionality to challenge organizers.

In general the admin pages should
- have the same functions - list view, show and edit view
- be able to visualise data, especially user statistics.
- be controlled properly by security, authorisation and

[2018-02-22 12:47] ieggel commented on #533
@seanfcarroll
PR #546

![lifeclef](https://user-images.githubusercontent.com/9192090/36539342-cd5ef9fc-17d6-11e8-891f-b1343cd6f14a.png)

Lifeclef participants have hot click on a button before accessing the dataset. Clicking the button triggers the creation of an entry in the participants_clef_tasks db table with 'registered' as status_cd.

[2018-02-22 12:58] ieggel opened #547 "CLEF eua tests not working"
Tests for CLEF status (involving EUAs) are not working. You already uncommented the parts that do not work in spec/cells/participant_clef_task/cell_spec.rb.
It seems there is a problem when creating the clef_task object. When the eua_file attribute should be set to something non-empty, it is ignored and will still be empty.
Example:
`let(:clef_task) { create :clef_task, :with_eua }`
=> `clef_task.

[2018-02-22 14:53] scarroll32 opened #548 "Link every submission to detail page"
- [x] add link icon from submissions page for each submission
- [x] make meta hash available on detail
- [ ] integrate front-end library provided by @spMohanty

[2018-02-22 15:00] scarroll32 commented on #535
Needed for May / June

- [ ] Add a reg "register for challenge" button on the challenge landing page
- [ ] API + submission page : only allow registered participants to submit via page / data set

[2018-02-22 15:03] scarroll32 commented on #540
http://kikolani.com/blog-post-promotion-ultimate-guide?utm_source=kikolani&utm_medium=320banner&utm_campaign=bpp

source = crowdai
medium = fb / twitter
campaign = challenge

[2018-02-22 15:03] spMohanty commented on #540
https://ga-dev-tools.appspot.com/campaign-url-builder/

[2018-02-22 15:26] scarroll32 commented on #417
allow 'initiated' through API

[2018-02-22 15:29] spMohanty commented on #523
Related to : https://github.com/crowdAI/crowdai/issues/262

[2018-02-22 15:32] spMohanty opened #549 "Merge meta keys in submission API update calls"

[2018-02-22 15:42] scarroll32 commented on #324
Add a configurable setting for the comparison distance

[2018-02-22 16:12] scarroll32 commented on #325
Hi @jsnrynlds , @spMohanty  and I discussed this in detail today and here are a few thoughts for the design. We'd like to implement this in about a month if possible (we can also have a call to discuss further).

#### Add a "Teams" tab to the profile page
- This is publicly viewable

<img width="1219" alt="screen shot 2018-02-22 at 16 55 44" src="https://user-images.githubusercontent.com/11340230/

[2018-02-22 16:51] #533 closed, assigned to nobody

[2018-02-23 07:43] #455 closed, assigned to ieggel

[2018-02-26 08:19] scarroll32 opened #550 "Upgrade to Ruby 2.5 and Rails 5.1.5"

[2018-02-26 10:11] jsnrynlds commented on #325
Hi @seanfcarroll – thanks, and apologies I've not gotten back to you on this yet. I'm struggling a bit with workload at the moment but as soon as I get a chance I'll look at this. I should have some time next week.

[2018-02-26 13:29] marcelsalathe opened #551 "Cannot sign up / log in on mobile"
these two options NEEDs to be in the menu, otherwise it's very hard to find the log in

<img width="393" alt="screen shot 2018-02-26 at 14 27 29" src="https://user-images.githubusercontent.com/215057/36672915-5e5c772c-1b01-11e8-80de-40b2612bb48f.png">

[2018-02-27 08:01] scarroll32 commented on #548
Meta is available on data elements on a hidden div.

<img width="728" alt="screen shot 2018-02-27 at 08 59 11" src="https://user-images.githubusercontent.com/11340230/36717017-b25c8db2-1b9c-11e8-8cb2-95072a692aa1.png">

<div id="meta" data-meta="{&quot;file_key&quot;:&quot;submissions/5b9e0772-6ad5-4727-8be1-9675d8c7ac6d&quot;}"></div>

[2018-02-27 10:02] scarroll32 commented on #549
Implemented

[2018-02-27 10:02] #549 closed, assigned to nobody

[2018-02-27 10:13] scarroll32 commented on #551
Implemented

[2018-02-27 10:13] #551 closed, assigned to scarroll32

[2018-02-27 10:14] scarroll32 commented on #538
fixed

[2018-02-27 10:14] #538 closed, assigned to nobody

[2018-02-27 10:35] scarroll32 commented on #417
Implemented

[2018-02-27 10:35] #417 closed, assigned to spMohanty

[2018-02-27 10:40] spMohanty commented on #548
This is a bit risky, as I might store some sensitive information in the meta key.

[2018-02-27 13:37] scarroll32 commented on #550
Implemented

[2018-02-27 13:37] #550 closed, assigned to nobody

[2018-02-27 13:54] scarroll32 commented on #530
Added robot disallow for staging only

https://github.com/crowdAI/crowdai/commit/11edd09b88c6aa65448d57f16f9d5b01506c232a

[2018-02-27 13:54] #530 closed, assigned to nobody

[2018-02-27 14:36] scarroll32 opened #554 "Move to role based auth"

[2018-02-27 14:37] scarroll32 commented on #554
Use Rolify, and create an admin page

https://stackoverflow.com/questions/29339591/rails-4-assigning-roles-via-ui-using-rolify-gem

[2018-02-27 15:29] scarroll32 commented on #512
crowdAI set up as a OAuth2 provider, https://github.com/crowdAI/crowdai/commit/489b8fcfe41a53131cca37f39e704710a231d393

[2018-02-27 15:44] #512 closed, assigned to nobody

[2018-02-28 07:35] scarroll32 opened #556 "Update privacy policy & TOC"

[2018-02-28 07:36] scarroll32 commented on #325
No problem @jsnrynlds we can also discuss via Skype if helpful.

[2018-03-01 02:52] spMohanty opened #557 "crowdai external grader API responses do not have the "message" key"

[2018-03-01 07:24] scarroll32 commented on #557
Can you give me an example of the request / response?

[2018-03-01 07:51] scarroll32 commented on #525
Closed as not needed

[2018-03-01 07:51] #525 closed, assigned to scarroll32

[2018-03-01 07:54] scarroll32 commented on #406
Hi @jsnrynlds most of this is now implemented ... would ask you for help on:

- colour codes for statuses : [:ready, :submitted, :graded, :failed, :initiated]
- filtering (perhaps a simple global filter box?)

[2018-03-01 08:00] scarroll32 commented on #515
@spMohanty what are your thoughts on the open checkbox items in this issue?

[2018-03-01 08:05] scarroll32 commented on #229
@mftaff it's still up for grabs :-)

[2018-03-01 08:18] scarroll32 commented on #484
Implemented

[2018-03-01 08:18] #484 closed, assigned to jsnrynlds

[2018-03-01 08:25] scarroll32 commented on #529
Hi @mdeff did the comment text that you wrote disappear or is the count misleading?

[2018-03-01 08:31] scarroll32 commented on #528
Wont' implement

[2018-03-01 08:31] #528 closed, assigned to nobody

[2018-03-01 09:05] mdeff commented on #529
Hi, the text disappeared. The count is right.

[2018-03-01 10:30] scarroll32 commented on #556
Implemented.

[2018-03-01 10:30] #556 closed, assigned to nobody

[2018-03-01 10:54] scarroll32 commented on #540
Implemented

[2018-03-01 10:54] #540 closed, assigned to nobody

[2018-03-01 11:08] scarroll32 commented on #531
Implemented

[2018-03-01 11:08] #531 closed, assigned to nobody

[2018-03-01 11:17] scarroll32 commented on #529
Thanks, I will look into it.

[2018-03-01 12:21] scarroll32 opened #560 "Link to page no longer working for challenge call response email"
https://mandrillapp.com/track/click/30839909/?p=eyJzIjoiUWlQMEh4ZDhZX3Q4RDM2enlweExOSmF2RWlzIiwidiI6MSwicCI6IntcInVcIjozMDgzOTkwOSxcInZcIjoxLFwidXJsXCI6XCJodHRwczp3d3cuY3Jvd2RhaS5vcmdcXFwvYWRtaW5cXFwvY2hhbGxlbmdlX2NhbGxzXFxcL2Nyb3dkYWlcXFwvY2hhbGxlbmdlX2NhbGxfcmVzcG9uc2VzXFxcLzE0XCIsXCJpZFwiOlwiZGM5NWMxMWU1OWRkNDcxNzgxOTExYmRjOTdhNjhjMmFcIixcInVybF9pZHNcIjpbXCI0ZjM3YTMyNjMwNTE5YWVmYTgyZDJkZmRjMTEz

[2018-03-01 12:21] scarroll32 commented on #560
That's one crazy link!

[2018-03-01 12:37] scarroll32 commented on #560
<img width="575" alt="screen shot 2018-03-01 at 13 37 36" src="https://user-images.githubusercontent.com/11340230/36845122-bf18c2e0-1d55-11e8-8575-21a3ecd0b165.png">

[2018-03-01 15:38] spMohanty opened #561 "rails error in response text of grader api calls"
I got this
[code]
as a response for when trying to patch a submission.

[2018-03-01 16:24] scarroll32 opened #562 "Better API documentation"
Auto generated from tests using https://github.com/zipmark/rspec_api_documentation

[2018-03-02 07:45] scarroll32 commented on #561
I'll need the call details and the headers if possible.

[2018-03-02 09:06] mftaff commented on #229
Good to know, I am a bit busy these days, but if I have time to work on this, I shall :-)

[2018-03-05 08:43] scarroll32 commented on #561
https://github.com/crowdAI/crowdAI-KIT-energy-challenge-job-factory/blob/master/workers.py#L65

[2018-03-05 08:44] scarroll32 commented on #561
Step 1: make a post request with status submitted
Step 2: collect the submission id from the reaponse from step 1
Step 3: make a patch request with a new payload and grading status failed, and also add a random meta key to the payload

[2018-03-05 12:59] spMohanty opened #563 "Highlight the top-3 participants on the leaderboard"
Somehow visually differentiate the top-3 participants on the leaderboard.
This can be motivating for the top-N participants to push for it, so that even if they are not #1, but they can still aim for being in this group of top users who are distinctly "special".

Can be simply by rendering their titles in bold, or maybe adding 🏆 icons next to their user names etc ?

the number "3" in top-3 should

[2018-03-05 13:23] scarroll32 commented on #563
good idea!

[2018-03-05 16:04] scarroll32 commented on #527
Implemented

[2018-03-05 16:04] #527 closed, assigned to nobody

[2018-03-07 09:44] ieggel opened #565 "File submissions via webpage"
For the CLEF challenges it would be highly appreciated if there was a possibility to upload submission files via a web page in addition to the python client.

[2018-03-08 03:13] spMohanty opened #566 "Changes to challenge description markdown is not rendered"
@sean: I was trying to post a note about extending the round-2 submission deadline for WWW Music challenge to 22nd March. I updated the content, but the rendered markdown doesnt reflect the changes :-?

[2018-03-08 03:35] spMohanty commented on #566
Same for a post I just created. The content is not being rendered : https://www.crowdai.org/topics/round-2-submission-deadline-extended-to-march-22nd-2018/discussion

[2018-03-08 12:19] scarroll32 commented on #566
OK I'll look into it urgently.

[2018-03-08 14:27] scarroll32 commented on #566
Fixed

[2018-03-08 14:27] #566 closed, assigned to nobody

[2018-03-08 15:07] spMohanty commented on #529
Can confirm this.
The text content added when creating the a new "topic" in the discussion form is not rendered.

[2018-03-08 16:02] spMohanty opened #568 "Dataset from old challenge links to a broken link"
I tried downloading the `Test Data` from the PlantVillage Challenge, and I got an error that the specified key doesnt exist.

https://www.crowdai.org/challenges/plantvillage-disease-classification-challenge/dataset_files

[2018-03-09 09:55] scarroll32 commented on #568
The test data and sample submission files for PV are not in AWS in the correct location.

The keys are still attached to the Rails table but only crowdai_train.tar is correctly linked. I think this key is the PV crowdai_test.tar: https://s3.eu-central-1.amazonaws.com/crowdai-prd/dataset_files/2ab88525-0eff-4e3f-807f-345e2901eedb/crowdai_test.tar

If so, it can be reattached.

Is there another copy

[2018-03-09 10:27] FlorianColombo opened #569 "Initial score"
For new submission, the initial score (before any evaluation) should not appear in the leaderboard

[2018-03-09 12:00] scarroll32 commented on #569
They can be deleted by crowdAI admins ... the reason pre-challenge submissions are accepted and viewable on the leaderboard is for a per-challenge smoke test.

Are there any entries that should be deleted? Paste them in here & I'll take care of it.

[2018-03-09 13:25] FlorianColombo commented on #569
Ah. If there is no automated way, then I guess it's useless... However, we might want to prevent people submitting last minute in order to appear first in the leaderboard. Maybe, by refusing new submission n(=3?) weeks before the challenge ends?

[2018-03-09 15:53] scarroll32 commented on #568
Fixed

[2018-03-09 15:53] #568 closed, assigned to nobody

[2018-03-12 08:13] scarroll32 opened #571 "Updates to crowdAI landing page"
Urgent updates needed to crowdAI for communication.

- [x] Blog
- [x] News ticker
- [ ] Landing page explainer
- [x] Partner logos on landing page
- [ ] Learn more page

[2018-03-12 08:14] scarroll32 opened #572 "Install & integrate with Gitlab"

[2018-03-12 08:51] scarroll32 commented on #572
Install notes

https://about.gitlab.com/aws/

https://www.fabian-keller.de/blog/migrating-a-gitlab-instance-to-another-server

https://docs.gitlab.com/ee/university/high-availability/aws/README.html

http://www.thegreatcodeadventure.com/building-a-custom-oauth-strategy-for-doorkeeper/

[2018-03-12 08:56] scarroll32 opened #573 "Background image missing on landing page"

[2018-03-12 11:53] scarroll32 opened #574 "Allow multiple organisers per challenge"

[2018-03-12 12:30] scarroll32 commented on #349
Closed as covered by https://github.com/crowdAI/crowdai/issues/406

[2018-03-12 14:25] FlorianColombo commented on #515
There seems to be a problem with the display (on Chrome), which was not there previously (see screenshot)
<img width="1221" alt="screen shot 2018-03-12 at 3 22 27 pm" src="https://user-images.githubusercontent.com/22098979/37289262-917661fa-2609-11e8-8055-ed8ec2cdc5c1.png">

[2018-03-12 14:42] spMohanty opened #575 "Update the Winners section for all the challenges"
In the challenge edit page, there should be a "Winners" tab, where you can list the winners of the completed challenges, and a small section of the prizes they received etc

[2018-03-12 15:33] Sylvain-Bernard commented on #575
Is there a list of previous winners for all the completed Challenges?

[2018-03-12 15:36] spMohanty commented on #575
@XCaellaX : We usually just put up a post in the discussion forum announcing the winners. A good example for the content that should go in the Winners section is this : https://www.crowdai.org/topics/official-results-we-have-a-winner/discussion

But for other challenges we can just start with listing down the winner names (top-3) in most cases from the Leaderboard.

[2018-03-12 15:51] jsnrynlds commented on #571
Hi @seanfcarroll – just making a start on this. When you get a chance could you let me know eight partners that you'll be including? Cheers

[2018-03-12 16:00] jsnrynlds commented on #571
Also, I think it will look much tidier if we use grayscale logos – is that okay?

[2018-03-12 20:01] scarroll32 commented on #548
as an alternative the meta can be accessed from the (exisiting) submission info endpoint via ajax. Let me know & I'll back this code out. @spMohanty

[2018-03-12 20:01] scarroll32 commented on #293
Add in logstash http://ericlondon.com/2017/01/26/integrate-rails-logs-with-elasticsearch-logstash-kibana-in-docker-compose.html

https://gist.github.com/PavelBezpalov/384dc520b335429e415713882c986801

[2018-03-12 21:32] spMohanty opened #576 "Sort challenges by number of participants"
Right now on the home page, and also on the challenges page we show the active challenges, then I am not sure about the ordering of the rest of the challenges.
So some challenges like the WWW Music Genre recognition challenge, Criteo Challenge do not show up there even if they had a pretty decent amount of participation.

[2018-03-13 10:29] scarroll32 opened #578 "Remove hard-coding in view"
https://github.com/crowdAI/crowdai/blob/master/app/concepts/challenge/views/challenge_subnav.erb#L5

[2018-03-13 13:22] scarroll32 commented on #576
On the home page we sort by featured sequence for precise control. On the challenges page we sort by status and date:

[code]

<img width="806" alt="screen shot 2018-03-13 at 14 21 11" src="https://user-images.githubusercontent.com/11340230/37344146-d8167f30-26c9-11e8-8cc9-201c2badb3f3.png">

[2018-03-13 13:25] scarroll32 commented on #575
Winner's tab is turned on with a checkbox.

<img width="931" alt="screen shot 2018-03-13 at 14 24 44" src="https://user-images.githubusercontent.com/11340230/37344315-5671eb1c-26ca-11e8-9b10-082c01fc0edc.png">

[2018-03-13 13:25] #575 closed, assigned to Sylvain-Bernard

[2018-03-13 13:26] scarroll32 commented on #576
Can this be closed? @spMohanty

[2018-03-13 13:57] spMohanty commented on #569
Hi Florian, I understand where this issue comes from, but its actually a bit tricky to implement in a general way. I dont think it makes sense at this point to implement this as a site wide feature. But what I can do it try to deal with it at the evaluation API level. But there also there is a risk for some submissions not receiving the threshold number of evaluations and hence a divergence betwee

[2018-03-13 14:13] scarroll32 commented on #572
- [x] Single sign on
- [ ] Email config
- [ ] Branding
- [ ] Gitlab backups
- [ ] Test data migration (to local)

[2018-03-13 14:18] spMohanty commented on #572
The Gitlab backups, and email config are pretty straight forward in`gitlab.rb`

The branding one will be tricky though without venturing into the actual code. It does have some config options for the default theme, but for some reason the theme doesnt seem to change when i change it (and also reconfigure it).
For now, getting one of the default themes to work is good enough, especially if we can f

[2018-03-13 15:05] jsnrynlds commented on #571
@marcelsalathe @seanfcarroll Here's an initial look at introducing some of these elements to the homepage. I've also added smaller, red headings in all-caps to increase contrast.

Questionmark over whether we use colour or grayscale logos – I guess this will partly depend on the logos we're showing.

![crowdai_home_desktop_v2 2](https://user-images.githubusercontent.com/1162939/37349038-6b4e39ac-2

[2018-03-13 16:27] spMohanty opened #580 "Recaptcha on Call-for-challenges page"
Should we have a recaptcha on the call for challenges page (https://www.crowdai.org/call-for-challenges/crowdai/apply).
Someone could very easily populate it with thousands of dummy submissions. and we will just get thousands of emails in our inbox, and if someone makes a real submission, it will also be lost in all that noise.

[2018-03-13 17:45] scarroll32 commented on #580
OK ... but it can be done after the current critical list.

[2018-03-13 17:45] spMohanty commented on #580
Yeah this is low priority. I added it just so we dont forget

[2018-03-15 08:33] scarroll32 commented on #572
[code]

[2018-03-15 14:24] scarroll32 commented on #572
Tailing logs on Gitlab
[code]

[2018-03-15 14:35] jsnrynlds opened #583 "Sticky footer"

[2018-03-15 14:39] scarroll32 commented on #572
![screen shot 2018-03-15 at 15 37 38](https://user-images.githubusercontent.com/11340230/37470014-dea75cd6-2866-11e8-8157-d4c749245a4d.png)

[2018-03-15 14:40] scarroll32 commented on #572
[code]

[2018-03-15 19:43] scarroll32 commented on #572
Interesting ...

<img width="1031" alt="screen shot 2018-03-15 at 20 42 13" src="https://user-images.githubusercontent.com/11340230/37487298-68e24efe-2891-11e8-84fe-45577c9118a4.png">

https://github.com/doorkeeper-gem/doorkeeper/blob/master/app/controllers/doorkeeper/authorizations_controller.rb

[2018-03-16 08:11] scarroll32 opened #586 "[Job Board] Admin"
Not the easiest to work with - was rushed in before a vacation and needs some thought.

@XCaellaX perhaps you might have some ideas on this part of the app. Let's discuss at the next crowdAI meeting.

Perhaps we should also start emailing out new jobs to our user base.

[2018-03-16 09:19] scarroll32 commented on #526
Need to add a better connection between challenge rounds & the API

[2018-03-16 09:47] Sylvain-Bernard opened #587 "404 - Documentation link - in crowdai github readme.md"
![image](https://user-images.githubusercontent.com/15749650/37514137-593e4572-2907-11e8-9417-1623f16bb197.png)

don't know where it should link...

[2018-03-16 10:55] scarroll32 commented on #587
The docs will be migrated from the wiki into the README as linked files. Still a work in progress, so I have removed the link for now.

@spMohanty we also need to have a documentation sprint one of these days!

[2018-03-16 10:55] #587 closed, assigned to nobody

[2018-03-16 11:51] scarroll32 opened #588 "Clef requirements for submissions and grading"
It is really important for the clef organisers to have a access to the submission files, on one hand to possibly provide additional kind of score(s), on the other hand to also be able to conduct more in depth analysis by maybe evaluating submissions separately based on the approach that was used to solve the problem. I suggest placing a button on the submission tab where organisers can download al

[2018-03-16 13:47] Sylvain-Bernard commented on #586
Would be nice to have: * = required
- [x] Title*
- [x] Organisation*
- [ ] Organisation website*
- [ ] Organisation Logo
- [x] Contact Name
- [x] Contact email
- [x] Contact phone
- [x] Posting date*
- [ ] Maximal time displayed (kind of a timer, set to 3 month by default)* <- job closed/archived after timeout
(or Closing date*)
- [x] Status as radio or drop down [open, closed]*
- [ ] Description

[2018-03-16 13:52] Sylvain-Bernard opened #589 "[Job Board] Front-end"
- [ ] Have a "Create a Job listing" button (with admin notification and approval before publishing)
- [ ] Possibility to subscribe to new entry with notifications email or on CrowdAI for participants?

[2018-03-16 13:55] Sylvain-Bernard opened #590 "[Knowledge Base] Front-end"
- [ ] Have a "Propose an article" button (with admin notification and approval before publishing)

[2018-03-16 14:33] Sylvain-Bernard opened #591 "Weird text formatting on one discussion post"
on https://www.crowdai.org/topics/we-have-a-winner-for-this-challenge/discussion, the **2000** is displayed as math/tex

![image](https://user-images.githubusercontent.com/15749650/37526317-4acde7e0-292f-11e8-8261-854f833fee5a.png)

[2018-03-16 14:35] spMohanty commented on #591
Thats because the `$` signs confuse the renderer into thinking that the enclosed content is for MathJax.
I will investigate on how to escape it and fix it.

[2018-03-16 14:51] spMohanty commented on #591
This needs a particular MathJax config, which I added (along with standardising the MathJax config) in this pull request : https://github.com/crowdAI/crowdai/pull/592

After this is live, we will be able to escape MathJax rendering for `$` by typing `\$` instead.

[2018-03-16 18:07] scarroll32 opened #593 "Add Codecov to crowdAI & related projects"
https://codecov.io/

Free for open source projects

<img width="906" alt="screen shot 2018-03-16 at 19 06 55" src="https://user-images.githubusercontent.com/11340230/37537240-39206a5e-294d-11e8-9c0e-ae656d87605c.png">

[2018-03-16 18:56] spMohanty opened #594 "*Clef challenges include equations as images"
Some of the clef challenges include equations of evaluation metrics as images.
Ideally they should be rewritten using MathJax.

Example : https://www.crowdai.org/challenges/lifeclef-2018-bird-soundscape

[2018-03-19 10:12] scarroll32 commented on #591
Implemented PR, but the issue is still there. Tried and edit & resave but no effect.

[2018-03-19 12:42] scarroll32 commented on #572
https://docs.gitlab.com/ce/integration/oauth2_generic.html

[2018-03-19 14:32] scarroll32 commented on #572
Single sign on working

[2018-03-19 14:51] scarroll32 opened #599 "Configure Gitlab backup to S3"
- database
- gitlab.rb

[2018-03-19 14:52] scarroll32 opened #600 "Pass user avatar image from Rails to Gitlab"

[2018-03-19 14:52] scarroll32 opened #601 "Configure Gitlab - Mandrill"

[2018-03-19 14:55] scarroll32 opened #602 "Test Gitlab data migration"
- Cleanup old backups
- Backup directly to S3
- Test backup / restore to another instance

[2018-03-19 15:13] scarroll32 opened #603 "Replace Doorkeeper views with crowdAI styling"

[2018-03-19 15:28] scarroll32 commented on #424
We can use http://codemirror.net/

[2018-03-19 15:39] scarroll32 opened #605 "Gitlab is using the EC2 root disk"
There attached storage but gitlab not using it

<img width="1040" alt="screen shot 2018-03-19 at 16 38 42" src="https://user-images.githubusercontent.com/11340230/37605743-22debfae-2b94-11e8-9628-47fd74fc57e2.png">

[2018-03-19 15:41] scarroll32 commented on #593
Implemented in Rails app

[2018-03-19 15:41] #593 closed, assigned to nobody

[2018-03-19 15:43] scarroll32 opened #606 "Gitlab update needed"
Already! Let's at all configured and the backups working before doing any updates.

<img width="348" alt="screen shot 2018-03-19 at 16 42 23" src="https://user-images.githubusercontent.com/11340230/37605912-8e35b0e6-2b94-11e8-9385-fcb9427088b8.png">

[2018-03-19 15:47] scarroll32 commented on #605
Actually the storage doesn't seem to be properly attached

[code]

[2018-03-19 15:54] scarroll32 commented on #572
Other items moved into their own issues. Closed.

[2018-03-19 15:54] #572 closed, assigned to scarroll32

[2018-03-19 15:56] scarroll32 opened #607 "Lock down pages in GitLab"
Not sure how to do this yet, but we should remove access from

- [ ] user emails
- [ ] user password change

Anything else?

[2018-03-19 16:03] scarroll32 commented on #607
<img width="1094" alt="screen shot 2018-03-19 at 17 03 21" src="https://user-images.githubusercontent.com/11340230/37607121-775c8a04-2b97-11e8-8232-1057c1b98aaf.png">

[2018-03-19 16:18] spMohanty opened #608 "Add git-lfs support for gitlab"

[2018-03-19 17:10] spMohanty commented on #591
Thats weird. The relevant option for this was : `processEscapes`, and you can read about this here : http://docs.mathjax.org/en/latest/options/preprocessors/tex2jax.html#configure-tex2jax

Are you sure these configs are not being overridden by something else ?

[2018-03-20 07:08] scarroll32 commented on #571
I like it Jason, I agree it would be tidier with grayscale logos, but perhaps with the mouse over to reveeal colour like in AMLD.

@marcelsalathe @spMohanty What are your thoughts?

[2018-03-20 07:14] spMohanty commented on #548
or alternatively, if `meta` supports nested variables, we can have a structure like :

[code]
Meaning, all the keys of `meta` are private by default.
But if there are any keys available in the "public" key, then they should be available.
A majority of the keys we will store will be private, and some we would want to be public.

Does this make sense ?

[2018-03-20 07:15] marcelsalathe commented on #571
I like the color version...

PARTNERS should probably say USED BY

Thanks for implementing this asap!

[2018-03-20 07:46] marcelsalathe commented on #603
And appropriate text ;-)

[2018-03-20 07:47] scarroll32 commented on #603
<img width="1083" alt="screen shot 2018-03-20 at 08 46 25" src="https://user-images.githubusercontent.com/11340230/37641764-424bd7f0-2c1b-11e8-907e-53064547af64.png">

[2018-03-20 07:56] jsnrynlds commented on #573
@seanfcarroll Not sure why this isn't visible. Image is attached to `#home` and appears in the CSS when I inspect the div in Chrome...

[2018-03-20 08:04] jsnrynlds commented on #571
Here's an updated version with pagination added to the partners section...

![crowdai_home_desktop_v2 3](https://user-images.githubusercontent.com/1162939/37642525-4d53aa98-2c15-11e8-8da8-fe757cd23857.png)

[2018-03-20 08:13] spMohanty commented on #605
Have setup and configured it to use an external mounted volume.
Reference : https://docs.gitlab.com/omnibus/settings/configuration.html#storing-git-data-in-an-alternative-directory

[2018-03-20 08:15] jsnrynlds commented on #571
Alternative layout for latest blog posts...

![crowdai_home_desktop_v2 4](https://user-images.githubusercontent.com/1162939/37642932-da359baa-2c16-11e8-9beb-e4c43bb70da5.png)

[2018-03-20 08:19] jsnrynlds opened #609 "Possibly decrease EPFL logo-size in footer"
@marcelsalathe Looking at this it feels a bit _too_ big to me. What do you think?

<img width="1240" alt="screen shot 2018-03-20 at 08 18 10" src="https://user-images.githubusercontent.com/1162939/37643112-642100e8-2c17-11e8-83c9-961347ddfa6d.png">

[2018-03-20 08:24] Sylvain-Bernard commented on #571
Prefer the latter for blog posts. Blog posts present but keeps focus on featured challenges without pushing them too far at the bottom of the page.

[2018-03-20 08:28] jsnrynlds commented on #406
@seanfcarroll @spMohanty I've created some badges for challenge status on homepage, so I guess it would make sense to use these here, too (?).

![featured challenges](https://user-images.githubusercontent.com/1162939/37643530-b9e2e072-2c18-11e8-966e-38ad56811801.png)

[2018-03-20 08:49] marcelsalathe commented on #609
yes, I could be decreased a bit.

[2018-03-20 09:04] jsnrynlds commented on #571
Me too, @XCaellaX.

Here's a design for the blog index page. I don't think we want to give ourselves the headache of looking for images for each blog post but adding the avatars here definitely helps visually and adds a human touch. Could potentially do this on the homepage although it's obviously going to push the challenges further down the page.

![crowdai_blog_desktop_v1 3](https://user-images

[2018-03-20 09:10] marcelsalathe commented on #571
I like it better too!

[2018-03-20 09:19] jsnrynlds commented on #583
Hi @seanfcarroll – I was wondering if we could make the footer sticky as it looks quite bad having whitespace underneath it on pages without much content (when viewed on screens with a higher res). Are you happy for me to look at this? As the body content already has a `.content` class applied to it, it shouldn't cause any problems.

I'm also going to decrease the size of the EPFL logo (https://gi

[2018-03-20 11:23] scarroll32 opened #610 "Edit comment is broken"
- Markdown is saving but not rendering
- Delete broken also

[2018-03-20 11:59] scarroll32 commented on #605
Closed

[2018-03-20 11:59] #605 closed, assigned to nobody

[2018-03-20 11:59] scarroll32 commented on #599
Implemented

[2018-03-20 11:59] #599 closed, assigned to nobody

[2018-03-20 12:45] scarroll32 commented on #571
I like the last 2 screenshots.

[2018-03-20 12:45] scarroll32 commented on #601
Done

[2018-03-20 12:45] #601 closed, assigned to nobody

[2018-03-20 12:52] spMohanty opened #611 "Enable `round_id` specification in external_grader_api"
The [external_grader_api](https://github.com/crowdAI/crowdai/blob/master/app/controllers/api/external_graders_controller.rb) currently "predicts" the round based on the [get_challenge_round](https://github.com/crowdAI/crowdai/blob/598abafe7edbf4a8b42a84a6240de48421d3faa8/app/controllers/api/external_graders_controller.rb#L32) function.

This does not allow the grader to submit scores for previous

[2018-03-20 12:56] scarroll32 commented on #608
Bucket created and auth'd to crowdai-prd

[2018-03-20 12:57] #349 closed, assigned to jsnrynlds

[2018-03-20 13:09] ieggel opened #612 "Possibility to provide metadata via web page submission"
When a participant uploads a submission file it is important that they can also provide additional information on the submission. In previous years we always had the following fields:

1. **Method description** (Text area)

2. **Retrieval type** (Dropdown) with following values:
  - Visual
  - Textual
  - Mixed (textual + visual)
  - Not applicable

3. **Run type** (Dropdown)
  - Automatic
  - Fee

[2018-03-20 13:19] ieggel commented on #588
This issue is broken down into following sub-issues:
- [x] #565 File submission via web page
- [x] #612 Possibility to provide metadata via web page submission
- [x] #614 Download of all submission metadata and submission files
- [x] #615 Possibility to enable/disable leaderboard view
- [x] #617 Secure access to leaderboard

[2018-03-20 13:25] ieggel opened #613 "Download of submission files"
An organizer should be able to download all submitted files for the challenge.
To do:
- Button 'Download submitted files' on submission tab of challenge (only visible to organizer)
- All submitted files should be packed into a zip file

[2018-03-20 13:42] ieggel opened #614 "Download of all submission metadata and submission files"
An organizer should be able to download all metadata of valid (graded) submissions for a given challenge. This should be implemented with an API. The response should also include an S3 URL for each submission.

To do:
- Create API
-  Return json response including S3 URLs for submission files

Example:
`
{
  "challenge_name": "ImageCLEF Tuberculosis Severity Scoring",
  "submissions":
  [
     {

[2018-03-20 13:48] ieggel opened #615 "Possibility to enable/disable leaderboard view"
- Introduce  a new field 'show_leaderboard' in the challenge db table and set it to true by default
-  An organizer can then set the property in the edit challenge page, e.g. under tab 'Evaluation'

[2018-03-20 13:51] spMohanty commented on #608
integrated. and tested that its working fine now.

[2018-03-20 15:36] scarroll32 commented on #611
Turned out to be a bit trickier than expected.

The challenge_round_id can be passed in the params hash now, and if present will be used to create the submission. The round_id is verified if it exists or is rejected.

The challenge_round_id is a database level id field, so must be first queried by the broker API to get the correct value. Two new endpoints have been created:

All challenges
[code]

[2018-03-20 15:58] scarroll32 commented on #611
Implemented

[2018-03-20 15:58] #611 closed, assigned to scarroll32

[2018-03-20 15:59] ieggel opened #617 "Secure access to leaderboard"
Secure the access to the leaderboard. Currently if someone knows the URL he/she could still access the leaderboard.

The leaderboard  should only be accessible if:
- challenge.show_leaderboard is true
- OR current_user.organizer_id = challenge.organizer_id

Thank you Sean

[2018-03-20 16:09] scarroll32 opened #619 "Fix clunkiness on challenge rounds"
- [ ] Needs a full set of feature tests
- [x] Date and time picker
- [x] Display day of week next to date
- [ ] Current round switch not working
- [ ] Default start date & time of next round to immediately after the previous one

[2018-03-20 16:16] scarroll32 commented on #612
Is this for all *clef challenges?

[2018-03-20 16:17] scarroll32 commented on #617
Needs to be enforced at the policy level so the url cannot be directly accessed.

[2018-03-20 16:19] ieggel commented on #612
Yes, we can use this for all *clef challenges.

[2018-03-20 16:29] scarroll32 opened #620 "Post submission override via API"
As a follow-on to the [challenge round ID overide](https://github.com/crowdAI/crowdai/issues/611), we need to add an override for the post submission flag.

This will be added to the hash as "challenge_round_id" and only be accepted if the challenge_round is also provided.

[2018-03-20 16:37] scarroll32 opened #621 "Implement GraphQL"
Leave existing API in place.

Will require some much-needed refactoring and test review.

[2018-03-20 16:44] scarroll32 commented on #561
Fixed

[2018-03-20 16:47] #557 closed, assigned to nobody

[2018-03-20 16:56] #608 closed, assigned to nobody

[2018-03-21 07:59] jsnrynlds commented on #571
@marcelsalathe @seanfcarroll Shall I go ahead and build these?

[2018-03-21 09:50] marcelsalathe commented on #571
Yes!

[2018-03-21 10:28] jsnrynlds opened #623 "Outdated browser"
@marcelsalathe @seanfcarroll as we're using flexbox (and other CSS3 rules that don't work in older browsers), I'm wondering if we should implement something like http://outdatedbrowser.com/en – thoughts?

[2018-03-21 12:12] jsnrynlds commented on #571
@marcelsalathe @seanfcarroll I've started to look at the 'Used by' logo section but it's a bit fiddly as we don't have a traditional grid system in place. I can't really add one because of the way the horizontal padding is set up.

There are options, but I'm wondering if I could build this so we cut down the number of logos shown at lower resolutions (possibly down to 4 on mobile devices)? This wo

[2018-03-21 12:44] scarroll32 commented on #623
I think we can go with modern browsers only @jsnrynlds, we have already started down that road. In any case we would expect our audience not to be running out of date browsers.

[2018-03-21 12:44] #623 closed, assigned to nobody

[2018-03-21 12:57] marcelsalathe commented on #571
@jsnrynlds I think that's fine - but in the this case maybe we should have a seperate usedby page, in addition, where we can list all the organizations that use(d) crowdAI, and have some kind of "see more" link...

I just want to avoid that if we show X logos, and X is a small number, people having the impression that it's used ONLY by X organizations.

[2018-03-21 16:55] jsnrynlds commented on #571
Thanks @marcelsalathe – okay, we can use the 'See all' button to link to another page. Maybe we could change the title as well to indicate that this is only a selection of organisations?

[2018-03-21 16:55] jsnrynlds commented on #623
@seanfcarroll Okay, just a thought :)

[2018-03-21 18:31] scarroll32 commented on #293
[WIP branch](https://github.com/crowdAI/crowdai/tree/docker) with Docker Compose for Rails + Grader.

This will now include the full application landscape, including the grader and gitlab. When the Swiss [Data Science Center components](https://github.com/SwissDataScienceCenter/renga) are integrated, they will also be included. Possibly create multiple compose configurations (eg: Rails only, Rails

[2018-03-21 19:32] marcelsalathe commented on #571
Good idea!

[2018-03-21 20:14] scarroll32 opened #627 "Change license to GNU Affero"

[2018-03-21 20:42] spMohanty opened #628 "Render `round_id` in the webinterface"
When setting up a new challenge, it might be worthwhile to render the `round_id` for a particular round in the web interface itself. This can be used by whoever is setting up the job factories to add the relevant id to the configuration.

In contract to the series of API calls that you have to do now and manually inspect.

[2018-03-22 08:13] scarroll32 commented on #628
Will display for admins only. The API calls also give you other information about the rounds which should be used to determine which round the entry goes into.

[2018-03-22 08:19] marcelsalathe opened #629 "need to change the importance algorithm"
Our current home page shows three challenges that have ended, while there are multiple ones that are currently running. This makes no sense and it's difficult to market crowdAI when all we show are past challenges. What is the current algorithm?

[2018-03-22 08:19] scarroll32 commented on #628
<img width="741" alt="screen shot 2018-03-22 at 09 19 34" src="https://user-images.githubusercontent.com/11340230/37758898-2aff45f8-2db2-11e8-9136-c5335093c7ab.png">

[2018-03-22 08:20] #628 closed, assigned to nobody

[2018-03-22 09:05] scarroll32 commented on #629
## TL; DR

I suggest we modify sort orders as follows:
- featured sequence is always the highest sort order, regardless of status
- When a challenge ends, it's featured sequence is removed automatically
- For ended challenges we can override and add the featured sequence back in (but then have to remove it later)
- Change to use challenge start date as tertiary sort field, instead of current chall

[2018-03-22 09:06] scarroll32 commented on #627
Implemented

[2018-03-22 09:06] #627 closed, assigned to scarroll32

[2018-03-22 09:09] spMohanty commented on #629
I would also reference this issue : https://github.com/crowdAI/crowdai/issues/576

Where we wanted to use “participation” as one of the criterias for sorting ! We would want to bubble up all the challenges with a high participation.

[2018-03-22 09:23] scarroll32 commented on #629
@spMohanty OK, good idea.

For non-featured sequence challenges, we could sort by # of participants, descending, instead of start date ?

Featured sequence will still be a global override.

[2018-03-22 09:28] spMohanty commented on #629
Sounds good! But challenge status still gets a priority nevertheless, so running challenges get a priority.

[2018-03-22 09:34] scarroll32 commented on #629
So the final sort order would be:

1. Challenges with a **featured sequence**, sorted by featured sequence descending
2.  Challenges without a featured sequence, by **running, starting soon, completed** status in that order
3. within **running, starting soon, completed**, sort by number of participants descending

- We won't use the challenge creation or start date at all
- When a challenge automa

[2018-03-22 11:51] marcelsalathe commented on #629
Agreed.

[2018-03-22 11:51] scarroll32 commented on #583
Hi @jsnrynlds no problem - please make any necessary changes and I'll integrate them.

[2018-03-22 13:39] scarroll32 opened #634 "Mock external services in tests"

[2018-03-22 13:50] #609 closed, assigned to jsnrynlds

[2018-03-22 13:51] jsnrynlds commented on #583
Thanks @seanfcarroll – I've pushed to the templates repo. Also decreased the size of the EPFL logo.

[2018-03-22 13:51] #583 closed, assigned to jsnrynlds

[2018-03-22 14:42] jsnrynlds commented on #571
@seanfcarroll Update: added 'used by' logos and blog to homepage. (Badges to follow at some point.)

Also added Blog index page.

[2018-03-23 14:10] scarroll32 opened #636 "ERD generation warnings"
[code]

[2018-03-23 15:01] scarroll32 commented on #548
OK, will consider only a "public" key and children.

[2018-03-23 15:07] scarroll32 commented on #620
Will be implemented like this

[code]

[2018-03-23 15:11] scarroll32 commented on #229
This looks pretty cool.

https://synapsestudios.github.io/react-drop-n-crop/

[2018-03-26 12:55] scarroll32 commented on #574
Add the sequence of organisers

[2018-03-27 07:43] scarroll32 opened #638 "Cannot reactivate submissions tab on IEEE"

[2018-03-27 07:47] scarroll32 opened #639 "Create a crowdAI tech email list"
devadmin@crowdai.org

To include:

- Sean
- Mohanty
- Sylvain
- Yannis

To be used for things like notifications from GitLab and other tech issues.

Existing list remains in place on info@crowdai.org

[2018-03-27 08:04] scarroll32 opened #640 "Starting soon : remove underscore"
On the challenge detail page, "Starting soon" includes an underscore. This should be without underscore and in red, as on the challenges detail list.

<img width="724" alt="screen shot 2018-03-27 at 10 03 26" src="https://user-images.githubusercontent.com/11340230/37954493-3ca704f6-31a6-11e8-859a-f652f3fa435e.png">

[2018-03-27 08:55] spMohanty opened #641 "Losing uploaded file in case of errors in the dataset upload form"
If I am trying to upload a file, and the upload goes through.
And I make a mistake in one of the other fields (say I forget the description). Then the page does throw an error as expected, but the S3_key of the uploaded file is lost.
So fixing the previous error will mean you cannot access the file any more without re-uploading it again.

[2018-03-27 09:26] scarroll32 opened #642 "More comprehensive leaderboard testing"
More comprehensive testing needed on

- Leaderboard
- Previous Leaderboard
- Challenge round interaction
- Post Challenge interaction
- UI interaction

Examples
- multiple rank changes
- new person in window
- multiple submissions single window
- multi-round challenge
- interaction with post-challenge flag
- additional submissions with no change in score

[2018-03-27 11:00] scarroll32 commented on #629
Implemented

[2018-03-27 11:00] #629 closed, assigned to scarroll32

[2018-03-27 11:00] scarroll32 commented on #578
Done

[2018-03-27 11:00] #578 closed, assigned to nobody

[2018-03-27 11:01] scarroll32 commented on #576
Implemented

[2018-03-27 11:01] #576 closed, assigned to nobody

[2018-03-27 11:01] scarroll32 commented on #324
...almost!

[2018-03-27 11:02] scarroll32 commented on #548
Done

[2018-03-27 11:02] #548 closed, assigned to spMohanty

[2018-03-27 11:02] scarroll32 commented on #620
Done

[2018-03-27 11:02] #620 closed, assigned to nobody

[2018-03-27 11:04] scarroll32 commented on #563
Implemented, but will leave this open. @jsnrynlds I added some code to do the highlighting, but perhaps you might have a better way to do this? https://github.com/crowdAI/crowdai/pull/643/commits/165d75f70e15c2ef914bcd8cd0e715144227f44c

The number of highlighted entries is configurable (Highlight rankings).

<img width="747" alt="screen shot 2018-03-27 at 13 05 35" src="https://user-images.github

[2018-03-27 11:51] scarroll32 commented on #638
<img width="1071" alt="screen shot 2018-03-27 at 13 50 57" src="https://user-images.githubusercontent.com/11340230/37965596-e8ead3c2-31c5-11e8-901b-a008f5db8e7d.png">

[2018-03-27 12:06] scarroll32 commented on #638
If the submission limit is added, then the period is also required.

<img width="465" alt="screen shot 2018-03-27 at 14 06 17" src="https://user-images.githubusercontent.com/11340230/37966214-14552bc8-31c8-11e8-8f5c-81048af02e11.png">

[2018-03-27 12:23] jsnrynlds commented on #563
@seanfcarroll due to the way this is built (i.e., no horizontal padding) I think we need to find another solution. Maybe we could just place `<strong>` tags around the top three usernames for now?

[2018-03-27 12:40] scarroll32 commented on #638
Additional validations added

[2018-03-27 12:40] #638 closed, assigned to scarroll32

[2018-03-27 12:41] scarroll32 commented on #640
Implemented

[2018-03-27 12:41] #640 closed, assigned to scarroll32

[2018-03-27 15:13] Sylvain-Bernard opened #645 "Sharing Markup"
Would be nice to integrate [Twitter Cards](https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/abouts-cards) and [Facebook Sharing Markup](https://developers.facebook.com/docs/sharing/webmasters) to crowdAI website -> links would be much more nice when shared.

Situation atm:
![image](https://user-images.githubusercontent.com/15749650/37976450-d4d69206-31e1-11e8-9e83-60a8526f

[2018-03-27 16:22] scarroll32 commented on #586
Export to csv / xls as an async process & notify via email

https://gist.github.com/darrenterhune/a58ec2e6e3ff83b8a0b7c2b9e937a071

[2018-03-27 17:16] spMohanty opened #646 "Setup a unique DOI for every challenge ?"
Guess once a challenge is designed, we will have to manually put together all the content we prepare and create a new DOI on something like [Zenodo](https://zenodo.org/).

THen we can probably have a configurable parameter in the edit challenge interface, where we fill in the DOI.
And the relevant citation blocks etc are added to the Challenge Overview page.

[2018-03-28 10:43] #615 closed, assigned to ieggel

[2018-03-28 15:59] spMohanty commented on #563
@jsnrynlds : I think the idea was to strongly differentiate these top-N participants as a different group. This will definitely play a huge role in the motivation.

I think Kaggle does this really well, and I have personally seen the effect of just this when participating in some of the kaggle challenges.

You can have a look at : https://www.kaggle.com/c/data-science-bowl-2018/leaderboard
to see

[2018-03-28 18:44] marcelsalathe opened #648 "Organizer page should be accessible without login"
<img width="709" alt="screen shot 2018-03-28 at 20 41 59" src="https://user-images.githubusercontent.com/215057/38049516-bcdaaea2-32c8-11e8-8464-892eed699975.png">

[2018-03-29 09:13] scarroll32 commented on #574
http://blog.sed.hu/2014/06/25/ruby-on-rails-many-to-many-relationship-with-activeadmin/

[2018-03-29 11:42] marcelsalathe commented on #529
Wow, this needs super high priority attention!

[2018-03-29 11:48] Sylvain-Bernard commented on #610
related to #529 ?

![image](https://user-images.githubusercontent.com/15749650/38087279-d26e77b4-3357-11e8-8b6c-c3e0c598a3ad.png)

[2018-03-30 15:55] scarroll32 commented on #614
Hi @ieggel we can do this, but in my opinion it would be better to provide json-structured data like this via an API endpoint. Is there any reason we cannot?

[2018-03-30 16:15] scarroll32 commented on #648
Implemented

[2018-03-30 16:15] #648 closed, assigned to scarroll32

[2018-03-30 16:15] scarroll32 commented on #610
Fixed

[2018-03-30 16:15] #610 closed, assigned to scarroll32

[2018-03-30 16:16] scarroll32 commented on #529
Fixed

[2018-03-30 16:16] #529 closed, assigned to scarroll32

[2018-03-30 16:54] ieggel commented on #614
@seanfcarroll
Yes, this would be possible as well.  Either way is OK for me.

[2018-03-31 06:29] marcelsalathe opened #652 "Draft challenges publicly visible"
I'm seeing this, not logged in, at https://www.crowdai.org/participants/spmohanty:

<img width="457" alt="screen shot 2018-03-31 at 08 27 08" src="https://user-images.githubusercontent.com/215057/38160409-89bedbfa-34bd-11e8-9ccb-27c075dfc0ea.png">

[2018-03-31 07:46] marcelsalathe opened #653 "Wrapping problem on mobile"
In user / challenges (and only there as far as I can tell), the challenge titles don't wrap:

<img width="339" alt="screen shot 2018-03-31 at 09 45 41" src="https://user-images.githubusercontent.com/215057/38161054-4cdc7534-34c8-11e8-9acc-ec6195b06980.png">

[2018-03-31 13:41] scarroll32 commented on #653
Problem seems to be occurring on all challenge list pages

[2018-03-31 13:48] scarroll32 commented on #606
It's now marked as "updated asap". We need to review / test the backup process before doing an upgrade.

<img width="349" alt="screen shot 2018-03-31 at 15 47 01" src="https://user-images.githubusercontent.com/11340230/38163844-dd7ac58c-34fa-11e8-9759-439c39248d6d.png">

[2018-03-31 14:00] scarroll32 commented on #652
Fixed

[2018-03-31 14:00] #652 closed, assigned to scarroll32

[2018-03-31 14:07] scarroll32 commented on #569
Can this be closed?

[2018-04-01 21:16] spMohanty opened #655 "AI generated music challenge evaluation page layout messed up"
<img width="1609" alt="screen shot 2018-04-01 at 23 15 42" src="https://user-images.githubusercontent.com/1581312/38177480-b44ebb1a-3602-11e8-905d-6b499b419fcc.png">

@seanfcarroll : Were there any changes to the react component that is deployed ? or the way it is deployed ?

[2018-04-02 08:03] scarroll32 commented on #655
The component itself hasn't been modified, and I've been through the past 10 or so commits of crowdAI core and cannot see any changes to global styling which might affect this component.

That is the most likely possibility of what happened though - this component is enclosed inside the main app (not an iFrame) and therefore would affected by global styles or parent html structure.

I did notice t

[2018-04-02 13:15] spMohanty opened #656 "Use tagging does not work properly in the discussion forum"
When we create a new topic in the discussion forum, here are a few observations.
- user tagging doesnt work inside the topic-body.
- it works great on subsequent comments.
- it does not work when editing a particular comment.

-Low Priority : The styling of the suggesstions is in blue, it would be great to change that color to the crowdai-red from the crowdai theme. :)

[2018-04-02 18:04] spMohanty commented on #655
okay, so for reference, this issue has been resolved by [this commit](https://github.com/crowdAI/crowdai-music-evaluation-interface/commit/e936eb64ab4d96bcb02fca3b7390eeb31eab5d50).
We temporarily added a new css rule to fix this. But this actual cause of the issue still needs to be investigated.

[2018-04-02 18:04] scarroll32 commented on #655
Deployed 0.1.0 of crowdai-music-evaluation-interface with a quick patch, thanks @spMohanty !

Needs further investigation as to what actually happened. Downgraded to a low.

[2018-04-03 23:06] spMohanty opened #657 "Ability for organisers to "edit" a submission"
We would need this for a proposed policy in the IEEE Investment Ranking Challenge (@seanfcarroll you ll be cc'ed in that email), and this is a request that we have been getting more and more.

If implementing an interface is a problem, and its not a big issue to [implement GraphQL](https://github.com/crowdAI/crowdai/issues/621), then I can modify the crowdai python client to have an "Admin/Organis

[2018-04-04 15:49] spMohanty opened #658 "Ability to embed youtube videos in the leaderboard media column"
This will be required for the VizDoom 2018 challenge.

[2018-04-04 16:38] spMohanty opened #659 "Occasional CSS rendering issue"
On occasional refreshes, I get a screen like this :
(Note the different styling of the links)
<img width="1348" alt="screen shot 2018-04-04 at 18 35 26" src="https://user-images.githubusercontent.com/1581312/38321238-4018d65e-3837-11e8-9c71-a19212ed3957.png">

Checking the console, I see this :
<img width="1909" alt="screen shot 2018-04-04 at 18 36 09" src="https://user-images.githubusercontent.co

[2018-04-05 07:43] scarroll32 commented on #657
Hi @spMohanty what does edit a submission mean?

[2018-04-05 10:00] scarroll32 opened #660 "Error messages not clearing on sign in page"
If logging in with incorrect credentials, second page view has error message.

[2018-04-05 10:03] spMohanty commented on #657
@seanfcarroll : by edit I meant that organisers should be able to update the scores for a submission. This is critical in case where organisers might decide to penalise certain submissions, like in case of IEEE challenge

[2018-04-05 12:24] ieggel commented on #613
Different approach was agreed upon. This was merged into #614

[2018-04-05 12:24] #613 closed, assigned to nobody

[2018-04-05 13:17] spMohanty commented on #520
Also related to this : https://github.com/crowdAI/crowdai/issues/523

[2018-04-06 10:59] scarroll32 commented on #614
Implemented

[2018-04-06 10:59] #614 closed, assigned to nobody

[2018-04-06 11:00] scarroll32 commented on #612
Implemented

[2018-04-06 11:00] #612 closed, assigned to nobody

[2018-04-06 11:04] scarroll32 commented on #565
- [x] Submissions remaining
- [x] Registered users only for submissions
- [x] File upload duplication
- [x] Cancel button
- [x] Create submission button visible before starting date

[2018-04-06 11:09] scarroll32 commented on #657
OK

[2018-04-06 13:11] scarroll32 commented on #617
Fixed with a hack

[2018-04-06 13:11] #617 closed, assigned to scarroll32

[2018-04-06 13:32] scarroll32 commented on #565
Fixed

[2018-04-06 13:32] #565 closed, assigned to scarroll32

[2018-04-06 13:32] scarroll32 commented on #588
Done

[2018-04-06 13:32] #588 closed, assigned to scarroll32

[2018-04-06 17:38] spMohanty opened #668 "500 on leaderboard in a new challenge"
@seanfcarroll : When we create a new challenge, and then go to the leaderboard, it throws a 500.
I dont remember exactly, but I think this is usually fixed by adding a "round" (?)

In any case, its a bit irritating, and I think just creating a new challenge should work out of the box, and all the necessary configurations/fields should be added by default with some predecided default values.

For i

[2018-04-06 17:40] spMohanty opened #669 "Homepage background image missing"
<img width="1592" alt="screen shot 2018-04-06 at 19 39 21" src="https://user-images.githubusercontent.com/1581312/38435562-44b6576c-39d2-11e8-9448-212505f1213c.png">

The grey dotted globe that we had on the homepage seems to be missing now.
Is it a bug ? or intentional ?
(I loved it 😢  )

[2018-04-06 17:55] marcelsalathe commented on #669
Bug #573

[2018-04-06 17:55] #669 closed, assigned to nobody

[2018-04-06 18:36] spMohanty opened #670 "CrowdAI Hall of Fame"
A list of contributors, challenge winners to motivate participants to be involved in the community.

[2018-04-07 09:17] scarroll32 commented on #668
The challenge needs a round and also needs to be made active. You can also disable the "leaderboard active' checkbox if it is not live. Is there a specific challenge that is causing this problem?

I agree, there are **many** things that need fixing in crowdAI. The code base has been hacked and patched aggressively for many months now, and it needs a refactor and updated test coverage. The problem

[2018-04-07 09:26] scarroll32 commented on #646
Do you mean the challenge description would be developed on Zenodo and then copied to crowdAI when ready? I don't quite understand.

[2018-04-07 09:28] scarroll32 commented on #641
The whole direct to S3 upload has mutated from it's original purpose, and needs to be refactored. This was also causing problems for Clef challenges.

[2018-04-07 09:29] scarroll32 commented on #569
Closed due to inactivity.

[2018-04-07 09:29] #569 closed, assigned to nobody

[2018-04-07 09:30] scarroll32 commented on #526
Related issue https://github.com/crowdAI/crowdai/issues/668

[2018-04-07 09:33] scarroll32 opened #671 "Cannot access crowdAI if not logged in."
When accessing any challenges while not logged in, crowdAI gives a 500.

[2018-04-07 09:38] scarroll32 opened #672 "Invite user function not active for organisers"

[2018-04-07 09:54] scarroll32 opened #673 "Excessive loading times"
The spinner shows semi-randomly on various pages, and then the page loads. Need to urgently look into what is causing these delays.

[2018-04-07 10:02] scarroll32 commented on #668
https://github.com/crowdAI/crowdai/issues/619

[2018-04-07 10:13] scarroll32 commented on #672
Button temporarily removed. Function to be added later.

[2018-04-07 10:19] scarroll32 commented on #547
fixed

[2018-04-07 10:19] #547 closed, assigned to scarroll32

[2018-04-07 10:22] scarroll32 commented on #429
https://github.com/crowdAI/crowdai/issues/672

[2018-04-07 10:34] scarroll32 commented on #671
Fixed.

[2018-04-07 10:34] #671 closed, assigned to scarroll32

[2018-04-07 14:12] spMohanty commented on #646
@seanfcarroll : no this will be a part of the challenge setup workflow. Where we ask organisers to setup a zenodo entry with everything they prepared for the challenge. And we just include the relevant doi in the challenge overview page. I dont think there will be any effort in terms of development here. We just have to formalise the guidelines for this process.

[2018-04-08 15:52] spMohanty opened #675 "A customisable note which can go on top of the leaderboard"
In many cases during the challenge the organisers would want to add some note/clarification to the top of the leaderboard.
Making it a configurable message in the challenge edit page will be beneficial.

Ideally it should be rendered somewhere here :

<img width="1270" alt="screen shot 2018-04-08 at 17 52 26" src="https://user-images.githubusercontent.com/1581312/38469474-a1ce1c80-3b55-11e8-80a8-a

[2018-04-09 07:32] scarroll32 commented on #675
A small panel with a closable 'x' would work.

[2018-04-09 07:32] scarroll32 commented on #606
Memory is also high
<img width="678" alt="screen shot 2018-04-09 at 09 29 16" src="https://user-images.githubusercontent.com/11340230/38485087-f3454916-3bd8-11e8-86ab-5d58ec21b331.png">

[2018-04-09 12:46] scarroll32 opened #676 "An easy way to see all the unanswered questions on all the discussion forums"
Viewable in the admin and also for the organizers.

[2018-04-09 14:30] ieggel opened #677 "Submission metadata API missing fields"
We should add the following to the response JSON:
- More participant information: Email, name, first_name, last_name, affiliation
- query param that defines the submission status and filters submissions accordingly

[2018-04-09 14:31] spMohanty commented on #677
This would make our lives much easier : https://github.com/crowdAI/crowdai/issues/621

[2018-04-09 16:03] spMohanty opened #678 "Create Submission button on non clef challenges creating confusion"
https://www.crowdai.org/topics/unable-to-submit/discussion

[2018-04-09 16:25] scarroll32 commented on #678
It's now a configuration setting "Submissions page visible", I just turned it off for IEEE.

<img width="848" alt="screen shot 2018-04-09 at 18 23 56" src="https://user-images.githubusercontent.com/11340230/38509812-49a3ad26-3c23-11e8-9e4d-b5c4c37f16c6.png">

[2018-04-09 16:34] spMohanty commented on #678
Hey reopening it,
as it needs a little bit more attention.

I manually turned off the submissions page for all the  (non-clef) challenges.
But this also took away the Submissions-tab, which is something I personally review almost everyday to check the activity in a challenge.

I think both should have two different options.
* Submissions Page Visible ?
* Create Submission Button Visible ?

[2018-04-09 16:35] spMohanty commented on #676
We have been consistently missing out on a lot of forum posts that have been made across many challenges.
Atleast until this feature is implemented, I would be happy if I get an email for every post/comment that is made anywhere on crowdai. (A link to the actual page would make life a bit more easy :D )

We recently found some posts which were made like weeks ago and were left unanswered, and this

[2018-04-10 08:07] scarroll32 opened #679 "Refactor direct s3 uploads"
This was hacked for Clef and there may be issues with the datasets uploads which uses the same js. Look at replacing with a gem eg:

https://github.com/kjohnston/s3_relay

[2018-04-10 08:23] scarroll32 commented on #679
Related https://github.com/crowdAI/crowdai/issues/641

[2018-04-10 08:48] scarroll32 commented on #678
Ok added a new config field called 'Online Submissions?'. The create submission button will only appear when the challenge is open (Clef and non-clef) and this checkbox is pressed.

For admins, the submit button will appear when the challenge has not started if the online submissions checkbox is pressed.

CC to @ieggel - I have already updated the checkbox for all Clef challenges.

<img width="789

[2018-04-10 08:48] #678 closed, assigned to scarroll32

[2018-04-10 12:09] ieggel opened #681 "Submission web page check for permission"
If a participant knows the submission URL he/she can submit with no checks performed at all, i.e. not checked if registered and not checked if challenge is running etc.

In order to decide if "Create submission" button is shown or not, the following code was used:
`    <% if submissions_allowed?(challenge) && current_tab != 'dataset'%>
      <%= link_to 'Create Submission',
            new_challen

[2018-04-10 14:26] ieggel commented on #681
I also noticed that the submission button is now shown always and a permission check does not seem to be performed. This actually used to work on Friday. Was anything changed here?
Below a screenshot. Participant is not registered for the task (as you can see did not sign the EUA) but still sees the submission button:
![image](https://user-images.githubusercontent.com/9192090/38562886-e802c818-3cd

[2018-04-10 14:30] spMohanty commented on #563
@seanfcarroll : @jsnrynlds got unassigned automatically probably because of the whole org membership thing. So please ignore the “jason got unassigned” message.

[2018-04-10 15:05] scarroll32 commented on #681
Hi @ieggel yes it did change, a couple of times, since Friday as there was clef code affecting non-clef challenges. really we need to write tests for all of this, but in the meantime the code in question is [here](https://github.com/crowdAI/crowdai/blob/master/app/helpers/submissions_helper.rb#L20-L53)

If the **submissions_allowed?** method returns true the button is visible. It looks OK to me, s

[2018-04-10 15:11] spMohanty commented on #681
I would also add that in case of all upstream changes we should try to avoid having exceptions as much as we can. Meaning all the features we develop we try to make it more generic for crowdai, and make it configurable so that clef can use it. The dev process will be slower, but the code will be much more managable in the long term, and will save us all a lot of headaches too in the long run.
We c

[2018-04-10 15:19] ieggel commented on #681
HI @seanfcarroll

I can spot an issue here. Actually if the challenge is running, anyone can see the submission button because the clef checks are performed later only.

`    if challenge.running?
      return true
   `

[2018-04-10 15:52] spMohanty opened #682 "Configurable number of significant digits when ranking submissions on leaderboard"
Now say participantA makes a submission which has a score of : `0.123456`, and participantB makes a submission which has a score of : `0.123457`. Now the difference between both these submissions might not be significant enough. So when ranking , we should be able to consider a configurable number (the same one that is showed, say 3).
And when producing the actual rankings we use only the signifca

[2018-04-10 16:36] scarroll32 commented on #682
Yep, it's coded but not properly tested. https://github.com/crowdAI/crowdai/compare/rankings?expand=1

[2018-04-10 21:16] spMohanty opened #683 "Tagged users in discussion forums are not styled or linked to their profiles"
<img width="836" alt="screen shot 2018-04-10 at 23 15 12" src="https://user-images.githubusercontent.com/1581312/38583971-1964f776-3d15-11e8-9b61-268f6695529d.png">

I would expect the user tags to be maybe highlighted like a link, and also be a link which points to their user profile.

[2018-04-10 23:24] spMohanty opened #684 "Color code submission entries on "submissions" page"
The submissions page currently looks something like this :

<img width="1144" alt="screen shot 2018-04-11 at 01 21 33" src="https://user-images.githubusercontent.com/1581312/38588530-b6baeca4-3d26-11e8-8869-ba5fc6178c94.png">

It would be great to color code each of the submissions page based on the status.
The life cycle of a submission roughly follows the following states :
"submitted" -> "inita

[2018-04-10 23:29] spMohanty opened #685 "Include links in a "submission message""
In the new gitlab based architecture, on submission of code, we will be building an image from their code, and then testing it on a small sample test case to ensure everything works.
A lot of things can go wrong, and hence its important to provide feedback to the participants in form of logs, so they can reiterate themselves without our intervention.

I can make the logs available on a separate li

[2018-04-10 23:33] spMohanty commented on #656
Related to https://github.com/crowdAI/crowdai/issues/683

[2018-04-10 23:58] spMohanty commented on #573
@seanfcarroll : Could it be this : https://stackoverflow.com/questions/22169934/cloudfront-on-rails-not-showing-new-images ?
[code]

[2018-04-11 00:11] spMohanty opened #686 "API endpoint to get participant API key from participant user name"
The gitlab based grader will receive the participant username when we get a submission.
The rest of the crowdAI API's require the participant API key to add scores etc.

While the GraphQL (https://github.com/crowdAI/crowdai/issues/621) based approach is the best approach IMO, but for now, we will need an endpoint which can return the API key of the participant if the grader provides the username.

[2018-04-11 00:12] spMohanty opened #687 "Implement a python package for all crowdAI API calls"
Implement a separate python package which wraps all the API calls to crowdAI from grader related services. This will let us also easily test the API from the graders end, and during subsequent developments.

Also related to https://github.com/crowdAI/crowdai/issues/686 https://github.com/crowdAI/crowdai/issues/562

[2018-04-11 06:23] scarroll32 commented on #685
Has been implemented, it seems to be broken.

[2018-04-11 06:25] scarroll32 commented on #686
Isn't that a security risk? The API key is essentially the password.

[2018-04-11 08:44] scarroll32 commented on #681
Code migrated to production but untested. Leaving this issue open + high so that test cases can be written.

https://github.com/crowdAI/crowdai/commit/c59201b20b716d3254f0f8a1405ad817e982130e

@ieggel if you have time, it would be awesome if you could write some helper tests for this. Some information on how to do this is [here](https://stackoverflow.com/questions/1996757/writing-a-spec-for-helper

[2018-04-11 09:10] ieggel commented on #681
Thanks @seanfcarroll
It's working.
It is also very important that participants cannot access the URL. I will have a look.

[2018-04-11 10:06] spMohanty commented on #686
It will ofcourse be authenticated by the crowdAI grader key.
If someone has to bypass the authentication. They will need the grader api key, and if they have it, then we have a bigger problem than the leak of a participants API key

[2018-04-11 10:13] ieggel opened #688 "Discussion forum notifications"
It would be nice if challenge organizers get an e-mail notfication if somebody posts on their discussion forum.

[2018-04-11 10:15] spMohanty commented on #688
I am marking this as high priority, as this has been on the wishlist for ages, and now with a lot of things going on I personally start noticing that we dont have something like this already.

[2018-04-11 13:55] ieggel commented on #681
@seanfcarroll
The permission issue should have been resolved with PR #689.
Regarding tests: i currently very busy, but we should discuss this once in more depth.

[2018-04-11 14:52] #681 closed, assigned to nobody

[2018-04-11 15:16] ieggel opened #690 "Leaderboard grouped entries 404"
I've noticed that sporidically the own grouped entries (Entries column)  in the leaderboard cannot get populated.
Here the screenshot of the challenge in question, but i also noticed it in other clef challenges:
![image](https://user-images.githubusercontent.com/9192090/38625749-777c3c98-3dab-11e8-8ed6-b56ca4aebabf.png)

There is a 404 error when clicking on the entries:
![image](https://user-imag

[2018-04-11 15:30] scarroll32 commented on #690
Thanks, I'll look into it. Have done another major refactor of the leaderboard, so I'll include this issue before pushing to production.

[2018-04-11 17:52] spMohanty commented on #682
<img width="1198" alt="screen shot 2018-04-11 at 19 51 10" src="https://user-images.githubusercontent.com/1581312/38634045-bad8bdf2-3dc1-11e8-852a-fa3487babd7c.png">

Then it would be great if we can test it and put it up on production.
In the screenshot above, we see a case where the participant who should have rank 1 has rank 2, just because of the absence of consideration for significant digits

[2018-04-12 13:18] ieggel commented on #677
@spMohanty
For the time being I adapted the REST API. It does what we need right now, but yes, the GraphQL solution seems to be a better solution in such cases in general.

[2018-04-12 13:42] scarroll32 commented on #657
score fields + description

[2018-04-12 13:58] scarroll32 opened #692 "Ranking system"
Based on topcoder

https://www.topcoder.com/member-onboarding/understanding-your-topcoder-rating/

[2018-04-12 14:14] scarroll32 commented on #670
Jason to design, after group discussion of what it should look like. I think this is a great idea, especially if we consider both scores achieved as well as contributions made. This aspect is one which GitLab do very well. http://contributors.gitlab.com/

<img width="1198" alt="screen shot 2018-06-22 at 11 57 55" src="https://user-images.githubusercontent.com/11340230/41770806-87ccf1a0-7613-11e8-9

[2018-04-12 15:09] #677 closed, assigned to ieggel

[2018-04-12 22:09] spMohanty opened #693 "Multiple links for the same challenge"
@seanfcarroll : It seems link there are multiple URIs for the same challenge.

For example :
* https://www.crowdai.org/organizers/bethgelab/challenges/nips-2018-adversarial-vision-challenge
* https://www.crowdai.org/challenges/nips-2018-adversarial-vision-challenge
for the adversarial vision challenge.

Also, do we have URL re-routes when we change the name of a challenge ?
Because, I just changed

[2018-04-13 02:38] spMohanty opened #694 "Redesign the contact section"
So the contact section of every challenge holds most information about how to communicate with the rest of the participants and the organisers.
For now it looks like this for most challenges :
<img width="815" alt="screen shot 2018-04-13 at 04 36 17" src="https://user-images.githubusercontent.com/1581312/38713990-58cbb164-3ed4-11e8-9cb9-597e9b4b2860.png">

Should we think about redesigning it to m

[2018-04-13 13:07] scarroll32 commented on #574
Temporarily hard-coded

https://github.com/crowdAI/crowdai/commit/5e23366d58a26f8c5aa3cd117428f20a557c404a

[2018-04-13 20:14] SnigdhaD opened #696 "Unable to log in after signing up"
![screen shot 2018-04-13 at 22 12 09](https://user-images.githubusercontent.com/8699002/38755965-09df8e10-3f68-11e8-860f-6103cd3da235.png)

[2018-04-13 20:18] spMohanty commented on #696
I think you need to follow the instructions in the signup confirmation email that you should have received. But yeah, the error message should be more informative.

[2018-04-16 13:43] ieggel opened #697 "CLEF Webpage submission highlight mandatory fields"
HI @seanfcarroll

Is there a common way to highlight mandatory fields for forms?
The following fields are mandatory are mandatory in the CLEF submission webpage:
- Method description (Text area)
- Retrieval type (Dropdown) with following values:
- Run type (Dropdown)

[2018-04-16 15:02] scarroll32 commented on #697
The design of crowdAI did not include the '*' sometimes used to indicate required field. You could instead of adding a subtext. See 'views/challenges/form/_details' for an example.

```  <span>Your image will be cropped if necessary. 5MB limit</span>```

In any case if validations are present on the model, an error message will appear. See below.

<img width="518" alt="screen shot 2018-04-16 at 17

[2018-04-16 15:10] ieggel commented on #697
Thanks @seanfcarroll

I will have a look.

[2018-04-16 15:43] scarroll32 commented on #690
Fixed https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:43] #690 closed, assigned to nobody

[2018-04-16 15:43] scarroll32 commented on #682
Implemented https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:43] #682 closed, assigned to nobody

[2018-04-16 15:43] scarroll32 commented on #673
Fixed https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:43] #673 closed, assigned to scarroll32

[2018-04-16 15:44] scarroll32 commented on #657
Implemented https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:44] #657 closed, assigned to nobody

[2018-04-16 15:44] scarroll32 commented on #642
Implemented https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:44] #642 closed, assigned to nobody

[2018-04-16 15:44] scarroll32 commented on #563
Implemented https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:44] #563 closed, assigned to nobody

[2018-04-16 15:45] scarroll32 commented on #324
Implemented https://github.com/crowdAI/crowdai/commit/a648d7f8673c3b0fc3e5c9358ae7e74454faf366

[2018-04-16 15:45] #324 closed, assigned to scarroll32

[2018-04-17 12:24] ieggel opened #699 "Error 500 for leaderboards of ended challenges"
Hi @seanfcarroll
It seems that navigating to a leaderboard of an eded challenge (e.g. NIPS) results in a 500 Error.

[2018-04-17 16:20] scarroll32 commented on #699
Hi Ivan, thanks for the error report. It's not happening for me - either loged in or not.

Are you logged in when this happens? Can you paste the url here.

[2018-04-17 16:20] scarroll32 commented on #658
Are there any example videos available ? @spMohanty

[2018-04-17 16:24] spMohanty commented on #658
@seanfcarroll  : https://www.youtube.com/watch?v=94EPSjQH38Y

[2018-04-17 16:50] ieggel commented on #699
Only happens when logged in. Here the URL:
https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards

Probably has something to do with being an organiser. This did not happen a few days ago.

[2018-04-18 10:53] spMohanty commented on #699
Many others seem to be having this issue :
https://www.crowdai.org/topics/why-can-t-leaderboard-open/discussion

marking this as high priority.

[2018-04-18 11:01] marcelsalathe commented on #699
I confirm - you have to be both non-admin, and logged in, to get the crash.

[2018-04-19 07:22] englhardt commented on #699
Same here. It get an 500 error when accessing any leader board when logged in with an organizer account  as well as with one that is not. It also fails for running challenges and not only completed ones.

[2018-04-19 09:46] scarroll32 commented on #699
Patch to allow the leaderboards to work, will temporarily remove submission management access for Clef organizers https://github.com/crowdAI/crowdai/pull/702/commits/4777e7f1d651687263646d34e198ae2e58bc91ad

Full solution coming soon.

[2018-04-19 12:36] scarroll32 opened #703 "Clef Refactor and full testing"
We need to re-think the Clef data model, and also merge the parallel objects. In theory, we should be able to abtract Clef via configuration settings instead of hard coding.

Full end-to-end testing of both scenarios is needed.

~ 1 week of work

[2018-04-19 13:19] scarroll32 commented on #699
Full solution here: https://github.com/crowdAI/crowdai/commit/dc1532fd458f198c448b60e3c3bcbf6efabc2ef7

This will change again when we apply https://github.com/crowdAI/crowdai/issues/574

[2018-04-19 13:19] #699 closed, assigned to nobody

[2018-04-19 14:13] scarroll32 commented on #686
Implemented https://github.com/crowdAI/crowdai/pull/705/commits/a9b28afe5e0933311fabcc9bd95cd832a92d684a

/api/participants/[name] with the crowdAI master API key.

[2018-04-19 14:13] #686 closed, assigned to nobody

[2018-04-19 14:35] #697 closed, assigned to ieggel

[2018-04-19 17:36] scarroll32 commented on #685
As agreed, this is what we will do

- [ ] grader will send a new key **grader_logs** into the existing meta hash via the API, updating as frequently as necessary. No changes needed from the API.
- [ ] contents of meta will be extracted and wrapped in an instance of [Codemirror](https://codemirror.net/) on the detail page
- [ ] logs will be viewable by all users, so sensitive data will be scrubbed

[2018-04-20 08:38] scarroll32 opened #706 "Fix styling for multi organizers"
Currently hacked together, needs review by Jason.

https://github.com/crowdAI/crowdai/blob/master/app/assets/stylesheets/_layout-molecules.scss#L44-L61

[2018-04-20 08:44] spMohanty opened #707 "Styling issue when tagging users"
<img width="596" alt="screen shot 2018-04-20 at 10 43 24" src="https://user-images.githubusercontent.com/1581312/39040570-c0a9d92e-4487-11e8-9f62-770fb0c2fe4d.png">

We should change the blue to the red we use in crowdAI just for a consistent style across the site.

[2018-04-20 09:45] ieggel opened #708 "Don't increase submission count if submission faulty"
Hi all,

I often get asked why faulty submissions count towards the maximum nbr of submissions limit and to be honest i cannot see a reason either. I understand there should be a total nbr of allowed submissions as otherwise people could intentionally send countless faulty submissions to overload the system.

Maybe it would be a good idea to have:
- Total submission limit (nbr of valid + nbr of fa

[2018-04-20 09:52] spMohanty commented on #708
The limit on the number of total submissions is for us to put an upper bound on the total computational resources that we should allot towards a challenge.
Each faulty submission can in principle take the same amount of computational resources as valid one, and hence we went with a fixed limit of submissions.

But I agree, I can also see use cases where we would want to have limits on both correct

[2018-04-20 09:53] scarroll32 commented on #708
Could be handled with a new config param, would need some extensive testing to ensure it doesn't break existing behaviour.

[2018-04-20 12:15] Sylvain-Bernard opened #709 "Winner's tab broken"
**Input:**

![image](https://user-images.githubusercontent.com/15749650/39050287-1d6c1e66-44a5-11e8-8e7e-fd995f091b47.png)

**Expected (working in preview):**

![image](https://user-images.githubusercontent.com/15749650/39050296-2bb96d8e-44a5-11e8-89d3-6ccb6ec079e5.png)

**Result on page**

![image](https://user-images.githubusercontent.com/15749650/39050314-3c5c31f8-44a5-11e8-878c-ddf55d69c3dc.pn

[2018-04-21 12:12] spMohanty opened #711 "Rendering of Quoted text not working properly"
<img width="922" alt="screen shot 2018-04-21 at 14 10 38" src="https://user-images.githubusercontent.com/1581312/39083958-df550f7e-456d-11e8-9b28-e96628ded81f.png">

https://www.crowdai.org/topics/why-can-t-leaderboard-open/comments/new

In the message above, the block :
```@spMohanty: btw I could solve the issue with submitting by sending not encoded api string in interface (I have python 3.6). I

[2018-04-23 07:40] scarroll32 opened #712 "Use challenge slug instead of id on AWS"
On AWS we currently use challenge id as the folder within each category, eg:

[code]

It would be easier to work with S3 directly if we migrate to challenge slugs, ie:

[code]

This would require both changing the code and renaming the folders. Some cleanup of S3 is also needed as we seem to have various orphan files and directories there, we are currently on 300GB for S3.

[2018-04-23 08:10] scarroll32 commented on #685
Updated, due to limits on the POST size, we are now storing the logs in AWS. There is a new checkbox on the challenge configuration, "Grader Logs?". If this is checked, S3 will be checked for a key following the format below.

Logs should be stored as:

[code]

<img width="990" alt="screen shot 2018-04-23 at 10 16 15" src="https://user-images.githubusercontent.com/11340230/39114546-70773d20-46df-1

[2018-04-23 09:11] scarroll32 commented on #685
Looking good!
<img width="926" alt="screen shot 2018-04-23 at 11 10 54" src="https://user-images.githubusercontent.com/11340230/39117362-102d2292-46e7-11e8-82c8-c076e5ec6524.png">

[2018-04-23 12:47] spMohanty commented on #685
Looking great indeed !
Will send some real data later today.

[2018-04-23 15:07] scarroll32 opened #713 "Render static notebooks in knowledge base"
Render these notebooks as Knowledge Base articles

- https://github.com/lindafarczadi/Selecting-data-in-pandas
- https://github.com/lindafarczadi/Slice-operator

Can be added to the repo as static text and rendered client-side using https://github.com/jsvine/notebookjs

[2018-04-23 15:17] spMohanty commented on #713
@seanfcarroll : we can also use [nbpreview](https://github.com/jsvine/nbpreview) which has a lot more features. Or the official : https://github.com/jupyter/nbviewer

And for the first implementation, I think we should simply focus on client side rendering. Given an ipython notebook which is uploaded by the user, we simply render it using nbpreview or nbviewer or anything else like that.

With nbv

[2018-04-23 15:24] marcelsalathe commented on #713
Would very much want @jsnrynlds design input on that. We're going to rename the knowledge base into Dojo, and I think we need three levels of difficulty: beginner, intermediate, and advanced.

[2018-04-23 18:28] scarroll32 commented on #713
Renga have developed an implementation of this, integrated with Gitlab and React code already written, they demo'd it last week. I think it would be good to use this as an integration point with the SDSC.

[2018-04-23 22:20] spMohanty opened #714 "Add essential meta tags to all the pages"
When we share links to different pages right now, because of the lack of relevant meta tags, they dont render properly.
For example :
<img width="896" alt="screen shot 2018-04-24 at 00 17 02" src="https://user-images.githubusercontent.com/1581312/39156112-11c9e28e-4755-11e8-9925-1593519e6e42.png">

More details about relevant meta tags : https://css-tricks.com/essential-meta-tags-social-media/
Som

[2018-04-23 22:21] spMohanty commented on #714
Related to : https://github.com/crowdAI/crowdai/issues/645

[2018-04-23 22:34] spMohanty commented on #606
Updated gitlab to `10.7-ce`.

[2018-04-23 22:34] #606 closed, assigned to nobody

[2018-04-24 07:38] scarroll32 opened #715 "Live notebooks"

[2018-04-24 07:40] scarroll32 commented on #713
As discussed the 3 static notebooks will be added as hard-coded pages, into the Knowledge base with the authors indicated. Live notebooks will be implemented separately (and these existing ones migrated). Tracking of live notebooks is here https://github.com/crowdAI/crowdai/issues/715

[2018-04-24 07:43] scarroll32 commented on #685
Note the changes in spec - the page will look for a specific key based on the challenge slug and submission id, and not use the meta as previously discussed.

[code]

Should be live soon.

[2018-04-24 07:49] scarroll32 commented on #713
https://github.com/lindafarczadi/Selecting-data-in-pandas

https://github.com/lindafarczadi/Slice-operator

https://mybinder.org/v2/gh/pacm/encoding-cat-vars-in-practice/master?urlpath=lab/tree/encoding-categorical-variables-in-practice.ipynb

[2018-04-24 11:00] spMohanty opened #716 "Inconsistency in "submission counts remaining""
this was a report from one of the users :
[code]
This was in context of the IEEE Investment ranking challenge. Can confirm that the challenge has a limit of 5 submissions per day for this round, and the participant has made only 1 submissions in the last 24 hours.

[2018-04-24 11:47] scarroll32 commented on #716
Is it possible to provide the username and challenge?

[2018-04-24 11:47] scarroll32 commented on #713
Notebooks moved to Gitlab

* https://gitlab.crowdai.org/crowdai-dojo/Slice-operator
* https://gitlab.crowdai.org/crowdai-dojo/Selecting-data-in-pandas
* https://gitlab.crowdai.org/crowdai-dojo/encoding-cat-vars-in-practice

[2018-04-24 11:48] spMohanty commented on #716
@seanfcarroll : The challenge is : https://www.crowdai.org/challenges/ieee-investment-ranking-challenge
and the user is : https://www.crowdai.org/participants/kvr

[2018-04-24 12:13] scarroll32 commented on #685
Implemented.

[2018-04-24 12:13] #685 closed, assigned to nobody

[2018-04-24 14:43] ieggel opened #718 "Additional fields in Submission API"
- integrate "created_at" and "challenge_round_id" into the the json response for the submission API (GET request).
- introduce API queryparams for filtering

[2018-04-24 20:05] AALEKH commented on #716
As already mentioned in Gitter channel, I have also experienced the same issue (username: aalekhn)

[2018-04-24 23:04] spMohanty opened #719 "GET submission API does not return `meta` key"
Sample response :
[code]

[2018-04-26 05:28] spMohanty opened #721 "Padding in leaderboard entries"
<img width="1116" alt="screen shot 2018-04-26 at 07 27 08" src="https://user-images.githubusercontent.com/1581312/39287287-4a2d58ac-4923-11e8-83db-9ad358a927c6.png">

I think there should be some padding on the left and right side of the leaderboard entries.
The list item markers, and the expand submission icons are right at the edge, and they look weird.

[2018-04-26 06:55] #718 closed, assigned to ieggel

[2018-04-26 09:06] spMohanty commented on #287
@seanfcarroll : Reopening this issue wrt the UI issue in showing the change in ranks. And also the sign flip on the change markers.
I was imagining a the number of ranks a user has jumped to be shown in superscript next to the arrows. But open to inputs from @jsnrynlds .
Currently the tooltip is something which I didnt notice until you told me explicitly about it. Plus its good to get a broad over

[2018-04-26 09:10] scarroll32 commented on #719
Meta is not in the serializer, will probably need some transformation but can be done quickly.

[2018-04-26 12:20] scarroll32 opened #723 "Accept documents from crowdAI winners"
Details to be discussed, but we will have an upload page to collect required documents for crowdAI winners.

[2018-04-26 12:37] scarroll32 commented on #13
Duplicated by https://github.com/crowdAI/crowdai/issues/713 and https://github.com/crowdAI/crowdai/issues/715

[2018-04-26 12:37] #13 closed, assigned to scarroll32

[2018-04-26 14:52] scarroll32 commented on #713
Implemented with nbviewer but there seem to be issues. Will leave open for discussion.

[2018-04-26 15:39] spMohanty opened #724 "Drafts challenges are publicly visible (no access check done)"
https://www.crowdai.org/challenges/marlo-2018

[2018-04-26 19:24] spMohanty opened #725 "Links to old knowledge base articles broken"
Mostly because of the new notebook integration.

Ex : https://www.crowdai.org/articles/plantvillage-image-classification-tutorial

[2018-04-26 23:26] spMohanty commented on #719
Added the high priority label, as its needed to complete some of the missing (and requirred) features of the crowdai_api python package.

[2018-04-26 23:41] spMohanty opened #726 "Define challenge categories/tags"
We could mark every challenge with categories : Educational Challenge (simple challenges on popular datasets like MNIST, etc), Academic Challenge (NIPS Challenges, etc), Challenges with Prizes, Challenges with Academic papers, Challenges with Travel Grants, etc.

What I imagine are small icons next to challenge names (on the home page, and also on the challenge page), which gives a broad view of w

[2018-04-27 12:31] spMohanty commented on #725
<img width="972" alt="screen shot 2018-04-27 at 14 31 30" src="https://user-images.githubusercontent.com/1581312/39362716-b70e7208-4a27-11e8-9c09-5ba09255c167.png">

[2018-04-27 12:35] spMohanty commented on #713
This does not work for me in firefox.
<img width="1913" alt="screen shot 2018-04-27 at 14 35 22" src="https://user-images.githubusercontent.com/1581312/39362856-3ea7103a-4a28-11e8-8af2-949fe077c2bb.png">

[2018-04-28 20:04] scarroll32 commented on #725
Fixed

[2018-04-28 20:04] #725 closed, assigned to scarroll32

[2018-04-28 20:20] spMohanty opened #730 "@mentions not working in the topic creation forms"

[2018-04-28 20:21] scarroll32 commented on #719
Deployed but untested, if it works please close this issue.

[2018-04-28 22:17] spMohanty commented on #573
This was happening because of this line : https://github.com/crowdAI/crowdai/blame/master/app/views/landing_page/index.html.erb#L1

Where the `content` tag has been used. Not sure the exact reason why it was used, but the tag is in any case deprecated (https://developer.mozilla.org/en-US/docs/Web/HTML/Element/content).

Sending a pull request which fixes this.

[2018-04-28 22:25] spMohanty commented on #571
<img width="672" alt="screen shot 2018-04-29 at 00 22 34" src="https://user-images.githubusercontent.com/1581312/39401354-74b49b9a-4b43-11e8-96b1-e4c1306d0a42.png">

@jsnrynlds : The state markers (in green, yellow and red) that are present in the screenshot you shared, do not seem to be included in the https://github.com/salathegroup/crowdai-templates repository. Is that intentional ?

I [wanted

[2018-04-28 23:11] spMohanty commented on #709
This issue was happening because table, tr and td tags were stripped off by the `sanititzer`.
Header tags (h1, h2, h3, h5, etc) are still not allowed, so the rendering still looks a bit ugly.
and will probably have to be explicitly allowed.

[2018-04-28 23:41] spMohanty commented on #561
I still see this error when I patch a submission with a meta key in it.

[2018-04-29 01:55] spMohanty opened #737 "API create endpoint was silently ignoring the values inside `meta` key"
Can be confirmed here : https://www.crowdai.org/admin/challenges/ieee-investment-ranking-challenge/submissions/5394

While the calls were sending an object like :
[code]

The `params` object in the controller was getting `pararms[:meta]` as just `file_key`.
Hence we have lost the file_id mapping for many of the submissions in the recent challenges.

[2018-04-29 01:59] spMohanty commented on #737
Modified all job_factories to serialize the `meta` key before sending it across.

[2018-04-29 21:15] spMohanty opened #739 "Submission page rows not vertically aligned"
<img width="1186" alt="screen shot 2018-04-29 at 22 53 51" src="https://user-images.githubusercontent.com/1581312/39411052-aa92305a-4c02-11e8-86de-9a020babfd0e.png">

while, we would want something more symmetrical. Along the lines of :

<img width="1197" alt="screen shot 2018-04-29 at 23 14 21" src="https://user-images.githubusercontent.com/1581312/39411072-15799afc-4c03-11e8-91b5-dc4a66f6e7c9.pn

[2018-04-29 21:20] spMohanty commented on #739
the reason was`vertical-align` for td was set to `top` instead of `middle`.
(@jsnrynlds 's css uses vertical-align middle instead of top consistently)

And I removed the `pull-right` class which was doing a `float:right` [which messes up with `vertical-align`](https://stackoverflow.com/questions/11718134/css-vertical-align-does-not-work-with-float).

[2018-04-29 22:27] spMohanty commented on #684
https://github.com/crowdAI/crowdai/commit/e598d3ab9e5003ba7d96d5324c1da75d2eb419ce implements the color coding for the grading status.

The colors (red, green, yellow) are picked from this screenshot https://github.com/crowdAI/crowdai/issues/571#issuecomment-374510836 by @jsnrynlds .

Also linked the grading status message to the individual challenge page, as for all the challenges with the gitlab

[2018-04-29 22:33] spMohanty opened #742 "Submission page (with comment ) broken"
If we add a comment to the individual submission page, then it throws a 500.

For example in this link : https://www.crowdai.org/challenges/25/submissions/5433

[2018-04-29 22:38] spMohanty opened #743 "Display slug on submission detail"
Currently the links are of the form : https://www.crowdai.org/challenges/25/submissions/5417

but if we want people to share them, then ideally they should be more SEO optimized and of the form :

https://www.crowdai.org/challenges/[challenge-slug]/submissions/5417

[2018-04-29 22:53] spMohanty opened #744 "Add more information to the individual submission page"
<img width="1284" alt="screen shot 2018-04-30 at 00 50 02" src="https://user-images.githubusercontent.com/1581312/39411731-721cbc28-4c10-11e8-94c8-a36421bdcc4b.png">

Currently its a bit confusing if someone lands up here.
Ideally we want to show the following information here :
- Author
- Grading Status : submitted, initiated, graded, failed
- Score (with proper Score title)
- Score Secondary (wi

[2018-04-30 06:20] AALEKH commented on #716
Hey guys, is there any update on this issue? I am still experiencing the same even though I haven't made any submission today (30/04/2018 GMT).

[2018-04-30 06:42] scarroll32 commented on #744
Probably best for now to hide the page when there is no video to display.

[2018-04-30 08:13] spMohanty commented on #744
@seanfcarroll : If it's a question of rendering information, I think we should just do it in the same go.
Plus the same information that we show on the leaderboard can be shown here in cases where there is no media or grader logs. But atleast there is some consistency in the interface, and participants are not confused why there is the individual submission page in some cases and in some cases it'

[2018-04-30 15:28] scarroll32 commented on #684
Looks great!

[2018-04-30 15:40] scarroll32 opened #746 "Submissions remaining query incorrect"
[code]

[2018-04-30 15:44] scarroll32 commented on #724
Fixed https://github.com/crowdAI/crowdai/commit/42cbc9ca059f9e3de8b5cda40c54dc80588d0ed7

[2018-04-30 15:44] #724 closed, assigned to scarroll32

[2018-04-30 15:44] scarroll32 commented on #659
Fixed https://github.com/crowdAI/crowdai/commit/42cbc9ca059f9e3de8b5cda40c54dc80588d0ed7

[2018-04-30 15:44] #659 closed, assigned to nobody

[2018-04-30 15:45] scarroll32 commented on #573
Fixed https://github.com/crowdAI/crowdai/commit/42cbc9ca059f9e3de8b5cda40c54dc80588d0ed7

[2018-04-30 15:45] #573 closed, assigned to nobody

[2018-04-30 15:47] scarroll32 commented on #571
Implemented except for the state markers as above. https://github.com/crowdAI/crowdai/commit/42cbc9ca059f9e3de8b5cda40c54dc80588d0ed7

[2018-04-30 15:48] scarroll32 commented on #545
Created a custom theme instead.

https://github.com/crowdAI/crowdai_admin

https://github.com/crowdAI/crowdai/commit/42cbc9ca059f9e3de8b5cda40c54dc80588d0ed7

[2018-04-30 15:48] #545 closed, assigned to nobody

[2018-04-30 16:14] scarroll32 commented on #711
Fixed

[2018-04-30 16:14] #711 closed, assigned to nobody

[2018-04-30 16:20] scarroll32 commented on #709
Implemented

[2018-04-30 16:23] scarroll32 commented on #737
Implemented

[2018-04-30 16:23] #737 closed, assigned to nobody

[2018-04-30 16:23] scarroll32 commented on #684
Implemented

[2018-04-30 16:23] #684 closed, assigned to nobody

[2018-04-30 16:24] scarroll32 commented on #739
Implemented

[2018-04-30 16:24] #739 closed, assigned to spMohanty

[2018-04-30 16:26] #719 closed, assigned to scarroll32

[2018-04-30 16:33] scarroll32 opened #747 "Something wrong with the CDN"
Only affecting the Admin page

<img width="1306" alt="screen shot 2018-04-30 at 18 31 55" src="https://user-images.githubusercontent.com/11340230/39438558-d3d8506e-4ca4-11e8-87a5-65d0c8836a3c.png">

[2018-04-30 16:47] spMohanty opened #748 "Markdown not being rendered corrrectly on challenge overview pages"
Link : https://www.crowdai.org/challenges/mapping-challenge

<img width="1018" alt="screen shot 2018-04-30 at 18 46 08" src="https://user-images.githubusercontent.com/1581312/39439134-d8cb7590-4ca6-11e8-8bc1-ede7c2cb95de.png">

while editing the challenge page shows we have the correct markdown :

<img width="945" alt="screen shot 2018-04-30 at 18 47 17" src="https://user-images.githubusercontent.

[2018-04-30 17:09] spMohanty commented on #748
This is happening because of this : https://github.com/crowdAI/crowdai/blob/master/config/application.rb#L28

which replaces the allowed tags by [table, tr and td]

But this was from the rails docs here https://apidock.com/rails/v4.0.2/ActionView/Helpers/SanitizeHelper/sanitize

which say it actually appends to the list and not replaces it.

[2018-04-30 17:23] scarroll32 commented on #748
I'll reverse that config

[2018-04-30 17:29] spMohanty commented on #748
I think we can add a fixed list of allowed tags based on https://github.com/rails/rails-html-sanitizer/commit/297161e29a3e11186ce4c02bf7defc088bf544d4 and our custom additions.

this will give us more fine grained control over this in the future.

I can send a pull request with tests.

[2018-04-30 17:38] scarroll32 commented on #748
OK the markdown is now working again in prod. There are several issues around markdown, @ mentions etc. I'd like to look at them all together.

This change was to add tables to markdown?

[2018-04-30 17:41] spMohanty commented on #748
Okay.
And yeah, the markdown renderer was rendering table, td, tr tags, but the html sanitizer was removing them.

[2018-04-30 18:55] spMohanty opened #749 "toolbar icons not appearing on admin page"
<img width="379" alt="screen shot 2018-04-30 at 20 54 32" src="https://user-images.githubusercontent.com/1581312/39444654-c8441486-4cb8-11e8-96b8-469e4be82258.png">

[2018-05-01 08:04] jsnrynlds commented on #571
Hi @seanfcarroll – I'll take a look at those this week.

[2018-05-01 08:23] scarroll32 commented on #749
Duplicate of https://github.com/crowdAI/crowdai/issues/747

[2018-05-01 08:23] #749 closed, assigned to nobody

[2018-05-01 08:23] scarroll32 commented on #748
Closed

[2018-05-01 08:23] #748 closed, assigned to nobody

[2018-05-01 12:12] scarroll32 commented on #744
<img width="904" alt="screen shot 2018-05-01 at 14 09 04" src="https://user-images.githubusercontent.com/11340230/39472414-6bab775a-4d49-11e8-9a7c-e9f9246074c4.png">

Most of it was already there, and the crowdAI logo was not on the original design.

It can definitely use some of Jason's love...

[2018-05-01 12:24] scarroll32 commented on #526
Implemented

[2018-05-01 12:24] #526 closed, assigned to nobody

[2018-05-01 12:24] scarroll32 commented on #744
Implemented

[2018-05-01 12:24] #744 closed, assigned to nobody

[2018-05-01 15:01] scarroll32 commented on #658
Implemented

[2018-05-01 15:02] scarroll32 commented on #742
Fixed - that link won't work but go back to the leaderboard and it will now provide the right id

[2018-05-01 15:14] spMohanty commented on #658
For future reference, the payload should have at least the following (along with other necessary fields like score, etc):
[code]

[2018-05-01 15:15] #742 closed, assigned to scarroll32

[2018-05-01 15:16] spMohanty commented on #743
the links on the submission page still use the numeric ids and not the slugs :
https://www.crowdai.org/challenges/mapping-challenge/submissions

Can be replicated by clicking on the `X` for every submission in the link above.

[2018-05-01 15:40] scarroll32 commented on #687
Is this closed? @spMohanty

[2018-05-01 16:10] spMohanty commented on #687
Yeah I have one version released. https://pypi.org/project/crowdai-api/0.1.1.dev1/

But I would keep this issue open until there is a stable release out with all the basic features we need, and documentation sorted out (now the documentation is in markdown which pypi doesnt really like as you can see if you follow the link above)

[2018-05-02 11:58] englhardt opened #752 "Admin/Organizer view on hidden leaderboard and submissions"
As an admin/organizer I would like to monitor the current leaderboard and submissions even if the page is hidden for normal participants.

A starting point to implement this would be [here](https://github.com/crowdAI/crowdai/blob/master/app/controllers/leaderboards_controller.rb#L17-L19) by changing it to:
[code]
Maybe this feature also requires a change in the menu display code.

Unfortunately, I

[2018-05-02 13:54] spMohanty opened #753 "long_description field support in the submission api"
Its also is not handled by the `PATCH` endpoint : https://github.com/crowdAI/crowdai/blob/master/app/controllers/api/external_graders_controller.rb#L75

[2018-05-02 13:55] spMohanty commented on #753
This is what I get right now from a sample response :
[code]

[2018-05-02 15:19] spMohanty commented on #658
So,
On my first request with `media_large` and `media_content_type` set, I got the following error :
[code]
and then when I added a dummy value to `media_thumbnail`, I get the error :
[code]

[2018-05-02 17:11] scarroll32 commented on #752
Hi @englhardt it's a fair and useful request. If we can walk you through the setup, would you have time to do a PR?

[2018-05-02 19:01] spMohanty opened #754 "Configuration parameter to hide score_secondary"
Some challenges donot really need `score_secondary`.
So we have been filling it up with a placeholder value.
Would be good to have an option to not render score_secondary on the leaderboard or at other places.

[2018-05-02 19:16] spMohanty opened #755 ""Submissions Instruction" section not rendering"

[2018-05-02 19:25] spMohanty opened #756 "Leaderboard showing deleted entries"
I deleted some entries from the VizDoom challenge. And the leaderboard continues to show it for a user "who has technically not made a submission".

Submissions Tab :
<img width="1178" alt="screen shot 2018-05-02 at 21 23 50" src="https://user-images.githubusercontent.com/1581312/39544721-3b537204-4e4f-11e8-9b1a-f22d69df8aca.png">

Leaderboard :
<img width="1141" alt="screen shot 2018-05-02 at 21

[2018-05-02 19:45] spMohanty opened #757 "Challenge Creation Page is not working"
https://www.crowdai.org/admin/challenges/new

[2018-05-02 19:53] marcelsalathe opened #758 "Some tutorials give 500 error"
https://www.crowdai.org/articles/plantvillage-image-classification-tutorial

[2018-05-03 07:11] scarroll32 commented on #658
Oh yes, that's because for other media types the grader was first uploading the file to S3, and the API checks if it is there. I'll add an exemption for "video/youtube"

[2018-05-03 07:18] scarroll32 commented on #758
Looking at this

[2018-05-03 07:26] englhardt commented on #752
Hey @seanfcarroll, yes I have. I didn't find any starting point to setup a local instance (I guess the doc is still under construction). Where should I start?
You can also send me the instructions via e-mail.

[2018-05-03 08:32] scarroll32 commented on #758
Fixed

[2018-05-03 08:32] #758 closed, assigned to scarroll32

[2018-05-03 08:40] scarroll32 commented on #755
Where should it be rendering? This was previously used for the manual submissions upload page (currently working only for CLEF challenges).

[2018-05-03 08:41] scarroll32 commented on #754
Just select "not_used"

<img width="378" alt="screen shot 2018-05-03 at 10 41 38" src="https://user-images.githubusercontent.com/11340230/39567232-982ad336-4ebe-11e8-81f9-dd31dd575c70.png">

[2018-05-03 08:41] #754 closed, assigned to nobody

[2018-05-03 08:43] scarroll32 commented on #756
The new leaderboard process was not designed to handle deletes, although it is a simple matter to add a post delete hook.

Are these deletes performed from the Admin page?

[2018-05-03 08:44] spMohanty commented on #756
@seanfcarroll : Yeah from the admin page. But we will have to support the ability to delete submissions. But its not a high priority request really, and can wait.

[2018-05-03 08:45] spMohanty commented on #755
One of the organisers of the VizdoomChallenge was confused by it.
In that case, lets only have edit boxes for only sectoions that we render.
And hide this section, and any other section which are not rendered ?

[2018-05-03 08:46] scarroll32 commented on #753
Added this - untested so please try it out.

The description field must not be updated directly, instead the description_markdown field should be updated which will then render the markdown into the **description** field. For some reason lost to me, this passed as [comment in the API params.](https://github.com/crowdAI/crowdai/blob/master/app/controllers/api/external_graders_controller.rb#L48)

It

[2018-05-03 08:49] spMohanty commented on #753
@seanfcarroll : This will be the first time we will be using this field.
So we can change it without breaking anything else.

Let me know if you do, and I will update the `crowdai_api` python package accordingly.

Also I think, we should start include tests as we develop, even for small issues like this.
Else the whole codebase will go bonkers sooner or later !

[2018-05-03 08:53] spMohanty commented on #753
@seanfcarroll : Also, not creating a separate issue, as this is very related.

The "comment" param is only present at the `create` endpoint and not in the `update` endpoint.
Hence PACTHES on the data do not work.

Lets refactor to use `long_description` consistently across both create and update ?

[2018-05-03 08:54] scarroll32 commented on #753
If we are going to refactor, please use **description_markdown**, then it matches with the Rails name.

[2018-05-03 08:55] spMohanty commented on #753
Sure.
`description_markdown`.
Please confirm when the production server supports this.

[2018-05-03 08:55] scarroll32 commented on #755
OK I'll move that section back onto it's own config page about manual submissions.

[2018-05-03 10:54] scarroll32 commented on #658
Actually it should have been OK, I added a test against this and it is working on the POST. Are you sending a score & round?

[code]

[2018-05-03 11:01] spMohanty commented on #658
@seanfcarroll : I was sending the score, and not the round.
I will try this now and get back to you.

[2018-05-03 11:01] scarroll32 commented on #658
Hang on - I found something else. 5 mins.

[2018-05-03 11:43] spMohanty opened #761 "Multiple rounds rendered weird"
<img width="777" alt="screen shot 2018-05-03 at 13 42 11" src="https://user-images.githubusercontent.com/1581312/39574522-e0efffe2-4ed7-11e8-9ce0-77776667b42e.png">

This is in the IEEE challenge

[2018-05-03 13:33] scarroll32 commented on #756
Implemented

[2018-05-03 13:33] #756 closed, assigned to nobody

[2018-05-03 13:39] #757 closed, assigned to nobody

[2018-05-03 15:26] scarroll32 opened #762 "Comments on submissions#show sometimes broken"

[2018-05-03 16:00] #668 closed, assigned to nobody

[2018-05-04 06:23] ieggel opened #763 "Submissions API Server error"
HI @seanfcarroll

The submissions API is not working anymore, i get a "server error" each time i try to call the API.
E.g.:https://www.crowdai.org/api/challenges/16/submissions

This still worked yesterday.

It's quite urgent since i have to use this API quite often.
Thanks for having a look ASAP.

[2018-05-04 08:52] englhardt opened #764 "Participant can view hidden submission page"
If the submission page is hidden a participant can still view the submission page by accessing it via the url, e.g., `https://www.crowdai.org/challenges/xyz/submissions`. A redirect is missing.

[2018-05-04 12:36] scarroll32 commented on #763
Hi Ivan, there was a lot of refactoring yesterday. Can you provide the details of the call made and any error message if possible.

[2018-05-04 13:16] scarroll32 commented on #763
The tests are passing ... https://github.com/crowdAI/crowdai/blob/master/spec/requests/api/submissions_controller_spec.rb

[2018-05-04 13:25] scarroll32 commented on #696
There is a "Can't log in?" link on the login page

<img width="525" alt="screen shot 2018-05-04 at 15 24 16" src="https://user-images.githubusercontent.com/11340230/39630309-46c9f9da-4faf-11e8-8465-0b55ad7a780c.png">
<img width="526" alt="screen shot 2018-05-04 at 15 24 51" src="https://user-images.githubusercontent.com/11340230/39630326-4fb38c14-4faf-11e8-8d61-1b551ea8c9ee.png">

[2018-05-04 13:27] ieggel commented on #763
Hi Sean,

I'm getting the following response "server error". I remember having coded it in that way that when a 500 Error occurs it just returns "server error" in order not to expose too much to the caller.

This happens independently for all challenges. The only way i don't get the 500 error is when using a wrong organizer key. In that case i receive a 401 Unauthorized error with the message "HTT

[2018-05-04 13:27] #660 closed, assigned to nobody

[2018-05-04 13:28] scarroll32 commented on #561
Is this fixed now? @spMohanty

[2018-05-04 13:28] scarroll32 commented on #562
Will go with GraphQL

[2018-05-04 13:28] #562 closed, assigned to nobody

[2018-05-04 13:37] spMohanty commented on #696
No, if I remember correctly,
this issue was when she signed up,
and was trying to log in.

But she couldnt log in because she hadnt yet clicked on the confirmation email.

Basically, the behaviour is correct, the error message should be more informative.
Something like :

"Account not verified. You have to first verify your account by clicking on the link provided in the confirmation email sent to

[2018-05-04 13:38] spMohanty commented on #561
Yes

[2018-05-04 13:38] #561 closed, assigned to scarroll32

[2018-05-04 13:53] scarroll32 commented on #762
Need some details on this. Closed pending an error message.

[2018-05-04 13:53] #762 closed, assigned to nobody

[2018-05-04 13:54] scarroll32 commented on #755
Refactored to it's own tab

[2018-05-04 13:54] #755 closed, assigned to nobody

[2018-05-04 13:55] scarroll32 commented on #753
Confirmed

[2018-05-04 13:55] #753 closed, assigned to nobody

[2018-05-04 13:56] scarroll32 commented on #752
Implemented

[2018-05-04 13:56] #752 closed, assigned to nobody

[2018-05-04 13:57] scarroll32 commented on #714
Added the https://github.com/kpumuk/meta-tags gem but it seems to have created only a title tag. Anyway it can be configured easily so let me know which tags are needed.

[2018-05-04 13:58] scarroll32 commented on #687
downgraded

[2018-05-04 13:59] scarroll32 commented on #658
Implemented

[2018-05-04 13:59] #658 closed, assigned to nobody

[2018-05-04 14:00] #506 closed, assigned to scarroll32

[2018-05-04 14:04] spMohanty commented on #714
@seanfcarroll : Leaving this issue open, as the configuration has to be carefully thought through, and we will definitely forget about it if we close it.
I think the `image_src`  one is something we will need for sure. And it might be page specific. For example the crowdAI logo on most pages. Challenge logo on challenge leaderboard, submission page, discussion forum, etc.
Submission page could hav

[2018-05-04 16:37] scarroll32 commented on #763
Fixed

[2018-05-04 16:37] #763 closed, assigned to scarroll32

[2018-05-04 22:04] mihahauke opened #768 "ctrl + b doesn't work for the markdown editor"
It would be a nice feature to have ctrl + b work as bold as in other markdown editors.

[2018-05-04 22:08] mihahauke opened #769 "GUI: + 'Challenge round' too close to 'update challenge' button"
Just an annoying gui thing, the '+challenge round' is too close to the 'update challenge' button

[2018-05-05 15:57] spMohanty commented on #769
<img width="893" alt="screen shot 2018-05-05 at 17 56 52" src="https://user-images.githubusercontent.com/1581312/39665049-beaceca8-508d-11e8-9816-b8470cb8ecac.png">

[2018-05-05 16:01] spMohanty commented on #712
@seanfcarroll : But that opens up the risk that when someone changes the name of the challenge, then the challenge slug changes automatically, and we will have to move around all the relevant files on AWS to the new right location.

[2018-05-07 07:22] englhardt commented on #769
A similar issue in the Overview tab:
![screenshot_2018-05-07_09-21-16](https://user-images.githubusercontent.com/7440669/39689761-2e790c9c-51d8-11e8-951a-94f76c57b21d.png)

[2018-05-07 08:00] ieggel opened #770 "Submission detail page should not show scores if show_leaderboard is enabled"
A participant is able to their scores on the submission detail page even when the leaderboard is diabled. This should not be the case.

[2018-05-07 08:50] #770 closed, assigned to ieggel

[2018-05-07 11:38] Sylvain-Bernard opened #772 "Error 500 when not logged-in"
Some challenge pages return an 500 error when not logged-in.

E.g.:

https://www.crowdai.org/challenges/nips-2018-adversarial-vision-challenge
https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge
https://www.crowdai.org/challenges/nips-2017-learning-to-run
https://www.crowdai.org/challenges/dark-skies-classification-of-nighttime-images

[2018-05-07 18:49] scarroll32 commented on #772
This is patched now.

[2018-05-07 18:49] #772 closed, assigned to nobody

[2018-05-08 09:09] Sylvain-Bernard commented on #709
Still not working...

![image](https://user-images.githubusercontent.com/15749650/39748407-4b34aec6-52b0-11e8-936c-e6fa4dd6768d.png)

[2018-05-08 13:55] scarroll32 commented on #696
We do flash a message, I think it's pretty clear. Then there are options to resend the email on the login page.

<img width="1087" alt="screen shot 2018-05-08 at 15 53 18" src="https://user-images.githubusercontent.com/11340230/39761290-006b51d8-52d8-11e8-9f9f-e1accdfcb817.png">

[2018-05-08 13:55] #696 closed, assigned to scarroll32

[2018-05-08 13:55] scarroll32 commented on #696
I'll increase the message duration - 5s to 10s.

[2018-05-08 14:14] scarroll32 commented on #693
This issue will go away when the multiple organizers are properly implemented.

Regarding re-routing of challenge slugs - it is something that could be supported. I'll add it.

[2018-05-08 14:58] scarroll32 commented on #746
Bugs in tests fixed.

[2018-05-08 14:58] #746 closed, assigned to nobody

[2018-05-08 15:04] scarroll32 commented on #716
Hi all, I've reviewed the code on this and it is indeed working OK. The possible confusion is that 'day' refers to a 24 hour window, ie: how many submissions have been made from Now - 24 hours. So this could include submissions made against yesterday's calendar date.

There are some new documents on this here : https://github.com/crowdAI/crowdai/blob/master/doc/submission_limits.md

We will provid

[2018-05-08 15:06] spMohanty commented on #716
One of the participants who had complained, had made a total of 3 submissions in the whole challenge (and on crowdAI too), and he was getting a submission limit reached on a challenge with 5 submissions per day limit.
I think it was kvr or alekh ?

[2018-05-08 15:45] mihahauke opened #775 "Round 1 button shown 2 times in Leaderboard view"
Like in the title. It doesn't look like intended. It could be seen in [https://www.crowdai.org/challenges/visual-doom-ai-competition-2018-track-1/leaderboards](https://www.crowdai.org/challenges/visual-doom-ai-competition-2018-track-1/leaderboards)
![screenshot from 2018-05-08 17-43-39](https://user-images.githubusercontent.com/2771069/39767684-9eaee51c-52e7-11e8-82a4-2bff86e0ed5b.png)

[2018-05-08 15:47] spMohanty commented on #775
@seanfcarroll : Can you have a look at this one ?
This is a small bug, but very confusing (and irritating too :cry: ).

[2018-05-08 16:16] scarroll32 commented on #775
Yes, it is annoying. This is caused by a UI issue in the challenge round configuration. It can be addressed temporarily by making sure only 1 round is marked as 'current round". (I've set the first round on this challenge as the current round now).

I'll fix this properly as part of the current refactor.

<img width="793" alt="screen shot 2018-05-08 at 18 15 05" src="https://user-images.githubuser

[2018-05-08 16:16] #775 closed, assigned to nobody

[2018-05-08 16:21] scarroll32 commented on #716
@AALEKH is it also the IEEE challenge?

[2018-05-08 16:26] scarroll32 commented on #716
I'll pull the database and try to replicate the error. Before I start though, we are on a new round in IEEE, which started on 3/5 and has a limit of 10 / day. Is it still a problem?

[2018-05-08 16:36] spMohanty commented on #775
Thanks Sean for the quick response,
Cheers,
Mohanty

On Tue, May 8, 2018 at 6:16 PM, Sean <notifications@github.com> wrote:

[2018-05-08 16:46] scarroll32 commented on #764
This is fixed

[2018-05-08 16:46] #764 closed, assigned to nobody

[2018-05-09 07:42] englhardt opened #777 "Remove button in challenge edit not working"
The remove button when editing a challenge is not working in two places.

1. Submission File Definition
![screenshot_2018-05-09_09-31-27](https://user-images.githubusercontent.com/7440669/39801629-1cf9464a-536c-11e8-9702-a7d50bc4f61b.png)

2. Invited participant
![screenshot_2018-05-09_09-32-42](https://user-images.githubusercontent.com/7440669/39801649-2a169aee-536c-11e8-82a5-f05a51623b71.png)

T

[2018-05-09 08:02] #769 closed, assigned to nobody

[2018-05-09 09:24] farnir opened #779 "New challenge from admin panel not working"
When trying to create a challenge from Admin Panel, some errors appeared:
- Grading_factor not defined
- Grader not defined

It seems to come from the form in admin/challenge.rb that contains outdated input according to Challenge Model.

[2018-05-09 10:18] englhardt commented on #779
I can confirm this. After removing the two lines [here](https://github.com/crowdAI/crowdai/blob/master/app/admin/challenge.rb#L54-L55), I am able to create new challenges.

[2018-05-09 11:20] Sylvain-Bernard opened #781 "Create New Submission (for any user) via admin interface"
Part of the feature seems to be in place, but not fully functional...

Missing:
- [x] Possibility to specify user (who will be linked to the submission)
- [x] Grading status cd as drop down list (or radio)
- [x] Documentation (eg Challenge round ID, not 1 or 2)
- [ ] Possibility to create new submissions in batch (upload xls)

![image](https://user-images.githubusercontent.com/15749650/39812068-6f

[2018-05-09 15:35] farnir opened #782 "Duplicate Rspec session helpers"
It seems that there are two Sessions helpers in Respec support directory.
- One in `spec/support/`
- An another on in `spec/support/helpers`

The right one, that passed the CI for me, is spec/support/session_helpers.rb
Is that a mistake ?

[2018-05-12 11:53] AALEKH commented on #716
@seanfcarroll @spMohanty  Yup I was referring to IEEE challenge; of course python client update will be super helpful. I would also like to point out that  there seems to be an issue with submission since the start of round 2, my submission attempt via script mentioned in starter's kit happens to get stuck every time at this state:
`CrowdAI.Event.Authentication : Authenticating for challenge = IEE

[2018-05-14 07:43] scarroll32 opened #783 "Leaderboard announcements"
When the 'show leaderboard' check box is off, some text should appear to remind the admins and organizer that the leaderboard is not visible to participants.

'Leaderboard is only visible to organizers'

[2018-05-14 07:45] scarroll32 opened #784 "Add GDPR button"

[2018-05-14 07:48] scarroll32 commented on #716
Can this issue be closed?

[2018-05-14 07:53] ieggel opened #785 "Allow post-challenge submission via webpage"
Currently it is not possible to enable post-challenge submissions for challenges that make use web page submissions. The "Create submission" button does not show up after the challenge is completed.
It would be nice if there was an option on the edit-challenge page to enable those post-challenge submissions.

[2018-05-14 08:21] scarroll32 commented on #785
For the challenges which accept submissions via the python client, this is handled by shutting down the grader when challenges will no longer be accepted.

For the CLEF and other challenges which accept challenges via the online page, an additional checkbox will be added: "Post challenge submissions?". This will allow the submission page will be visible and accept submissions after the end of the

[2018-05-14 08:33] ieggel commented on #785
This sounds good and makes sense. Thank you.

On Mon, May 14, 2018, 10:21 Sean <notifications@github.com> wrote:

[2018-05-14 08:36] scarroll32 opened #786 "No gaps permitted between challenge rounds"
Currently it is possible to set up challenge rounds with gaps between them. This proposal is to instead set the challenge start / end times to be with a minute's precision, and no gaps permitted between challenge rounds.

Eg:
**Round 1**
Starts 01 Jan, 09:00 UTC
Finished 15 Mar 17:00 UTC

**Round 2**
Starts 15 Mar, 17:01 UTC
Finished 30 Mar 17:00 UTC

Normally, any submission will be assessed by t

[2018-05-14 08:53] ieggel commented on #786
OK for me. Would be nice if the gap round was automatically created if
consecutive rounds' end- and start times are not continuous (in other words
have a gap).

On Mon, May 14, 2018, 10:36 Sean <notifications@github.com> wrote:

[2018-05-14 14:40] scarroll32 commented on #783
As per the discussion today, even when the leaderboard is hidden, it should still appear but that no scores are visible and a message displays instead.

[2018-05-14 14:46] scarroll32 commented on #779
This is based on an older model, and will be removed. In fact a challenge should be created from the organizer's page. In time, the development environment will be configured with seed data with organizers etc.

<img width="1183" alt="screen shot 2018-05-14 at 16 44 37" src="https://user-images.githubusercontent.com/11340230/40004553-3a5b9fc0-5796-11e8-96e4-2647dbbcdded.png">

[2018-05-14 17:38] spMohanty opened #787 "Better Analytics"
For instance, right now its hard for us to estimate the total number of files downloaded, or the total volume of data transferred from file downloads, which is an important thing we should have access to when making policy decisions.
around 3TB of data was downloaded through crowdAI last month, and we have no clue what was downloaded, where, and how can we limit a single user abusing the system, e

[2018-05-15 12:00] scarroll32 commented on #777
Thanks for this report @englhardt . The issue for the table is fixed in dev and will soon be deployed. The submission file definitions will be refactored out completely, so it won't be fixed.

[2018-05-15 12:05] scarroll32 commented on #787
Theres a few issues along these lines ... it would be useful to have a spec of what should be tracked along with a rough mock-up of layout. We can give it to Jason to design and then implement.

To do this we would need:

- what data needs to be tracked
- what analytics will be displayed and how they can be interacted with
- where they will be displayed on the platform

https://github.com/crowdAI/

[2018-05-15 14:53] scarroll32 commented on #785
Implemented

[2018-05-15 14:53] #785 closed, assigned to scarroll32

[2018-05-15 14:53] scarroll32 commented on #782
Fixed, thanks @farnir

[2018-05-15 14:53] #782 closed, assigned to nobody

[2018-05-15 14:53] scarroll32 commented on #777
Implemented

[2018-05-15 15:23] scarroll32 commented on #781
We won't add a batch upload from xls ... instead this can be done via the API.

[2018-05-15 15:24] scarroll32 commented on #779
Ability to create or update a challenge from the admin panel has been removed - all changes should be done via the challenge configuration page.

[2018-05-15 15:25] scarroll32 commented on #779
Implemented

[2018-05-15 15:25] #779 closed, assigned to nobody

[2018-05-15 15:25] englhardt commented on #777
Unfortunately this is not fixed for point number 2 (participants of private challenge). Two problems occur now:
a) When clicken the remove button, all participants in the list are removed. The class `nested-fields` must probably be set in the `<tr>` of each row instead of in the `<tbody>`.
b) When updating the challenge after removing somebody, it is not saved. I.e., the participant is still in th

[2018-05-15 15:25] scarroll32 commented on #781
Implemented

[2018-05-15 15:25] #781 closed, assigned to scarroll32

[2018-05-15 15:26] scarroll32 commented on #693
Fixed

[2018-05-15 15:26] #693 closed, assigned to nobody

[2018-05-16 07:22] scarroll32 opened #789 "Error if the ‘show post challenge submissions’ switch is pressed."

[2018-05-16 07:30] ieggel opened #790 "Leaderboard and submissions tab page empty"
Logged in as an ordinary participant, i was not able to view any leaderboard or submissions tab page of any challenge. The leaderboard shows as empty table:
![image](https://user-images.githubusercontent.com/9192090/40102685-6f8eeaca-58eb-11e8-9e88-73797a3547ba.png)
The submissions tab page shows as empty table as well:
![image](https://user-images.githubusercontent.com/9192090/40102735-950837c0-5

[2018-05-16 07:34] ieggel opened #791 "Webpage post-challenge submissions not working"
Webpage submissions do not work post-challenge:
- No error on submissions, however:
- No entry in submissions tab

It only seems to upload the submission file to amazon, but nothing elese happens.

[2018-05-16 09:59] farnir commented on #779
It seems that from a Participant (with organizer set) view you don't have any link to the organizer page.
So if they are no challenges, there is no access to the button "Create Challenge" even for an Admin.
You have to known and enter manually the URL : "/organizers/[name]".
The solution may be the creation of a link in the profile page of participant (with organizer set) redirecting on his organi

[2018-05-17 07:31] scarroll32 commented on #791
Hi @ieggel can you give me details of which challenge and which participant you submitted under?

[2018-05-17 07:32] scarroll32 commented on #790
Can you provide the participant you are logged in under and the challenge you are accessing @ieggel ?

[2018-05-17 08:01] ieggel commented on #791
Hi @seanfcarroll

I've just tried again and did the following:
- Logged in as ivan.eggel@gmail.com (LifeClefOrganizer in case it matters)
- Went to **ImageCLEF 2018 Tuberculosis - Severity scoring** challenge
- Hit "Create Submission" button
- Filled in all necessary information on the submission page
- Chose File to upload
- File was uploaded and form submitted
- Was redirect to submissions tab,

[2018-05-17 08:04] scarroll32 commented on #791
perfect, thank you @ieggel

[2018-05-17 08:09] ieggel commented on #790
HI @seanfcarroll

- Logged in as ivan.eggel@gmail.com (LifeCLef organizer)
- Can see everything as expected on all LifeCLEF challenges
- Can see everything empty (see Screenshot from first post) on all other challenges

I also did the same for my ImageClef organizer account and there also i can see empty an leaderboard and an empty submissions tab's table for all challenges except the ImageCLEF ch

[2018-05-17 08:56] scarroll32 commented on #791
OK it seems to be an edge-case : the participant IS an organizer but not for this challenge. Will apply a patch shortly but it will not affect most participants.

[2018-05-17 10:48] scarroll32 commented on #716
Closed

[2018-05-17 10:48] #716 closed, assigned to scarroll32

[2018-05-17 10:52] scarroll32 commented on #791
Implemented https://github.com/crowdAI/crowdai/commit/9a43ce3774b2f14f08b63398363f29a2c8814755

[2018-05-17 10:53] scarroll32 commented on #790
The problem was cause by using an organizer account against a challenge they are not an organizer for. It is now fixed. https://github.com/crowdAI/crowdai/commit/9a43ce3774b2f14f08b63398363f29a2c8814755

[2018-05-17 10:53] #790 closed, assigned to scarroll32

[2018-05-17 11:43] scarroll32 commented on #789
Fixed https://github.com/crowdAI/crowdai/commit/05e13ecde1d5ad4c66c61982ff6a09061c02b010

[2018-05-17 11:43] #789 closed, assigned to scarroll32

[2018-05-17 12:12] ieggel commented on #791
Hi @seanfcarroll ,
Thanks. Tried to create a submission but as before it does not seem to be processed by a grader. The submissions tab 's table now, however my submission is not there at all.

[2018-05-17 14:22] #786 closed, assigned to scarroll32

[2018-05-17 14:58] scarroll32 commented on #761
Due to overlapping dates

[2018-05-17 14:58] #761 closed, assigned to nobody

[2018-05-17 15:01] scarroll32 commented on #636
Closed

[2018-05-17 15:01] #636 closed, assigned to nobody

[2018-05-18 11:40] ieggel opened #794 "Online Post-challenge submission shouldn't be allowed if participant not registered"
I've seen that post-challenge submissions are allowed even if participants are not registered for the clef task. E.g. a participant that has not signed the EUA can create post-challenge submissions.

@seanfcarroll this bug was introduced with the following line you wrote:
`
if @record.completed? && @record.post_challenge_submissions
  return true
`
I will provide a PR with a fix

[2018-05-20 16:25] spMohanty commented on #743
<img width="1136" alt="screen shot 2018-05-20 at 18 20 09" src="https://user-images.githubusercontent.com/1581312/40280956-1ef4a9e2-5c5b-11e8-9307-8d61e808bc3b.png">

[2018-05-22 08:16] scarroll32 commented on #794
Implemented

[2018-05-22 08:16] #794 closed, assigned to ieggel

[2018-05-22 08:59] ieggel commented on #791
Re-opened the issue since it is not solved

[2018-05-22 09:01] Sylvain-Bernard commented on #777
Seems that Invited participant issue (2) is still present

[2018-05-22 12:18] scarroll32 opened #799 "Submissions tab cannot display multiple challenge rounds"
Currently the submissions tab and the leaderboard are out of sync from a requirements perspective. The We have a different leaderboard for each challenge round, and can further split out the in-round and post-round submissions.

For the submissions, we look at the current active round only, and don't consider post-round submissions. How to display this will need some thought, perhaps we can follow

[2018-05-22 12:19] scarroll32 commented on #799
FYI @ieggel

[2018-05-22 12:34] scarroll32 opened #800 "Some challenge_round_ids are set to NULL"
<img width="671" alt="screen shot 2018-05-22 at 14 35 30" src="https://user-images.githubusercontent.com/11340230/40362644-6bbae764-5dcd-11e8-8809-8debe6ade6b1.png">

On the submissions table: have added a hard requirement for this to be set, and are investigating how it is possible.

[2018-05-22 12:36] ieggel commented on #799
Thanks @seanfcarroll ,

I agree with your immediate solution, as otherwise participants would have zero feedback when something goes wrong.

[2018-05-22 12:41] scarroll32 opened #801 "Implement ELK stack for cross crowdAI landscape logging"
There is probably a pre-built device available on AWS.

[2018-05-22 13:48] farnir opened #802 "Leaderboard not functionning in 5.2"
It seems that upgrading to 5.2 broke a non empty leaderboard.
That problem is issued by the third party erbse.
In order to fix that just add `gem 'erbse', '0.1.1'` in Gemfile in order to retrograde.

[2018-05-22 14:34] scarroll32 commented on #800
Patched, but needs further work. The challenge - submissions relationship is no longer normalized (both challenge and submissions have FK relationships with challenge_rounds).

[2018-05-22 14:38] scarroll32 commented on #802
Thank you @farnir

[2018-05-22 14:38] #802 closed, assigned to nobody

[2018-05-22 14:46] scarroll32 commented on #641
Will be refactored as part of the move to ActiveStorage under Rails 5.2

[2018-05-22 14:46] scarroll32 commented on #712
Agreed & closed

[2018-05-22 14:46] #712 closed, assigned to nobody

[2018-05-22 14:47] scarroll32 commented on #679
Will be handled as part of the move to ActiveStorage

[2018-05-22 14:57] scarroll32 commented on #791
Working now, this uncovered a series of other issues. Note [this related issue](https://github.com/crowdAI/crowdai/issues/799)

Also that the 'post submissions' switch must be turned on (as in the screen shot).

<img width="1178" alt="screen shot 2018-05-22 at 16 55 18" src="https://user-images.githubusercontent.com/11340230/40370685-14bd61a8-5de1-11e8-829c-2a5690540729.png">

[2018-05-22 14:57] #791 closed, assigned to scarroll32

[2018-05-22 14:59] scarroll32 commented on #801
This looks good ... will be around $50 / month on the recommended m3.medium

https://aws.amazon.com/marketplace/pp/B01N3YZR4I#pdp-pricing

[2018-05-22 15:01] scarroll32 commented on #801
https://about.gitlab.com/2018/04/13/monitoring-your-gitlab-environment-with-the-elk-stack/

[2018-05-22 17:13] spMohanty opened #804 "Submission page shows submissions from other challenges"
<img width="1119" alt="screen shot 2018-05-22 at 19 10 57" src="https://user-images.githubusercontent.com/1581312/40378558-3246fa82-5df4-11e8-9348-b6669975df70.png">

[2018-05-22 17:48] scarroll32 commented on #804
Fixed

[2018-05-22 17:48] #804 closed, assigned to nobody

[2018-05-24 07:18] scarroll32 opened #806 "Data extraction for IEEE challenge"
Probably a good idea to make this generalisable.

[2018-05-24 13:01] scarroll32 opened #807 "Add cookie consent"
https://github.com/insites/cookieconsent

[2018-05-24 13:42] farnir opened #808 "Bad redirection on image removal (Challenge)"
It seems that deleting an image in Challenge Edit is wrongly redirect.
It caused by challenge_controller.rb, line 107:
`redirect_to edit_challenge_path(@challenge), notice: 'Image removed.'`
Solution:
`redirect_to edit_organizer_challenge_path(@challenge.organizer, @challenge), notice: 'Image removed.'`

[2018-05-24 14:18] scarroll32 commented on #784
https://github.com/crowdAI/crowdai/commit/51fb97dfd621e045169804e52998ffe3a488e8f0

[2018-05-24 14:18] #784 closed, assigned to scarroll32

[2018-05-24 17:27] scarroll32 commented on #806
https://github.com/fringd/zipline

[2018-05-25 10:23] scarroll32 commented on #709
Fixed

[2018-05-25 10:23] #709 closed, assigned to scarroll32

[2018-05-25 10:54] scarroll32 opened #813 "Stop tracking IP and last sign in data"
FYI @marcelsalathe

[2018-05-25 10:57] scarroll32 commented on #806
Proposal:

**on the admin pages**

- ability to select submission / leaderboard rows via checkboxes (or select all) and then 1 click download all files in a zip.
- include a summary csv with submission id, scores and file key for all files downloaded

**on the leaderboard**
- after the challenge is over (or if admin / org), click an icon against each submission row to see all submission files, the

[2018-05-27 07:49] spMohanty opened #814 "error on `meta` update"
I get this error when I am trying to do an update for meta.
`unable to convert unpermitted parameters to hash`

Mostly happening because of this : https://github.com/crowdAI/crowdai/blob/master/app/controllers/api/external_graders_controller.rb#L119
Reference : https://stackoverflow.com/questions/46029084/rails-unable-to-convert-unpermitted-parameters-to-hash?rq=1

To replicate this, you can first

[2018-05-27 07:58] spMohanty commented on #814
A really desperate fix for this issue is simply deploying this commit : https://github.com/crowdAI/crowdai/commit/648a844c3b85b9cdd223fd7b4399e3c365307f96
(It will need me to explicitly specify meta_overwrite on all update calls)

But in general we will have to solve this issue properly, as this is critical to all the challenges which use the meta params.
And most of the challenges store challenge

[2018-05-27 16:18] scarroll32 commented on #814
To reproduce the issue:

1. Data in the submission record

[code]

2. API call

[code]

3. Error message

[code]

4. Expected behaviour

meta field should be updated to:

[code]

[2018-05-27 16:23] spMohanty commented on #814
At the moment,
we want the meta to hold to a json object which can have arbitrary parameters.
Ideally the update call should "merge" the json objects. But for not thats not possible,
so from `crowdai_api` I am always checking the latest value of the json and sending the whole updated json object again.

[2018-05-28 12:55] scarroll32 commented on #814
Agreement to:

- any hash is merged
- create key if it doesn't exist
- update if exists
- delete if passed empty string

Needs to support multi-level, arrays etc.

[2018-05-28 13:19] scarroll32 commented on #799
- add tabs as per leaderboard

[2018-05-28 13:22] scarroll32 commented on #783
Add an area between the nav and the top of the leaderboard where markdown can be rendered.
![screen shot 2018-05-28 at 15 21 41](https://user-images.githubusercontent.com/11340230/40616335-f4f78c64-628a-11e8-878a-a2c66e1fe03f.png)

[2018-05-28 13:24] scarroll32 commented on #743
Make the challenge heading a link.

To be redesigned

[2018-05-28 13:26] scarroll32 commented on #723
Accept via email for now

[2018-05-28 13:33] scarroll32 commented on #726
To be moved to template repo

[2018-05-28 13:37] scarroll32 opened #815 "Fix styling issues"
![screen shot 2018-05-28 at 15 37 03](https://user-images.githubusercontent.com/11340230/40616944-02a02eb4-628d-11e8-89ce-2ee061d76a6e.png)

[2018-05-28 13:48] scarroll32 commented on #708
Allow N faulty submissions per period set for submissions.

[2018-05-28 14:00] scarroll32 opened #816 "Add submissions remaining detail somewhere on the challenge"

[2018-05-28 14:27] scarroll32 opened #817 "Show submissions to all participants if leaderboard is visible"
If leaderboard is visible, any user can see all submissions both on the leaderboard and the submissions tab.

Look into some simple sorting.

Add a "my submissions" button and shows the submissions remaining for that participant.

[2018-05-28 14:29] scarroll32 commented on #688
If the organizer follows the challenge they will receive these emails.

[2018-05-28 14:34] #594 closed, assigned to ieggel

[2018-05-28 14:46] scarroll32 commented on #515
Closed

[2018-05-28 14:46] #515 closed, assigned to spMohanty

[2018-05-28 14:55] scarroll32 commented on #535
- add a registration button on the challenge header
- only if this button is pressed can the user download data, make submissions or comments
- participant count = number buttons

[2018-05-28 15:02] scarroll32 commented on #287
Sean to discuss with Jason

[2018-05-29 09:52] scarroll32 opened #818 "Submission detail page broken when challenge starting soon + submission"
Vizdoom

[2018-05-29 12:26] scarroll32 commented on #813
Implemented

[2018-05-29 12:26] #813 closed, assigned to scarroll32

[2018-05-29 15:33] scarroll32 commented on #816
@spMohanty : this is public, right?

[2018-05-29 15:33] scarroll32 commented on #818
Fixed

[2018-05-29 15:33] #818 closed, assigned to nobody

[2018-05-29 15:35] scarroll32 commented on #817
The current state is [described here](https://github.com/crowdAI/crowdai/blob/master/doc/leaderboard_submissions_visibility.md)

@spMohanty Please fork or otherwise update this description, and I'll modify the code.

[2018-05-29 15:35] spMohanty commented on #816
@seanfcarroll : Public in the sense ?
Every participant will only see their own submissions remaining detail.
(It goes somewhere on the challenge page {maybe, my submissions tab) right ?)

[2018-05-29 15:46] spMohanty commented on #817
@seanfcarroll : Updated the doc. Let me know if this makes sense.

[2018-05-29 15:58] scarroll32 commented on #816
OK, actually I think we said there would be a "my submissions" filter button, which would also expand a section above the submissions to show submission remaining details. I'll do a quick implementation which can be later designed by a professional (ie: Jason). I'll open a separate ticket of design items.

[2018-05-29 16:09] scarroll32 commented on #743
Implemented

[2018-05-29 16:11] scarroll32 commented on #688
Closed as already possible

[2018-05-29 16:11] #688 closed, assigned to scarroll32

[2018-05-30 05:46] marcelsalathe opened #820 "Is there any reason why we need to log IPs?"
Security concerns re people trying to game the system? @spMohanty?

If not, let's delete those fields in the database.

[2018-05-30 05:48] marcelsalathe opened #821 "complete "Download your data" feature"
Don't we have more data on participants, than what the Download your data currently returns?

I.e. all the submissions
All the forum posts
All the leaderboard positions
etc.

[2018-05-30 05:51] marcelsalathe opened #822 "Privacy Policy"
Is our privacy policy up to date? Are we specific enough to explain:

- what data we collect, and why?
- what third party services we use?

see https://www.extensionschool.ch/privacy as an example.

[2018-05-30 07:25] spMohanty commented on #820
@marcel.salathe: while the exact IP is not important, its still is very useful to know that a unique IP was used to access a service say 10000 times.
I would propose simply storing an encrypted version of the IP; and we choose a one way encryption to ensure that we can never decrypt it.
That way we do not have the actual ip of the user, but we still have a unique identifier for all points that wer

[2018-05-31 05:37] scarroll32 commented on #820
They have already been deleted from the Rails app to support GDPR.

I see you point Mohanty but I don't think we currently have the need for this, and there are *plenty* of other priorities right now.

[2018-05-31 05:46] scarroll32 commented on #822
Replied on Slack

[2018-05-31 05:46] scarroll32 commented on #821
Replied on Slack

[2018-05-31 05:46] scarroll32 commented on #820
Closing

[2018-05-31 05:46] #820 closed, assigned to spMohanty, scarroll32

[2018-05-31 07:13] scarroll32 commented on #821
As per discussion on Slack:

## Deletions

- posts, topics and comments can be deleted, but their place in the thread will be retained. If there is a deletion the post content will be updated to "This [post|comment|topic description] has been deleted by the author."

- submission information cannot be deleted, as submissions and leaderboard information is effectively research data and will be reta

[2018-05-31 07:43] scarroll32 commented on #822
To be updated to detail:

- which personal data we collect
- which personal data is needed for CLEF challenges only
- which external services we use
- submission data is retained for up to 10 years for research purposes

[2018-05-31 07:47] scarroll32 opened #824 "GitLab and GDPR"
- Need to flow though account deletions
- Review the GitLab GDPR policy and how it has been implemented into the platform.

[2018-05-31 07:47] scarroll32 commented on #824
This will also have implications for Rencu

[2018-05-31 08:55] scarroll32 commented on #817
Have made some minor edits https://github.com/crowdAI/crowdai/blob/master/doc/leaderboard_submissions_visibility.md

[2018-05-31 12:30] scarroll32 commented on #783
<img width="1240" alt="screen shot 2018-05-31 at 14 29 59" src="https://user-images.githubusercontent.com/11340230/40782317-2b4a584a-64df-11e8-9121-15dce2248237.png">

[2018-05-31 12:51] scarroll32 opened #827 "Design updates needed"
- [ ] Leaderboard padding
- [ ] Leaderboard message
https://github.com/crowdAI/crowdai/blob/master/doc/leaderboard_submissions_visibility.md
- [ ] My submissions switch and detail (priority)
- [ ] Doorkeeper view (https://github.com/crowdAI/crowdai/issues/603)
https://gitlab.crowdai.org/users/sign_in
https://gitlab.com/themes-templates
<img width="857" alt="screen shot 2018-06-19 at 10 23 20" src=

[2018-05-31 12:53] scarroll32 commented on #406
Definitely!

[2018-05-31 12:56] scarroll32 commented on #707
The text is a bit off also, will ask Jason to become involved in this one.

[2018-05-31 13:06] scarroll32 commented on #816
Implemented.

[2018-05-31 13:07] scarroll32 commented on #799
Implemented.

[2018-05-31 13:08] scarroll32 commented on #777
Implemented, thanks @farnir !

[2018-05-31 13:56] scarroll32 opened #829 "SQL fragments deprecated in Rails 5.2"
https://github.com/rails/rails/blob/5-2-stable/activerecord/CHANGELOG.md#rails-520beta1-november-27-2017

[2018-06-01 08:12] Sylvain-Bernard opened #830 "500 error for all https://www.crowdai.org/challenges/***/participant_challenges pages"
Challenge Participant page/tabs return 500

[2018-06-01 09:17] scarroll32 commented on #830
Fixed, but not yet deployed.

[2018-06-04 09:48] scarroll32 commented on #830
Implemented

[2018-06-04 09:48] #830 closed, assigned to nobody

[2018-06-04 09:49] #816 closed, assigned to nobody

[2018-06-04 09:49] scarroll32 commented on #817
Implemented

[2018-06-04 09:49] #817 closed, assigned to spMohanty

[2018-06-04 09:49] #799 closed, assigned to scarroll32

[2018-06-04 09:49] scarroll32 commented on #783
Implemented

[2018-06-04 09:49] #783 closed, assigned to nobody

[2018-06-04 09:50] #777 closed, assigned to nobody

[2018-06-04 09:50] scarroll32 commented on #721
Patched

[2018-06-04 09:50] #721 closed, assigned to jsnrynlds, scarroll32

[2018-06-04 09:50] scarroll32 commented on #675
Implemented

[2018-06-05 13:01] marcelsalathe opened #833 "Make blog post dates modifiable"
I'd like to be able to modify the publishing date of a blog post.

[2018-06-05 15:01] spMohanty opened #836 "Rename winner tab as "Winners""
In most of the case, the winners tab will point to the top-N participants, so it makes sense to name it as "Winners" instead of "Winner"

<img width="808" alt="screen shot 2018-06-05 at 17 01 09" src="https://user-images.githubusercontent.com/1581312/40984386-1356ad54-68e2-11e8-89a0-d0b6e883ec59.png">

[2018-06-05 15:19] scarroll32 commented on #836
Done, will go in with the next build.

[2018-06-05 15:24] scarroll32 commented on #833
Implemented, can be updated via the admin pages.

[2018-06-05 15:24] #833 closed, assigned to scarroll32

[2018-06-05 15:24] scarroll32 commented on #821
Implemented

[2018-06-05 15:24] #821 closed, assigned to scarroll32

[2018-06-05 16:49] scarroll32 commented on #580
Would be interesting to use the League of nations data to make one...

[2018-06-05 16:49] scarroll32 commented on #836
Done

[2018-06-05 16:49] #836 closed, assigned to nobody

[2018-06-06 00:45] spMohanty opened #837 "Syntax highlighting for python has possible CSS conflicts"
Something seems off here :
<img width="1001" alt="screen shot 2018-06-06 at 02 41 04" src="https://user-images.githubusercontent.com/1581312/41009746-2463a524-6933-11e8-8369-c2fbf6e96f10.png">
Note that the lines seem to have an extra background around them.

This is present at : https://www.crowdai.org/topics/sharing-some-tips-to-increase-the-accuracy-and-report-error-of-rcnn/discussion

Also doe

[2018-06-06 00:47] spMohanty commented on #837
It seems Rouge does support the solarized theme : https://github.com/poole/lanyon/issues/100

[2018-06-06 09:01] spMohanty opened #838 ""Show leaderboard" option doesnt work on challenges which are complete"
<img width="1313" alt="screen shot 2018-06-06 at 10 59 05" src="https://user-images.githubusercontent.com/1581312/41028043-d695509a-6978-11e8-95c8-86d665f4242b.png">

I wanted to make the ieee investment ranking challenge leaderboard visible to everyone.

[2018-06-06 09:14] spMohanty opened #839 "Blog authorship on landing page"
<img width="1143" alt="screen shot 2018-06-06 at 11 12 03" src="https://user-images.githubusercontent.com/1581312/41028853-95e751e0-697a-11e8-97a9-d195493ccc2d.png">

@jsnrynlds design also had the authorship information (a small profile picture etc) in the block on the landing page for blog posts.

Was it excluded intentionally ? or is it a bug ?

[2018-06-07 07:12] scarroll32 opened #840 "422 on challenge updates"
Updating some of the checkboxes in the challenge configuration is leading to a 422.

<img width="803" alt="screen shot 2018-06-07 at 08 52 02" src="https://user-images.githubusercontent.com/11340230/41083899-c1a651ba-6a32-11e8-8c1c-30b36404f6e4.png">

Running in dev

<img width="1038" alt="screen shot 2018-06-07 at 09 11 44" src="https://user-images.githubusercontent.com/11340230/41083916-db23c28a

[2018-06-07 08:00] scarroll32 opened #842 "Security vulnerability in Sinatra 2.0.1"
<img width="1277" alt="screen shot 2018-06-07 at 09 59 02" src="https://user-images.githubusercontent.com/11340230/41086180-8a62a9a4-6a39-11e8-8d2e-8fc24f783df5.png">

[2018-06-07 08:00] scarroll32 commented on #842
Upgraded to 2.0.2

[2018-06-07 08:00] #842 closed, assigned to nobody

[2018-06-07 08:22] spMohanty commented on #675
@seanfcarroll : I could not figure out how to add the note on top of the leaderboard ?

[2018-06-07 08:46] scarroll32 commented on #840
Temporary workaround https://github.com/crowdAI/crowdai/commit/9fec8d66efe4cae469ff93abeff0022ca4ef1238

From https://stackoverflow.com/a/48762137/993592

[2018-06-07 08:47] scarroll32 commented on #838
Leaderboard visible, issue tracked here: https://github.com/crowdAI/crowdai/issues/840

[2018-06-07 08:47] #838 closed, assigned to nobody

[2018-06-07 08:59] spMohanty commented on #840
@seanfcarroll : Did you look at this : https://github.com/rails/rails/issues/22965#issuecomment-336190639

[2018-06-07 14:26] scarroll32 commented on #840
Thanks for the tip @spMohanty, I thought that could be the issue, esp with https://github.com/crowdAI/crowdai/issues/747

But the issue also occurs locally where there is no CDN. After much investigation, the issue is somehow tied to Turbolinks + 5.2. There may be some gem dependency causing the issue, but I haven't tracked it down.
Disabled turbolinks on forms for now, more investigation to come

[2018-06-07 14:27] scarroll32 commented on #840
Possibly related https://github.com/rails/rails/issues/24257

[2018-06-12 05:23] spMohanty opened #845 "Cannot view the leaderboard video for Ai-for-prosthetics challenge"
https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/leaderboards

On clicking the video, I get an "You are not authorised to access this page" error.

[2018-06-12 07:40] scarroll32 commented on #845
The **Submission Details Visible?** setting needs to be turned on. It's set now & is working.

https://github.com/crowdAI/crowdai/blob/master/doc/leaderboard_submissions_visibility.md

[2018-06-12 07:40] #845 closed, assigned to scarroll32

[2018-06-12 08:50] spMohanty opened #846 "Videos on leaderboard"
On Firefox,

The videos on the leaderboard (https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/leaderboards) do not run on page load, and it could be confused for a static image.

When I click on the image, it takes me to the submission detail page where it doesnt play either.

Expected behaviour :
* Videos on the leaderboard play automatically, and loop forever
    * This h

[2018-06-13 17:11] scarroll32 commented on #822
Implemented

[2018-06-13 17:11] #822 closed, assigned to scarroll32

[2018-06-13 17:12] scarroll32 commented on #467
Done

[2018-06-13 17:12] #467 closed, assigned to jsnrynlds, scarroll32

[2018-06-14 07:21] scarroll32 commented on #839
They are not in the design in the landing page, only on the blog index page.

<img width="1062" alt="screen shot 2018-06-14 at 09 15 22" src="https://user-images.githubusercontent.com/11340230/41397144-8794eb04-6fb3-11e8-9a7c-146720a3586c.png">

<img width="1050" alt="screen shot 2018-06-14 at 09 21 06" src="https://user-images.githubusercontent.com/11340230/41397366-4c0bb2ec-6fb4-11e8-96ab-16e774