[2018-06-14 07:21] #839 closed, assigned to scarroll32

[2018-06-14 07:23] scarroll32 commented on #706
Closed as duplicated by #815

[2018-06-14 07:23] #706 closed, assigned to nobody

[2018-06-14 07:23] scarroll32 commented on #815
https://github.com/crowdAI/crowdai/blob/master/app/assets/stylesheets/_layout-molecules.scss#L44-L61

[2018-06-14 08:17] scarroll32 commented on #807
Done

[2018-06-14 08:17] #807 closed, assigned to scarroll32

[2018-06-14 08:29] scarroll32 commented on #634
Solved using the ```api: true``` flag in tests.

[2018-06-14 08:29] #634 closed, assigned to nobody

[2018-06-14 08:30] #840 closed, assigned to scarroll32

[2018-06-14 08:41] scarroll32 opened #849 "Create app to receive winner's documents"
Build a small app to capture information needed for reimbursements.

- name
- address
- scan of passport (pdf)
- scan of expensed items (pdf)
- upload completed EPFL PDF form
- scan of bank letterhead (PDF)

+ sign in account

To be discussed with @XCaellaX  and Marina

[2018-06-14 08:54] scarroll32 commented on #824
https://about.gitlab.com/gdpr/

[2018-06-14 08:54] #824 closed, assigned to nobody

[2018-06-14 10:32] scarroll32 commented on #603
Implemented

<img width="1163" alt="screen shot 2018-06-14 at 12 32 25" src="https://user-images.githubusercontent.com/11340230/41407220-096ed836-6fcf-11e8-97d0-373c8164e63b.png">

[2018-06-14 10:32] #603 closed, assigned to nobody

[2018-06-14 10:41] scarroll32 commented on #600
Doesn't seem like this can be done without altering Gitlab.

[2018-06-14 10:41] #600 closed, assigned to scarroll32

[2018-06-14 10:43] scarroll32 commented on #607
Cannot be done without altering Gitlab source

[2018-06-14 10:43] #607 closed, assigned to nobody

[2018-06-14 10:44] scarroll32 commented on #560
Fixed

[2018-06-14 10:44] #560 closed, assigned to nobody

[2018-06-15 06:44] #723 closed, assigned to nobody

[2018-06-15 06:46] scarroll32 commented on #535
This is almost done. @XCaellaX @spMohanty do we want to send out an email to participants when it is released ?

Separately we could probably use a "latest news" banner message for this type of thing.

[2018-06-15 17:09] spMohanty opened #851 "“Accept Cookie” rendered weird on mobile"
![b1e4a9f5-ddf3-473c-98e9-83d02499d9f0](https://user-images.githubusercontent.com/1581312/41480653-60f32890-70cf-11e8-97a4-4cfc341406d5.png)

[2018-06-18 04:49] marcelsalathe commented on #851
Can confirm, on all pages. Should fix this asap, thx

[2018-06-18 07:02] scarroll32 opened #852 "Cannot change avatar photo"
As per email to info@crowdAI.org

Possibly related to https://github.com/crowdAI/crowdai/issues/840

[2018-06-18 07:09] scarroll32 commented on #535
This is 75% done on this branch: https://github.com/crowdAI/crowdai/tree/issue_535

The missing parts are updating the API to reflect the registered users, converting existing data and tests.

A question to solve - which users in our current 'registered participants' list do we convert. Current they are counted if:

- downloaded a file
- made a submission
- hearted the challenge
- followed the cha

[2018-06-18 07:10] scarroll32 opened #853 "Latest news banner"
Add a way to show latest news for participants, probably a closable banner at the top of the page.

[2018-06-18 07:12] scarroll32 commented on #708
Postponed to August.

[2018-06-18 07:13] scarroll32 commented on #535
Postponed to August.

[2018-06-18 07:14] scarroll32 commented on #287
Postponed to August

[2018-06-18 07:48] scarroll32 opened #854 "Submit via page for non-clef challenges"
Needed for some of the July challenges.

[2018-06-18 08:26] scarroll32 commented on #679
Posponed to August

[2018-06-18 11:27] scarroll32 commented on #829
https://github.com/crowdAI/crowdai/blob/master/config/initializers/new_framework_defaults.rb#L1

[2018-06-18 11:42] scarroll32 commented on #852
Fixed

[2018-06-18 11:42] #852 closed, assigned to scarroll32

[2018-06-18 11:44] scarroll32 commented on #808
Fixed

[2018-06-18 11:44] #808 closed, assigned to scarroll32

[2018-06-18 11:54] scarroll32 commented on #730
Fixed

[2018-06-18 11:54] #730 closed, assigned to nobody

[2018-06-18 13:49] scarroll32 commented on #854
As discussed on Slack

- [x] Will apply only if the **Online submissions permitted?** setting is configured on the Challenge.
- [x] Single file only; multiples will be tarred by the participant
- [x] crowdAI calls the grader to notify about a submission on https://grader.crowdai.org:10000/enqueue_grading_job

[2018-06-19 16:59] scarroll32 commented on #854
Implemented, but needs end to end testing with the grader

[2018-06-19 16:59] #854 closed, assigned to nobody

[2018-06-21 11:05] scarroll32 opened #857 "Upgrade dependencies for crowdAI music evaluation interface"
Is locked to an older version of node - incompatible with Heroku CLI

<img width="880" alt="screen shot 2018-06-21 at 13 04 53" src="https://user-images.githubusercontent.com/11340230/41715430-b7289398-7553-11e8-856d-03f7d8a3d651.png">

https://github.com/crowdAI/crowdai-music-evaluation-interface

[2018-06-21 12:10] spMohanty opened #858 "Submissions Page should be accessible without logging in"
https://www.crowdai.org/challenges/31/submissions/7846

[2018-06-21 12:38] jsnrynlds commented on #815
@seanfcarroll @marcelsalathe maybe the best solution here would be to remove the names of the organisers and display them using a tooltip on hover?

![crowdai_multiple_organisers_example_1](https://user-images.githubusercontent.com/1162939/41719599-6a57f504-7558-11e8-8173-4f5a650449a6.png)

[2018-06-21 12:53] jsnrynlds commented on #853
@marcelsalathe @seanfcarroll I was thinking we could use the existing alert bar for this, simply changing its appearance a little...

![crowdai_home_latest_news_alert_v1 1](https://user-images.githubusercontent.com/1162939/41720279-72b4ea20-755a-11e8-9d59-01122b05a203.png)

[2018-06-21 13:01] marcelsalathe commented on #853
I think it should be something more flashy...

[2018-06-21 13:13] scarroll32 commented on #116
It seems the workaround is causing a different issues.

@jsnrynlds could you please update the button-group to also accept links styled as buttons.
cc @yannis

[2018-06-21 14:00] jsnrynlds commented on #116
@seanfcarroll The button group already supported links styled as buttons, but the input styles were overwriting it. I've added an `!important` rule on _line 51_ of `_layout-molecules.scss` to prevent this.

`.button-group {
  overflow: hidden;
  padding-bottom: 4px;
  .btn {
    float: left;
    margin-right: 16px !important;
    &:last-of-type {
      margin-right: 0;
    }
    @media screen and

[2018-06-21 14:20] spMohanty commented on #858
Also the videos do not play by default :-?

[2018-06-22 08:47] scarroll32 commented on #857
Hi @MasterScrat I wonder if this would be a good self-contained first issue  to start on: it is in a separate repo.

[2018-06-22 08:49] scarroll32 commented on #846
Assigned to @MasterScrat - this is a pure js issue. Existing (currently broken) code is [here](https://github.com/crowdAI/crowdai/blob/master/app/assets/javascripts/controllers/leaderboards_controller.js)

[2018-06-22 08:55] scarroll32 commented on #591
Assigned to Florian @MasterScrat

[2018-06-22 08:56] scarroll32 commented on #424
Assigned to @MasterScrat , please discuss implementation with @spMohanty

[2018-06-22 08:57] scarroll32 commented on #806
Closed due to inactivity

[2018-06-22 08:57] #806 closed, assigned to scarroll32

[2018-06-22 08:58] scarroll32 commented on #715
As discussed at SDSC meeting, the general idea will be for us to use the Rencu integration. Further discussion requried.

Assigned to @MasterScrat

[2018-06-22 09:00] scarroll32 commented on #687
The documentation rendering looks pretty bad, I think this should be fixed soon.

<img width="862" alt="screen shot 2018-06-22 at 11 00 11" src="https://user-images.githubusercontent.com/11340230/41768044-7fe2731e-760b-11e8-841c-99dbbbce7dc7.png">

[2018-06-22 09:02] scarroll32 commented on #853
@spMohanty do you have any points you would like to add about how this should look and behave?

@jsnrynlds I am thinking we could use the close function of the flash bar, but perhaps it would stay in place until the user specifically closes it. It could sit right on top of the page (above the navbar).

[2018-06-22 09:04] scarroll32 commented on #703
@ieggel When will the next round of Clef challenges start? We would want the code completely refactored by then.

[2018-06-22 09:13] scarroll32 commented on #574
Linked issue [roles](https://github.com/crowdAI/crowdai/issues/554)

[2018-06-22 09:13] scarroll32 commented on #325
Linked issue [roles](https://github.com/crowdAI/crowdai/issues/554)

[2018-06-22 09:16] ieggel commented on #703
Hi @seanfcarroll

I think the registrations will start at the end of october.

Cheers,
-Ivan

[2018-06-22 09:20] scarroll32 opened #862 "Organizers should not be able to change challenge status"
Organizer accounts should be able to modify all aspects of a challenge while in **draft**, except the challenge status. Only crowdAI admins should be able to move a challenge into running mode or otherwise change the status.

We need to consider what aspects of a challenge an organizer can change once a challenge is running, and implement this through role-based security.

Related issues [roles](h

[2018-06-22 09:21] scarroll32 commented on #116
This affects almost every form in the application, they all need to be adjusted. (look for button_to)

[2018-06-22 09:22] scarroll32 commented on #429
This needs to be implemented in conjunction with https://github.com/crowdAI/crowdai/issues/862

[2018-06-22 09:24] scarroll32 commented on #683
@jsnrynlds if we can, let's combine this with the other work on user mentions.

[2018-06-22 09:26] scarroll32 commented on #857
@spMohanty could you assist Florian on this one?

[2018-06-22 09:27] scarroll32 commented on #646
@XCaellaX let's discuss further, but I think you can be involved in driving this.

[2018-06-22 09:37] scarroll32 opened #863 "Documentation site"
Documentation is being developmented as markdown documents in the /doc folder. Additional documentation is available the grader, broker and client repos. There are two types of documents needed:

- Process documents which describe the process flows through the application, focused on an end-user or organizer-user audience
- Technical documents, which can be generated using Ruby Rdoc or Python docs

[2018-06-22 09:39] jsnrynlds commented on #853
@seanfcarroll @marcelsalathe @spMohanty

I'd like to avoid a red-background for this. How about we use a small image? Not sure about displaying it above the header.

![1](https://user-images.githubusercontent.com/1162939/41769820-74d1ded6-7608-11e8-83fb-e4b1a8cd71d3.png)

![2](https://user-images.githubusercontent.com/1162939/41769821-74eb3200-7608-11e8-80a5-7a937bd0ea13.png)

[2018-06-22 09:47] scarroll32 commented on #853
I like the idea of a small image. Here's GitLab's version of it.

<img width="1215" alt="screen shot 2018-06-22 at 11 46 43" src="https://user-images.githubusercontent.com/11340230/41770269-fc965582-7611-11e8-9bc7-e1e021261cae.png">

[2018-06-22 09:58] scarroll32 commented on #857
Related issue https://github.com/crowdAI/crowdai/issues/655

[2018-06-22 10:32] jsnrynlds commented on #571
Added coloured badges to `atoms.html`

[2018-06-22 13:21] scarroll32 opened #865 "Move challenge score attributes to the challenge round level"
Challenge score titles and leaderboard ordering are configurable at the challenge level. These should be move to the challenge round. This will allow different score titles and behaviour on a per-round basis.

<img width="749" alt="screen shot 2018-06-22 at 15 21 01" src="https://user-images.githubusercontent.com/11340230/41778721-ea542d72-762f-11e8-9d1f-27b2160f64d4.png">

Because the leaderboard

[2018-06-22 13:22] scarroll32 opened #866 "Is Grader Identifier still used?"
On the challenge we have a **Grader Identifier** field. @spMohanty is this still needed?

<img width="743" alt="screen shot 2018-06-22 at 15 21 52" src="https://user-images.githubusercontent.com/11340230/41778789-1b25acc8-7630-11e8-854e-519f0abcb941.png">

[2018-06-22 13:42] spMohanty commented on #866
Hi Sean,

Yes it is being used quite a lot actually now.
For all future challenges using the broker, we will need the grader
identifier.

Mohanty

On Fri, Jun 22, 2018 at 3:22 PM, Sean <notifications@github.com> wrote:

[2018-06-22 13:47] scarroll32 commented on #866
Thanks

[2018-06-22 13:47] #866 closed, assigned to spMohanty

[2018-06-22 14:15] scarroll32 opened #867 "Multiple organizer challenges"
Challenges with IDs below are multiple orgs and hard-coded with the slug 'nips-2018-adversarial-vision-challenge'

- 28
- 39
- 40

Challenge ID 31 is hard-coded to 'nips-2018-ai-for-prosthetics-challenge'

[2018-06-22 14:19] scarroll32 commented on #675
- [x] Markdown field at the challenge round level
- [x] If blank ignore
- [x] Style as alert (info)
- [x] Place between pills and head of leaderboard

[2018-06-22 14:30] spMohanty commented on #846
@seanfcarroll : We will probably need this before @MasterScrat  starts.
It would be good to `showControls` on the individual submissions page : [https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/submissions/7846](https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/submissions/7846)

and also, play the video by default on page load.
(the performance iss

[2018-06-22 14:37] scarroll32 commented on #867
<img width="1169" alt="screen shot 2018-06-22 at 16 34 52" src="https://user-images.githubusercontent.com/11340230/41782329-37572b88-763a-11e8-903c-9c0912e15c52.png">

[2018-06-22 15:45] scarroll32 commented on #867
Implemented

[2018-06-22 15:45] #867 closed, assigned to nobody

[2018-06-22 15:46] scarroll32 commented on #846
<img width="899" alt="screen shot 2018-06-22 at 17 45 27" src="https://user-images.githubusercontent.com/11340230/41785896-3e636ec8-7644-11e8-8c3d-4617a1955efc.png">

Done

[2018-06-22 15:46] #846 closed, assigned to MasterScrat

[2018-06-24 07:19] spMohanty opened #868 "API call with empty error message throws an error"
[code]

The call was made when changing the `grading_status` of a submission to "failed"

[2018-06-25 07:16] scarroll32 commented on #868
That's right, an error message must be provided if the grading_status is failed.

[2018-06-25 07:16] #868 closed, assigned to nobody

[2018-06-25 08:34] scarroll32 opened #869 "Organizer should have an administrative function"
We have built and continue to build administrative functions for organizers, esp. for the CLEF challenges. Instead a cut-down version of the Admin panel can be made available to Organizer Participants. This would help in:

- [ ] Managing challenge participants
- [ ] Managing submissions
- [ ] Monitoring and editing forum content

[2018-06-25 13:34] bkDJ commented on #851
While waiting for design input, there are a few ways to fix this as a stop-gap measure.

1) If the cookie notification should be at the bottom of the screen, line 33 can be removed here:
https://github.com/crowdAI/crowdai/blob/21cc5041cd8e08ee5516ddc470c80061a234bfe8/app/assets/stylesheets/_cookies.scss#L29-L34

2) If the cookie notification should be at the top of the screen, in such a way that i

[2018-06-25 15:10] scarroll32 commented on #675
As discussed, this will now be at the challenge round level. Will eventually need some design work.

[2018-06-25 15:29] scarroll32 commented on #703
Thanks Ivan.

[2018-06-26 06:54] scarroll32 commented on #535
Implemented

[2018-06-26 06:54] #535 closed, assigned to scarroll32

[2018-06-26 06:54] scarroll32 commented on #858
Implemented

[2018-06-26 06:54] #858 closed, assigned to nobody

[2018-06-26 06:55] scarroll32 commented on #851
Patched but leaving this open to be fixed properly by Jason.

[2018-06-26 06:57] scarroll32 commented on #675
Implemented

[2018-06-26 06:57] #675 closed, assigned to nobody

[2018-06-26 08:58] scarroll32 commented on #571
As per the design on the challenges page we will have:

red = running
yellow = starting soon
green = completed

<img width="663" alt="screen shot 2018-06-26 at 10 57 56" src="https://user-images.githubusercontent.com/11340230/41900836-d8a78bfc-792f-11e8-99f1-7f2870f5eec9.png">

[2018-06-26 09:05] spMohanty commented on #571
@jsnrynlds @seanfcarroll : shouldnt we have green = running, yellow = starting soon, and red = completed ?

[2018-06-26 09:07] scarroll32 commented on #571
OK we will go with:

green = running
yellow = starting soon, draft
red = completed

[2018-06-26 10:37] scarroll32 commented on #571
Implemented

[2018-06-26 10:37] #571 closed, assigned to jsnrynlds, scarroll32

[2018-06-26 10:38] scarroll32 commented on #815
Changed to tooltip on hover.

[2018-06-26 10:38] #815 closed, assigned to jsnrynlds, scarroll32

[2018-06-28 13:33] scarroll32 commented on #747
Fixed

[2018-06-28 13:33] #747 closed, assigned to nobody

[2018-06-28 13:34] scarroll32 commented on #747
https://github.com/crowdAI/crowdai/commit/c1f2f34734c138d60e141834f63ea4c96db656cf

[2018-06-28 14:38] scarroll32 commented on #591
Fixed

<img width="648" alt="screen shot 2018-06-28 at 16 38 31" src="https://user-images.githubusercontent.com/11340230/42041224-bb5f2578-7af1-11e8-9b5b-680c98f70586.png">

[2018-06-28 14:38] #591 closed, assigned to MasterScrat

[2018-06-28 14:52] scarroll32 commented on #424
GitLab also use Kramdown and have a [great user guide](https://docs.gitlab.com/ee/user/markdown.html). Will investigate how they have set it up and possibly follow their lead.

[2018-06-28 14:54] scarroll32 commented on #837
I prefer the dark styling also.

[2018-06-29 07:02] scarroll32 commented on #424
It looks like we have a double syntax highlighting going on.

<img width="584" alt="screen shot 2018-06-29 at 09 01 27" src="https://user-images.githubusercontent.com/11340230/42077998-22b91a1a-7b7b-11e8-990a-6cc329c924bc.png">
<img width="472" alt="screen shot 2018-06-29 at 09 01 20" src="https://user-images.githubusercontent.com/11340230/42077999-22d276e0-7b7b-11e8-8066-fd8fbc5784c0.png">

[2018-06-29 07:54] scarroll32 opened #874 "Migrate markdown to GitLab flavoured markdown"
GitLab previously used Kramdown for their markdown, but have now moved to their own [GitLab Flavored Markdown](https://docs.gitlab.com/ee/user/markdown.html).

This issue is a proposal, as it will be some work to do so, but I think in the longer term it would be a good idea to update the markdown editor and rendering to be based on this. The editor itself is built in VueJS, but this could be conve

[2018-06-29 09:55] scarroll32 commented on #656
Fixed

[2018-06-29 09:55] #656 closed, assigned to scarroll32

[2018-06-29 09:56] scarroll32 commented on #590
Create Article button has been added ... need to create a notification / approval workflow.

[2018-06-29 10:38] scarroll32 commented on #863
Documentation is [here](https://github.com/crowdAI/crowdai/blob/master/doc/documentation.md)

[2018-06-29 10:59] scarroll32 commented on #424
Patched for now, but the markdown editor needs [a refresh](https://github.com/crowdAI/crowdai/issues/874)

[2018-06-29 10:59] #424 closed, assigned to MasterScrat

[2018-06-29 11:00] scarroll32 commented on #837
Patched ... but also https://github.com/crowdAI/crowdai/issues/874

[2018-06-29 11:00] #837 closed, assigned to nobody

[2018-06-29 13:42] scarroll32 opened #878 "Add mass delete for submissions for admins"
Add a button or extend the existing selector to allow mass deletions, eg: all submissions for a participant in a specific challenge, for admins and organizers.

The equivalent of:

[code]

[2018-07-04 11:04] spMohanty opened #879 "Discussion Forum text box renders weird"
<img width="1243" alt="screen shot 2018-07-04 at 13 03 26" src="https://user-images.githubusercontent.com/1581312/42273842-b84cbd44-7f8a-11e8-9a56-cfa1ca572f8c.png">

Seen at : https://www.crowdai.org/topics/error-in-submission/discussion

[2018-07-04 11:05] spMohanty commented on #879
....
and clicking on the "ADD COMMENT" button throws a 500.

[2018-07-04 11:15] spMohanty opened #880 "500 on AI for Prosthetics Submission Page"
https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/submissions

[2018-07-04 12:43] #879 closed, assigned to yannis

[2018-07-04 14:10] yannis commented on #880
This issue is probably due to the fact that a learner destroyed her account, leaving behind orphan submissions. Indeed the  `dependent: :nullify` flag set on the association between Participant and Submission, just nullify participant_id in Submission.

This issue could ripple on other endpoints as the nullify flag is used on other associations.

[code]

To fix this, I would recommend either using

[2018-07-17 14:27] Sylvain-Bernard opened #883 "Dataset message/announcements"
Would be nice to be able to display a message when challenge doesn't have a Dataset to redirect participants to GitHub repos for example.

Something like #783 would be perfect!

[2018-07-17 21:22] spMohanty commented on #883
In the meantime, should we simply upload a single page PDF with a link to the respective starter kits ?

[2018-07-18 14:54] spMohanty opened #884 "Create a doc with instructions for gitlab account"
- Ask users to login to gitlab.crowdai.org once
- Show them how to add their ssh keys
- If the users do not have ssh keys setup, show them how to create one
- And an optional section on how to create a HTTP Personal Access token

All the steps should include screenshots.

I am starting to add a `tl;dr` block to all the running challenge starter kits.
Where if they already have their ssh keys setup

[2018-07-18 17:56] spMohanty opened #885 "Lots of failed jobs in SideKiq"
![screen shot 2018-07-18 at 19 55 18](https://user-images.githubusercontent.com/1581312/42898833-8f6bcd4e-8ac4-11e8-9900-c7a70547b9e6.png)

[2018-07-20 08:16] Sylvain-Bernard opened #886 "Submission share links broken"
Link generated when **copy url** or on **Facebook** or **Twitter** bottons are not the rights ones.
Issue generalized on every challenges.

![image](https://user-images.githubusercontent.com/15749650/42991380-9637ea76-8c05-11e8-91d7-7ed8ce325db2.png)

[2018-07-25 22:25] spMohanty opened #888 "Redesign Featured Challenges"
<img width="1039" alt="screen shot 2018-07-26 at 00 23 24" src="https://user-images.githubusercontent.com/1581312/43230837-2bd9a570-906a-11e8-886c-76ec3020a0b4.png">

Should we consider having a grid instead of a list for featured challenges ?
I think 5 is still a limited number, and we would soon want to highlight a few more than 5 challenges.
Something like 8-ish I believe.

 @marcelsalathe @sea

[2018-07-27 12:09] Sylvain-Bernard opened #889 "A better way for partcipants to publicly share their accomplishments"
Automatically generate a protected "certificate of participation/rank" PDF at the end of challenge, that participants could download on their profile.

Should contain (open to discussion):
- crowdAI logo
- Challenge name
- Challenge URL
- Challenge dates (start/end)
- 2 liners explaining challenge task/problem?
- participant username/real name <- with option to switch between the two?
- rank in th

[2018-07-27 12:52] marcelsalathe commented on #889
Just changed the title to something more generic. I think a certificate is one good way, but not the only one. Probably best to brainstorm this, but I agree that this is a high priority issue. Perhaps we can do some easy things quite quickly, and PDF generation later on...

[2018-07-30 07:59] scarroll32 opened #890 "Baseline feature"
After the submission is created an organizers / admin can mark it as being a baseline. A text column is available to describe the baseline.

It is displayed in the leaderboard as a badge, under the username.

Every baseline entry has it's own leaderboard entry.

Baseline should be excluded from ranking.

Baseline is displayed as a different type of row.

- score
- score secondary
- media
- submitt

[2018-07-30 08:10] scarroll32 opened #891 "Publish crowdAI events to Prometheus endpoint"
Host a Prometheus endpoint for:

List of events:

- submission made
- submission graded
- submission failed
- participant signup
- participant deletions

[2018-07-30 08:16] scarroll32 opened #892 "activeadmin bulk download"

[2018-07-30 08:48] scarroll32 commented on #889
Needs some discussion / design, but we there are [tools](https://github.com/mileszs/wicked_pdf) to build styled PDFs pretty easily.

I think we could also look at some type of larger badge with most of the same details and a link to the submission. There could be a page of these badges on the participant profile.

[2018-07-30 10:44] scarroll32 commented on #889
- public toggle

[2018-07-30 11:30] scarroll32 commented on #889
To profile page:

- add Stats tab
- toggle for public view

Badge types

- First time badge  (bronze)
- Accomplishment badge (silver)
- Outstanding badge (gold)

Submission Count : 1 / 100 / 1000
Getting upvotes: 1 / 25 / 250
Top 1 during: 1 / 5 / 25
Top 5 during: 1 / 10 / 50
Tutorials: 1 / 3 / 30
Top 1: 1 / 2 / 3
Top 5: 1 / 3 / 10
Top 10: 1 / 5 / 20

[2018-07-31 10:57] scarroll32 commented on #891
Implemented and secured behind basic auth. Password is the CROWDAI_API_KEY env variable (username is anything).

[2018-07-31 10:57] #891 closed, assigned to scarroll32

[2018-07-31 14:14] scarroll32 opened #899 "Update AWS security rules for Prometheus server"
For gitlab.crowdai.org

[2018-07-31 15:04] scarroll32 opened #900 "Participant names cannot contain a dot"
Participant names currently allow a dot. This is causing a problem with the Api::ParticipantsController#show method.

- Implement a restriction on participant names to forbid dots (& other illegal characters)
- Advise existing users to change their names

[2018-07-31 15:16] scarroll32 commented on #900
[code]

[2018-07-31 15:21] scarroll32 commented on #801
Not required with new monitoring

[2018-07-31 15:21] #801 closed, assigned to scarroll32

[2018-08-01 13:57] jsnrynlds commented on #889
Quick question @seanfcarroll – what's the difference between "Top 1 during" (during what?) and "Top 1"?

I like this idea – maybe we could make it a little more prominent? I was thinking that this information could also be shown under the avatar in the user's profile (linking to stats).'Stats' wouldn't necessarily need to be the first item in the user sub-nav then (although maybe you'd want it to

[2018-08-02 12:14] jsnrynlds commented on #889
Hi @marcelsalathe – just checking this didn't slip through the net (as I didn't mention you in comment).

[2018-08-02 12:20] marcelsalathe commented on #889
During a challenge - ie at any time; vs final leaderboard

[2018-08-02 14:48] scarroll32 commented on #889
Hi Jason, the difference is that Top 1, 5 & 10 are at the end of a challenge - ie: who is 1st place, 2-5th place etc. During the challenge, the first place may change constantly, so there might be multiple people who achieve top-1-during for a specific challenge.

I've started implementing this feature, and the badges are described [here](https://github.com/crowdAI/crowdai/blob/merit/config/initia

[2018-08-02 14:52] scarroll32 commented on #899
Leaving this one with you @spMohanty

[2018-08-03 09:20] scarroll32 commented on #889
[Developer notes](https://stackoverflow.com/questions/15793547/can-the-merit-gem-recalculate-reputation-and-re-evaluate-badges-and-ranks) for converting historical data

Other developer notes

- https://stackoverflow.com/questions/9608069/modern-tools-for-ruby-rails-for-building-an-achievement-system/9664893

- http://pete2786.github.io/2015/07/05/merit-gem.html

[2018-08-03 10:59] scarroll32 opened #903 "Stop using Rails Assets"
Intermittent TLS cert issues. Let's just drop it.

https://github.com/crowdAI/crowdai/pull/902/commits/75f45a3a5740a8f01d7017cef31e303279164d35

[2018-08-03 11:45] scarroll32 commented on #900
Implemented

[2018-08-03 11:45] #900 closed, assigned to scarroll32

[2018-08-03 15:17] scarroll32 commented on #885
Fixed

[2018-08-03 15:17] #885 closed, assigned to nobody

[2018-08-03 15:18] scarroll32 opened #906 "Log full payload of inbound API calls"

[2018-08-06 07:35] scarroll32 commented on #906
Actually this should be already happening ... @MasterScrat what is missing that you need?

[2018-08-06 07:59] MasterScrat commented on #906
I only see the URLs of the requests:

`2018-08-03T17:04:30.738Z 35 TID-grz6gwz7b INFO: Started POST "/api/external_graders?challenge_client_name=test_challenge&api_key=39d009e38c373283c92367ff38423dd1&grading_status=submitted" for 172.18.0.9 at 2018-08-03 17:04:30 +0000`

For debugging purposes it would be good to get the full POST payload.

But it's potentially going to be a *lot* of data so it s

[2018-08-06 08:14] scarroll32 commented on #874
Will keep the existing editor and tune it

[2018-08-06 08:14] #874 closed, assigned to nobody

[2018-08-06 08:16] scarroll32 commented on #692
Closed as duplicated by https://github.com/crowdAI/crowdai/issues/889

[2018-08-06 08:16] #692 closed, assigned to nobody

[2018-08-06 08:16] scarroll32 commented on #787
Closed as this can now be done with the Grafana console

[2018-08-06 08:16] #787 closed, assigned to nobody

[2018-08-06 08:17] scarroll32 commented on #262
Closed to be implemented in Grafana if needed

[2018-08-06 08:17] #262 closed, assigned to spMohanty, scarroll32

[2018-08-06 08:18] scarroll32 commented on #520
Closed to be implemented in Grafana

[2018-08-06 08:18] #520 closed, assigned to scarroll32

[2018-08-06 08:18] scarroll32 commented on #523
To be done in Grafana

[2018-08-06 08:18] #523 closed, assigned to spMohanty, scarroll32

[2018-08-06 14:06] scarroll32 commented on #906
OK, I'll add the body to logging ... it will be a separate call so I'll repeat some info. To turn it off requires a code push / reboot, and we might be running multiple background processing servers. It would be possible to do something programmatically but it will be tricky and a bit hacky.

I think it will be OK to log it all, the logs are not retained now anyway and just get cycled. We should h

[2018-08-06 14:08] scarroll32 opened #908 "Create DB seeds"
@spMohanty :

Now that Florian has done the Dockerizing, I will create some non-sensitive seed data.
I was thinking to take 2 challenges and reduce the submissions and participants and anonymise it all
How does plant village as a predictions / job factory and vizdoom single player as a a gitlab based submission sound?
It was take some effort to clean the data, and then we should sync the data in t

[2018-08-07 09:42] scarroll32 commented on #890
Mostly working, but could use some design work.

<img width="951" alt="screen shot 2018-08-07 at 11 41 55" src="https://user-images.githubusercontent.com/11340230/43768146-f2f067fe-9a36-11e8-9a2e-5c87cbc41780.png">

[2018-08-08 07:42] scarroll32 opened #909 "Link to challenge in New discussion comment notification email incorrect"

[2018-08-08 11:02] spMohanty opened #910 "Add submission quote rerset time to error message"
When we make a create submission request, and the participant has already used up his/her current submission quota for the day/week then you get an error like :
[code]

It would be good to include the exact time when they can make the next submission in this message.
Many participants are confused because of this in the VizDoom challenge.

[2018-08-08 11:10] spMohanty commented on #908
@seanfcarroll : Instead of going with actual challenges, I would go with some of the template examples that we have.
We have the example evaluator for the job factory based grading.
And we also have a example contractor for the gitlab based grading approaches.

And both of the cases cover a very simple use cases, and the plan is to document them so that others can develop the said components thems

[2018-08-08 16:34] Sylvain-Bernard opened #911 "Use Standart Time format"
We should use Standart Time format consistently everywhere on the platform, not US format. This can confuse participants and admins ;-)

One place where it is used. -> we should check if there are other places
![image](https://user-images.githubusercontent.com/15749650/43850946-9b00e07e-9b39-11e8-99b2-b67a0943d6f8.png)

[2018-08-08 16:37] Sylvain-Bernard opened #912 "Add ending time on challenge header, next to X days left ?"
![image](https://user-images.githubusercontent.com/15749650/43851089-038a9a7c-9b3a-11e8-8693-b14029e679f3.png)

[2018-08-09 07:57] scarroll32 commented on #911
Do you mean 24 hour time?

[2018-08-09 07:59] scarroll32 commented on #912
We removed this in the past due to issues with mobile. It will switch to a countdown when below 24 hours.

I do agree: we should somewhere have the ending time for the **current round** as well as challenge itself.

@jsnrynlds what are your thoughts?

[2018-08-09 08:00] scarroll32 opened #913 "500 on Train Schedule Optimisation Challenge"
On submissions page.

[2018-08-09 08:14] scarroll32 commented on #913
Caused by setting challenge to unlimited submissions. This has not been allowed for any challenges in the past, and a limit is probably needed to avoid overloading and gaming of the system. Will enforce submission limits.

<img width="750" alt="screen shot 2018-08-09 at 10 08 55" src="https://user-images.githubusercontent.com/11340230/43886662-ba15f8fe-9bbc-11e8-9087-c71eccc4239a.png">

<img width

[2018-08-09 08:52] Sylvain-Bernard commented on #911
Yes!

[2018-08-09 08:55] scarroll32 commented on #913
Limits enforced

[2018-08-09 09:43] #913 closed, assigned to scarroll32

[2018-08-09 10:27] Sylvain-Bernard opened #915 "[edit challenge] Message "Challenge updated." when CANCEL"
When clicking on "CANCEL" while editing a challenge, the message "Challenge updated." is displayed.
Message should be "Challenge edition cancelled." or something like this.

However "CANCEL" button is working as expected.

![image](https://user-images.githubusercontent.com/15749650/43893482-6f0e12ca-9bcf-11e8-9f70-54c0db69425a.png)

[2018-08-09 10:45] scarroll32 commented on #909
Fixed

[2018-08-09 10:45] #909 closed, assigned to nobody

[2018-08-09 10:50] scarroll32 commented on #886
Underlying issue

![screen shot 2018-08-09 at 12 50 15](https://user-images.githubusercontent.com/11340230/43894575-cec04de8-9bd2-11e8-9d83-3dcead226bbf.png)

[2018-08-09 11:58] scarroll32 commented on #862
Implemented as read only for organizers. Only crowdAI admins can change challenge status.

![screen shot 2018-08-09 at 13 56 57](https://user-images.githubusercontent.com/11340230/43897427-3a97f71a-9bdc-11e8-9679-14117c009fb9.png)

[2018-08-09 11:58] #862 closed, assigned to nobody

[2018-08-09 12:00] spMohanty commented on #862
I would also cordon off "Featured Sequence" value for admin only rights.

[2018-08-09 12:43] scarroll32 commented on #906
Implemented.

[2018-08-09 12:43] #906 closed, assigned to scarroll32

[2018-08-09 12:44] scarroll32 commented on #886
Fixed

[2018-08-09 12:44] #886 closed, assigned to nobody

[2018-08-09 13:07] spMohanty opened #919 "Allow editing of submission grading_status in submission edit page"
https://www.crowdai.org/challenges/train-schedule-optimisation-challenge/submissions/12804/edit

[2018-08-09 13:39] scarroll32 commented on #919
Implemented, release building.

[2018-08-09 13:39] #919 closed, assigned to nobody

[2018-08-09 13:39] scarroll32 commented on #890
Implemented

[2018-08-09 13:39] #890 closed, assigned to scarroll32

[2018-08-09 14:24] scarroll32 opened #920 "Grading error on SBB challenge"
Returned by the Rails API
[code]

[2018-08-09 14:25] scarroll32 commented on #910
This should be already returned ... will look into it.

[2018-08-09 14:43] scarroll32 commented on #920
Changed empty? to blank?

[2018-08-09 14:43] #920 closed, assigned to nobody

[2018-08-10 12:50] Sylvain-Bernard opened #924 "Files downloaded from S3 have random characters in filename"
Is it intended ?

![untitled](https://user-images.githubusercontent.com/15749650/43958713-aa656624-9cac-11e8-9317-8d97aed1e59f.png)

[2018-08-10 14:17] Sylvain-Bernard opened #925 "Submission Limit should be visible and well explained on Challenge pages"
This is the most common question/issue/failing submission participants asks... (~1 per day!)

[2018-08-10 15:27] scarroll32 opened #926 "Datepicker issue"
<img width="1267" alt="screen shot 2018-08-10 at 17 27 20" src="https://user-images.githubusercontent.com/11340230/43966641-b551ac6c-9cc2-11e8-8189-84996a774417.png">

[2018-08-10 15:28] scarroll32 commented on #924
They are added automatically so the files are unique.

[2018-08-10 15:28] #924 closed, assigned to nobody

[2018-08-10 15:29] scarroll32 commented on #925
It is given as feedback via the API, but it should also be included in the challenge description.

[2018-08-10 15:29] #925 closed, assigned to nobody

[2018-08-13 08:00] scarroll32 opened #927 "User tracking for AI4Prosthetics / cloud credits"
Data to be purged after the challenge.

[2018-08-13 08:07] scarroll32 opened #928 "New Topics on the Discussion Page do not trigger Email notification"
Migrated from [here](https://github.com/crowdAI/train-schedule-optimisation-challenge-starter-kit/issues/9) cc @jordiju

[2018-08-13 09:40] scarroll32 opened #929 "Problem on edit challenge page"
<img width="1010" alt="screen shot 2018-08-13 at 11 40 29" src="https://user-images.githubusercontent.com/11340230/44024490-b32518a2-9eed-11e8-8c68-6f70b37694b3.png">

[2018-08-14 07:31] scarroll32 commented on #910
This information is being returned by the API:

[code]
https://github.com/crowdAI/crowdai/blob/master/app/controllers/api/external_graders_controller.rb#L73-L76

[2018-08-14 07:31] #910 closed, assigned to scarroll32

[2018-08-14 08:11] scarroll32 commented on #927
Implemented

[2018-08-14 08:11] #927 closed, assigned to scarroll32

[2018-08-14 12:10] scarroll32 commented on #406
Hey @jsnrynlds this would be nice to have on the platform.

[2018-08-14 12:16] scarroll32 commented on #926
Seem to have automagically fixed itself.

[2018-08-14 12:16] #926 closed, assigned to nobody

[2018-08-14 12:16] scarroll32 commented on #929
Seems to have automagically fixed itself.

[2018-08-14 12:16] #929 closed, assigned to nobody

[2018-08-14 12:24] scarroll32 commented on #911
Wait, do you mean you want to change to US format?

[2018-08-14 12:44] scarroll32 commented on #928
Implemented

[2018-08-14 12:44] #928 closed, assigned to scarroll32

[2018-08-14 13:11] Sylvain-Bernard commented on #911
NO ! Time selection should be 24h, not US with AM and PM

[2018-08-14 14:47] spMohanty opened #932 "Leaderboard rankings jumbled up"
<img width="732" alt="screen shot 2018-08-14 at 16 46 42" src="https://user-images.githubusercontent.com/1581312/44098904-b17a921c-9fe1-11e8-91e9-d7973d695880.png">

This happens when I click on "load more".

[2018-08-14 14:54] scarroll32 commented on #714
https://2017doneright.com/comprehensive-guide-on-seo-in-rails-8b124ca81d37

[2018-08-16 12:45] scarroll32 commented on #932
After much investigating, I've determined this issue was caused by the recent "leaderboard baseline" feature, and is hopefully restricted to the Vizdoom challenge anyway.

In the Vizdoom challenge there are multiple people with the same scores. We sort on **score** and **score_secondary**.

<img width="483" alt="screen shot 2018-08-16 at 14 38 19" src="https://user-images.githubusercontent.com/113

[2018-08-16 12:51] spMohanty opened #933 "Move UN Library Challenge to featured section"
...
(without removing any of the challenges already in the section :angel: )

We should rethink how the featured section works. Its a pain or reorder things at the moment manually, by changing the featured section values one after the other.

[2018-08-16 13:49] scarroll32 commented on #933
Implemented

[2018-08-16 13:49] #933 closed, assigned to nobody

[2018-08-16 13:50] scarroll32 commented on #932
Implemented

[2018-08-16 13:50] #932 closed, assigned to scarroll32

[2018-08-16 15:12] scarroll32 commented on #714
- https://css-tricks.com/essential-meta-tags-social-media/
- https://www.lewagon.com/blog/setup-meta-tags-rails

[2018-08-17 07:32] scarroll32 commented on #703
Unlikely we will have capacity for this. Closing.

[2018-08-17 07:32] #703 closed, assigned to scarroll32

[2018-08-17 07:33] scarroll32 commented on #676
An email has been instituted.

[2018-08-17 07:33] #676 closed, assigned to nobody

[2018-08-17 07:34] scarroll32 commented on #513
@spMohanty can this be closed?

[2018-08-17 07:34] #513 closed, assigned to jsnrynlds

[2018-08-17 07:35] scarroll32 commented on #229
https://github.com/supnate/icropper

[2018-08-17 07:36] scarroll32 commented on #646
Closed as not work on the web app.

[2018-08-17 07:36] #646 closed, assigned to nobody

[2018-08-17 07:38] #602 closed, assigned to nobody

[2018-08-17 07:39] scarroll32 commented on #360
Won't do

[2018-08-17 07:39] #360 closed, assigned to scarroll32

[2018-08-17 08:02] scarroll32 commented on #580
https://www.thegreatcodeadventure.com/google-recaptcha-ruby/

[2018-08-17 12:23] scarroll32 opened #936 "Apply for Skylight for open source program"

[2018-08-17 13:51] scarroll32 commented on #908
Done

[2018-08-17 13:51] #908 closed, assigned to nobody

[2018-08-17 14:04] scarroll32 opened #939 "Write a service to mock Mandrill"
For dev / test purposes to run without the real service.

[2018-08-17 14:18] scarroll32 commented on #936
Done

[2018-08-17 14:18] #936 closed, assigned to nobody

[2018-08-17 14:18] scarroll32 commented on #422
Won't do.

[2018-08-17 14:18] #422 closed, assigned to scarroll32

[2018-08-18 11:53] scarroll32 commented on #851
Having the closing button in the right corner would work, and would work equally well on desktop and mobile. Below is the StackOverflow solution:

<img width="1095" alt="screen shot 2018-08-18 at 13 50 57" src="https://user-images.githubusercontent.com/11340230/44299003-f4a1e680-a2ed-11e8-9dd0-201c4e85afe7.png">

[2018-08-20 07:35] scarroll32 commented on #641
Include a way for organizers to access submission files.

[2018-08-20 08:34] scarroll32 opened #940 "Create submission file download for organizers"
In the challenge "Admin" section, a check box can be set to determine if challenge organizers can download submission files. The files are then accessed via the edit score page.

<img width="829" alt="screen shot 2018-08-20 at 10 33 16" src="https://user-images.githubusercontent.com/11340230/44329346-829fdd80-a464-11e8-8c6a-d75143396ba2.png">

<img width="696" alt="screen shot 2018-08-20 at 10 29

[2018-08-20 08:41] jordiju commented on #940
@seanfcarroll : Thanks a lot, this is _very_ useful.

[2018-08-20 09:11] scarroll32 commented on #940
Implemented

[2018-08-20 09:11] #940 closed, assigned to nobody

[2018-08-20 09:42] jsnrynlds opened #942 "UN logo on homepage"
Hi @seanfcarroll – I think we should replace the UN logo on the homepage with a blue one on a transparent background. Attached a SVG if that's cool with you.

[UN_emblem_blue.zip](https://github.com/crowdAI/crowdai/files/2301901/UN_emblem_blue.zip)

[2018-08-20 12:25] scarroll32 commented on #942
Changed. Thanks Jason

[2018-08-20 12:25] #942 closed, assigned to nobody

[2018-08-20 14:09] jsnrynlds commented on #942
ツ

[2018-08-21 12:11] scarroll32 opened #944 "Move http content into S3"
Some challenges have externally hosted content. We should move that into our S3.

<img width="1197" alt="screen shot 2018-08-21 at 14 10 00" src="https://user-images.githubusercontent.com/11340230/44400614-21533980-a54c-11e8-959b-2227cdcde183.png">

[2018-08-21 13:32] jsnrynlds commented on #851
@seanfcarroll I've tidied this up a bit. (Pushed to the templates repo.)

[2018-08-21 13:54] scarroll32 commented on #892
Implemented

[2018-08-21 13:54] #892 closed, assigned to scarroll32

[2018-08-21 13:54] #869 closed, assigned to nobody

[2018-08-21 13:56] scarroll32 commented on #517
Fixed

[2018-08-21 13:56] #517 closed, assigned to nobody

[2018-08-21 17:29] scarroll32 opened #945 "Data issues with challenge_round_id"
From production

<img width="678" alt="screen shot 2018-08-21 at 19 29 21" src="https://user-images.githubusercontent.com/11340230/44418383-8886e300-a578-11e8-84bf-ee555c5512f7.png">

[2018-08-22 22:09] spMohanty opened #946 "Create Submission page broken"
<img width="1919" alt="screen shot 2018-08-23 at 00 08 39" src="https://user-images.githubusercontent.com/1581312/44493565-c06d5380-a668-11e8-9413-2c6900bce548.png">

The create submission page seems to be broken at the moment.

https://www.crowdai.org/challenges/league-of-nations-archives-digitization-challenge/submissions/new

[2018-08-23 07:08] Sylvain-Bernard opened #947 "Automatic emails: [ADMIN:crowdAI] Challenge Call response wrong url"
Full Description linking to wrong url: **https/www**.crowdai.org/admin/challenge_calls/crowdai/challenge_call_responses/XX

[2018-08-23 07:14] scarroll32 commented on #947
where?

[2018-08-23 07:18] scarroll32 commented on #574
I'm going to downgrade this from a high. To implement this will require changes that will affect the whole platform, and require extensive testing (automated and human) to ensure it doesn't break many things. We have too much coming up to in the next few months.

[2018-08-23 07:20] Sylvain-Bernard commented on #947
![image](https://user-images.githubusercontent.com/15749650/44510781-e10fca80-a6b5-11e8-8d0a-cc7a11216335.png)

[2018-08-23 07:59] scarroll32 commented on #946
Patched, uploading issues to be fixed properly today or tomorrow.

[2018-08-23 07:59] #946 closed, assigned to nobody

[2018-08-23 09:44] scarroll32 commented on #878
Implemented

<img width="1269" alt="screen shot 2018-08-23 at 11 44 42" src="https://user-images.githubusercontent.com/11340230/44518203-f393ff00-a6c9-11e8-8a05-1ca9049209fc.png">

[2018-08-23 09:44] #878 closed, assigned to nobody

[2018-08-23 13:24] spMohanty opened #950 "Display "is_account_verified" on the admin interface for participants"
Adding a column which shows which accounts are verified, helps us get a sense of the number of verified users we have.

[2018-08-23 17:21] scarroll32 commented on #950
Added

[2018-08-23 17:21] #950 closed, assigned to nobody

[2018-08-23 17:21] scarroll32 commented on #947
Fixed

[2018-08-23 17:21] #947 closed, assigned to nobody

[2018-08-23 17:30] scarroll32 commented on #945
A couple of possibilities

- some bug in online submissions allowing for an occasional missing round_id
- a null coming via the update API

Both can be dealt with by enforcing a valid value in this field, but this will also require it's population on online submission creation.

[2018-08-27 06:25] heroxbd opened #954 "`rake db:seed` fails with `relation "organizers" does not exist`"
Hi,

I am trying to set up crowdAI by following

  https://github.com/crowdAI/crowdai/blob/master/doc/technical/getting_started.md

The step of `rake db:seed` fails with `relation "organizers" does not exist`. It seems that the `seeds.rb` and the rest of the database handling modules grew out of sync.  Any hints?

The full error output is attached below:

[code]

[2018-08-27 06:45] scarroll32 commented on #954
Hi @heroxbd thanks for logging this issue. It does sound like the schema.rb file is missing or empty.

I just ran ```rails db:reset``` and it has loaded the schema and all seeds OK. Could you try that?

Incidentally, we are currently working on a Docker Compose version of a full development environment. There are a few issues around webpacker to be worked though, but the branch is [here](https://g

[2018-08-27 07:18] scarroll32 opened #955 "Externally hosted content causing browser security errors"
On some pages we have externally hosted content over http, eg: on the submission detail page. Due to changes in browser security policies, this is now causing security errors.

Solution - we need to move all content into the crowdAI S3 bucket and have it rendered by a Rails controller, on the crowdAI domain and over https.

<img width="1253" alt="screen shot 2018-08-27 at 09 16 34" src="https://us

[2018-08-27 07:23] scarroll32 opened #956 "Mathjax is null"
Getting Mathjax errors

Firefox
<img width="1312" alt="screen shot 2018-08-27 at 09 22 31" src="https://user-images.githubusercontent.com/11340230/44646307-dbc6be80-a9da-11e8-9f8d-5846823cc517.png">

Chrome

<img width="1271" alt="screen shot 2018-08-27 at 09 23 33" src="https://user-images.githubusercontent.com/11340230/44646328-e2edcc80-a9da-11e8-95eb-9fc3a15e0adb.png">

[2018-08-27 07:24] scarroll32 commented on #955
Related issue https://github.com/crowdAI/crowdai/issues/944

[2018-08-27 07:49] scarroll32 commented on #945
Downgraded as no further occurrences have been seen. Will be implemented alongside https://github.com/crowdAI/crowdai/issues/679

[2018-08-27 08:33] scarroll32 commented on #956
Fixed

[2018-08-27 08:33] #956 closed, assigned to scarroll32

[2018-08-27 08:56] heroxbd commented on #954
Thank you, Sean for your prompt reply!

schema.rb is not empty.  It is from the repository vanilla.

Interesting!  `rake db:reset` works.  But the command sequence of `rake db:create`, `rake db:migrate` and `rake:seed` does not.

Thanks.  We will give it a try.

[2018-08-27 09:01] heroxbd commented on #954
FYI, the `rake db:reset` is not equivalent to consecutive invocation of `rake db:create`, `rake db:migrate` and `rake:seed`.

[code]

[2018-08-27 09:09] scarroll32 opened #959 "Submission comments removed"
The submission comments section is currently missing from the submission#show page.

https://github.com/crowdAI/crowdai/blob/master/app/views/submissions/show.html.erb

[2018-08-27 09:34] heroxbd opened #960 "force using webpack 3"
Hi,

I am trying to set up crowdAI, following

  https://github.com/crowdAI/crowdai/blob/master/doc/technical/getting_started.md

together with the `rake db:reset` hack mentioned in #954.  After downloading the node.js parts by yarn, I met errors attached below in the appendix.  Upon closer investigation, the webpack installed in node_modules is Version 4. But from yarn.lock in the git repository,

[2018-08-27 10:01] heroxbd commented on #960
It turns out that an invocation of `yarn install` is needed.  Preparing for a pull request to improve documentation.

[2018-08-27 10:58] scarroll32 commented on #714
Working on Facebook

<img width="601" alt="screen shot 2018-08-27 at 12 57 26" src="https://user-images.githubusercontent.com/11340230/44656356-d5473f80-a9f8-11e8-941d-5ee0e635b74e.png">

[2018-08-27 11:08] scarroll32 opened #962 "Mobile view display issues"
- different sized fonts
- overflow text chopped mid-word

![img_1189](https://user-images.githubusercontent.com/11340230/44656726-50f5bc00-a9fa-11e8-9f3d-6d32bf7f2b7f.PNG)

[2018-08-27 11:23] scarroll32 opened #964 "Build and release process is too slow"
~ 25 minutes to have some code put into production

Pain areas:

- test suite is too slow on CI
- webpacker build seems to bring in all of the npm world. Is there some caching that can be implemented, especially if no js has changed

[2018-08-27 11:24] scarroll32 commented on #964
Consider moving off the free Travis CI and use a (paid) Heroku CI

[2018-08-27 11:32] scarroll32 commented on #964
- https://github.com/rails/webpacker/issues/1347
- https://github.com/heroku/heroku-buildpack-ruby/issues/654

[2018-08-27 11:51] scarroll32 commented on #954
Priming migration created and documentation updated. https://github.com/crowdAI/crowdai/commit/be067a9239f21d36c962201f96f18bd4737424e1

Thanks @heroxbd

[2018-08-27 11:51] #954 closed, assigned to nobody

[2018-08-27 11:59] Sylvain-Bernard commented on #849
Would be nice to have 2 apps/forms:

Sign-in with crowdAI login

1. Conference Reimbursement
- First Name & Last Name
- Email address
- Physical address
- Passeport scan (PDF)
- Bank Letterhead scan (PDF)
- Receipt of Conference ticket (PDF)
- Receipts of accommodation, travel and meals (PDF)
- EPFL Reimbursement form completed (PDF)

2. Cash prize
- First Name & Last Name
- Email address
- Physic

[2018-08-27 12:40] heroxbd commented on #954
Thanks, Sean!

[2018-08-27 12:56] heroxbd opened #966 "DOC Request: Tutorial for creating a new challenge"
Hi,

We are interested in creating a demo with crowdAI.  But the present documentation only provides a place holder at

    https://github.com/crowdAI/crowdai/blob/master/doc/new_challenge_creation.md

Could you please kindly guide us to create a new challenge?  We will be happy to fill in the documentation via PR once we've been walked through.

Cheers,
Benda

[2018-08-27 13:56] scarroll32 commented on #966
Hi @heroxbd thanks for your interest. This is something we will put together quite soon and we will let you know.

Regards,
Sean

cc @spMohanty @MasterScrat

[2018-08-28 09:19] scarroll32 commented on #883
Added, to be released.

<img width="1191" alt="screen shot 2018-08-28 at 11 19 05" src="https://user-images.githubusercontent.com/11340230/44713846-439d0800-aab4-11e8-8e22-a0bdc19c9540.png">

[2018-08-28 09:42] scarroll32 commented on #116
Implemented

[2018-08-28 09:42] #116 closed, assigned to jsnrynlds

[2018-08-28 15:20] scarroll32 commented on #713
Closed as will be handled by SDSC integration

[2018-08-28 15:20] #713 closed, assigned to scarroll32

[2018-08-28 15:23] scarroll32 commented on #325
As per crowdAI meeting 27/08 this is low / on hold.

[2018-08-28 15:24] scarroll32 commented on #880
Should have been instantiated as a NullParticipant, and therefore the error should not have appeared. Will investigate.

[2018-08-28 15:25] scarroll32 commented on #827
Have been covered elsewhere.

[2018-08-28 15:25] #827 closed, assigned to nobody

[2018-08-28 16:10] scarroll32 commented on #915
Fixed

[2018-08-28 16:10] #915 closed, assigned to nobody

[2018-08-28 16:10] scarroll32 commented on #883
Implemented

[2018-08-28 16:10] #883 closed, assigned to nobody

[2018-08-28 16:10] scarroll32 commented on #851
Fixed

[2018-08-28 16:10] #851 closed, assigned to jsnrynlds

[2018-08-28 16:11] scarroll32 commented on #672
Implemented

[2018-08-28 16:11] #672 closed, assigned to scarroll32

[2018-08-28 16:12] scarroll32 commented on #429
Implemented

[2018-08-28 16:12] #429 closed, assigned to scarroll32

[2018-08-28 16:15] scarroll32 commented on #865
Not needed

[2018-08-28 16:15] #865 closed, assigned to nobody

[2018-08-28 16:15] scarroll32 commented on #619
Implemented

[2018-08-28 16:15] #619 closed, assigned to nobody

[2018-08-28 16:16] scarroll32 commented on #687
bump @spMohanty

[2018-08-28 16:30] #939 closed, assigned to nobody

[2018-08-28 16:31] #829 closed, assigned to nobody

[2018-08-28 16:34] scarroll32 commented on #708
I'm not sure about this one - the whole leaderboard / grading calculation is already way too complicated. I suggest we don't proceed with this. @spMohanty thoughts?

[2018-08-28 16:35] scarroll32 commented on #694
All of this is possible with Markdown

[2018-08-28 16:35] #694 closed, assigned to nobody

[2018-08-28 16:36] scarroll32 commented on #670
Let's close this, it will re-appear if necessary after the badges are implemented.

[2018-08-28 16:36] #670 closed, assigned to nobody

[2018-08-28 16:37] scarroll32 commented on #554
Not required with organizer UI changes.

[2018-08-28 16:37] #554 closed, assigned to nobody

[2018-08-28 16:38] scarroll32 commented on #586
Needs discussion.

[2018-08-28 16:39] scarroll32 commented on #655
Closing as no longer an issue.

[2018-08-28 16:39] #655 closed, assigned to spMohanty

[2018-08-29 15:10] spMohanty opened #970 "Maintenance mode shows a blank page"
When we recently moved crowdai to maintenance mode; a blank page was showed. And it was pretty confusing

[2018-08-29 15:50] scarroll32 commented on #970
I think the last time this was used was before it was launched :-)

[2018-08-30 06:41] scarroll32 commented on #639
admin@crowdai.org created which points to salathe-devadmin@groupes.epfl.ch

[2018-08-30 06:41] #639 closed, assigned to scarroll32

[2018-08-30 19:42] DavidRuhe opened #973 "Problem logging in to gitlab.crowdai : 422 Email has already been taken"
Hi,

When I try to login to the gitlab part of crowdAI it consistently tells me that the e-mail is already in use. Even though I already have registered and am just trying to login. See screenshots. I tried resetting my password, using private sessions and deleting my Google Chrome history.

I'm perfectly logged in at crowdai.org:
![](https://i.imgur.com/UYHo1KI.png)

Then I click on sign in with

[2018-08-31 06:58] scarroll32 commented on #973
Thank you David, we will look into it right away.

[2018-08-31 07:58] DavidRuhe commented on #973
Hi Sean, thanks! I just tried logging in on another machine and after logging in at crowdai.org (not the gitlab part) I was prompted to authorise CrowdAI about something. Unfortunately, I just woke up and didn't read carefully and clicked 'authorise' after it showed me some error message. Then I was redirected to the OAuth sign-in page. Now the behaviour is as described in the op again.

Sorry, th

[2018-08-31 15:26] scarroll32 commented on #973
Issue resolved

[2018-08-31 15:26] #973 closed, assigned to nobody

[2018-09-01 00:20] heroxbd commented on #966
Thank you, Sean! Any updates?

Anything that we can help to accelerate it?

Yours,
Benda

[2018-09-03 11:32] rapsli commented on #406
We currently have the following issue:
- People are submitting the sample solution, which results in them appearing on the high score possibly even in front of those who have actually submitted real solutions.

With the filtering certain submissions based on some given criteria. Would be great if this could be implemented.

[2018-09-03 11:59] MasterScrat opened #974 "Some images get served from S3 instead of using CloudFront cache"
Examples:

In https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge

`<img src="https://s3-eu-west-1.amazonaws.com/kidzinski/nips-challenge/images/ai-prosthetics.jpg" alt="AI for prosthetics" />`

In https://www.crowdai.org/blogs/2

`<img src="https://s3.eu-central-1.amazonaws.com/crowdai-prd/images/blogs/doomshooter.gif" alt="deathmatch" />`

[2018-09-03 12:02] scarroll32 commented on #974
There should all be coming via the cache ... will look into it.

[2018-09-03 15:03] scarroll32 opened #975 "Update crowdAI logo"

[2018-09-03 15:04] scarroll32 commented on #406
Will look at adding filtering and sorting asap. Upgraded to high.

[2018-09-03 16:09] MasterScrat commented on #955
Fixed these resources, as reported by [mixed-content-scan](https://github.com/bramus/mixed-content-scan):

[code]

[2018-09-03 16:09] #955 closed, assigned to MasterScrat, spMohanty

[2018-09-03 16:15] scarroll32 opened #976 "Users cannot edit or delete their own posts"
Sample applies to admins

<img width="490" alt="screen shot 2018-09-03 at 18 13 13" src="https://user-images.githubusercontent.com/11340230/44995875-4fe9ff00-afa5-11e8-8304-b2de346b21c4.png">

[2018-09-04 07:58] scarroll32 commented on #976
Fixed https://github.com/crowdAI/crowdai/commit/4a29484987fdb8069ce44a6d3fc9fcc6f3652d30

[2018-09-04 07:58] #976 closed, assigned to scarroll32

[2018-09-04 08:03] scarroll32 commented on #960
Docs updated https://github.com/crowdAI/crowdai/commit/93085bb1669f0b24d7b1655797c06f50c4bde774

[2018-09-04 08:03] #960 closed, assigned to nobody

[2018-09-04 08:09] scarroll32 commented on #975
Implemented https://github.com/crowdAI/crowdai/pull/977/commits/b9a4812219d3c2043975a2cbaad61ab5b607411c

[2018-09-04 08:09] #975 closed, assigned to scarroll32

[2018-09-04 08:42] scarroll32 commented on #708
Closing due to lack of interest.

[2018-09-04 08:46] spMohanty commented on #708
Hi @seanfcarroll,

I think we had verbally discussed this at some point. But the conclusion was that this is an important request we get all the time; but it is low
Priority for us at the miment, because you said the implementation would be tricky.

In an ideal world; every challenge will be two submission limits : successful submissions max limit: and failed submissions max limit.

If the number

[2018-09-04 09:14] heroxbd commented on #960
Thanks, Sean!

[2018-09-04 11:01] scarroll32 opened #978 "Trigger leaderboard recalc when submissions are deleted"

[2018-09-04 11:04] scarroll32 commented on #978
Implemented https://github.com/crowdAI/crowdai/blob/master/app/models/submission.rb#L65-L68

[2018-09-04 11:04] #978 closed, assigned to nobody

[2018-09-04 11:14] scarroll32 commented on #911
Implemented https://github.com/crowdAI/crowdai/commit/1efc5c3a1f4f4bd8b208f9005faf292ba8266ba9

[2018-09-04 11:14] #911 closed, assigned to scarroll32

[2018-09-04 11:31] spMohanty commented on #970
This should be a simple issue, but I would prioritize it, so we are ready for any other emergency in the future ;)

[2018-09-04 17:19] scarroll32 commented on #590
Closed, as this will now be replaced by the SDSC integration, starting on 19/8/18

[2018-09-04 17:19] #590 closed, assigned to scarroll32

[2018-09-04 17:20] scarroll32 commented on #715
Closed, as this will now be replaced by the SDSC integration, starting on 19/8/18

[2018-09-04 17:20] #715 closed, assigned to MasterScrat

[2018-09-07 08:40] scarroll32 commented on #708
Upgraded to high as needed for  AI for Prosthetics challenge, sept 24th

[2018-09-07 08:48] spMohanty commented on #287
We should really show the change values directly over the arrow or something. Currently the change values are shown only as a tooltip on hovering over the arrow; which is very non intuitive.

In one of the big challenges, we had a very interesting 5 places jump by a participant to be #1 on the leaderboard; but this wasnt really apparent until I actually hovered on the arrow and checked the exact c

[2018-09-08 09:01] heroxbd commented on #966
Hi Sean, anything new?  We are eager to help in documentation.

[2018-09-10 06:54] scarroll32 opened #979 "Allow organizers to delete submissions"
Via the submissions edit page.

cc @spMohanty

[2018-09-10 06:59] scarroll32 opened #980 "SBB Challenge - Some failed submissions do not have error messages"
Assigned to @spMohanty

They are from the start of the challenge. Should they perhaps just be deleted?

<img width="1135" alt="screen shot 2018-09-10 at 08 57 53" src="https://user-images.githubusercontent.com/11340230/45281306-b73d0d00-b4d7-11e8-81a4-6a3238b7ef26.png">

[2018-09-10 12:02] scarroll32 opened #981 "Select dropdowns on Firefox"
Select dropdowns on Firefox seem to have default (and a bit old fashioned) styling.

<img width="814" alt="screen shot 2018-09-10 at 14 01 22" src="https://user-images.githubusercontent.com/11340230/45296371-20d21100-b502-11e8-9636-8b7602c69fe4.png">

[2018-09-10 15:27] scarroll32 commented on #979
Implemented

[2018-09-10 15:27] #979 closed, assigned to scarroll32

[2018-09-10 15:29] scarroll32 commented on #406
Implemented

[2018-09-10 15:29] #406 closed, assigned to jsnrynlds

[2018-09-10 17:19] scarroll32 commented on #964
The slug is now over the Heroku soft limit of 300MB. Need to look into this soon.

https://robots.thoughtbot.com/how-to-reduce-a-large-heroku-compiled-slug-size

[2018-09-10 17:26] scarroll32 commented on #966
Hi @heroxbd sorry for the delay.  We have been quite busy lately, but this issue is on our radar.

In the meantime, I can point you to the starter kit template.

https://github.com/crowdAI/crowdai_job_factory

[2018-09-11 02:26] heroxbd commented on #966
Thank you Sean!  The URL results in HTTP 404, should it be https://github.com/crowdAI/Example_Job_Factory ?

[2018-09-11 06:17] rapsli commented on #406
@seanfcarroll can you please let me know how we can make use of the filtering?

[2018-09-11 11:53] MasterScrat commented on #708
There should also be seperate handling between a submission that failed because of user mistake vs a problem in the grading infrastructure.

Eg repo cloning problems shouldn't count as submissions. Same thing for timeout of pods that didn't get a chance to run at all.

[2018-09-11 14:45] scarroll32 commented on #406
There is a filtering icon on the submissions page, click it and the filter is revealed.
<img width="1205" alt="screen shot 2018-09-11 at 16 19 42" src="https://user-images.githubusercontent.com/11340230/45367698-230b9c80-b5e2-11e8-8424-8f44d3478c3b.png">
<img width="1209" alt="screen shot 2018-09-11 at 16 19 36" src="https://user-images.githubusercontent.com/11340230/45367699-230b9c80-b5e2-11e8-8a

[2018-09-11 14:46] scarroll32 commented on #979
@rapsli you may be interested in this. It is accessible via the update submission page.

<img width="1191" alt="screen shot 2018-09-11 at 16 46 25" src="https://user-images.githubusercontent.com/11340230/45367756-46cee280-b5e2-11e8-83fe-c08521a20280.png">

[2018-09-11 16:01] scarroll32 commented on #708
This issue was scheduled to be done by Sept 24th, but can be fast-tracked. It needs careful testing as the code is already pretty complicated and it will affect every challenge.

However, the original request was to allow for a participant-initiated error buffer. When the errors are system errors, I agree they should not be applied to the user.

In that case I think we should have a new error type

[2018-09-11 16:05] scarroll32 commented on #708
Incidentally, if a user is receiving errors because their repo is too large, perhaps that should be considered a user error. But in that case we should nominate that as an error message "repo is too large", and detail a solution in a FAQ.

It would also be possible to make error messages a link to a FAQ. So far our FAQ is only this: https://www.crowdai.org/faq

This also relates to having document

[2018-09-11 16:19] scarroll32 commented on #589
Needs discussion, suggest we flesh it out in the next crowdAI meeting.

[2018-09-11 17:44] MasterScrat commented on #708
Ok so actually this could be made into 2 different issues.

@seanfcarroll yes that would make sense!

Regarding repo size we should actually check it before attempting to clone, because trying to clone an oversized repo uses a lot of resources before it eventually fails.

[2018-09-12 13:30] MasterScrat opened #983 "Link submissions to their Gitlab repo"
For challenges that use the Sourcerer, it is cumbersome to find from which repository each submission originated from.

The URL of that repo is saved as part of the `meta` information of each submission.

**We should display a link from the submissions (in the Leaderboard and Submission pages) pointing to the repository the submission came from.**

The link could even point directly to the relevan

[2018-09-12 16:46] scarroll32 commented on #983
In the meta there are a couple of repo related fields

[code]

So is this the requirement?

- if the meta "repo_url" key exists, display it on the submissions detail page as a clickable link
- visible only by the participant or an organizer

I'm not sure how to handle submission deletions.

What's the urgency? Unless it's a high it won't get worked for a while.

[2018-09-13 06:51] scarroll32 commented on #983
Thinking more about this, both the repo and the ref could be displayed on the edit submission page. Only organizers have access to this page.

<img width="1170" alt="screen shot 2018-09-13 at 08 50 01" src="https://user-images.githubusercontent.com/11340230/45471680-22821b80-b732-11e8-96aa-4451b9c09520.png">

[2018-09-13 07:51] scarroll32 commented on #980
Deleted

[2018-09-13 07:51] #980 closed, assigned to spMohanty

[2018-09-13 09:27] scarroll32 commented on #714
Implemented

[2018-09-13 09:27] #714 closed, assigned to scarroll32

[2018-09-14 06:22] scarroll32 commented on #800
This is re-occuring, somehow coming from the grader.

[code]

[2018-09-14 06:25] scarroll32 commented on #800
[code]

[2018-09-14 06:47] scarroll32 opened #984 "Repeating rows in submissions"
Some rows are repeated in the submissions page, and the load more button is not working.

<img width="650" alt="screen shot 2018-09-14 at 08 46 46" src="https://user-images.githubusercontent.com/11340230/45534227-c0d9b400-b7fa-11e8-8f5a-2f4cba8c15ea.png">

[2018-09-14 06:54] jordiju commented on #984
By 'weird' I mean that
- the submissions 14268 to 15178 are repeated 4 or five times on the submissions page.
- The "Load More" Button does not work
- I cannot find for example submission 14710 by BerMar (it appears in the screenshot above, but now I cannot see it on the page)

[2018-09-14 06:57] jordiju commented on #984
https://www.crowdai.org/challenges/train-schedule-optimisation-challenge/submissions

[2018-09-14 07:20] scarroll32 commented on #984
Thanks @jordiju, looking into it now.

[2018-09-14 08:49] scarroll32 opened #986 "Submissions filtering improvements"
The submissions filter was implemented in a hurry, and needs some technical and visual design work. Ideas for improvement:

- [ ] Add a column and filter on challenge round
- [ ] Move my submissions and baselines switches into filter sidebar
- [ ] Add sorting in sidebar
- [ ] Remove conflicting sort on table headers

Optional features, if needed by community:

- [ ] Saveable filters
- [ ] Export t

[2018-09-14 08:52] scarroll32 opened #987 "Testing sprint"
Need to set aside a week to refactor and catch up on test coverage, as well as improve testing performance.

[2018-09-14 08:53] scarroll32 commented on #986
Do you have anything to add @jordiju ?

[2018-09-14 09:03] scarroll32 commented on #800
Was coming via the admin panel, in combination with the conditional constraint as required by the API. Hacky solution put in place for now, but a longer term solution is to cleanup or replace the API.

https://github.com/crowdAI/crowdai/pull/988/commits/1179d9eec1277d4d42b91e038dee2dce59922096

[2018-09-14 09:03] #800 closed, assigned to scarroll32

[2018-09-14 09:12] scarroll32 commented on #983
It seems like this information is already being passed via the submission message.

<img width="1168" alt="screen shot 2018-09-14 at 11 11 52" src="https://user-images.githubusercontent.com/11340230/45541319-15872a00-b80f-11e8-86f7-d30d343079da.png">

[2018-09-14 09:15] jordiju commented on #986
Hi @seanfcarroll . I haven't actually looked at it,, Raphael was working with it. Can't add him, will forward him the thread by email.

[2018-09-14 09:26] scarroll32 commented on #983
Implemented

<img width="740" alt="screen shot 2018-09-14 at 11 25 40" src="https://user-images.githubusercontent.com/11340230/45542055-03a68680-b811-11e8-91e7-469ece93e502.png">

[2018-09-14 09:26] #983 closed, assigned to nobody

[2018-09-14 09:29] scarroll32 commented on #964
<img width="733" alt="screen shot 2018-09-14 at 11 28 51" src="https://user-images.githubusercontent.com/11340230/45542211-70ba1c00-b811-11e8-8081-44d12cc24147.png">

[2018-09-14 09:29] scarroll32 commented on #984
Fixed

[2018-09-14 09:29] #984 closed, assigned to nobody

[2018-09-14 09:30] scarroll32 commented on #945
Fixed

[2018-09-14 09:30] #945 closed, assigned to scarroll32

[2018-09-14 09:30] scarroll32 commented on #899
Closed

[2018-09-14 09:30] #899 closed, assigned to spMohanty

[2018-09-14 09:31] scarroll32 commented on #687
Closed

[2018-09-14 09:31] #687 closed, assigned to spMohanty

[2018-09-14 10:00] scarroll32 commented on #964
This seems a bit silly, look into how it can be improved.

<img width="802" alt="screen shot 2018-09-14 at 11 59 21" src="https://user-images.githubusercontent.com/11340230/45543761-aa8d2180-b815-11e8-9a8d-86303427cbe4.png">

[2018-09-14 10:56] scarroll32 commented on #708
Implemented

[2018-09-14 10:56] #708 closed, assigned to scarroll32

[2018-09-18 09:14] rapsli commented on #986
@seanfcarroll We are totally fine with the current functionality.

[2018-09-18 20:21] Sylvain-Bernard opened #992 "Update Terms of Service"
will send you the Updated version asap

[2018-09-20 16:17] scarroll32 commented on #992
Deployed.

[2018-09-20 16:17] #992 closed, assigned to nobody

[2018-09-21 14:08] MasterScrat opened #993 "Submission export as JSON limited to 30 results"
On the admin page of a challenge listing all the submissions, eg:
https://www.crowdai.org/admin/challenges/<challenge-name>/submissions

There are two links to export the list of submissions: "Download: CSV JSON"

The CSV link exports all of the submissions as CSV, but the JSON link only exports the 30 latest submissions.

Expected behavior: the JSON link should also export all of the submissions.

[2018-09-24 08:56] scarroll32 commented on #993
Implemented.

[2018-09-27 06:21] scarroll32 commented on #993
Reopened

<img width="693" alt="screen shot 2018-09-27 at 08 21 16" src="https://user-images.githubusercontent.com/11340230/46126641-567b3780-c22e-11e8-8b23-75e8b7f0a90b.png">

[2018-09-27 11:44] scarroll32 commented on #993
Built on staging but waiting for @MasterScrat 's green light before any prod deploys

[2018-09-27 11:46] scarroll32 commented on #993
https://travis-ci.org/crowdAI/crowdai/builds/434043435?utm_source=github_status&utm_medium=notification

[2018-09-28 09:31] scarroll32 commented on #993
JSON done, CSV needs investigation.

[2018-09-28 13:46] scarroll32 commented on #993
Migrated

[2018-09-28 13:51] scarroll32 commented on #986
OK so it looks like we will just clean up the styling a bit.

[2018-09-28 14:11] scarroll32 commented on #970
<img width="1248" alt="screen shot 2018-09-28 at 16 10 35" src="https://user-images.githubusercontent.com/11340230/46213543-18b70580-c339-11e8-98f1-72a35924fcc6.png">

[2018-09-28 14:49] scarroll32 commented on #970
It is now required to serve the maintenance page via https. Fixed and tested.

[2018-09-28 14:49] #970 closed, assigned to scarroll32

[2018-09-29 06:53] heroxbd commented on #966
Hi, any updates?

[2018-10-01 10:59] scarroll32 commented on #993
Fixed

[2018-10-01 10:59] #993 closed, assigned to nobody

[2018-10-01 13:23] Sylvain-Bernard opened #997 "[Leaderboard] Display numbers with same decimal digits"
e.g. : in [Mapping Challenge leaderboard](https://www.crowdai.org/challenges/mapping-challenge/leaderboards?challenge_round_id=31), every numbers are displayed with 3 decimal digits; except **0.93** who is displayed with 2 decimal digits (should be 0.930).
-> every numbers should be displayed with the same decimal digits

![image](https://user-images.githubusercontent.com/15749650/46290863-45635b0

[2018-10-01 13:39] Sylvain-Bernard opened #998 "[Notifications] Not receiving Daily Digest"
I am not receiving Daily Digest since 4 months, although notifications are turned on...

![image](https://user-images.githubusercontent.com/15749650/46291915-f965e580-c58f-11e8-9905-8ec99760b47f.png)

![image](https://user-images.githubusercontent.com/15749650/46291972-1d292b80-c590-11e8-94aa-943b56bb753f.png)

[2018-10-02 04:08] heroxbd opened #999 "hard-coded mandrillapp.com as mailer"
Hi,

In `crowdai/app/mailers` all the `.rb` files are calling mandrillapp.com as mail server.  crowdai should provide a way to configure alternative mail services, or just simply calling `/sbin/sendmail` on the host.

Any hints?

Benda

[2018-10-02 09:21] scarroll32 commented on #999
Hi @heroxbd thanks for your issue. We use Mandrill for crowdAI production, as we use Mandrill templates for the emails (stored in Mandrill).

However, it could be generalised to a simple text-based email if you are running crowdAI and wish to use another service. I'd be happy to give you some direction, but we don't plan to move off Mandrill.

If you want to have an alternative service, pull reque

[2018-10-02 09:21] #999 closed, assigned to nobody

[2018-10-02 11:35] heroxbd commented on #999
Hi Sean,

Thanks for clarifying this.

Would you please give me the direction to use another service, preferably a simple SMTP server without addition API calls.

I will when I have one.

Yours,
Benda

[2018-10-02 12:13] scarroll32 commented on #964
Slug reduced to 240MB

Travis unfortunately use trusty as a standard build, so we will stick with the postgres installs.

[2018-10-02 12:13] #964 closed, assigned to scarroll32

[2018-10-03 08:45] heroxbd commented on #999
For archiving and document purpose, the way to email delivery from mandrill API to local `sendmail` command is as followed.

[code]

[2018-10-04 10:18] spMohanty opened #1002 "Lack of proper error message in case of unconfirmed accounts"
<img width="1332" alt="screen shot 2018-10-04 at 12 16 08" src="https://user-images.githubusercontent.com/1581312/46467934-5d2a2180-c7cf-11e8-9208-066b5ce1d194.png">

If you sign up with a new account, and then somehow not get the confirmation link (or simply ignore it for some reason), and then try to log in with the correct credentials, the you get the above mentioned email address. This can be

[2018-10-04 12:50] scarroll32 opened #1004 "Move private challenge user list onto it's own page"
Add paging and filtering, as per submissions filtering page.

In the meantime add to active admin.

[2018-10-05 13:02] spMohanty opened #1005 "Maximum number of parallel submissions allowed"
We want a configurable parameter which lets us specify, how many parallel submissions are allowed from a single user at any point of time.

For example, if we say, challenge A, has 2 allowed parallel submissions, then on every submission, we check how many submissions by this user have a state of "submitted", and if this number exceeds 2, then we throw an error with an appropriate message.

Also,

[2018-10-05 14:06] scarroll32 commented on #1005
https://github.com/crowdAI/crowdai/issues/1005

[2018-10-08 10:47] spMohanty commented on #1002
@XCaellaX : Can you have a look if this issue I reported is indeed an issue from UX pov, or I am just overthinking ?

[2018-10-08 17:06] scarroll32 commented on #1005
Implemented

[2018-10-08 17:06] #1005 closed, assigned to scarroll32

[2018-10-08 20:10] scarroll32 opened #1009 "Leaderboard error"
Is this a bug or the result of a bot crawl?

<img width="1177" alt="screen shot 2018-10-08 at 22 09 50" src="https://user-images.githubusercontent.com/11340230/46631162-e54d5580-cb46-11e8-8e96-4fd12f0c39b5.png">

[2018-10-09 07:45] scarroll32 opened #1010 "Participant usernames should not have spaces"

[2018-10-09 12:48] scarroll32 opened #1013 "Rename downloaded files"
When a file is downloaded, it includes the generated AWS hash. This should be removed and only the filename displayed.

This will probably be resolved by the migration to ActionCable https://github.com/crowdAI/crowdai/issues/679

<img width="785" alt="screen shot 2018-10-09 at 14 46 29" src="https://user-images.githubusercontent.com/11340230/46670360-43734a80-cbd2-11e8-9bc0-dbb93e3817be.png">

[2018-10-09 13:40] scarroll32 opened #1014 "Enforce current round for 1 challenge round"
At least one round should be marked as current. At the moment, it is possible to have none set, which will break the leaderboard.

<img width="753" alt="screen shot 2018-10-09 at 15 38 56" src="https://user-images.githubusercontent.com/11340230/46673232-9ac8e900-cbd9-11e8-999b-77b2b83159a2.png">

[2018-10-10 06:38] scarroll32 opened #1015 "Private challenge submissions"
Submissions to private challenges should only be permitted for participants in the invited list, admins & challenge organisers.

[2018-10-10 07:05] scarroll32 opened #1016 "Clone challenge button"

[2018-10-11 07:07] scarroll32 opened #1017 "Edit submissions from submission detail page"

[2018-10-11 07:07] scarroll32 opened #1018 "Do not display placeholder image on submission detail page"

[2018-10-11 07:49] scarroll32 commented on #1017
Implemented

[2018-10-11 07:49] #1017 closed, assigned to nobody

[2018-10-11 08:14] scarroll32 commented on #1018
Implemented

[2018-10-11 08:40] scarroll32 opened #1019 "Update Sprockets"
Currently we are using the 4.0.0.beta8 version. Leaving this issue open to update to 4.x when released.

https://github.com/rails/sprockets/issues/565

[2018-10-11 08:42] scarroll32 commented on #1018
https://github.com/crowdAI/crowdai/pull/1020/commits/fa88e5edd99c77cb8f3e6ff38fc1ab3cc7163db6

[2018-10-11 08:43] #1018 closed, assigned to nobody

[2018-10-11 11:52] scarroll32 commented on #1010
Fixed

[2018-10-11 11:52] #1010 closed, assigned to nobody

[2018-10-11 13:53] scarroll32 opened #1021 "Improve jobs page"
- [x] Allow admins to see draft and closed jobs
- [ ] bigger edit area for markdown
- [x] dropdown for status

[2018-10-11 14:29] Sylvain-Bernard commented on #1021
related to #586

[2018-10-11 14:47] scarroll32 commented on #1021
This is a quick fix, but we will soon add a better editor and some type of self-service job management. The design needs a bit of a refresh also.

[2018-10-12 05:10] scarroll32 commented on #1021
Implemented

[2018-10-12 05:10] #1021 closed, assigned to nobody

[2018-10-12 12:23] scarroll32 opened #1023 "Display time according to user's timezone"

[2018-10-16 13:08] ieggel opened #1025 "CLEF EUA e-mail notification for selected tasks"
There are CLEF tasks that require an EUA approval. A task that specifies an End User Agreement file is considered as 'EUA required'. This can be configured here:
![image](https://user-images.githubusercontent.com/9192090/47017676-3070f500-d153-11e8-8081-557c4b852f45.png)

Currently all e.mail subscribed members of an organizer who has at least one task that requires EUA approval receive e-mail not

[2018-10-16 13:12] scarroll32 opened #1026 "Broken font"
<img width="1190" alt="screen shot 2018-10-16 at 15 11 34" src="https://user-images.githubusercontent.com/11340230/47018799-d6bdfa00-d155-11e8-9bd4-783535548219.png">

[2018-10-20 11:23] scarroll32 opened #1027 "Link edit submissions page to participant profile"
<img width="603" alt="screen shot 2018-10-20 at 13 23 25" src="https://user-images.githubusercontent.com/11340230/47255074-5a842900-d46b-11e8-93ba-890133775b5f.png">

[2018-10-20 11:27] scarroll32 opened #1028 "Increase / decrease ranking not working properly"
<img width="248" alt="screen shot 2018-10-20 at 13 26 27" src="https://user-images.githubusercontent.com/11340230/47255099-d5e5da80-d46b-11e8-8ea2-9b5a24d9fc98.png">

[2018-10-20 11:32] scarroll32 commented on #1027
Implemented

[2018-10-20 11:32] #1027 closed, assigned to scarroll32

[2018-10-20 11:33] scarroll32 commented on #1027
https://github.com/crowdAI/crowdai/commit/c9c6b8de2f4a7e86a9750085d7e546378a795e23

[2018-10-20 11:34] scarroll32 opened #1029 "Show draft challenges to organizers in challenge page"

[2018-10-20 11:39] scarroll32 commented on #1026
Fixed

[2018-10-20 11:39] #1026 closed, assigned to nobody

[2018-10-20 12:01] scarroll32 opened #1031 "Delete account page is wierd"
<img width="1178" alt="screen shot 2018-10-20 at 14 00 42" src="https://user-images.githubusercontent.com/11340230/47255379-98378080-d470-11e8-9045-a733f07b961d.png">

[2018-10-22 16:09] scarroll32 opened #1032 "Ability to filter rows & columns for admin views"
- [ ] then export as CSV
- [ ] sort by fields
- [ ] Leaderboard needs a round filter
- [ ] A precanned top-n report for multi-challenges would also be useful (with parameters), eg:

[code]

[2018-10-22 17:20] scarroll32 opened #1033 "status.crowdai.org"
A simple site similar to status.github.com which can be used to report any issues with any part of the application, even challenge-specific.

Can be a simple app running on Heroku.

<img width="1072" alt="screen shot 2018-10-22 at 19 18 54" src="https://user-images.githubusercontent.com/11340230/47307515-7c2e0d80-d62f-11e8-98b6-d224e2c437d5.png">

[2018-10-23 09:22] scarroll32 opened #1034 "Appearance of discussion forum is configurable"
Add a "Discussion Forum Visible' checkbox to the challenge. If checked off the discussion forum is not available for the challenge.

[2018-10-23 16:16] scarroll32 commented on #1034
https://github.com/crowdAI/crowdai/pull/1035/commits/d56380dc886872de5c6a786c20e5f94a231d542f

[2018-10-23 16:18] scarroll32 opened #1036 "Upload csv file for private challenges"
http://www.mattmorgante.com/technology/csv

[2018-10-23 16:24] #1034 closed, assigned to scarroll32

[2018-10-23 16:37] scarroll32 commented on #1029
https://github.com/crowdAI/crowdai/pull/1037/commits/b545485caa68b976c47aac6ee27fb99016368525

[2018-10-23 16:37] #1029 closed, assigned to scarroll32

[2018-10-25 12:46] scarroll32 opened #1038 "Accept Terms of Service for dataset downloads"
<img width="1196" alt="screen shot 2018-10-25 at 14 39 32" src="https://user-images.githubusercontent.com/11340230/47500738-e929e900-d863-11e8-8a33-5db4b1ce782d.png">

For some challenges, acceptance of terms of service for data usage must be agreed on, by clicking a checkbox.

The organizer will be able to configure:
- if this setting is active
- terms of service checkbox text as plain text
- ter

[2018-10-25 14:50] scarroll32 commented on #1036
Implemented https://github.com/crowdAI/crowdai/commit/12dddb8a6375eb86b91d04647ffafa6d839df414

[2018-10-25 14:50] #1036 closed, assigned to nobody

[2018-10-25 21:11] scarroll32 opened #1040 "Delete submission is not triggering a leaderboard refresh?"
To be investigated

[2018-10-25 21:29] scarroll32 commented on #1004
- Add filtering and paging & data export
- configurable "participants" tab setting
- Move this functionality into the participants tab

[2018-10-26 09:18] scarroll32 commented on #1040
Seems to be working OK for me. Closed.

[2018-10-26 11:23] bednarikjan commented on #1040
The issue still persists, I've just tried within the following challenge: https://www.crowdai.org/challenges/epfl-ml-road-segmentation.

**Steps:**
1) Submissions -> Create submission -> Upload file and confirm
![01_submission](https://user-images.githubusercontent.com/5279482/47563406-0624f180-d922-11e8-81db-3d1c30bf3cdf.png)
![02_leaderboard](https://user-images.githubusercontent.com/5279482/475

[2018-10-26 21:58] scarroll32 commented on #1040
OK, I've found the root cause: this issue occurs when the last submission has been deleted, and then [this code](https://github.com/crowdAI/crowdai/blob/master/app/services/calculate_leaderboard_service.rb#L11) causes the process to exit.

When this line is removed, downstream code fails due to the inability to find a submission to calculate the [window](https://github.com/crowdAI/crowdai/blob/mas

[2018-10-26 22:39] scarroll32 commented on #1040
https://github.com/crowdAI/crowdai/pull/1043/commits/52e4eff3e431e53dcf9affdb4689d290d65598f4

[2018-10-26 22:45] scarroll32 commented on #1002
Fixed, but leaving open so we can contact unconfirmed users.

[2018-10-26 22:59] scarroll32 commented on #1040
Implemented. Thank you @bednarikjan for the detailed bug report. For the entries left in the existing leaderboards, a one-time cleanup will be to add a submission, then delete it.

That will clear the leaderboards without needing to access the back-end directly.

[2018-10-26 22:59] #1040 closed, assigned to scarroll32

[2018-10-26 23:00] scarroll32 commented on #889
Bumping this, will try and get it in next week.

[2018-10-26 23:03] scarroll32 opened #1044 "Migrate from Carrierwave to Activestorage"
This is half done ... need to migrate the data. A useful [guide](https://stackoverflow.com/questions/52528623/migrating-carrierwave-to-activestorage)

[2018-10-27 06:31] scarroll32 opened #1045 "Better handle deleted participants"
When participants are deleted, their leaderboard and comments remain, with <<redacted>> as their name. This is causing some issues with deleted participants.

Need to solve with a combination of Null user and link_to_unless

[2018-10-27 11:15] scarroll32 opened #1046 "Testing 5GB submission uploads"

[2018-10-27 21:22] scarroll32 commented on #1046
I uploaded a 5GB file, of random data to the Test challenge in production. My connection at home is kind of slow and it took about 2 hours, but in the end it worked. I was a bit surprised ;-)

So for now we have a direct from the browser uploader, but with no multi-part or resumable uploads. I think resumable uploads are possible without too much trouble.

[2018-10-27 21:23] scarroll32 opened #1047 "Delete submission does not delete s3 assets"
The delete submission link deletes the submission and recalculates the leaderboard, but does not delete data from S3. It should be modified to delete S3 data, and we should probably an audit of such at the same time.

[2018-10-27 21:26] scarroll32 opened #1048 "Add file information to edit submission page"
Add the following elements to the edit submission page (as taken from S3), but cached on the submission_files table:

- S3 key
- filesize
- modification date
- delete link
- click to copy existing expiring link icon

[2018-10-27 22:32] scarroll32 opened #1049 "When a participant deletes their account, all relevant leaderboards should updated"
The participant name is cached in the base_leaderboards table. If the participant deletes their account, then that field should updated on all leaderboard rows (via background job).

[2018-10-30 12:57] spMohanty opened #1051 "the css for post-challenge submission button seems to be broken"
<img width="754" alt="screen shot 2018-10-30 at 13 56 01" src="https://user-images.githubusercontent.com/1581312/47719483-9e391880-dc4b-11e8-8dd4-f5d62d8b919f.png">

I am on Firefox `62.0.3`

And I noticed this on this page : https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/leaderboards?challenge_round_id=54

[2018-10-30 21:25] scarroll32 opened #1052 "After directing user to login, user should return to requested page"

[2018-10-30 22:57] scarroll32 commented on #1052
Actually this is already implemented.

[2018-10-30 22:58] scarroll32 opened #1054 "Implement 'registration required' for challenge"
Seems to be half implemented.

[2018-10-30 23:01] scarroll32 commented on #1038
Done

[2018-10-30 23:01] #1038 closed, assigned to scarroll32

[2018-10-30 23:02] scarroll32 opened #1055 "Filtering and paging on invited participants list"

[2018-10-31 17:12] scarroll32 commented on #1052
Issue is around authorization ... on private challenges only. To be investigated.

[2018-11-01 19:32] scarroll32 opened #1059 "Usernames getting out of sync between crowdAI + gitlab"

[2018-11-02 12:02] scarroll32 opened #1061 "Reafactor grader endpoint"
- [ ] create a v2 version

[2018-11-02 12:05] scarroll32 commented on #1059
Should go for some tighter sync ... perhaps send the gitlab submission hash back to crowdAI

[2018-11-02 14:23] scarroll32 opened #1062 "discourse.crowdai.org and other participant communication"
Proposal migrated from Slack chat.

- [ ] Install a branded Discourse under discourse.crowdai.org, authenticate against crowdAI OAuth
- [ ] Have general channels and challenge-specific channels. Need to look into more how this would work, migrate all exiting conversations.
- [ ] Remove 'Discussions' from app, link to discourse
- [ ] Gitter remains for informal chat
- [ ] Github remains for interac

[2018-11-02 14:27] spMohanty commented on #1062
Sounds great to me !
We just have to sort out the theming situation !

[2018-11-02 14:44] ffledgling opened #1063 "Make submission links clickable on submission board"
When dealing with participants and helping a live contest, it'd be nice to be able to click on gitlab issue links for submissions instead of copy-pasting them.

Here's a screenshot of what it looks like:
![screenshot from 2018-11-02 20-03-42](https://user-images.githubusercontent.com/1568867/47921610-03ef0400-dedb-11e8-9d9b-d3e779a6a4c2.png)

Here's what it should ideally look like (after some in

[2018-11-02 14:45] spMohanty commented on #1063
Actually, the submission url on gitlab is made available for each of the submissions in the `meta` param. And it should also be rendered properly on the individual submission page too.

[2018-11-02 14:50] ffledgling commented on #1063
@spMohanty It is rendered on the individual page, but not on the aggregate page/board.

[2018-11-02 14:52] ffledgling commented on #1059
Linking #1063 here as well.

[2018-11-02 16:40] scarroll32 opened #1064 "Terms of service accordian"

[2018-11-02 16:41] scarroll32 commented on #1063
We can have a "code" column which has a link in it if available in the meta

[2018-11-02 16:43] scarroll32 commented on #1063
It's on the edit page ... will move it to the detail page for admins

<img width="1231" alt="screen shot 2018-11-02 at 17 42 12" src="https://user-images.githubusercontent.com/11340230/47928476-c2ecf480-dec6-11e8-8e10-362e9864c6c3.png">

[2018-11-03 14:33] MasterScrat opened #1065 "Submission sort uses truncated values instead of exact values"
The submission with secondary score 1.648... should be the best one as 1.12550763268863 < 1.12620046857369

<img width="560" alt="screen shot 2018-11-03 at 15 24 36" src="https://user-images.githubusercontent.com/140592/47953370-073acc00-df7d-11e8-8c7b-d976d1143dfe.png">

[code]

[code]

[2018-11-03 14:34] MasterScrat commented on #1065
From @spMohanty :

[2018-11-03 14:34] #1065 closed, assigned to nobody

[2018-11-03 15:19] spMohanty opened #1066 "Notifications on Forum posts"
Not sending notifications on forum posts, is very strongly affecting the UX on crowdAI. We should urgently come up with a solution for this.

[2018-11-06 05:38] spMohanty opened #1069 "Include participant uid in REST calls made to the grader"
In case of submissions made through the web interface, now `submission_id` is passed.
We will also need the `participant_uid` passed using the same key.

This is required in case of evaluators which want to maintain some state across numerous submissions.

[2018-11-06 05:42] spMohanty commented on #1069
It should be added here as :
[code]

[2018-11-06 08:26] scarroll32 commented on #1066
An email could be sent to organizers / admins every time there is a forum post, but that would get a bit annoying.

We send a daily email to challenge organizers and admins, once a day, when the last comment on a topic was not a admin or organizer ... and the last comment.

The other option is for the organizers to monitor the forums themselves, flooding the organizers with emails might lead to th

[2018-11-06 08:44] scarroll32 commented on #1069
Implemented

[2018-11-06 08:44] #1069 closed, assigned to scarroll32

[2018-11-06 08:44] scarroll32 commented on #1064
Implemented

[2018-11-06 13:29] spMohanty commented on #1066
@seanfcarroll : I think we should make it configurable.
I am not sure about the daily email, as I myself didnt receive any for many of the challenges. or maybe it just ends in spam ?

In any case, this should be configurable, where any user subscribed to a topic : people who posted the topic, others who commented on the topic, admins, organizers get an email based on their choice of frequency : wh

[2018-11-07 18:31] scarroll32 opened #1070 "Drag and drop on challenge home page ordering"

[2018-11-07 18:32] scarroll32 opened #1071 "Query tool to easily produce mailchimp lists"

[2018-11-09 18:26] scarroll32 opened #1072 "Change redact comment to delete"
Currently when the admin deletes a comment, it actually changes it to "this comment has been redacted by the admin".

Change this instead to actually delete the comment.

[2018-11-09 21:44] scarroll32 commented on #1072
<img width="671" alt="screen shot 2018-11-09 at 22 44 03" src="https://user-images.githubusercontent.com/11340230/48289796-fdc7cd00-e470-11e8-90eb-796ba52c6abb.png">

Need to add a moderator role, probably the challenge organizer.

[2018-11-10 07:10] scarroll32 commented on #1064
Make component configurable so it can simply display text on the page or display it (as per current) in an accordion.

[2018-11-10 08:57] scarroll32 commented on #1033
Nice to have

[2018-11-10 08:57] #1033 closed, assigned to nobody

[2018-11-10 20:10] spMohanty commented on #743
Reopening this issue, as the issue still persists in the "Submissions" page.

Example : https://www.crowdai.org/challenges/nips-2018-ai-for-prosthetics-challenge/submissions

You can see if you click on the Expand submission button.

[2018-11-12 09:46] scarroll32 opened #1073 "Add upload media option to edit submissions"
Ability to manually upload or remove media files at the submission level.

[2018-11-12 12:01] scarroll32 opened #1076 "Allow editing of the grading message on submissions."

[2018-11-12 12:02] scarroll32 commented on #1076
https://github.com/crowdAI/crowdai/commit/b1738ad2854fa02d314ff3d470f79784f370d473

[2018-11-12 12:02] #1076 closed, assigned to nobody

[2018-11-12 12:16] scarroll32 commented on #1073
https://github.com/crowdAI/crowdai/pull/1077/commits/651aa13de09c7e92ac7fca1cfd46abc6d5499e77

[2018-11-12 12:16] #1073 closed, assigned to nobody

[2018-11-12 12:35] scarroll32 commented on #1071
Easiest solution is to filter in admin and then have a send to Mailchimp button. A more advanced solution will have a dedicated query tool.

[2018-11-12 12:57] scarroll32 commented on #1071
Initial solution

https://github.com/crowdAI/crowdai/commit/e7cb30c4fd38a9df063a3683ef38d1dca7afc459

[2018-11-12 13:20] scarroll32 opened #1080 "Submission detail image overlaps"
<img width="1012" alt="screen shot 2018-11-12 at 14 19 44" src="https://user-images.githubusercontent.com/11340230/48349989-178e2d80-e686-11e8-87a2-7e915436ab81.png">

[2018-11-12 13:22] scarroll32 commented on #1062
To be discussed Wednesday 14/11

[2018-11-12 13:22] scarroll32 commented on #1066
Dependent issue https://github.com/crowdAI/crowdai/issues/1062

[2018-11-12 13:23] scarroll32 commented on #1062
Potentially related issue: https://github.com/crowdAI/crowdai/issues/1059

[2018-11-15 19:33] spMohanty opened #1082 "Swap the styling of baseline label and the baseline text"
<img width="390" alt="screen shot 2018-11-15 at 20 31 41" src="https://user-images.githubusercontent.com/1581312/48576729-8fbe5280-e915-11e8-898e-b402c1ff8ad1.png">

It might make more sense to use the "Baseline" as a label (with the red background), and the actual text in some distinctive styling in the same place where we have "BASELINE" now.

[2018-11-16 03:16] spMohanty commented on #1082
<img width="1133" alt="screen shot 2018-11-16 at 04 15 55" src="https://user-images.githubusercontent.com/1581312/48595738-1ea78b00-e967-11e8-8813-2317140b4ae4.png">

Would be good to have something like this, for the baseline to stand out. With a grey backrgound, which kind of draws a line in the middle of the leaderboard separating the submissions above and below it.

[2018-11-16 05:01] spMohanty opened #1083 "Render meta parameters on submission page"
It would be good to render meta parameters on the submission page, for example here : https://www.crowdai.org/challenges/spotify-sequential-skip-prediction-challenge/submissions/20442/edit

The meta parameters should be rendered for privileged users : challenge organizers, admins
And simple indendent json dump should also do the trick for now.
This will be important for keeping a track of whats ha

[2018-11-18 00:00] spMohanty opened #1084 "Score precision is not respected in case of baseline submissions"
<img width="1220" alt="screen shot 2018-11-18 at 00 57 47" src="https://user-images.githubusercontent.com/1581312/48667013-06ea1700-eacd-11e8-97ff-57476caa4667.png">

Like in this case, where the precision is 3 significant digits, which is respected in case of usual submissions, but not in case of the submissions marked as baselines.

[2018-11-19 16:17] scarroll32 commented on #1083
Implemented

<img width="997" alt="screen shot 2018-11-19 at 17 16 18" src="https://user-images.githubusercontent.com/11340230/48719950-efbb3e80-ec1e-11e8-8973-df6b629b0bb2.png">

[2018-11-19 16:17] #1083 closed, assigned to scarroll32

[2018-11-19 16:17] scarroll32 commented on #1064
Implemented

[2018-11-19 16:17] #1064 closed, assigned to scarroll32

[2018-11-19 16:20] scarroll32 commented on #1025
Bump @seanfcarroll

[2018-11-22 14:21] spMohanty opened #1086 "post challenge submissions throw an error"
[code]

Seems to be hapenning here : https://github.com/crowdAI/crowdai/blob/master/app/models/submission.rb#L49

[2018-11-23 16:44] antoinexp commented on #862
Organizers are not able to edit the challenge status:

<img width="848" alt="screenshot 2018-11-23 at 17 41 30" src="https://user-images.githubusercontent.com/2098699/48953797-530ede80-ef47-11e8-91a1-dbb89646c2cf.png">

[2018-11-23 18:33] scarroll32 opened #1087 "Add challenge round to grader service call"
Change [this code](https://github.com/crowdAI/crowdai/blob/master/app/services/grader_service.rb#L74) to include challenge_round_id

[code]

[2018-11-23 18:35] scarroll32 commented on #1087
will be ```challenge_round_id```  @spMohanty

[2018-11-23 18:43] spMohanty commented on #1087
Thanks @seanfcarroll !

[2018-11-23 19:06] scarroll32 commented on #1087
No problemo, it's implemented in production now https://github.com/crowdAI/crowdai/commit/9d59a7530aacc67d2eeb0860fbb8d91d5030b74f

[2018-11-23 19:06] #1087 closed, assigned to nobody

[2018-11-23 19:12] scarroll32 commented on #1086
Do we know which challenge this is for ?

[2018-11-23 19:20] scarroll32 commented on #1086
There are overlapping rounds on the challenge -- this was not planned for.

Round 2 (current)
<img width="584" alt="screen shot 2018-11-23 at 20 18 16" src="https://user-images.githubusercontent.com/11340230/48958068-ff0ef480-ef5c-11e8-9b2c-a19a607d4323.png">

Round 3 (future)
<img width="626" alt="screen shot 2018-11-23 at 20 19 35" src="https://user-images.githubusercontent.com/11340230/48958080

[2018-11-23 19:21] scarroll32 commented on #1086
[Challenge](https://www.crowdai.org/organizers/credit-suisse-lauzhack/challenges/transaction-monitoring-challenge/edit)

Round 3 deleted. Please try again @spMohanty

<img width="572" alt="screen shot 2018-11-23 at 20 21 22" src="https://user-images.githubusercontent.com/11340230/48958105-5dd46e00-ef5d-11e8-9eaa-db17f8561fb2.png">

[2018-11-23 19:44] #1086 closed, assigned to scarroll32

[2018-11-25 21:36] spMohanty commented on #1071
Participant emails are not yet included in the CSV export or the JSON export.

[2018-11-30 19:10] natejenkins commented on #1084
This issue was moved to AICrowd/AIcrowd#1

[2018-11-30 19:15] natejenkins commented on #1082
This issue was moved to AICrowd/AIcrowd#2

[2018-11-30 19:15] #1082 closed, assigned to nobody

[2018-11-30 19:19] spMohanty commented on #325
@natejenkins : Lets move this to AIcrowd/AIcrowd, and bump up its priority.
This will still need more discussions, but would still be interested in what your fresh thoughts on this are.

[2018-11-30 19:26] spMohanty commented on #621
@natejenkins : Another one you might love 😉 !

[2018-11-30 19:44] spMohanty commented on #857
Closing this, as this is not relevant anymore.

[2018-11-30 19:44] #857 closed, assigned to MasterScrat

[2018-12-02 14:15] scarroll32 commented on #1084
Closed as was moved.

[2018-12-02 14:15] #1084 closed, assigned to scarroll32

[2018-12-02 14:18] scarroll32 commented on #1066
Closed as there is an active [upstream issue](https://github.com/AICrowd/AIcrowd/issues/75) on AIcrowd

[2018-12-02 14:18] #1066 closed, assigned to nobody

[2018-12-02 14:20] scarroll32 commented on #1025
Hey @ieggel I'm pretty snowed under at present. Any chance of getting this started and doing a PR? If not 100% I'll finish it off.

[2018-12-02 14:20] scarroll32 commented on #1059
Downgraded, as will probably be resolved in the AIcrowd migration.

[2018-12-02 14:24] scarroll32 commented on #889
Dev work is done an on [this branch](https://github.com/crowdAI/crowdai/tree/ref), but testing is not completed. Branch includes the docker branch and an incomplete migration from RSpec to Minittest ... still needs quite a bit of work.

As discussed will not be merged into crowdAI, functionality will come into AIcrowd instead.

[2018-12-02 15:03] ieggel commented on #1025
Hi @seanfcarroll

I'm not sure it's a good idea as this involves sending e-mails and should
really be tested. I'm not familiar at all with those mechanisms. Also there
is still the problem of not having a clean development environment with a
database filled with 'real data'. I would really prefer if you could to
this. We can wait like another month if that would help...

On Sun, Dec 2, 2018, 15:20

[2018-12-03 08:19] mridulnagpal commented on #997
@spMohanty I would like to get started with this.

[2018-12-03 16:35] spMohanty opened #1093 "Fix the rendering order of the challenges on the challenge page"
The order of rendering for a challenge in the challenges page, and also on the featured challenges page, is dependent on a "feature sequence" no parameter, which you can manually set in the edit challenge page (the higher the sequence number, the higher the priority).

But its a pain to use when trying to arrange the order of multiple challenges.
Also, at the end of the challenge, it simply throws

[2018-12-03 19:04] mridulnagpal commented on #997
@natejenkins Can you merge the PR and then close this issue?

[2018-12-03 19:21] spMohanty opened #1094 "crowdAI tests should use mock services"
Some of the tests currently use services like AWS S3 etc, and hence the travis configuration needs us to give sensitive keys as environment variable.
As a result, the tests running on pull requests by external contributors etc fail.

We should replace all such service instance by mock service.
For instance all AWS S3 related stuff could be proxied through this S3 mock service : https://github.com/

[2018-12-03 21:08] mridulnagpal commented on #1044
Hey @seanfcarroll can I work on this, also how much is already done, and what else is needed?

[2018-12-03 21:14] spMohanty commented on #1094
@mridulnagpal : Can you have a look at this ?

[2018-12-04 01:10] spMohanty commented on #1094
This build triggered by my account passes : https://travis-ci.org/crowdAI/crowdai/builds/463024480

And these are the env variables which are set by secret keys :
[code]

[2018-12-05 01:16] mridulnagpal commented on #1094
@spMohanty  On it!

[2018-12-05 02:27] mridulnagpal commented on #1094
So I did everything according to the documentation, but there seems to be a problem. After just including the gem to our gemfile, I get an error while running `bundle exec rake parallel:setup` . @natejenkins Any suggestions on what might be the issue?

![error-aws](https://user-images.githubusercontent.com/22350740/49486132-5bc6b500-f863-11e8-8d9a-9a661350a35d.png)

[2018-12-17 09:40] scarroll32 opened #1097 "Update ActiveStorage and ActiveJob"

[2018-12-17 10:13] scarroll32 commented on #1097
Applied https://github.com/crowdAI/crowdai/pull/1098/commits/10b8e557f3d51199097151f158858e9ac16492e4

[2018-12-17 10:13] #1097 closed, assigned to scarroll32

[2018-12-17 16:45] scarroll32 opened #1100 "Out of memory issues when accessing admin"

[2018-12-19 15:39] scarroll32 commented on #1100
Multiple changes made:

- updated Active Admin
- Updated Sidekiq
- Changed workers = 1
- Removed font awesome from Active Admin
- Removed Auth Trail (again)
- Removed Prometheus endpoint
- Removed references to notebooks in Articles

Status

- All is working except for Active Admin fonts.

The latest release of Active Admin seems to be the main issue, but it has been updated due to a GitHub securi

[2018-12-19 17:17] scarroll32 opened #1102 "Broken SQL being issued"
[code]

[2019-02-04 23:37] faroit opened #1104 "Research Paper / Slides"
Hi

I'd like to know more about how crowdAI works behind the scenes. I started studying the rails code. However, is there a research paper or presentation of the overall system design?

I am especially interested in

- the way the custom evaluation metrics are proposed
- how are the computations carried out? Does crowd AI run participants code?
- how is private data for scoring handled?
- is the f

[2019-02-05 08:16] marcelsalathe commented on #1104
Hi faroit

There is no paper. To answer your questions, evaluation metrics are developed in collaboration with challenge organizers. How the computations are carried out also depends on the specific challenge, but yes, we can run participant's code. We use an evaluation infrastructure for that which we haven't open sourced. Private data for scoring is handled also on a case by case basis - every c

[2019-02-05 08:16] #1104 closed, assigned to nobody

[2019-04-30 13:43] heroxbd opened #1110 "Reverse proxy to crowdAI"
I am trying to have a reverse proxy (with a different domain name) to our crowdAI site.  But by adding a simple nginx reverse proxy site, e.g.

[code]

But the site gives `unverified_request` error:

[code]

Is there some documentation to build a reverse proxy for a crowdAI site?

[2019-05-02 07:44] scarroll32 commented on #1110
Hi @heroxbd, crowdAI was built to run on Heroku, but it is a standard Rails app so should be configurable to run on a VPS. It seems like something is not configured correctly on the server, can I suggest reviewing [this guide](https://gorails.com/deploy/ubuntu/18.04).

Also, you might do well to ask this question over at [AIcrowd](https://github.com/AICrowd/AIcrowd), where there is more active dev

[2019-05-02 08:05] scarroll32 opened #1112 "Webpacker build issues"
<img width="1140" alt="Screenshot 2019-05-02 at 10 05 28" src="https://user-images.githubusercontent.com/11340230/57062886-d89a7580-6cc1-11e9-8615-f71dd434cb91.png">

[2019-05-02 08:11] scarroll32 commented on #1112
Looks like the Heroku Dyno has a more recent version of node.

<img width="1135" alt="Screenshot 2019-05-02 at 10 11 00" src="https://user-images.githubusercontent.com/11340230/57063169-a3daee00-6cc2-11e9-804c-0c05451850a5.png">

[2019-05-02 09:47] heroxbd commented on #1110
I see.  I am going to have a standard Rails apps reverse proxy.

What's the relations between AIcrowd and crowdAI?  What will happen to crowdAI?

Sure, we are running it for a neutrino data analysis contest at Tsinghua University, Beijing. The site is available via IPv6 at https://data-contest.net9.org or a (somewhat slow) reverse proxy at https://dc.airelinux.org.

[2019-06-11 08:09] scarroll32 opened #1113 "Sunsetting crowdAI banner & remove signup page"
crowdAI will soon be archived, and users will be notified to migrate to AIcrowd instead.

- add a banner at the top of every page with the text:
"crowdAI is shutting down - please read our blog post for more information"
with a link to https://www.crowdai.org/blogs/7
- remove ability for users to create new accounts
- existing users will still be able to log in and access all of the site
- grading

[2019-06-11 08:45] scarroll32 commented on #1113
https://github.com/crowdAI/crowdai/commit/d8dcc91e16ffbe6a37ffc5cedecc20b9b207be29

[2019-06-11 09:51] scarroll32 commented on #1113
Deployed

[2019-06-11 09:51] #1113 closed, assigned to nobody