[2016-10-31 09:26] scarroll32 opened #1 "Organizers to author challenges"
Optionally enable challenge organisers to render Submissions Guidelines, Dataset description, etc on the Challenge Overview page

The current nested form is too complex now ... it should be replaced by several form objects. These can be coded with reform / cells.

https://github.com/apotonick/reform

https://github.com/apotonick/cells

[2016-10-31 09:27] scarroll32 opened #2 "Update Friendly ID automatically"
Friendly ID is not updated when the challenge title is changed. Add additional code to facilitate this.

http://stackoverflow.com/a/36236475/993592

[2016-10-31 09:27] scarroll32 opened #3 "Implement a CDN for assets"

[2016-10-31 09:28] scarroll32 opened #4 "Rails 5 Upgrade"

[2016-10-31 09:29] scarroll32 opened #5 "User active indicator based on websockets"
Currently the user 'Online now' indicator is based on a DB update, and causes many additional SQLs. This is inefficient when the site is scaled.

This should be replaced by an ActionCable solution

Dependent on https://github.com/crowdAI/crowdai/issues/4

![screen shot 2016-10-31 at 10 29 36](https://cloud.githubusercontent.com/assets/11340230/19849705/f7dfa132-9f54-11e6-9d17-39930bad8ec7.png)

[2016-10-31 09:30] scarroll32 opened #6 "Replace JavaScript / jQuery components with React.js components"
- S3 uploads and image cropping
- Challenge progress bar

File uploads with S3 / React / Rails

http://blog.littleblimp.com/post/119230396893/direct-uploads-to-s3-with-react-rails-and

[2016-10-31 09:31] scarroll32 opened #7 "Container file injection rules"
Some file injection rules for containers have configuration fields, but are not implemented in the container builds. These need to be implemented at some point:
- Grading only
- Overwritable
- Datasets directory

![screen shot 2016-09-16 at 16 14 24](https://cloud.githubusercontent.com/assets/11340230/18588912/aed14e40-7c28-11e6-8a80-1540b625e86f.png)

[2016-10-31 09:32] scarroll32 opened #8 "Automatically end challenges"
Challenges are currently manually ended by an administrator.

Implement a background process or on-page trigger that automatically ends challenges when the end datetime has been reached.

[2016-10-31 09:33] scarroll32 opened #9 "Update Landing page"
Create a new engaging landing page for crowdAI

Potentially three boxes:

- about crowdAI
- box for participants
- box for hosts

[2016-10-31 09:33] scarroll32 opened #10 "Change tracking navigation"
Change tracking has been implemented by https://github.com/salathegroup/crowdai/pull/257 and there is a count displayed to admins only.

![screen shot 2016-08-25 at 14 52 56](https://cloud.githubusercontent.com/assets/11340230/17969693/a6591c68-6ad3-11e6-9ba7-25a0365b3c4c.png)

Enhancements to this functionality are:
- forward and back links to navigate through versions
- which account made the ch

[2016-10-31 09:34] scarroll32 opened #11 "Email participants when there is a new tutorial posted"

[2016-10-31 09:34] scarroll32 opened #12 "Streaming challenge content P2P in browser"
When users download files, we can optionally stream via browser-based torrents. WebTorrent requires no installation and S3 can produce files in torrents.

This could dramatically reduce our download traffic costs.

https://github.com/feross/webtorrent

Consider this also: https://github.com/TTLabs/EvaporateJS

[2016-10-31 09:35] scarroll32 opened #13 "iPython Notebooks"
A Jupyter notebook will be able to be added anywhere the user can currently add markdown, ie:

forum posts
challenge description (admins)
knowledge base
Gitlab integration is not in scope.

https://github.com/jupyter/nbconvert

[2016-10-31 09:36] scarroll32 opened #14 "Implement site-wide search"

[2016-10-31 09:37] scarroll32 opened #15 "Develop development environment instructions"

[2016-10-31 09:37] scarroll32 opened #16 "Implement CI"

[2016-10-31 09:38] scarroll32 opened #17 "Implement Code Climate"

[2016-10-31 20:37] scarroll32 commented on #17
Closed https://github.com/crowdAI/crowdai/commit/4bab474e9e7d624ce9d3b35b402fced850c585de

[2016-10-31 20:37] #17 closed, assigned to scarroll32

[2016-11-03 18:52] spMohanty opened #18 "Syntax Highlighting in the Forums"
Support for Syntax Highlighting in the forums will be really helpful.
For reference, you can have a look at my post on this thread : https://www.crowdai.org/topics/images-appear-to-be-corrupted/posts/new

[2016-11-07 00:24] spMohanty opened #20 "Buttons on the forums don't seem to have the proper classes"
As you can see in this image, the buttons are not visually distinguishable from the rest of the text in the forum posts.
I think it should look more like the red button (that I created by simply modifying the markup to add `btn btn-primary` as classes) to make it more intuitive to use.
![screen shot 2016-11-07 at 1 22 16 am](https://cloud.githubusercontent.com/assets/1581312/20043198/f8922f26-a488

[2016-11-09 18:06] scarroll32 commented on #20
That was intentional, but of course they can be changed (it does go red on a hover). I think we should do (or ask a designer) to do a full design review as there are many parts that need some more thought. Then the whole site can be updated in one go.

[2016-11-10 13:53] scarroll32 commented on #16
Closed https://github.com/crowdAI/crowdai/pull/21

[2016-11-10 13:53] #16 closed, assigned to scarroll32

[2016-11-14 14:31] scarroll32 commented on #20
Closed https://github.com/crowdAI/crowdai/pull/22

[2016-11-14 14:31] #20 closed, assigned to scarroll32

[2016-11-14 14:59] scarroll32 commented on #18
Closed https://github.com/crowdAI/crowdai/pull/23

[2016-11-14 14:59] #18 closed, assigned to scarroll32

[2016-11-14 18:27] scarroll32 commented on #2
Closed https://github.com/crowdAI/crowdai/commit/f97ca6872aba34ef17ff1017c36e7501536c2533

[2016-11-14 18:27] #2 closed, assigned to nobody

[2016-11-15 07:03] spMohanty opened #24 "Automated triggering of grading upon submission"
I think it would really be convenient for participants if the grading of their submission is automatically triggered upon submission. Given how much work goes into a particular submission, its a pain to wait for a manual trigger :'(

[2016-11-15 08:01] scarroll32 commented on #24
There is already a checkbox at the challenge level, and this was previously running, but I commented it out for some reason. I'll check into it.

[2016-11-17 12:59] scarroll32 opened #25 "Participant control of email notifications"
Give participants the ability to opt out of email notifications at a per-challenge or per-post level

[2016-11-17 15:38] scarroll32 commented on #8
Closed by https://github.com/crowdAI/crowdai/pull/23

[2016-11-17 15:38] #8 closed, assigned to nobody

[2016-11-17 15:38] scarroll32 commented on #11
Closed by https://github.com/crowdAI/crowdai/pull/23

[2016-11-17 15:38] #11 closed, assigned to scarroll32

[2016-11-17 15:39] #15 closed, assigned to scarroll32

[2016-11-18 15:59] scarroll32 commented on #10
`closed https://github.com/crowdAI/crowdai/pull/23

[2016-11-18 15:59] #10 closed, assigned to nobody

[2016-11-21 10:37] scarroll32 commented on #25
Currently only participants who have participated in the post will receive a notification.

[2016-11-26 06:25] scarroll32 opened #28 "Ant Challenge: Submission Error messages"
There have been two instances where there has been a problem with the submission file, and the error message is 'ant_id'.

What does this error message mean ... can we provide some more detail to participants?

<img width="1053" alt="screen shot 2016-11-26 at 07 23 19" src="https://cloud.githubusercontent.com/assets/11340230/20638517/7f8e386a-b3a9-11e6-9c8a-cebf70291b7c.png">

[2016-12-05 08:06] scarroll32 opened #29 "Submission notifications"
Send an email notification to admins for any submissions.

[2016-12-05 08:57] scarroll32 commented on #25
Needs a unsubscribe link in the email footer.

[2016-12-05 08:58] #12 closed, assigned to nobody

[2016-12-05 09:07] scarroll32 opened #30 "Unify challenges and tutorials styling"
<img width="778" alt="screen shot 2016-12-05 at 10 06 54" src="https://cloud.githubusercontent.com/assets/11340230/20879148/a6813f46-bad2-11e6-82b9-165b92f2fd1d.png">

[2016-12-06 15:03] scarroll32 commented on #29
Closed https://github.com/crowdAI/crowdai/pull/31

[2016-12-06 15:03] #29 closed, assigned to nobody

[2016-12-06 15:21] scarroll32 commented on #24
Closed https://github.com/crowdAI/crowdai/pull/32

[2016-12-06 15:21] #24 closed, assigned to nobody

[2016-12-06 15:22] scarroll32 opened #33 "Notify participants via email when submissions have been graded"

[2016-12-06 15:28] scarroll32 commented on #25
Options for email notifications (by default all turned on) and apply to challenges to which the user is participating.

### Email Subscription Settings

- Opt out of all emails [Can also be initiated from the email footer, does not include Devise emails]
- crowdAI newsletter

In challenges in which I am participating:

- A new entry is made to the leaderboard
- A post is made to the discussions
-

[2016-12-06 15:39] scarroll32 opened #34 "Replace Administrate with Active Admin"

[2016-12-09 13:40] scarroll32 commented on #25
Closed https://github.com/crowdAI/crowdai/pull/35

[2016-12-09 13:40] #25 closed, assigned to nobody

[2016-12-09 14:36] #28 closed, assigned to spMohanty

[2016-12-09 14:38] scarroll32 commented on #33
Closed https://github.com/crowdAI/crowdai/pull/36

[2016-12-09 14:38] #33 closed, assigned to nobody

[2016-12-12 09:10] scarroll32 opened #37 "Unsubscribe email"
- token based
- expire after 7 days
- take user to a unsubscribe page but they are not actually logged in

[2016-12-12 10:22] scarroll32 opened #38 "Rubocop"

[2016-12-12 21:37] marcelsalathe commented on #38
?

[2016-12-12 21:41] scarroll32 commented on #38
A code profiling tool, came out of the "best practices" discussion.

[2016-12-12 21:42] scarroll32 commented on #38
https://github.com/bbatsov/rubocop

[2016-12-16 14:42] scarroll32 commented on #37
Closed https://github.com/crowdAI/crowdai/pull/39

[2016-12-16 14:42] #37 closed, assigned to nobody

[2016-12-16 15:01] scarroll32 commented on #38
Closed https://github.com/crowdAI/crowdai/pull/40

[2016-12-16 15:01] #38 closed, assigned to nobody

[2016-12-16 20:36] scarroll32 commented on #9
Will wait until after meeting with the designer before proceeding.

[2016-12-18 15:48] scarroll32 opened #41 "End of challenge"
- challenge should be ending automatically (not working)
- send an email to all participants that a new challenge has started and a challenge has ended (but we can still accept submissions).

[2016-12-22 09:47] scarroll32 opened #43 "crowdAI in classroom functionality"
- simplify timeline (move it into challenges)
- follow general in-place editing model of the tutorials
- move all header fields + status into header section
- add private challenge checkbox to header section
- create a new admin level for profs
- admin only features marked consistently with an icon in collapsable areas
- number and name of downloaders visible to admin directly on downloads page
-

[2016-12-23 14:47] scarroll32 commented on #43
- simplify timeline (move it into challenges)
- follow general in-place editing model of the tutorials
- move all header fields + status into header section
- add private challenge checkbox to header section
- create a new admin level for profs
- admin only features marked consistently with an icon in collapsable areas
- number and name of downloaders visible to admin directly on downloads page
-

[2016-12-27 03:55] spMohanty opened #44 "Links to `leaderboard` in crowdAI emails broken"

[2017-01-26 16:58] scarroll32 commented on #4
closed https://github.com/crowdAI/crowdai/tree/issue_4

[2017-01-26 16:58] #4 closed, assigned to nobody

[2017-01-30 15:06] scarroll32 opened #46 "Datasets to be be optional"
Required for the Stanford challenge

[2017-02-02 20:13] #34 closed, assigned to nobody

[2017-02-02 20:13] #9 closed, assigned to nobody

[2017-02-03 15:49] scarroll32 commented on #46
Decided that instead a dummy file will be uploaded.

[2017-02-03 15:49] #46 closed, assigned to scarroll32

[2017-02-13 11:58] spMohanty opened #50 "Add gifs for leaderboard in learning to walk challenge"

[2017-02-13 17:34] scarroll32 commented on #41
Closed https://github.com/crowdAI/crowdai/commit/622e0047714d5ede396d0195884cacb367ce1c33

[2017-02-13 17:34] #41 closed, assigned to nobody

[2017-02-20 10:04] scarroll32 commented on #13
Perhaps we can use this http://mybinder.org/

[2017-02-20 10:15] scarroll32 commented on #50
Closed https://github.com/crowdAI/crowdai/commit/9fa24e31d427355bf11a7f0edab1bdc33a7acd73

[2017-02-20 10:15] #50 closed, assigned to nobody

[2017-02-21 07:43] scarroll32 opened #55 "Memory paging in crowdAI"
[code]

[2017-02-21 08:44] scarroll32 commented on #55
http://www.slideshare.net/heroku/optimizing-production-apps-on-heroku-73113

[2017-02-21 13:14] scarroll32 commented on #55
- upgraded memory and the database
- turned off caching

https://github.com/crowdAI/crowdai/commit/f79cb39ddc8fa47d81960cea95c3f5ef4d97df38
now is lighting fast, but this is not an ideal solution.

[2017-02-22 07:27] marcelsalathe opened #57 "EPFL logo broken on page footer"
See bottom of https://www.crowdai.org/challenges/learning-how-to-walk

[2017-02-22 07:49] scarroll32 commented on #57
Caused by https://github.com/crowdAI/crowdai/issues/55

Will fix asap

[2017-02-22 09:49] scarroll32 commented on #57
Closed https://github.com/crowdAI/crowdai/commit/cb4cf31d709e79c2edcd82cd7bf1c3c4fc103c70

[2017-02-22 09:49] #57 closed, assigned to scarroll32

[2017-02-22 10:20] scarroll32 commented on #1
Closed pending outcome of new design

[2017-02-22 10:20] #1 closed, assigned to nobody

[2017-02-22 10:21] scarroll32 commented on #43
Closed to be replaced by new design

[2017-02-22 10:21] #43 closed, assigned to scarroll32

[2017-02-22 10:21] scarroll32 commented on #7
Closed. Docker containers not being used at this point.

[2017-02-22 10:21] #7 closed, assigned to nobody

[2017-02-22 13:13] spMohanty opened #58 "Tagging of people in the discussion forums"
I think it would be good if we can tag users like "@spMohanty" which points to a users profile (and also sends him a notification if he has opted for it) to make the long discussions more digestible.

[2017-02-22 17:26] spMohanty opened #59 "Raw ruby template missing error page giving out numerous internal platform specific stuff"
Ideally this link shouldnt throw such detailed errors in production mode : https://www.crowdai.org/challenges/learning-how-to-walk/leaderboards/video_modal?participant=yieldthought&score=875.386657&submission_id=171

[2017-02-24 08:36] scarroll32 opened #60 "Email preferences not saving when participant not logged in"
Email preferences can be accessed either from within the participant profile, when logged in, or else by following the "Unsubscribe" link at the bottom of emails.

Following the unsubscribe link is seeming to allow changing of email preferences, but in fact the settings are not modified when the participant next logs in.

Refer this discussion posting: https://www.crowdai.org/topics/observation-ve

[2017-02-24 08:44] scarroll32 opened #61 "Host account cannot access show method"
Re message received about a host account

[2017-02-24 09:18] scarroll32 commented on #60
Need to confirm that clicking the *crowdAI Newsletter* box removes the user from the Mailchimp list.

![screen shot 2017-02-24 at 10 17 01](https://cloud.githubusercontent.com/assets/11340230/23297601/7131514a-fa7a-11e6-9cc5-f827c8c8afa0.png)

[2017-02-26 11:53] marcelsalathe opened #62 "Leaderboard link broken in email"
both on Mac mail and iOS mail

[2017-02-26 14:39] scarroll32 opened #63 "undefined method `leaderboards_id_eq' for #<Ransack::Search"
How is this happening?

<img width="617" alt="screen shot 2017-02-26 at 15 38 52" src="https://cloud.githubusercontent.com/assets/11340230/23340620/c72eaa6e-fc39-11e6-84e2-d0f719928d78.png">

http://www.rorvswild.com/applications/152/errors/1820990

[2017-02-26 14:39] marcelsalathe opened #64 "can't see challenges in admin view"
Getting this error:

<img width="1052" alt="screen shot 2017-02-26 at 3 38 30 pm" src="https://cloud.githubusercontent.com/assets/215057/23340616/b42e0356-fc39-11e6-9079-927a927f3cbd.png">

[2017-02-26 14:41] scarroll32 opened #65 "SSL Errors"
<img width="725" alt="screen shot 2017-02-24 at 8 55 06 pm" src="https://cloud.githubusercontent.com/assets/11340230/23340634/ff3e648a-fc39-11e6-9cc4-fc2ad789df70.png">

[2017-02-26 14:42] scarroll32 commented on #64
Related https://github.com/crowdAI/crowdai/issues/63

ActiveAdmin is not fully configured. Will deal with it this week.

[2017-02-26 14:43] scarroll32 commented on #62
Has been fixed but not yet deployed.

[2017-02-26 14:51] scarroll32 commented on #63
Closed ... will be fixed in issue 64

[2017-02-26 14:51] #63 closed, assigned to nobody

[2017-02-26 15:05] marcelsalathe opened #66 "Challenges sorting"
Challenges should be sorted with the news on top (sort by start date) - at the moment the new challenges are at the bottom of the list:

<img width="703" alt="screen shot 2017-02-26 at 4 03 20 pm" src="https://cloud.githubusercontent.com/assets/215057/23340837/5743a2aa-fc3d-11e6-9d7f-1e6f3d790840.png">

[2017-02-27 12:29] scarroll32 commented on #66
Closed https://github.com/crowdAI/crowdai/commit/cb0f56ba547a74e509d3d5ec73869c5f015478ac

[2017-02-27 12:29] #66 closed, assigned to scarroll32

[2017-02-27 12:30] scarroll32 commented on #60
Closed https://github.com/crowdAI/crowdai/commit/6ddf6a09b66a89c2215f0eacbf964aeec0cea762

[2017-02-27 12:30] #60 closed, assigned to nobody

[2017-02-27 12:32] scarroll32 commented on #61
Closed https://github.com/crowdAI/crowdai/commit/cb0f56ba547a74e509d3d5ec73869c5f015478ac

[2017-02-27 12:32] #61 closed, assigned to nobody

[2017-02-27 12:42] scarroll32 commented on #62
Closed https://github.com/crowdAI/crowdai/commit/f4aeb91ecf8694c6ecfbee745d8aeabee7ea7c8b

[2017-02-27 12:42] #62 closed, assigned to scarroll32

[2017-02-27 12:43] scarroll32 commented on #44
Closed https://github.com/crowdAI/crowdai/commit/f4aeb91ecf8694c6ecfbee745d8aeabee7ea7c8b

[2017-02-27 12:43] #44 closed, assigned to nobody

[2017-02-27 12:43] #5 closed, assigned to nobody

[2017-02-27 12:43] scarroll32 commented on #58
To be considered as part of the redesign.

[2017-02-27 12:46] scarroll32 opened #68 "CI Issues"
Tests that are passing locally fail on the CI.

[code]

Strange, as the code is it failing on is part of the Ruby standard lib

[code]

[2017-02-27 18:05] scarroll32 commented on #14
To be catered for in the redesign

[2017-03-03 19:35] #58 closed, assigned to nobody

[2017-03-03 19:35] #30 closed, assigned to nobody

[2017-03-03 19:35] #14 closed, assigned to nobody

[2017-03-03 19:36] #6 closed, assigned to nobody

[2017-03-06 08:20] scarroll32 opened #70 "mp4 video of animated gif cannot be opened in some browsers"

[2017-03-06 09:07] scarroll32 commented on #55
Related https://github.com/crowdAI/crowdai/issues/59

[2017-03-06 10:07] scarroll32 opened #71 "Add detail with animations behind leaderboard"
Click on leaderboard entry and then see all entries for the participant for this challenge, including animations.

[2017-03-06 13:03] scarroll32 commented on #59
Closed https://github.com/crowdAI/crowdai/commit/38aa9d3bf486672ea73ffd564bd61a98fba2127d

[2017-03-06 13:03] #59 closed, assigned to nobody

[2017-03-06 14:04] scarroll32 commented on #55
Notes

- Puma is a multithreaded server and MRI is single threaded. Puma will work best with Rubinius or JRuby.
- There is a gem configuring a default plugin, but the contents can be easily added to the initializer https://github.com/puma/puma-heroku/blob/master/lib/puma/plugin/heroku.rb

for each CPU core. Heroku 1x, 2x, and Performance-M dynos each have 8 cores. Performance-L
dynos have 2 cores.

[2017-03-06 14:17] spMohanty opened #73 "CrowdAI emails not ending up in Primary inbox on Gmail"
In my case, they end up in the "Promotions" section, while I do get a lot of emails which are actually promotions but they still end up in my Primary Inbox.
Would be a pity if people dont even get to notice our newletters, especially when its so low volume.

The submission made emails, and the forum notifications do end up in my primary inbox though.

[2017-03-06 14:28] scarroll32 commented on #73
These emails are coming directly from a Mailchimp campaign, where as the others are sent as transactional emails via Mandrill. Will look into it.

[2017-03-06 15:13] scarroll32 opened #74 "Depreciation warnings"
Various deprecations to be updated before upgrading to Rails 5.1

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[code]

[2017-03-06 15:24] scarroll32 opened #75 "Changes to email preferences"
Verify emails are correctly being sent to the users as per email preferences.

[2017-03-06 15:33] scarroll32 commented on #75
Post Notification and Leaderboard mailers suspended while investigating.

[2017-03-06 17:41] scarroll32 commented on #65
https://maulwuff.de/research/ssl-debugging.html

[2017-03-06 18:00] scarroll32 commented on #65
Ran a SSL security and config report at www.ssllabs.com

<img width="1132" alt="screen shot 2017-03-06 at 18 58 58" src="https://cloud.githubusercontent.com/assets/11340230/23622466/1b821b6c-029f-11e7-98e2-2034554eb2ec.png">

[2017-03-06 18:38] scarroll32 commented on #75
"A post is made to a topic to which I am participating" is actually sending an email to every participant, not just those participating to the challenge.

<img width="562" alt="screen shot 2017-03-06 at 19 33 15" src="https://cloud.githubusercontent.com/assets/11340230/23623875/f7dd4498-02a3-11e7-817a-e6cc316a3f9a.png">

This can be fixed but we are still sending many emails out. For example https

[2017-03-06 18:41] scarroll32 commented on #75
Suggested changes to settings:

- remove "Any discussion post is made"
- remove "In any challenge / A new entry is made on the leaderboard"

All emails are logged before sending to Mandrill. I will add a view to more easily visualise how many emails are going out in response to which events.

<img width="505" alt="screen shot 2017-03-06 at 19 38 47" src="https://cloud.githubusercontent.com/assets/

[2017-03-06 18:42] scarroll32 commented on #55
Moving research to the Wiki https://github.com/crowdAI/crowdai/wiki/Profiling

This issue has been solved & closed, assets are back online.

[2017-03-06 18:42] #55 closed, assigned to scarroll32

[2017-03-06 18:44] scarroll32 commented on #75
40,081 emails have been sent from crowdAI since tracking started (I think around October 2016). We have 687 participants.

[2017-03-06 20:11] spMohanty opened #76 "Show the latest submission in case of multiple submissions with the same score ?"

[2017-03-06 21:51] marcelsalathe commented on #75
This obviously needs fixing.

I agree to remove "in any challenge, a new entry is made on the leaderboard"

Also, "general" is not clear -> if I click crowdAI newsletter, will I get it? This is incoherent.

I think we need to discuss these in person in the next few days.

[2017-03-07 06:38] scarroll32 commented on #75
Ok let's discuss.

The post and leaderboard emails are disabled at the moment.

[2017-03-07 15:18] scarroll32 commented on #13
Can be rendered client-side https://github.com/jsvine/notebookjs

[2017-03-07 20:52] scarroll32 commented on #76
Would be simple enough to do https://github.com/crowdAI/crowdai/blob/master/db/views/leaderboards_v02.sql

Add an order by date desc, but is it likely to happen?

[2017-03-08 09:28] scarroll32 opened #77 "Add a sign up for the newsletter option?"
I think we should have a sign up for the newsletter option that does not require a crowdAI account. Any thoughts?

[2017-03-09 07:51] scarroll32 commented on #68
Travis CI is also failing on a Postgres jsonb column.

[code]

[2017-03-09 07:52] scarroll32 commented on #68
https://github.com/travis-ci/travis-ci/issues/2983

[2017-03-09 08:41] scarroll32 commented on #68
Postgres issues solved by forcing Trusty & Postgres 9.6 in .travis.yml

[code]

[2017-03-09 08:58] scarroll32 commented on #68
Closed https://github.com/crowdAI/crowdai/commit/534cacdee64ad196919a3410c482a8f8914a8112

[2017-03-09 08:58] #68 closed, assigned to nobody

[2017-03-09 10:04] scarroll32 commented on #75
Proposed changes to email preferences:

- Leaderboard entry and any posts made in discussions will be sent for challenges which the user is following
- When a user starts participating in a challenge, they are automatically following that challenge
- A user may opt out of following the challenge on the challenge page

The check boxes on the Email Preferences change to:

- Receive the crowdAI Newsl

[2017-03-09 10:08] marcelsalathe commented on #75
I think this is a very good way. What should also be possible is to be able to follow a challenge, without participating. So this would need a new user interface element.

[2017-03-09 10:19] scarroll32 commented on #75
@marcel I agree. We could either use the proposed "heart" for a challenge as both a like and a follow indicator, or have a separate "follow" or "watch" indicator. GitHub uses "watch" and I think this makes sense for us also.

[2017-03-09 13:12] scarroll32 commented on #75
Partially implemented. Will hold for new designs for remainder.

https://github.com/crowdAI/crowdai/commit/8266e52cc9c44274c41b132c622b6b9c1b7de898

[2017-03-09 13:13] scarroll32 commented on #75
Needs to include integration with Mailchimp's API for the newsletter.

[2017-03-09 13:18] scarroll32 commented on #71
Branch stanf

[2017-03-13 12:30] scarroll32 commented on #75
First part of changes applied: https://github.com/crowdAI/crowdai/commit/c8055c5af88867556c7e9c9cfcfd7d48ec090c8a

[2017-03-13 14:28] scarroll32 commented on #64
Closed https://github.com/crowdAI/crowdai/commit/c8055c5af88867556c7e9c9cfcfd7d48ec090c8a

[2017-03-13 14:28] #64 closed, assigned to scarroll32

[2017-03-13 20:11] scarroll32 commented on #75
Send emails only on create and not update, in case the author edits the post

[2017-03-13 20:39] scarroll32 commented on #75
Send only on create https://github.com/crowdAI/crowdai/commit/ae6be2d8b397ddc2e665105d8d328f1cfd114de0

[2017-03-13 20:48] #77 closed, assigned to nobody

[2017-03-13 20:53] scarroll32 commented on #73
http://www.boldandzesty.com/how-to-avoid-promotions-tab-in-gmail/

Things that get us landed in promotions tab

- external links
- unsubscribe link
- images
- not calling the person by name

The email newsletter *is* actually a promotion...

[2017-03-13 20:53] #73 closed, assigned to nobody

[2017-03-13 20:54] #65 closed, assigned to nobody

[2017-03-16 08:16] scarroll32 opened #80 "Teams"
Teams have been suggested by participant **Zxc_596**, and were also discussed previously within the crowdAI team. I've opened this issue as a place to discuss this potential feature.

Things to consider

- How would a team be formed? Should participants be able to directly message each other?
- Can a team be formed after the challenge has already started?
- Can a participant submit outside of the

[2017-04-10 14:04] scarroll32 commented on #70
You may need to use -pix_fmt yuv420p for your output to work in QuickTime and most other players. These players only supports the YUV planar color space with 4:2:0 chroma subsampling for H.264 video. Otherwise, depending on your source, ffmpeg may output to a pixel format that may be incompatible with these players.

https://superuser.com/questions/820134/why-cant-quicktime-play-a-movie-file-encod

[2017-04-10 15:34] scarroll32 opened #85 "EPFL logo missing on mobile"

[2017-04-10 20:44] scarroll32 commented on #85
Closed https://github.com/crowdAI/crowdai/commit/8e35ddf8184a7437937c34c4e7d7accfda9ff075

[2017-04-10 20:44] #85 closed, assigned to nobody

[2017-04-10 20:45] scarroll32 commented on #71
https://github.com/crowdAI/crowdai/commit/db99c0ea918c9a4d74fae0721a316f953323fd4f

[2017-04-10 20:45] #71 closed, assigned to nobody

[2017-04-10 20:45] scarroll32 commented on #71
closed

[2017-04-10 20:45] scarroll32 commented on #70
Closed https://github.com/crowdAI/crowdai/commit/db99c0ea918c9a4d74fae0721a316f953323fd4f

[2017-04-10 20:45] scarroll32 commented on #76
Closed https://github.com/crowdAI/crowdai/commit/c2a44132db913a97ae7cf4d494cf8e0e050a89b9

[2017-04-10 20:45] #76 closed, assigned to nobody

[2017-04-11 10:59] marcelsalathe opened #86 "Link broken in email"
Just received - submission email which linked to

https://www.crowdai.org/challenges.learning-how-to-walk

[2017-04-11 13:38] scarroll32 opened #87 "crowdAI UI v2"
- Remove completely existing CSS and pages
- Integrate new pages and CSS as designed
- Skin ActiveAdmin with new designs
- Devise timeout

http://stackoverflow.com/questions/9427433/have-devise-timeout-a-period-x-after-entering-a-number-of-wrong-passwords

[2017-04-11 13:59] scarroll32 opened #88 "Participant Notifications"
Components

- Notification symbol in the navbar
- Contents of drop down box
- Backend mechanics, websockets etc

[2017-04-11 14:02] scarroll32 opened #89 "Rails 5.1 Upgrade"

[2017-04-12 09:22] scarroll32 opened #90 "MathJax CDN shutting down"
https://www.mathjax.org/cdn-shutting-down/

[2017-04-12 09:23] scarroll32 opened #91 "Sortable lists"
In several places crowdAI uses a 'sequence' field to control ordering of lists. This should be changed to a draggable, javascript-based interface, but will require changes in the UI design also.

[2017-04-12 09:24] scarroll32 opened #92 "Social Share button"
Placement of the button has been designed in the v2 design, but will not be implemented until some future release.

[2017-04-12 09:25] scarroll32 opened #93 "Develop "Host a challenge" text"

[2017-04-12 09:42] scarroll32 opened #94 "Image upload for Markdown body"
Use a Github style image upload in markdown.

[2017-04-12 09:59] scarroll32 opened #95 "Participant Account Deletion"
RE: template-account-settings

- "Delete my account dialog"
  - What happens to submissions, tutorials, posts when a participant is deleted
      - delete content
      - leave in place but remove link to profile
      - change name to "Unknown" or "Deleted user"

[2017-04-13 09:01] scarroll32 opened #96 "Check GA script is current version"

[2017-04-19 07:11] scarroll32 commented on #86
Closed https://github.com/crowdAI/crowdai/commit/128b17c41578d90437dbdbd458a4116e6bd5fd54

[2017-04-19 07:11] #86 closed, assigned to scarroll32

[2017-04-24 14:53] marcelsalathe opened #97 "Forum post ordering"
Forum posts should be ordered with newest on top, not on bottom.

[2017-04-24 15:03] marcelsalathe opened #98 "Movies should not autoplay"
Instant CPU hog (> 200 % on my MacBook Pro)

[2017-04-24 19:14] marcelsalathe opened #99 "Email delay"
For forum submissions, let's add a 5 min delay to sending the "immediate" emails so that people can still edit / delete the post before people get the email.

[2017-04-24 19:33] scarroll32 commented on #99
Good idea.

[2017-04-24 19:36] scarroll32 commented on #98
Needs discussion. They are autoplaying at present for effect but also because otherwise they will need a UX control to start them. Currently clicking on the video opens the modal with a larger video.

If the problem is only CPU then we can look into alternatives formats or try and cache the videos.

[2017-04-25 16:06] scarroll32 opened #100 "Interface to audit trail"
There is probably a gem available

[2017-04-25 16:07] scarroll32 opened #101 "Review manual grading for challenges"
Do we still support this under the new model?

[2017-05-03 05:46] marcelsalathe opened #102 "Learning How To Walk challenge leaderboard is broken"
<img width="981" alt="screen shot 2017-05-03 at 7 42 14 am" src="https://cloud.githubusercontent.com/assets/215057/25649298/898b1e26-2fd4-11e7-8704-f51bf9567a6a.png">

[2017-05-03 07:30] scarroll32 commented on #102
Fixed https://github.com/crowdAI/crowdai/commit/4cd1d5c04bb2f7a0aa500fa1500af335e271e674

[2017-05-03 07:30] #102 closed, assigned to scarroll32

[2017-05-03 07:39] scarroll32 commented on #90
Closed https://github.com/crowdAI/crowdai/commit/5361a35bcb09d65420662c5ae98372bedf5fc6cd

[2017-05-03 07:39] #90 closed, assigned to scarroll32

[2017-05-04 07:53] scarroll32 opened #103 "New grader infrastructure"
The final version of this document will be added to the Wiki, but is added here for discussion.

## Strategy

To support the BBP challenge, openSNP and to harmonise the various grading mechanisms, a new unified grading architecture has been designed. crowdAI participants will download a Python client, develop their answer using this client and submit directly to crowdAI.

A submission client will

[2017-05-04 14:29] scarroll32 opened #104 "Validate Host API key against challenge client name"
The host API key and challenge client name are passed from the crowdAI Broker. A check needs to be made that these are for the hosts's challenges, and report back to the broker otherwise.

[2017-05-04 17:02] spMohanty opened #105 "Make discussion forum public"
I think removing the sign-in requirement for discussion forums for all the challenges makes more sense.
That way, enable them to be indexed by search engines, and relevant content will keep coming up on related queries.

[2017-05-05 06:26] scarroll32 commented on #105
OK I will incorporate this, with a login required to comment or like a post.

[2017-05-05 11:16] scarroll32 opened #107 "Add re-grading endpoint for new grading infrastructure"
At some point we will provide the ability to re-grade an existing submission. The assumes the **crowdAI Broker** has captured and mapped the **submission_id**.

This functionality exists in crowdAI, but is not exposed via the API.

[2017-05-05 11:19] scarroll32 commented on #104
Closed https://github.com/crowdAI/crowdai/commit/1afb54bd64e151734a3d14204ec32e79f66198f1

[2017-05-05 11:19] #104 closed, assigned to nobody

[2017-05-05 11:54] spMohanty commented on #98
I think the CPU hog is because of multiple videos playing all at once, and not coz of unoptimized video.

We could go with thumbnail images on the leaderboaed, which play the video in a modal when clicked ?

[2017-05-05 12:00] scarroll32 opened #108 "Migrate existing S3 assets to media_* fields"
S3 assets for leaderboard display are currently attached via paperclip. The new version of the grader will instead update media_* fields with urls. Hacky code caters for both instances as a stop gap, but the assets need to migrated to the media_* fields and the others removed.

[2017-05-05 12:23] scarroll32 commented on #98
I would agree with that approach:

- Leaderboard contains a thumbnail image with a still from the video (non-animated).
- Click on image to open modal with the large video autoplaying

Related issue: https://github.com/crowdAI/crowdai/issues/108

@marcel are you OK with this approach?

[2017-05-08 08:01] scarroll32 commented on #103
Additional notes from 8/5 meeting

- The Rails API will enforce a quota. The basic quota is the limit of submissions per day, but a future version may incorporate additional quota types. @spMohanty please provide details.

### Python client functions

**Dry run**

Checks if the configuration is correct and checks of the client can communicate correctly with the broker.

**Evaluation**

Code is sub

[2017-05-08 08:33] scarroll32 commented on #98
Decision made in 8/5 meeting: the videos will not autoplay when they are outside the viewport.

http://stackoverflow.com/questions/21163756/html5-and-javascript-to-play-videos-only-when-visible

[2017-05-11 14:17] scarroll32 commented on #103
Closed and moved to the wiki

[2017-05-11 14:17] #103 closed, assigned to nobody

[2017-05-11 18:45] spMohanty opened #110 "Authentication API responds with malformed JSON"
`
{ message: 'Developer API key is valid' }
`

[2017-05-12 09:29] scarroll32 commented on #98
Closed

[2017-05-12 09:29] #98 closed, assigned to scarroll32

[2017-05-22 17:35] scarroll32 commented on #110
Can you add a curl or how you made the call?

[2017-05-22 17:50] scarroll32 commented on #101
Doesn't look like it.

[2017-05-22 17:50] #101 closed, assigned to nobody

[2017-05-25 11:33] scarroll32 commented on #96
Yes

[2017-05-25 11:33] #96 closed, assigned to scarroll32

[2017-05-25 19:39] #105 closed, assigned to nobody

[2017-05-25 19:39] #94 closed, assigned to scarroll32

[2017-05-25 19:40] scarroll32 opened #112 "Downgrade database"

[2017-05-25 19:43] scarroll32 opened #113 "How to handle long challenge taglines"
See screenshot
<img width="1159" alt="screen shot 2017-05-25 at 21 41 55" src="https://cloud.githubusercontent.com/assets/11340230/26467487/167f4ca6-4193-11e7-9109-5b5e4b95acf7.png">

Options:

- Restrict length of tagline field at data entry
- Handle with CSS

@marcelsalathe your thoughts?

[2017-05-25 19:48] scarroll32 opened #114 "Password field needs styling"
Am presently using a regular text field as the password field is not styled.
<img width="629" alt="screen shot 2017-05-25 at 21 48 08" src="https://cloud.githubusercontent.com/assets/11340230/26467666/ee747802-4193-11e7-9b22-0775f8c7c923.png">

[2017-05-25 19:56] scarroll32 opened #115 "API Key & recycle button styling"
For Participants and Challenges. API Key has been removed from Organizer.

<img width="547" alt="screen shot 2017-05-25 at 21 55 00" src="https://cloud.githubusercontent.com/assets/11340230/26467932/e0dd3462-4194-11e7-84c7-eab3fb3829de.png">

<img width="829" alt="screen shot 2017-05-25 at 21 56 27" src="https://cloud.githubusercontent.com/assets/11340230/26467979/08d21924-4195-11e7-8085-874e49271

[2017-05-25 20:01] scarroll32 opened #116 "Buttons overlapping"
Because the Rails form builder produces the submit as an input, the styling needs a tweak.

<img width="555" alt="screen shot 2017-05-25 at 22 00 44" src="https://cloud.githubusercontent.com/assets/11340230/26468130/a118e8de-4195-11e7-8e15-aabe3a005374.png">

[code]

[2017-05-25 20:06] scarroll32 commented on #97
https://github.com/crowdAI/crowdai/commit/7a5a02b50abc61b1dd786f0df71317706e7240a0

[2017-05-25 20:06] #97 closed, assigned to scarroll32

[2017-05-25 20:08] scarroll32 commented on #74
Need to be fixed for Rails 5.1 upgrade https://github.com/crowdAI/crowdai/commit/7a5a02b50abc61b1dd786f0df71317706e7240a0

[2017-05-26 06:47] scarroll32 opened #117 "Post editing / deletions"
Currently we cannot edit comments after they are created. Do we want to change this going forward?

- Participants can edit own comment?
- Participants can delete own comment?

If a comment is edited or deleted by a participant there should be a message.

- Admins can currently edit and delete comments using ActiveAdmin.

[2017-05-26 08:42] #87 closed, assigned to scarroll32

[2017-05-26 08:42] scarroll32 opened #118 "User timeout"
Devise timeout
https://stackoverflow.com/questions/10495390/how-to-configure-time-out-using-devise

[2017-05-26 13:37] scarroll32 opened #119 "File upload button"
I was wondering if we wanted to have something a bit cooler for the file upload button? (to replace the 'choose file' button).

<img width="528" alt="screen shot 2017-05-26 at 15 35 37" src="https://cloud.githubusercontent.com/assets/11340230/26496764/14cede1c-4229-11e7-9a51-f3f2184aef42.png">

[2017-05-26 13:51] scarroll32 commented on #99
Moving this to post V2 launch, but it will be done soon.

[2017-05-26 13:52] scarroll32 commented on #93
@marcelsalathe What are your thoughts on this for V2?

What should the "Get Started" button do?
<img width="1169" alt="screen shot 2017-05-26 at 15 52 19" src="https://cloud.githubusercontent.com/assets/11340230/26497313/5ccbfa72-422b-11e7-94c2-e27562ac4ed8.png">

[2017-05-26 13:55] scarroll32 commented on #93
I'm happy to draft something if preferred.

[2017-05-26 14:22] scarroll32 commented on #119
I think we should lose the 'replace' link, as you can just select a new picture. The delete is OK.
<img width="494" alt="screen shot 2017-05-26 at 16 20 08" src="https://cloud.githubusercontent.com/assets/11340230/26498426/51a9e646-422f-11e7-9615-1a99bcbe59e6.png">

Other points:
- I think max image size should be 1MB, although it can be resized on the server
- Is the cropping to make an image squ

[2017-05-26 15:12] scarroll32 commented on #116
Don't worry, I found a workaround. Closed.

[2017-05-26 15:17] scarroll32 commented on #116
https://github.com/crowdAI/crowdai/commit/1156c201efb237d9e70e90d0c3c68522022b5a53

[2017-05-29 06:57] scarroll32 opened #120 "Default text when no entries in list?"
Do we want to have some default text when there are no entries in one of the lists? We would need to add some styling to center or otherwise emphasise the text.

For example we could have:

**DataSet file**
"No dataset files have are available for this challenge"

**Participant Challenge list**
"<name> has not entered any challenges yet.

**Participant Tutorial List**
"<name> has not written any t

[2017-05-29 07:03] scarroll32 opened #121 "Add discussion posts to user profile page?"
The discussion posts has been an area where participants have been quite active. Do we want to add a tab with a summary of participant posts against their profile page?

[2017-05-29 07:05] scarroll32 commented on #100
https://www.reddit.com/r/rails/comments/2koyki/want_to_display_a_detailed_changelog_using/

[2017-05-29 07:38] scarroll32 opened #122 "crowdAI logo not appearing in mobile view"
The crowdAI head should appear in the mobile view.

[2017-05-29 07:44] yannis opened #123 "Clicking on the ❤️ in a challenge returns 404 when not signed in"

[2017-05-29 08:11] scarroll32 opened #124 "Footer border issue"
<img width="1265" alt="screen shot 2017-05-29 at 10 11 02" src="https://cloud.githubusercontent.com/assets/11340230/26541725/2e2a0d52-4457-11e7-9e63-6e04aa33994b.png">

[2017-05-29 08:28] Boris-c opened #125 "Logo, search button and text field weird display"
Safari Mac:
<img width="207" alt="crowdaisearchissuesafarimac" src="https://cloud.githubusercontent.com/assets/7315069/26542064/c3482f9e-4458-11e7-8b2e-e1c79407ef14.png">

iPhone 6s Plus vertical (icon missing):
![img_6056](https://cloud.githubusercontent.com/assets/7315069/26542245/84a15670-4459-11e7-89b4-81a59ebe6003.PNG)

iPhone 6s Plus horizontal:
![img_6057](https://cloud.githubusercontent.co

[2017-05-29 09:04] scarroll32 opened #126 "Handling large numbers in stats"
Go to "k" after "1.1k" after reaching 1000
<img width="1133" alt="screen shot 2017-05-29 at 11 02 46" src="https://cloud.githubusercontent.com/assets/11340230/26543506/804bf238-445e-11e7-8400-622eb78af122.png">

[2017-05-29 09:31] scarroll32 commented on #113
Stopgap styling but still not working so well on smaller screen sizes: https://github.com/crowdAI/crowdai/commit/8937060bf16e88e5a29eb408ddd6cff3b379ab86

There appears to be an issue with long challenge titles on smaller screen sizes also.

[2017-05-29 09:43] scarroll32 commented on #115
Have added some stopgap html to allow the v2 release. https://github.com/crowdAI/crowdai/commit/19b25b55523d8c2df88f896ca8890aebfb529629

[2017-05-29 10:41] scarroll32 commented on #125
I've created a webserver to server the static designs. The issue appears to be safari-related.
<img width="910" alt="screen shot 2017-05-29 at 12 40 09" src="https://cloud.githubusercontent.com/assets/11340230/26546785/0f1e4f62-446c-11e7-85e5-a8d6bfd18aa1.png">

The webserver is at: https://limitless-island-70890.herokuapp.com/template-terms.html

[2017-05-29 10:47] scarroll32 commented on #125
Remove search icon from v2 https://github.com/crowdAI/crowdai/commit/a12139ce9af29f2b823eb0b547b9378f9d6ad822

[2017-05-29 10:53] scarroll32 opened #127 "Styling broken after error and clicking back button"
Potential Turbolinks issue.

Consider adding default styling to 404 page.

[2017-05-29 10:54] scarroll32 opened #128 "Pluralization"
Review all fields
<img width="224" alt="screen shot 2017-05-29 at 12 53 25" src="https://cloud.githubusercontent.com/assets/11340230/26547153/e4dbae3c-446d-11e7-8793-47d06d20a0bb.png">

[2017-05-29 10:55] scarroll32 opened #129 "Version 1 screenshots"
Collection of screenshots of the V1 iteration.

[2017-05-29 14:36] scarroll32 opened #130 "Timeout issue with remove image"
Affects only Challenges and Articles.

[2017-05-29 14:39] scarroll32 commented on #130
Seems to be something to do with Fog / S3
<img width="1078" alt="screen shot 2017-05-29 at 16 38 29" src="https://cloud.githubusercontent.com/assets/11340230/26553776/63df8b12-448d-11e7-8a39-b497ef467b34.png">

[2017-05-29 14:46] #108 closed, assigned to scarroll32

[2017-05-29 14:46] scarroll32 commented on #120
Moved to future version tag.

[2017-05-29 14:49] scarroll32 commented on #124
Somehow related to margin-top  ... investigating.
<img width="976" alt="screen shot 2017-05-29 at 16 48 32" src="https://cloud.githubusercontent.com/assets/11340230/26554064/be33cb72-448e-11e7-9fe0-071fc088dabd.png">

[2017-05-29 16:00] marcelsalathe commented on #120
I think the default texts you provided are good. Can do similar for bio.

[2017-05-29 16:03] marcelsalathe opened #131 "Images are blown up"
This e.g from a challenge:

<img width="744" alt="screen shot 2017-05-29 at 6 02 31 pm" src="https://cloud.githubusercontent.com/assets/215057/26556133/142b34c0-4499-11e7-931f-e67fbe56d716.png">

[2017-05-29 17:30] scarroll32 commented on #120
OK I'll try to incorporate in this release.

[2017-05-29 19:34] scarroll32 commented on #123
Closed https://github.com/crowdAI/crowdai/commit/20609937b3279b4e1fc2f64d5fd7a9b6ddf37c9d

[2017-05-29 19:34] #123 closed, assigned to scarroll32

[2017-05-29 19:36] scarroll32 commented on #115
<img width="546" alt="screen shot 2017-05-29 at 21 36 21" src="https://cloud.githubusercontent.com/assets/11340230/26560433/e328fc40-44b6-11e7-9735-cbac7035feca.png">

[2017-05-29 19:44] scarroll32 commented on #131
Fixed with https://github.com/crowdAI/crowdai/commit/8d4b2d5d3b2914c852c6a4d7b97f235f36f9012b

@jsnrynlds Can you please review to clarify is this change is a good idea.

[2017-05-29 20:46] scarroll32 commented on #124
Some of the templates have a class of 'no-margin-top' for the footer, and other's don't. Added no-margin-link to the footer.

[2017-05-29 20:46] #124 closed, assigned to scarroll32

[2017-05-29 20:47] scarroll32 commented on #124
Closed https://github.com/crowdAI/crowdai/commit/9473ba87101b2cc7983019c2fb562cf9e612764f

[2017-05-29 20:49] scarroll32 opened #132 "Search"

[2017-05-29 20:59] scarroll32 opened #133 "Inline error styling"
How do we want this to appear?

<img width="528" alt="screen shot 2017-05-29 at 22 58 08" src="https://cloud.githubusercontent.com/assets/11340230/26561912/66177ad6-44c2-11e7-8adf-2ab09b32d7eb.png">

[2017-05-29 21:05] scarroll32 commented on #114
Styles changed in multiple places https://github.com/crowdAI/crowdai/commit/e4b17aba0a26b6d69bbf8ff931d56e4564b753ba

@jsnrynlds could you please review.

[2017-05-29 21:12] scarroll32 commented on #100
https://github.com/activeadmin/activeadmin/wiki/Auditing-via-paper_trail-(change-history)

[2017-05-29 21:12] #91 closed, assigned to scarroll32

[2017-05-30 09:06] scarroll32 commented on #115
This needs to move to the masthead. #show view

[2017-05-30 09:44] jsnrynlds commented on #131
Looks good to me, thanks @seanfcarroll.

[2017-05-30 09:45] #131 closed, assigned to jsnrynlds

[2017-05-30 09:49] jsnrynlds commented on #120
There's an example of styling for this in _template-user-profile-owner.html_.

[2017-05-30 09:53] jsnrynlds commented on #115
You can see this in _template-user-profile-owner.html_.

[2017-05-30 09:54] jsnrynlds commented on #114
Looks fine to me @seanfcarroll.

[2017-05-30 09:54] #114 closed, assigned to jsnrynlds

[2017-05-30 10:00] jsnrynlds opened #134 "Sub-nav active tab not correct colour on certain pages"
Hi @seanfcarroll – on some pages (e.g., https://crowdai-stg.herokuapp.com/challenges) the active tab in the sub-nav is dark-grey when it should be red.

[2017-05-30 10:21] jsnrynlds commented on #125
I've emailed Owen (the dev who helped me with a few bits) about this. Will keep you updated.

[2017-05-30 10:49] jsnrynlds commented on #133
@seanfcarroll I'll create a style for the text but think we should also highlight the relevant textbox/textarea with a red (#f0524d) border.

[2017-05-30 11:07] scarroll32 commented on #129
<img width="1429" alt="screen shot 2017-05-30 at 13 06 23" src="https://cloud.githubusercontent.com/assets/11340230/26580526/e0e96cb2-4538-11e7-9073-f8ea94f46683.png">
<img width="1400" alt="screen shot 2017-05-30 at 13 06 15" src="https://cloud.githubusercontent.com/assets/11340230/26580529/e0ec501c-4538-11e7-96d2-06992808cc23.png">
<img width="1409" alt="screen shot 2017-05-30 at 13 06 09" src="

[2017-05-30 11:07] #129 closed, assigned to scarroll32

[2017-05-30 14:36] scarroll32 commented on #133
Works for me

[2017-05-30 15:05] scarroll32 commented on #95
<img width="593" alt="screen shot 2017-05-30 at 17 04 24" src="https://cloud.githubusercontent.com/assets/11340230/26590170/29e48b56-455a-11e7-98d6-72b271d662e3.png">

[2017-05-30 20:23] scarroll32 commented on #93
changes here: https://github.com/crowdAI/crowdai/commit/8fcedebbdd53d5e1c7f32b3ccf067e8731b6de08

@jsnrynlds I used some br's to get the spacing, not ideal. When you have time could you look into a better formatting?

@marcel let me know if you want the text changed: https://crowdai-stg.herokuapp.com/landing_page/host

I think this page could also benefit from a background or mid-page image.

[2017-05-30 20:49] scarroll32 commented on #128
Closed https://github.com/crowdAI/crowdai/commit/2b9b3d1bedc91bcfaf7fc25f5935ff903b6de1bb

[2017-05-30 20:49] #128 closed, assigned to scarroll32

[2017-05-30 21:08] scarroll32 commented on #120
Closed https://github.com/crowdAI/crowdai/commit/d81beda27d03fb67a02313a8344a4f3b547eed73

[2017-05-30 21:08] #120 closed, assigned to jsnrynlds

[2017-05-30 21:09] scarroll32 opened #135 "Add modal for leaderboard video"

[2017-05-30 21:40] scarroll32 commented on #117
Will not be changed as discussed with Marcel.

[2017-05-30 21:40] #117 closed, assigned to nobody

[2017-05-30 21:41] scarroll32 commented on #126
Move to a cell along with pluralization.

[2017-05-31 14:23] #121 closed, assigned to marcelsalathe

[2017-05-31 14:25] scarroll32 commented on #74
```DEPRECATION WARNING: `config.serve_static_files` is deprecated and will be removed in Rails 5.1.
Please use `config.public_file_server.enabled = true` instead.```

[2017-05-31 14:25] scarroll32 commented on #74
```DEPRECATION WARNING: `config.serve_static_files` is deprecated and will be removed in Rails 5.1.
Please use `config.public_file_server.enabled = true` instead.```

[2017-05-31 15:02] scarroll32 commented on #74
[code]

[2017-05-31 15:29] spMohanty opened #137 "Redirect in case of unauthorised users"
Accessing links which require sign in take you back to the home page, and the error message on the top is not really apparent. It took me a minute of trying to figure out before noticing the error message.

Example link : https://www.crowdai.org/topics/thank-you-everyone-results/comments/new
(Click when you are not signed in)

Ideally I think it should redirect to the login-page.

PS: But did we n

[2017-05-31 15:42] spMohanty opened #138 "UX on homepage"
building up on the dotted+netted globe that we added on the homepage, I imagined something like this :

https://s3.amazonaws.com/salathegroup-static/misc/mohanty/crowdai-tempaltes/organism-home-hero.html

as an extension of it which _**follows**_ the mouse on the home page.
Already implemented, and need feedback and opinions if we should use it in production.

cc, @jsnrynlds @marcelsalathe

Implem

[2017-05-31 15:44] ggrrll opened #139 "console error on safari"
<img width="1440" alt="screen shot 2017-05-31 at 17 40 03" src="https://cloud.githubusercontent.com/assets/15370425/26640707/c20f4b0e-4628-11e7-939d-ebc38adb0b47.png">

[2017-05-31 15:45] spMohanty opened #140 ""Sea All" button on homepage a bit misleading"
The "See All" button on the home page for the challenges is a bit misleading.
Especially because the section header is "Challenges"

When I first landed on the page, I thought there were only a total of 3 challenges. And it took me some time to notice the "See All" button too.

Moving the "See All" button to something like a "Load More" button on the Challenges page(https://www.crowdai.org/challen

[2017-05-31 15:53] spMohanty opened #141 "padding in the "video" column on the leaderboard"
The padding int the video column on the leaderboard is a bit weird ?

https://www.crowdai.org/challenges/learning-how-to-walk/leaderboards

[2017-05-31 15:55] spMohanty opened #142 "Admin view for leaderboards not working"
The admin view from the previous version of crowdai is not visible anymore on the leaderboard.
Something that can be used in draft-mode or starting-soon challenges to keep a track of submissions or for beta testing the grader etc.

Ex : https://www.crowdai.org/challenges/learning-how-to-walk/leaderboards

Labelling it as high priority as we need it for the NIP challenge beta testing.

[2017-05-31 16:03] spMohanty opened #143 "Sign Up page doesnt seem to be working"

[2017-05-31 16:05] spMohanty opened #144 "US economic sanctions in the terms page :-?"
We have a clause in our terms of service page which says :

_09. US Economic Sanctions
You expressly represent and warrant that your use of our Services and or associated services and products is not contrary to applicable U.S. Sanctions. Such use is prohibited, and crowdAI reserve the right to terminate accounts or access of those in the event of a breach of this condition._

Link : https://www.c

[2017-05-31 16:07] spMohanty commented on #142
Also,  cant see any submissions on the leaderboard. when the stats about the challenge say there are 22 submissions

[2017-05-31 16:13] marcelsalathe commented on #140
I agree with the title change to "Featured Challenges"

I also agree that "See all" functionality should be duplicated on the home page using the same mechanism as the "Load More" button on the Challenges page.

I would also prefer to hide the "Load More" Button until we have something like a min of 20 challenges.

[2017-05-31 16:13] marcelsalathe opened #145 "Getting Heroku error when trying to updated image and bio on account page"
<img width="820" alt="screen shot 2017-05-31 at 6 08 22 pm" src="https://cloud.githubusercontent.com/assets/215057/26642116/e2819bb8-462c-11e7-8a37-9bfef53139fe.png">

[2017-05-31 16:39] scarroll32 commented on #144
yes

[2017-05-31 16:42] scarroll32 commented on #144
Sorry closed by accident

The terms were taken from some service ... not the legal dept.

[2017-05-31 16:43] scarroll32 commented on #142
The admin view was removed from the design... we are not initiating the grading from the Rails app anymore so do we need it?

[2017-05-31 16:45] scarroll32 commented on #141
The video wasn't designed for ... I haven't yet discussed it with Jason but let's discuss it with him next week. The modal isn't yet implemented https://github.com/crowdAI/crowdai/issues/135

[2017-05-31 16:46] scarroll32 commented on #138
OK with me

[2017-05-31 17:22] marcelsalathe commented on #138
It's funny but it adds visual noise but no content. Also my CPU starts spinning. So I'd vote against it.

[2017-05-31 19:43] scarroll32 commented on #143
Closed https://github.com/crowdAI/crowdai/commit/c0dc073e3721937ac0feae6608d0fc19a3ad4b03

[2017-05-31 19:43] #143 closed, assigned to nobody

[2017-05-31 19:50] scarroll32 commented on #145
Couldn't replicate this. Will check again tomorrow.

[2017-05-31 19:54] scarroll32 commented on #139
I think it should be OK now. Please re-check.

[2017-05-31 19:55] scarroll32 commented on #137
(So that they can be indexed by search engines)

Yes we did, I will check the code.

[2017-05-31 19:55] scarroll32 commented on #138
Closing.

[2017-05-31 19:55] #138 closed, assigned to nobody

[2017-06-01 01:11] spMohanty commented on #137
@seanfcarroll : Thanks :D

[2017-06-01 01:15] spMohanty commented on #142
No we dont need a separate section like in the previous design, but we will still need the functionalities, like being able to view the (beta) submissions when challenge is in draft mode, or starting-soon mode.
Also to be able to force a re-grade of a particular submission from the web interface itself.

The API for the same is not yet implemented in `crowdai-broker`. Adding an issue for the same

[2017-06-01 01:16] spMohanty commented on #138
👍

[2017-06-01 06:56] scarroll32 commented on #145
OK I've replicated it. Working in it as first priority.

[2017-06-01 07:11] scarroll32 opened #147 "Scan new site for security vulnerabilities"
- brakeman

[2017-06-01 08:36] scarroll32 commented on #139
Still an issue on @ggrrll 's PC (but not mine). Error is captured by Rollbar https://rollbar.com/app48624194-heroku.com/app48624194-heroku.com/items/3/

[2017-06-01 08:45] scarroll32 opened #150 "urls should auto prefix http / https and validate"
On the user profile page the user can enter urls. Future behaviour:

- if http / https is not added to the url, it will be added by code
- the url is then validated, starting with https first
- an error message is displayed if the url is not reachable

[2017-06-01 08:46] scarroll32 commented on #145
Closed https://github.com/crowdAI/crowdai/commit/72adaf7d0783967c515d1521dd348c588da31606

[2017-06-01 08:46] #145 closed, assigned to scarroll32

[2017-06-01 08:48] scarroll32 commented on #142
Linked issues:

https://github.com/crowdAI/crowdai/issues/141

https://github.com/crowdAI/crowdai/issues/135

[2017-06-01 09:01] scarroll32 opened #151 "Public access to pages"
- participant
- leaderboard
- forums

Was working ...

[2017-06-01 09:46] scarroll32 commented on #134
Closed https://github.com/crowdAI/crowdai/commit/114f0ea56fba700ce1cfcb79b26397edf6f62eae

[2017-06-01 09:46] #134 closed, assigned to scarroll32

[2017-06-01 10:51] scarroll32 opened #152 "Heroku Maintenance page"
<img width="1199" alt="screen shot 2017-06-01 at 12 51 16" src="https://cloud.githubusercontent.com/assets/11340230/26676674/0fc245f4-46c9-11e7-8437-9666e0731182.png">

[2017-06-01 10:59] scarroll32 commented on #112
Database downgraded. Notes in private crowdAI wiki here: https://github.com/salathegroup/documentation_crowdai/wiki/Upgrade-Database

[2017-06-01 10:59] #112 closed, assigned to scarroll32

[2017-06-01 11:02] scarroll32 opened #153 "Mixed resources in articles / challenges"
We should store all assets related to a challenge or article in our own S3 bucket, and deliver over http via expiring urls.
<img width="1186" alt="screen shot 2017-06-01 at 13 01 31" src="https://cloud.githubusercontent.com/assets/11340230/26677057/91950d9a-46ca-11e7-8027-8a0d98c2b712.png">

[2017-06-01 11:04] scarroll32 commented on #137
They should go directly to the sign in page, will address.

Separate issue opened for access posts etc https://github.com/crowdAI/crowdai/issues/151

[2017-06-01 11:36] scarroll32 commented on #115
Closed https://github.com/crowdAI/crowdai/commit/993cf0b6b4d6c7bed31158723244d6c4ad39f293

[2017-06-01 11:36] #115 closed, assigned to jsnrynlds

[2017-06-01 11:51] scarroll32 commented on #151
Closed https://github.com/crowdAI/crowdai/commit/9d78f6849d042bd99e6d1753b307067366e8eff9

[2017-06-01 11:51] #151 closed, assigned to scarroll32

[2017-06-01 12:17] marcelsalathe opened #156 "There needs to be space above the footer"
this is a problem on all pages, which means that we simply have to add some top-padding to the footer:

<img width="451" alt="screen shot 2017-06-01 at 2 15 38 pm" src="https://cloud.githubusercontent.com/assets/215057/26679335/e6f9002a-46d4-11e7-87ab-675aedf9bdd9.png">

[2017-06-01 12:30] marcelsalathe opened #157 "Mobile homepage rendering errors"
Two problems:

1. Something is wrong with the text alignment

2. Sometimes, the font is rendered as too large.

<img width="441" alt="screen shot 2017-06-01 at 2 29 34 pm" src="https://cloud.githubusercontent.com/assets/215057/26679763/c5a269be-46d6-11e7-9692-41c0424f52d9.png">

<img width="443" alt="screen shot 2017-06-01 at 2 29 20 pm" src="https://cloud.githubusercontent.com/assets/215057/26679

[2017-06-01 13:07] scarroll32 commented on #118
Closed https://github.com/crowdAI/crowdai/commit/3efa223235c0d5e8d5c84b29e33e311f1cc0941c

[2017-06-01 13:07] #118 closed, assigned to nobody

[2017-06-01 13:10] scarroll32 commented on #156
Related issue https://github.com/crowdAI/crowdai/issues/124

[2017-06-01 13:18] marcelsalathe commented on #122
Why was @jsnrynlds unassigned?

[2017-06-01 13:23] marcelsalathe opened #159 "I cannot "heart" some things"
I am able to heart challenges, but not tutorials...

[2017-06-01 13:25] scarroll32 commented on #156
Templates with 'no-margin-top'

[code]

[2017-06-01 13:31] scarroll32 commented on #156
Bit of an issue with the load more bar.

With 'no-margin-top' and paging (not OK):
<img width="1224" alt="screen shot 2017-06-01 at 15 27 58" src="https://cloud.githubusercontent.com/assets/11340230/26681909/015cc172-46df-11e7-9f05-7d2b06413db0.png">

When there is no paging bar: (OK)
<img width="1200" alt="screen shot 2017-06-01 at 15 29 20" src="https://cloud.githubusercontent.com/assets/1134023

[2017-06-01 13:34] marcelsalathe commented on #156
I this case I think we can live without the no-margin-top, independent of whether there is a loading bar or not.

[2017-06-01 13:50] scarroll32 commented on #156
It is needed on the registration / account pages and I think some of the edit pages and is also creates a blank space between the loading bar and the footer. I have partially implemented a page-based solution for the first case but it won't work for the paging.

The easiest solution is to add a negative margin to the paging bar.

[2017-06-01 13:54] spMohanty opened #160 "Sort Challenges by completion date"
It would be good to sort challenges by completion date on the Challenges page.
I am not sure about the current order of rendering. But in some cases, the learning to walk challenge was not visible.

[2017-06-01 13:57] spMohanty commented on #70
@seanfcarroll : I could not open the videos on my Android phone. So changing the title of the issue, and reopening it.

[2017-06-01 14:07] scarroll32 commented on #156
Closed https://github.com/crowdAI/crowdai/commit/030022d43811f51e9c0940dd67edc8a234b77c51

[2017-06-01 14:07] #156 closed, assigned to jsnrynlds, scarroll32

[2017-06-01 14:12] scarroll32 commented on #160
This is the sort order, based on status. I'll add in a secondary sort on created date, descending within a status.

[code]

[2017-06-01 14:18] scarroll32 commented on #142
OK so as discussed on Slack, we can access the submissions within Activeadmin, but we will add some more detail.

Tasks:

- Add some detail to the active admin view
- Add a admin / organizer only switch to the leaderboard (to be later styled by Jason)
- The switch will turn the leaderboard into a list of submissions, including an indicator about if this entry is on the leaderboard
- we will probab

[2017-06-01 14:18] marcelsalathe commented on #144
I agree, let's remove this

[2017-06-01 14:22] scarroll32 opened #162 "Style Active Admin"
Style active admin with the v2 styles

[2017-06-01 16:30] scarroll32 commented on #70
but this is no longer being transcoded in Rails...

[2017-06-01 16:36] scarroll32 commented on #140
From my side, OK with
- featured challenges
- load more > 20

I think the home page should have a short list of featured challenges ... currently it will be the last 3 created that are active.

Then the see all should go to the existing challenges page, as there are filters there for challenge status.
<img width="633" alt="screen shot 2017-06-01 at 18 34 42" src="https://cloud.githubusercontent.co

[2017-06-01 18:26] spMohanty opened #164 "Wrong author name on discussion forum posts"
I just noticed that in one of the posts I had made in the discussion forum, the shown author is different.

Link : https://www.crowdai.org/topics/approximate-starting-date/comments/new

<img width="1245" alt="screen shot 2017-06-01 at 20 24 34" src="https://cloud.githubusercontent.com/assets/1581312/26694651/742ee0d0-4708-11e7-8030-c1c08c32d629.png">

[2017-06-01 19:54] spMohanty commented on #70
Yeah, so we can close this.
I will deal with the transcoding in the grader.

[2017-06-01 19:54] #70 closed, assigned to nobody

[2017-06-01 19:55] spMohanty commented on #160
:+1:

[2017-06-02 11:45] scarroll32 commented on #164
Closed https://github.com/crowdAI/crowdai/commit/ece68bc73b5ba1453329462b985441e1690418a9

[2017-06-02 11:45] #164 closed, assigned to scarroll32

[2017-06-02 12:02] scarroll32 commented on #160
Closed https://github.com/crowdAI/crowdai/commit/43d6a25655412ba0cd995f6e443f6c4a52c0d39e

[2017-06-02 12:02] #160 closed, assigned to nobody

[2017-06-02 12:03] scarroll32 commented on #144
Closed https://github.com/crowdAI/crowdai/commit/3eecdddd06c53e7c7bed507321a7681e15a2208e

[2017-06-02 12:03] #144 closed, assigned to nobody

[2017-06-02 13:57] scarroll32 commented on #142
Added a click on number of entries for the admin or the organizer (Lukas). More work to follow on the leaderboard. https://github.com/crowdAI/crowdai/pull/167/commits/c1b729a7d47b736ef048d60f61da245d93426834
<img width="1192" alt="screen shot 2017-06-02 at 15 57 13" src="https://cloud.githubusercontent.com/assets/11340230/26728937/2ce5e60c-47ac-11e7-9dce-b052ede4d096.png">

[2017-06-02 14:00] scarroll32 commented on #142
@spMohanty let me know if that works for now.

[2017-06-02 14:03] scarroll32 commented on #137
Closed

[2017-06-02 14:03] #137 closed, assigned to nobody

[2017-06-02 14:03] scarroll32 commented on #107
ping @spMohanty do you have a view on this?

[2017-06-02 14:04] scarroll32 commented on #122
It is appearing on some templates ... so a coding issue.

[2017-06-02 15:40] #92 closed, assigned to scarroll32

[2017-06-02 15:41] #100 closed, assigned to nobody

[2017-06-02 15:46] #80 closed, assigned to nobody

[2017-06-04 16:45] scarroll32 commented on #159
Closed https://github.com/crowdAI/crowdai/pull/168/commits/7a409e9e66f6abcb40fc62f83730829e32cdc5b8

[2017-06-04 16:45] #159 closed, assigned to scarroll32

[2017-06-04 17:32] scarroll32 commented on #159
Useful query for diagnosing deadlocks

[code]

[2017-06-04 18:06] scarroll32 commented on #130
Closed https://github.com/crowdAI/crowdai/pull/169/commits/9d1366fa0b0d19d42d999f397316596b525120a0

[2017-06-04 18:06] #130 closed, assigned to scarroll32

[2017-06-04 18:14] scarroll32 commented on #152
Closed https://github.com/crowdAI/crowdai/commit/dda7062383353cb37351c13557b9358208e4f628

[2017-06-04 18:14] #152 closed, assigned to scarroll32

[2017-06-04 18:30] scarroll32 commented on #74
Closed https://github.com/crowdAI/crowdai/commit/f1168f2d676008685dddd4f542553889da2384c8

[2017-06-04 18:30] #74 closed, assigned to nobody

[2017-06-05 06:28] #142 closed, assigned to scarroll32

[2017-06-05 09:14] spMohanty opened #171 "Mathjax does not seem to be working"
Ex : https://www.crowdai.org/challenges/ants-challenge-part-1

[2017-06-05 09:43] spMohanty opened #172 "Add support for image resizing in markdown editor ??"
Images included using markdown have pretty big and weird sizes. Ex. : https://www.crowdai.org/challenges/nips-2017-learning-to-run
(Look at the institutional logos)

Can we try to add support for `width=` or `height=` params in our markdown (like a few extended markdown flavours), or simply let atleast the admins include pure HTML ?

[2017-06-06 08:12] spMohanty opened #173 "Challenge stats dont match"
The challenge stat says 22 submissions, but the leaderboard shows I have already made 40 entries. Shouldnt the challemnge stats reflect the sum of all the entries on the leaderboard ? (41) ?

<img width="1222" alt="screen shot 2017-06-06 at 10 11 16" src="https://cloud.githubusercontent.com/assets/1581312/26819774/a84013a8-4aa0-11e7-8f7f-3d630612d67b.png">

[2017-06-06 14:39] jsnrynlds commented on #125
Think this has been fixed although will need checking on iPhone Safari.

[2017-06-06 14:42] jsnrynlds commented on #119
@seanfcarroll Yes, we should definitely lose the 'Replace' button when no file's been uploaded but I'd keep it when one has (as opposed to simply pressing the image).

[2017-06-06 14:47] jsnrynlds commented on #157
This is essentially the same issue as https://github.com/crowdAI/crowdai/issues/113. (Aside from the challenge headings sometimes appearing too large... I've not been able to replicate that on any browser or on my mobile.)

Looking into this.

[2017-06-07 11:31] scarroll32 commented on #172
Any examples of a markdown flavor with something like this implemented? We can use one with the markdown renderer.

[2017-06-07 11:53] scarroll32 commented on #95
Closed https://github.com/crowdAI/crowdai/pull/175

[2017-06-07 11:53] #95 closed, assigned to marcelsalathe, scarroll32

[2017-06-07 12:06] scarroll32 commented on #171
Where is it not working?

[2017-06-07 12:23] scarroll32 commented on #173
Stats job was disabled. Fixed https://github.com/crowdAI/crowdai/commit/bf083937281b8973a487dda9dc595ad7a0b0b2b7

[2017-06-07 12:23] #173 closed, assigned to scarroll32

[2017-06-07 12:26] scarroll32 commented on #125
https://github.com/salathegroup/crowdai-templates/commit/502c152a73786bafc0c51d579799b6f56fe881aa

[2017-06-07 13:01] #125 closed, assigned to jsnrynlds

[2017-06-07 13:02] scarroll32 commented on #122
Fixed https://github.com/crowdAI/crowdai/pull/177/commits/1b7adf1162dc4290edd2f12b8647a0d22599186f

[2017-06-07 13:02] #122 closed, assigned to scarroll32

[2017-06-07 13:10] scarroll32 commented on #140
https://github.com/crowdAI/crowdai/commit/fc8001994eace048fe8074c6a744f7e3add34001

[2017-06-07 13:10] #140 closed, assigned to nobody

[2017-06-07 13:25] #113 closed, assigned to jsnrynlds

[2017-06-07 13:26] scarroll32 commented on #157
Has been fixed & looks OK on my phone. @marcelsalathe can you confirm.

[2017-06-07 13:27] scarroll32 commented on #139
Closed.

[2017-06-07 13:27] #139 closed, assigned to scarroll32

[2017-06-07 15:35] scarroll32 commented on #126
Closed https://github.com/crowdAI/crowdai/commit/ed6cc6343fd6c79acdc6620d994309d92d4bfcbc

[2017-06-07 15:42] #147 closed, assigned to scarroll32

[2017-06-07 16:10] #157 closed, assigned to jsnrynlds, scarroll32

[2017-06-07 16:54] scarroll32 commented on #3
Deployed to production, staging TBD.

[2017-06-08 08:44] marcelsalathe commented on #126
I'm fine with this with two caveats:
1. Let's do that after 10,000, not after 1,000
2. Let's round to hundreds, i.e. 12,378 would then be shown as 12.4k

[2017-06-08 08:54] jsnrynlds commented on #93
@seanfcarroll @marcelsalathe I wonder if for the time being, we could make this more like the homepage? So, remove the grey header, increase the size of the main heading, and add the background-image?

Also, maybe change the heading to 'Interested in hosting a challenge?'.

@seanfcarroll Not sure if you noticed, but if you look at template-host-a-challenge.html and press the 'Get started' button i

[2017-06-08 08:55] jsnrynlds commented on #93
If we did change the main heading _and_ use the modal then we should probably change the modal heading.

[2017-06-08 09:03] jsnrynlds commented on #133
@seanfcarroll This is what I had in mind...

![crowdai_form_error](https://user-images.githubusercontent.com/1162939/26920688-a9151836-4c31-11e7-9cf1-2c5f647d11e9.png)

[2017-06-08 09:29] marcelsalathe commented on #93
I think this is a great idea (i.e. make it look more like the homepage, and then get info via the modal).

[2017-06-08 10:24] scarroll32 commented on #133
I like it. @marcelsalathe ?

[2017-06-08 10:25] scarroll32 commented on #93
OK ... consider it done :-)

On 8 June 2017 at 11:29, Marcel Salathé <notifications@github.com> wrote:

[2017-06-08 10:26] scarroll32 commented on #126
OK no problem

On 8 June 2017 at 10:44, Marcel Salathé <notifications@github.com> wrote:

[2017-06-12 07:21] scarroll32 commented on #3
Deployed to staging

[2017-06-12 07:21] #3 closed, assigned to scarroll32

[2017-06-12 11:58] scarroll32 opened #181 "Remodal is not maintained any longer"
The Remodal library is not maintained anymore. This is not a big issue, as it is working for now.

Could we consider replacing it with https://github.com/thephuse/vanilla-modal ?

It looks like a simple app and does not have a jQuery dependency.

[2017-06-14 07:50] scarroll32 opened #182 "Dataset files page error on Ants Challenge"

[2017-06-15 17:05] scarroll32 commented on #182
I need to write another data conversion script for this one.

[2017-06-15 17:09] scarroll32 commented on #135
Patch applied https://github.com/crowdAI/crowdai/commit/28f6f2369e0c6688554ea7cec6fdff971c73d364

Assigned to Jason for review / change.

[2017-06-15 17:10] scarroll32 commented on #135
Related issue https://github.com/crowdAI/crowdai/issues/141

[2017-06-15 20:36] spMohanty opened #185 "Challenge Timeline in Draft Mode ?"
<img width="1268" alt="screen shot 2017-06-15 at 22 26 51" src="https://user-images.githubusercontent.com/1581312/27200402-d7903716-5219-11e7-90fb-c39f6fe6db2e.png">

I see this on the NIPS Learning to Run challenge at the moment.
Should the 20 days left part be there in the 1`starting soon` mode ?

[2017-06-16 06:17] jsnrynlds commented on #141
@seanfcarroll @spMohanty will videos always be a 4:3 aspect ratio? If so I'll provide a new placeholder image as these are currently square. I think we can change the padding on the the video wrapper to:
[code]

[2017-06-16 06:43] scarroll32 commented on #141
I suspect so, but @spMohanty can you confirm?

[2017-06-16 11:43] scarroll32 commented on #185
I've changed the start / end dates to today (June 16) and ending at 17:30 on September 23rd (a Friday), as discussed. We can modify later if needed.

[2017-06-16 11:43] #185 closed, assigned to nobody

[2017-06-17 07:45] #182 closed, assigned to scarroll32

[2017-06-17 07:48] scarroll32 commented on #172
https://github.com/vmg/redcarpet/issues/487

[2017-06-17 11:57] marcelsalathe opened #187 "CrowdAI logo on mobile different"
For some reason, the crowdAI samurAI loses his eyes on mobile...

<img width="402" alt="screen shot 2017-06-17 at 1 56 20 pm" src="https://user-images.githubusercontent.com/215057/27252691-e14b90e2-5364-11e7-94b8-61f0a3bd6339.png">

[2017-06-18 09:19] scarroll32 opened #188 "Warning in Rails log"
[code]

[2017-06-19 05:38] marcelsalathe opened #189 "Prizes can't be edited"
Shows up empty in admin mode, even though there is content in public view mode:

<img width="705" alt="screen shot 2017-06-19 at 7 36 30 am" src="https://user-images.githubusercontent.com/215057/27270968-2dcd7986-54c2-11e7-9664-342f4f2bbf50.png">

[2017-06-19 05:40] marcelsalathe opened #190 "I can't heart forum posts"
e.g I want to heart the first post here: https://www.crowdai.org/topics/example-py-error/comments/new

But I can't

[2017-06-19 08:22] scarroll32 commented on #190
Closed https://github.com/crowdAI/crowdai/commit/75be0e617402507820da61270954aed8b3db1991

[2017-06-19 08:22] #190 closed, assigned to scarroll32

[2017-06-19 09:23] scarroll32 commented on #189
Closed https://github.com/crowdAI/crowdai/commit/06b9bdf880aaf99a8171cb3e9a2cc77dd129035c

[2017-06-19 09:23] #189 closed, assigned to scarroll32

[2017-06-19 11:28] scarroll32 opened #193 "Highlight Organizer and Admin entries on the leaderboard"
Moved from a discussion in Slack.

On the leaderboard, entries from users who are either the challenge organizer or crowdAI admins will be noted.

- under the name in black italics
- the text is either 'organizer' or 'admin'
<img width="665" alt="screen shot 2017-06-19 at 13 24 46" src="https://user-images.githubusercontent.com/11340230/27283103-0b490b10-54f3-11e7-82cd-818cb1cd271f.png">

@jsnrynl

[2017-06-19 11:56] spMohanty opened #194 "Session expires *really* soon ?"
:'(
I have been getting a lot of these session expired error messages, which forces me to sign in again.

[2017-06-19 11:58] scarroll32 commented on #194
I think the default is 15 mins...

As discussed it will be set to 24 hrs.

[2017-06-19 12:01] scarroll32 commented on #194
Not yet pushed, but done: https://github.com/crowdAI/crowdai/commit/e44c25d8f6bf71b68f5259b8acdd3af32fef9b42

[2017-06-19 12:05] scarroll32 commented on #194
Deployed

[2017-06-19 12:22] marcelsalathe opened #196 "Lists in Markdown"
Doesn't work, e.g on challenge page: https://www.crowdai.org/challenges/nips-2017-learning-to-run

[2017-06-19 13:01] scarroll32 commented on #196
The problem seems to be that styles are associated directly with the ```<ul>``` tags. Looking into the best & quickest solution.

[code]

[2017-06-19 13:07] scarroll32 commented on #172
Added, format is as below:

[code]

[2017-06-19 14:58] marcelsalathe commented on #172
Does not work
<img width="611" alt="screen shot 2017-06-19 at 4 57 44 pm" src="https://user-images.githubusercontent.com/215057/27291430-7a91d8a4-5510-11e7-9c5d-8d50f3636aa1.png">

<img width="281" alt="screen shot 2017-06-19 at 4 57 28 pm" src="https://user-images.githubusercontent.com/215057/27291427-771b095c-5510-11e7-9961-00a291f5db82.png">

[2017-06-19 15:00] marcelsalathe opened #197 "Cannot unheart challenge"
Once I've hearted the challenge, I cannot undo it

[2017-06-19 15:03] marcelsalathe opened #198 "We should show more challenges on the homepage"
The 3 is a little too low. I'd like to set it to 5.

[2017-06-19 15:42] scarroll32 commented on #197
Yes that's the intended behaviour. Do you want to change it?

[2017-06-19 15:43] scarroll32 opened #199 "System wide defaults for Kramdown"
The Kramdown gem doesn't have an initializer ... so need to create something.

https://gist.github.com/remino/8338854

[2017-06-19 15:45] scarroll32 commented on #198
https://github.com/crowdAI/crowdai/commit/a213e2612b92f6cf4744d29dda45af4652f6982e

[2017-06-19 15:53] scarroll32 commented on #172
It's not deployed yet :-)

[2017-06-19 15:53] scarroll32 commented on #126
https://github.com/crowdAI/crowdai/commit/61d42a8b448be7716de2108c008861a9a0fd8f99

[2017-06-19 15:54] #135 closed, assigned to jsnrynlds

[2017-06-19 15:57] scarroll32 commented on #110
@spMohanty is this still an issue?

[2017-06-19 16:10] scarroll32 commented on #198
Closed.

[2017-06-19 16:10] #198 closed, assigned to scarroll32

[2017-06-19 16:11] scarroll32 commented on #196
Closed https://github.com/crowdAI/crowdai/commit/af46b7e660956efa0ec9be068cbec770a73c3255

[2017-06-19 16:11] #196 closed, assigned to scarroll32

[2017-06-19 16:11] scarroll32 commented on #172
Closed https://github.com/crowdAI/crowdai/commit/af46b7e660956efa0ec9be068cbec770a73c3255

[2017-06-19 16:11] #172 closed, assigned to nobody

[2017-06-19 16:11] scarroll32 commented on #171
Closed https://github.com/crowdAI/crowdai/commit/af46b7e660956efa0ec9be068cbec770a73c3255

[2017-06-19 16:11] #171 closed, assigned to spMohanty

[2017-06-19 16:12] scarroll32 commented on #126
Closed https://github.com/crowdAI/crowdai/commit/af46b7e660956efa0ec9be068cbec770a73c3255

[2017-06-19 16:12] #126 closed, assigned to scarroll32

[2017-06-19 17:37] spMohanty commented on #141
At least in context of this challenge it will always be 4:3 aspect ratio.

In future challenges, we can impose the rule and stick to videos with 4:3 aspect ration.

[2017-06-20 08:27] marcelsalathe opened #201 "TOS has wrong numbering"
<img width="721" alt="screen shot 2017-06-20 at 10 26 21 am" src="https://user-images.githubusercontent.com/215057/27323750-f8323046-55a2-11e7-90b5-df04ec7b3902.png">

[2017-06-20 08:51] marcelsalathe opened #202 "(Social) media links don't work"
All (social) media links here (Twitter, GitHub, etc.) go nowhere.

<img width="533" alt="screen shot 2017-06-20 at 10 49 15 am" src="https://user-images.githubusercontent.com/215057/27324703-539f43da-55a6-11e7-9a8e-0417e67cc9c2.png">

[2017-06-20 08:56] marcelsalathe opened #203 "We suggest invalid URLs"
What we show in the form:

<img width="423" alt="screen shot 2017-06-20 at 10 54 15 am" src="https://user-images.githubusercontent.com/215057/27324863-d8f6cd0a-55a6-11e7-8441-ee6be6aabc76.png">

(Btw, this is wrong, since the .com is missing. For the argument, I assume the .com is there, but please fix)

What happens when I add such a URL:

<img width="526" alt="screen shot 2017-06-20 at 10 53 05

[2017-06-20 08:59] marcelsalathe commented on #202
Looking at spMohanty's data, I can see that he didn't add any links at all - so why are they shown? I also noticed, when filing issue #203, that when I add one URL (e.g. for GitHub), suddenly all icons are shown, even though the others go nowhere...

[2017-06-20 09:10] scarroll32 commented on #203
Related issue https://github.com/crowdAI/crowdai/issues/150

[2017-06-20 09:10] scarroll32 commented on #203
The mockup was produced but we are waiting for the actual css. I'll follow up.

[2017-06-20 09:11] scarroll32 commented on #133
@jsnrynlds do you have view when we will have the CSS for this? Cheers.

[2017-06-20 09:11] scarroll32 commented on #203
Styling issue https://github.com/crowdAI/crowdai/issues/133

[2017-06-20 09:12] marcelsalathe commented on #133
Yes I like it too!

[2017-06-20 09:26] scarroll32 commented on #202
Fixed (not deployed) https://github.com/crowdAI/crowdai/commit/3fb922a9272e03dadc61dc91515895544f6c6838

[2017-06-20 09:31] scarroll32 commented on #203
Fixes missing .com (not deployed) https://github.com/crowdAI/crowdai/pull/204/commits/c12fa1b143fc5d2d023df7a303f1e1ae4f607928

[2017-06-20 09:50] scarroll32 commented on #201
Fixed(not deployed) https://github.com/crowdAI/crowdai/pull/204/commits/4a1f28695b2e41c8e8c1c9f05393e877767ae244

[2017-06-20 10:45] scarroll32 commented on #203
Fixed https://github.com/crowdAI/crowdai/pull/204/commits/1116c15be3fc1997549adfdd219ad7b40d4123ab

[2017-06-20 11:06] scarroll32 opened #205 "Admin edit function for forums"
Admins should be able to edit / delete posts

[2017-06-20 11:21] scarroll32 commented on #203
Closed

[2017-06-20 11:21] #203 closed, assigned to scarroll32

[2017-06-20 11:21] scarroll32 commented on #202
Closed

[2017-06-20 11:21] #202 closed, assigned to scarroll32

[2017-06-20 11:21] scarroll32 commented on #201
Closed

[2017-06-20 11:21] #201 closed, assigned to scarroll32

[2017-06-20 11:22] scarroll32 commented on #150
Closed

[2017-06-20 11:22] #150 closed, assigned to nobody

[2017-06-20 11:26] scarroll32 commented on #197
yes

[2017-06-20 11:32] marcelsalathe opened #206 "Mouseover text instead of default"
Mouseover on user page on Challenges Tutorials Bio links show a text cursor, instead of the default cursor (same problem actually on the challenge admin page).

[2017-06-20 11:40] scarroll32 commented on #193
Implemented https://github.com/crowdAI/crowdai/commit/ddab557605a0212bdfbdd199b84e8551151ced23

[2017-06-20 13:08] jsnrynlds commented on #133
Hi @seanfcarroll – I'll set aside some time to look at crowdAI tomorrow.

[2017-06-20 13:11] marcelsalathe opened #208 "Can't cancel "Add File""
<img width="474" alt="screen shot 2017-06-20 at 3 11 09 pm" src="https://user-images.githubusercontent.com/215057/27334802-bcd70224-55ca-11e7-96f3-951daf466e66.png">

[2017-06-20 13:12] marcelsalathe opened #209 "Can't delete files from challenges"

[2017-06-20 13:33] scarroll32 commented on #193
Implemented (closed)

[2017-06-20 13:33] #193 closed, assigned to scarroll32

[2017-06-20 16:11] scarroll32 opened #213 "Admin only delete submission link"
Requested by @spMohanty

[2017-06-20 16:43] scarroll32 commented on #213
@spMohanty I've added a delete link in the submission detail. Click on the number of submissions and then delete the individual ones.

Please close this issue when you understand how to delete.
![screen shot 2017-06-20 at 18 40 27](https://user-images.githubusercontent.com/11340230/27344909-4ae5ece8-55e8-11e7-84e1-48a5f69fb58b.png)

[2017-06-20 16:45] #107 closed, assigned to nobody

[2017-06-20 16:45] #199 closed, assigned to scarroll32

[2017-06-20 16:45] #162 closed, assigned to scarroll32

[2017-06-20 16:45] #89 closed, assigned to nobody

[2017-06-20 16:48] scarroll32 commented on #209
Fixed

[2017-06-20 16:48] #209 closed, assigned to scarroll32

[2017-06-20 16:48] scarroll32 commented on #208
Fixed

[2017-06-20 16:48] #208 closed, assigned to scarroll32

[2017-06-20 16:48] scarroll32 commented on #187
Fixed

[2017-06-20 16:48] #187 closed, assigned to scarroll32

[2017-06-20 19:48] scarroll32 opened #214 "Post challenge switch is not implemented"
Post challenge switch
<img width="427" alt="screen shot 2017-06-20 at 21 47 34" src="https://user-images.githubusercontent.com/11340230/27352784-31631b28-5602-11e7-8a7e-58c89c40a448.png">

[2017-06-20 19:49] #213 closed, assigned to scarroll32

[2017-06-21 10:49] jsnrynlds commented on #133
@seanfcarroll is this simply a case of creating a class that can be applied to form elements to change the border-color as well as one for the error text? I don't have much experience with form validation, sorry.

[2017-06-21 10:55] jsnrynlds commented on #119
@seanfcarroll I came across [WTF, forms](http://wtfforms.com/) yesterday and think the file browser button could work nicely here if I restyle it. Can you see any potential issues with this?

[2017-06-21 12:19] scarroll32 commented on #133
@jsnrynlds Hi Jason yes it would just be as you described. Something similar may be found in Bootstrap eg http://getbootstrap.com/css/#forms and it looks perfect the way you have designed it.

[2017-06-21 12:21] scarroll32 commented on #119
@jsnrynlds it looks fine, would it be possible to extract the relevant CSS and js only, so we don't have a dependency on the project?

[2017-06-21 12:37] jsnrynlds commented on #133
Thanks @seanfcarroll – I'll push this shortly.

[2017-06-21 12:39] jsnrynlds commented on #119
@seanfcarroll So just post the HTML/CSS up here? There's no JS but the HTML would need changing to:
`<label class="file">
  <input type="file" id="file" aria-label="File browser example">
  <span class="file-custom"></span>
</label>`

[2017-06-21 12:43] jsnrynlds commented on #141
@seanfcarroll Coming back to this, I don't think we should include a placeholder image for entries that don't include a video. Could we just replace this with an em dash?

[2017-06-21 13:09] scarroll32 commented on #141
Hi Jason

There will be a mix of some rows with video and some without

Eg https://www.crowdai.org/challenges/learning-how-to-walk/leaderboards

But happy to go with your suggestion.

Cheers,
Sean

[2017-06-21 13:09] scarroll32 commented on #119
Sure just post it here

[2017-06-21 13:14] jsnrynlds commented on #119
@seanfcarroll Cool. This needs to work without Compass variables (e.g., $color-accent), right?

[2017-06-21 13:20] jsnrynlds commented on #119
@seanfcarroll If so, here's the CSS (HTML above):
[code]

[2017-06-21 13:26] scarroll32 commented on #119
Hi Jason

I think it would be better to work as with the rest of the CSS, so you can definitely use the compass vars

If easier push to the crowdAI templates repo

[2017-06-21 13:27] jsnrynlds commented on #133
Let me know if you experience any issues with this.

[2017-06-22 07:32] jsnrynlds commented on #119
@seanfcarroll No problem, here you go.

[code]

[2017-06-22 16:10] spMohanty opened #215 "Submission rendering on the leaderboard"
If I click on the number of entries to expand the number of entries. It correctly shows details about both the submissions.
But if I continue clicking (or maybe double clicking) then it keeps adding more copies of the same entries over and over again.

<img width="1293" alt="screen shot 2017-06-22 at 18 09 02" src="https://user-images.githubusercontent.com/1581312/27444260-122701be-5776-11e7-874e-

[2017-06-22 23:12] spMohanty opened #216 "Video modal autoplay doesnt work in the larger video"
The autoplay also starts after a delay of few seconds in the thumbnail video.

Chrome Version : `Version 59.0.3071.109 (Official Build) (64-bit)`
OS : Mac OS Sierra, v 10.12.4

[2017-06-23 11:55] #181 closed, assigned to jsnrynlds

[2017-06-23 12:01] scarroll32 commented on #133
![screen shot 2017-06-23 at 14 00 16](https://user-images.githubusercontent.com/11340230/27481349-703bb96a-581c-11e7-9635-4c24e31cebc8.png)

[2017-06-23 12:05] scarroll32 commented on #133
https://github.com/salathegroup/crowdai-templates/commit/a37d5043d90d1a41801f6edc7887c27192f98508

[2017-06-26 11:03] spMohanty opened #217 "Video doesnt show in potrait view on mobile phones"
Turning the phone by 90 degrees makes the video visible again. But its not really intuitive for someone to try to turn their phone by 90degrees to know about the presence of the video.

[2017-06-26 11:33] spMohanty opened #218 "Display distribution of scores across the three simulations for the NIPS challenge"
the score right now is a cumulative of three different simulations.
I have a total score of 2179, but about 1100 is just from the first simulation, and I think about 600 from he second and 500 from the 3rd experiment.

I was wondering how important is it for us to be able to show for every submission the distribution of scores across all the three simulations.

A good model is the one which perfor

[2017-06-26 11:44] scarroll32 opened #219 "Accept animated GIFs as image uploads for challenges"
Required for OpenSNP

[2017-06-26 11:44] scarroll32 opened #220 "Challenge creation"
- Organizer dropdown displayed as an object instead of ID

[2017-06-26 12:16] marcelsalathe opened #221 "NIPS videos don't work in modal"
Just a static image (Chrome)

[2017-06-26 12:17] marcelsalathe commented on #221
Probably related to issue #216

[2017-06-26 12:24] scarroll32 commented on #217
@marcelsalathe What are your thoughts on this?

[2017-06-26 12:24] scarroll32 commented on #217
An alternative would be to have a scrollable view

[2017-06-26 12:26] scarroll32 commented on #220
Added stop-gap but it needs to be properly implemented, when we next author a challenge, so marking as low.

[2017-06-26 12:28] scarroll32 commented on #214
Remove the switch until it is properly implemented

[2017-06-26 12:37] scarroll32 commented on #218
Marked as high priority assuming we will do this in the next few days. Let's confirm direction asap.

[2017-06-26 12:38] scarroll32 commented on #133
Half done ... it's on a branch & will be ready after a bit of testing.

[2017-06-26 14:00] spMohanty opened #222 "Markdown preview mode doesnt style list items etc"

[2017-06-26 14:01] spMohanty commented on #219
The uploads for the animated GIF does go through (with an Application error in the end).
But a very distorted version of the GIF turns up as the challenge image in a few seconds.

PS: If this is too much work, then we can make it a low priority issue. As I can use a static image for the Challenge picture also.

[2017-06-26 15:08] scarroll32 commented on #219
Let's go with the static for now.

[2017-06-27 07:34] scarroll32 commented on #197
https://github.com/crowdAI/crowdai/commit/55a1c60fc666cd91ef9c41464cd2df6f9a95ad97

[2017-06-27 15:39] scarroll32 commented on #221
Fixed

[2017-06-27 15:40] scarroll32 commented on #216
Fixed

[2017-06-27 15:40] #216 closed, assigned to scarroll32

[2017-06-27 15:40] scarroll32 commented on #197
Fixed

[2017-06-27 15:40] #197 closed, assigned to scarroll32

[2017-06-28 11:28] spMohanty commented on #221
@seanfcarroll : Reopening this issue as it doesnt seem to have been solved.
It doesnt autoplay on my chrome on mac osx (in some/most of the times I refresh the page).

Also does not work on @ mar-muel 's chrome+osx setup.

[2017-06-28 11:29] spMohanty commented on #218
Changing this to low priority as we agreed for now we can display all the three simulations gifs instead.

[2017-06-28 12:52] scarroll32 commented on #221
Strange. It works on Chrome, Safari & Firefox on my laptop.

There is a short delay before it starts 1-2 seconds.

[2017-06-28 13:38] spMohanty opened #224 "Dataset upload page broken"
I tried uploading a dataset file for opensnp,
and now the dataset page seems to be broken : https://www.crowdai.org/challenges/opensnp/dataset_files

Also bumping the dataset file size to 2gb will help.

[2017-06-28 17:40] scarroll32 commented on #224
There is a limit of 650MB

[2017-06-28 17:40] scarroll32 commented on #133
Fixed

[2017-06-28 17:40] #133 closed, assigned to jsnrynlds

[2017-06-28 17:41] scarroll32 commented on #141
@jsnrynlds What is the final decision on this?

[2017-06-29 09:01] scarroll32 opened #225 "Resumable uploads / downloads"
As we are now supporting dataset files up to 2GB in size, we probably need a resumable upload / download feature. This is supported with AWS.

https://github.com/crowdAI/crowdai/issues/224

[2017-06-29 11:29] spMohanty opened #228 "Better 404 pages ?"
The 404 pages are still the default rails 404 pages.

For example if you go to this link when you are not signed in as an admin : https://www.crowdai.org/admin/challenges/nips-2017-learning-to-run/submissions

Would be great to theme them too.

[2017-06-29 11:51] spMohanty opened #229 "Cropping of image uploads in organisation edit page"

[2017-06-29 11:58] spMohanty opened #230 "A "Featured Challenge" flag to have finegrained control over which challenges are displayed on front page"

[2017-06-29 12:25] scarroll32 commented on #224
Limit removed. Closed. https://github.com/crowdAI/crowdai/commit/b28b32c827db69106154074213394aed14bcc91c

[2017-06-29 12:25] #224 closed, assigned to nobody

[2017-06-29 12:25] scarroll32 commented on #228
@marcelsalathe can ask Jason for a designed 404 page?

[2017-06-29 12:26] scarroll32 commented on #220
All good now.

[2017-06-29 12:26] #220 closed, assigned to nobody

[2017-06-29 12:26] scarroll32 commented on #222
The file upload is not working either ... some S3 permissions issue.

[2017-06-29 12:53] Boris-c opened #231 "Log in form - "Remember me" checkbox partly hidden on iOS"
![img_6304](https://user-images.githubusercontent.com/7315069/27688370-a0e791b6-5cda-11e7-96a6-ba743dd73066.PNG)

[2017-06-29 13:01] scarroll32 commented on #229
We can implement a javascript-based image cropper, eg: as was done in OpenFood.

[2017-06-29 13:01] scarroll32 commented on #231
Jason, could you please review this. @jsnrynlds

[2017-06-29 14:30] scarroll32 commented on #141
Hi @jsnrynlds, not sure if I did this correctly, but the result is as below, so I have not added the code at this point.
<img width="722" alt="screen shot 2017-06-29 at 16 30 10" src="https://user-images.githubusercontent.com/11340230/27692940-410815be-5ce8-11e7-9708-6fdb83411b48.png">

<img width="429" alt="screen shot 2017-06-29 at 16 29 03" src="https://user-images.githubusercontent.com/1134023

[2017-06-29 14:37] jsnrynlds commented on #141
@seanfcarroll Ah, okay, I think that's due to the placeholders being square previously. Think 20px padding above/below will work.

I'm really up against it today but will be in touch tomorrow.

[2017-06-29 14:41] scarroll32 commented on #206
Fixed https://github.com/crowdAI/crowdai/commit/f902ede07604f0e63fb32e1e0130e5d34a6176e1

[2017-06-29 14:41] #206 closed, assigned to scarroll32

[2017-06-29 14:54] scarroll32 commented on #221
Still OK for me, but I have added some additional js to force start it when the modal is opened.

https://github.com/crowdAI/crowdai/commit/fdcd44f3caed7b22b746b5e74febc3926c0766b0

Please confirm it is working and then close this issue. @spMohanty

[2017-06-29 14:55] scarroll32 commented on #141
OK no problem, cheers.

I'm on vacation from next week.

[2017-06-29 22:59] spMohanty opened #232 "`comment` param is not optional in the external grader api"
....as described in the wiki documentation for the API

[2017-06-29 23:09] spMohanty opened #233 "Leaderboard doesnt show score headers"

[2017-06-29 23:11] spMohanty commented on #221
Works for me now. Thanks.

[2017-06-29 23:11] #221 closed, assigned to scarroll32

[2017-06-29 23:16] spMohanty commented on #233
Looks like this gets fixed by putting in the right values in the Evaluation tab of the edit mode.

[2017-06-29 23:16] #233 closed, assigned to nobody

[2017-06-30 05:38] scarroll32 commented on #230
I propose we add an optional "sequence" field. At present a maximum of 5 challenges are displayed on the landing page.

If this field is populated, these challenges will sort ascending by whatever is in this field.

Any other challenges will sort by the existing sort order:

[code]

@spMohanty your thoughts?

[2017-06-30 08:36] jsnrynlds commented on #231
Hi @seanfcarroll – is this only happening to the checkbox on the login page?

[2017-06-30 08:39] jsnrynlds commented on #141
@seanfcarroll When I inspect this in Chrome it's showing `padding: 23px 0;` on the td. Can we try changing this to` padding: 16px 0;`? Also, I don't think we should include placeholders if there's no image... maybe just an em dash.

[2017-06-30 11:48] scarroll32 commented on #141
Hi @jsnrynlds

I added the styling but it didn't seem to make a difference. Not sure if I am adding it in the wrong place, but you can see the change here: https://github.com/crowdAI/crowdai/pull/234/commits/ae4913a2124493d3bff463acab7f790c02d1e1fc

I also replaced the placeholder image with a <em></em> tag https://github.com/crowdAI/crowdai/commit/df3bf0e7a7a6089a5a5b6de4e2b1bbd0205eddf5

I think

[2017-06-30 11:53] scarroll32 commented on #231
@jsnrynlds it seems to be happening in other places, see the attached screenshot from the challenges edit page (on iOS).
![img_6964](https://user-images.githubusercontent.com/11340230/27734551-8a0edfdc-5d9b-11e7-9c39-35b65b21b2d4.PNG)

[2017-06-30 12:08] scarroll32 commented on #232
Removed

https://github.com/crowdAI/crowdai/commit/cdd6b0c5c52802f32f2ef88dfcf0bb9fc90b77f8

[2017-06-30 12:08] #232 closed, assigned to nobody

[2017-06-30 12:09] scarroll32 commented on #225
I testing downloading a 1GB file. On Chrome the resumable download was automatically working. Closing.

[2017-06-30 12:09] #225 closed, assigned to scarroll32

[2017-06-30 14:40] spMohanty opened #235 "Open links in rendered markdown in a new tab"

[2017-06-30 14:41] spMohanty opened #236 "CrowdAI favicon not showing"
<img width="777" alt="screen shot 2017-06-30 at 16 40 56" src="https://user-images.githubusercontent.com/1581312/27740648-f3cb980e-5db2-11e7-8862-8f7f12244beb.png">

[2017-06-30 17:08] spMohanty opened #237 "Generate API key for new users by default"

[2017-07-03 08:44] spMohanty opened #238 "Render comments associated with a submission"
Corresponding issue in the python client : https://github.com/crowdAI/crowdai-client-py/issues/14

[2017-07-03 08:48] spMohanty opened #239 "Leaderboard videos not rendering in Learning to Walk challenge"
Link : https://www.crowdai.org/challenges/learning-how-to-walk/leaderboards

Update: Maybe the videos just all load after a long delay. But this still needs to be investigated.

[2017-07-03 09:06] spMohanty commented on #230
Sounds great to me !!

[2017-07-03 16:27] spMohanty commented on #80
@seanfcarroll : Any reason in particular why this issue was closed ? :-?

[2017-07-04 11:36] yannis opened #240 "Error when trying to access edit form of NIPS challenge via active_admin backend"
An url like https://www.crowdai.org/admin/challenges/nips-2017-learning-to-run/submissions/477/edit returns a 404

[2017-07-04 11:58] yannis opened #242 "Devise forms looking weird"
Good example is this one: https://www.crowdai.org/participants/password/new
Same for this: https://www.crowdai.org/participants/password/edit

![image](https://user-images.githubusercontent.com/30563/27829206-a098720e-60c0-11e7-9185-c6776c54e716.png)

[2017-07-04 12:03] yannis commented on #240
fixed by e31a9c3

[2017-07-04 12:03] #240 closed, assigned to yannis

[2017-07-06 13:35] AdamStelmaszczyk opened #243 "500 after middle button clicking on a video in leaderboard"
After middle button clicking (which opens a link in a new tab) on any video image on [leaderboard page](https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards), 500 "We're sorry, but something went wrong" page always comes up, [example](https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards/video_modal?submission_id=493).

Left button clicking works (because i

[2017-07-06 14:01] AdamStelmaszczyk commented on #239
+1, they load after a very long delay.

It's because these are MP4 files, sometimes even bigger than 1 MB.

![requests](http://i.imgur.com/gLaId04.png)

To make it faster, one could use e.g. much smaller GIF files instead.

[2017-07-07 14:03] yannis commented on #236
fixed by a07f88024416f9caedac88585947253267f33270

[2017-07-07 14:03] #236 closed, assigned to yannis

[2017-07-07 20:06] spMohanty opened #245 "URIs for participants should include slugs instead of record ids."
A current participant profile page url looks like : https://www.crowdai.org/participants/7

When ideally it should look like : https://www.crowdai.org/participants/spmohanty

[2017-07-17 12:11] spMohanty opened #246 "CrowdAI Session expires too soon"
The CrowdAI session expires really soon in case of inactivity, forcing the users to sign in again.
I would guess it expires in about 20-30mins of inactivity.

We should allow logins to persist for at least 24 hours of inactivity.

[2017-07-17 22:40] scarroll32 commented on #246
Related https://github.com/crowdAI/crowdai/commit/dc219c912d735b4fb24bde8e10e5041c33a467be

[2017-07-17 23:21] scarroll32 commented on #246
Released https://github.com/crowdAI/crowdai/commit/a41d80ee3725ec6cf359f88d91e8760277adb18f

[2017-07-17 23:21] scarroll32 commented on #246
Try it out now & close this if OK. Cheers from down under.

[2017-07-18 09:22] marcelsalathe opened #248 "Text change on "Host Challenge" page"
needs to be

Also, I suggest changing

to

[2017-07-20 23:06] AdamStelmaszczyk opened #249 "Can't start a new topic on the forum"
I'm logged in. In the `Discussion` tab, I click `NEW TOPIC` button:

![screen](https://user-images.githubusercontent.com/733573/28442314-04c8a05e-6db0-11e7-80c9-e82cd43f4305.png)

Page reloads with error "You are not authorised to access this page" on the top:

![error](https://user-images.githubusercontent.com/733573/28442378-54ba8276-6db0-11e7-9229-37c03bd1fae7.png)

I'm not the only one with th

[2017-07-21 21:12] ShangtongZhang opened #251 "Cannot find API key"
How can I find my API key?
I went to the profile page, then it asks me to edit my profile. There is not API key generator in that edit page. Then after saving, there is `API key` under my name, but it's empty? Did I miss something?

[2017-07-21 23:12] scarroll32 commented on #249
Looks good.

[2017-07-21 23:30] scarroll32 commented on #251
Hi Shangtong Zhang,

There is a **cyclic arrow symbol** next to the API key field, which you can press to regen your key. I have regenerated it for you already, but feel free to try it out. Please close this issue if it is now solved and good luck on your challenge submissions!

Regards,
Sean

<img width="607" alt="screen shot 2017-07-22 at 09 26 53" src="https://user-images.githubusercontent.com/

[2017-07-21 23:58] scarroll32 commented on #249
This is deployed now https://github.com/crowdAI/crowdai/commit/29c0272edac0eb6d696a1d8e911c697f8b3b0b33

@AdamStelmaszczyk Please try again and close this issue if it is working for you.

@bkDJ Thanks for your help.

[2017-07-22 00:18] scarroll32 commented on #248
Deployed https://github.com/crowdAI/crowdai/commit/b0e84cb906c515a1574d26d95176c0eb08922555

[2017-07-22 00:18] #248 closed, assigned to scarroll32

[2017-07-22 00:19] #246 closed, assigned to nobody

[2017-07-22 00:20] scarroll32 commented on #194
Duplicate https://github.com/crowdAI/crowdai/issues/246

[2017-07-22 00:20] #194 closed, assigned to scarroll32

[2017-07-22 09:25] AdamStelmaszczyk commented on #249
Thank you, works now.

[2017-07-22 09:25] #249 closed, assigned to nobody

[2017-07-22 15:02] ShangtongZhang commented on #251
Thanks for your help with this! It works now. I got the API key. But I believe there may be some bug, because I never see the recycle arrow in any page, even now.

[2017-07-22 15:02] #251 closed, assigned to nobody

[2017-07-24 17:08] spMohanty commented on #237
User Reports : https://github.com/crowdAI/crowdai/issues/251

[2017-07-31 05:18] scarroll32 commented on #239
Thank you for the insight @AdamStelmaszczyk

@spMohanty can we scale these down some more?

[2017-07-31 06:50] bkDJ opened #252 "Trying to perform an action that requires an account should redirect to sign-in page"
Example: When "New Topic" is clicked in the "Discussion" tab of an ongoing challenge, it redirects to the home page with a "You are not authorised to access this page." flash. Instead, it should redirect to the sign-in page with a "Please sign in to continue" flash.

[2017-07-31 07:17] scarroll32 commented on #242
Looks like there were no templates in the design, but I'll adapt some of the other forms.

[2017-07-31 07:36] scarroll32 opened #253 "White section on some login pages"
On some pages there is a white section between the content and the footer when the content is not very large. eg:

https://www.crowdai.org/participants/sign_in

<img width="1328" alt="screen shot 2017-07-31 at 09 36 06" src="https://user-images.githubusercontent.com/11340230/28767365-b4ec2976-75d3-11e7-8de8-efb7b39bb4e4.png">

[2017-07-31 07:42] scarroll32 commented on #242
<img width="781" alt="screen shot 2017-07-31 at 09 42 27" src="https://user-images.githubusercontent.com/11340230/28767591-971e0cec-75d4-11e7-9f07-89195b7af41f.png">

[2017-07-31 08:01] scarroll32 commented on #242
<img width="664" alt="screen shot 2017-07-31 at 10 00 41" src="https://user-images.githubusercontent.com/11340230/28768231-233836ce-75d7-11e7-9a1a-9e82cdab800f.png">
<img width="653" alt="screen shot 2017-07-31 at 10 00 34" src="https://user-images.githubusercontent.com/11340230/28768230-233821b6-75d7-11e7-92fd-c2cf96de5261.png">

[2017-07-31 08:04] scarroll32 commented on #242
Fixed https://github.com/crowdAI/crowdai/commit/c43f4aac24e83715b89add9c167e2b756044ab6a

[2017-07-31 08:08] #242 closed, assigned to scarroll32

[2017-07-31 08:08] scarroll32 commented on #238
Needs some more detail. Let's discuss.

[2017-07-31 10:51] scarroll32 commented on #237
Closed https://github.com/crowdAI/crowdai/commit/07c160f4e246528053e5f01a3913bce44a17dc41

[2017-07-31 10:51] #237 closed, assigned to scarroll32

[2017-07-31 11:26] scarroll32 commented on #119
@jsnrynlds Thanks for this, I have tried to implement it. However, there is an issue.

I am using a Rails form helper which is coded like this:

[code]

This generates a name and id based on the underlying database table and column name, in this case it is like this:
[code]

The id would be different on another page.

I've tried to match the html required for the CSS to work, but it is not working

[2017-07-31 11:32] scarroll32 commented on #119
WIP on a branch https://github.com/crowdAI/crowdai/tree/issue_119

[2017-07-31 11:32] scarroll32 commented on #218
@spMohanty Is this still required?

[2017-07-31 12:18] scarroll32 commented on #245
Implemented but cannot push to production due to Heroku issue (logged).

https://status.heroku.com/incidents/1236

https://github.com/crowdAI/crowdai/commit/ad811c58aae9c462618b1e7ea03bf7d73dbc05e8

[2017-07-31 12:42] marcelsalathe opened #257 "I'd like to be able to heart a conversation in mobile"
I can't at the moment (I can heart challenges, but I think hearting conversations is more important). May need some design help from @jsnrynlds

Desktop:
<img width="884" alt="screen shot 2017-07-31 at 2 41 46 pm" src="https://user-images.githubusercontent.com/215057/28778152-6e740448-75fe-11e7-9bda-336cb82c14ab.png">

mobile:
<img width="395" alt="screen shot 2017-07-31 at 2 41 32 pm" src="https:

[2017-07-31 12:45] marcelsalathe commented on #239
They do indeed take forever. As the leaderboards are growing rapidly now, we should probably start showing just the top X (say 20), and load more on demand (i.e. using the show more button we have on the homepage).

[2017-07-31 12:49] marcelsalathe commented on #228
Yes, please do. @jsnrynlds could design something funny, perhaps involving the crowdAI samurAI. Some inspiration: http://www.creativebloq.com/web-design/best-404-pages-812505

[2017-07-31 13:38] scarroll32 commented on #230
Implemented https://github.com/crowdAI/crowdai/commit/124da205279721e5686fa4bf6f943d34ea1b437c

[2017-07-31 13:50] scarroll32 commented on #230
Added. The Featured Sequence is a higher level sort, and defaults to zero. The higher the number the higher the challenge in the list.

<img width="511" alt="screen shot 2017-07-31 at 15 49 30" src="https://user-images.githubusercontent.com/11340230/28780684-f42aeb70-7607-11e7-9846-738227cd8506.png">

[2017-07-31 13:50] #230 closed, assigned to scarroll32

[2017-07-31 13:51] scarroll32 commented on #245
Closed

[2017-07-31 13:51] #245 closed, assigned to scarroll32

[2017-07-31 13:57] scarroll32 commented on #257
The heart disappears from the template (template-challenge-discussion-topic.html) when viewed as mobile. @jsnrynlds let's discuss when you have time.

<img width="397" alt="screen shot 2017-07-31 at 15 55 26" src="https://user-images.githubusercontent.com/11340230/28780992-e523a2c4-7608-11e7-90e4-be2088346a25.png">

[2017-08-02 09:08] scarroll32 opened #259 "Participants who Heart challenges to be added to participant count"
The participant_count is based on the **participant_challenges** count view, which does not include participants who have hearted the challenge but not otherwise contributed to it.

- Add hearting participants to the count

In effect, Heart can be treated as "follows"

[2017-08-02 14:22] scarroll32 opened #260 "crowdAI / FAQ text"
Develop text for the home page, to be designed by Jason.

[2017-08-02 14:43] scarroll32 opened #261 "Look into missing text on participant profile pages"
Are participants removing it by adding a space?

[2017-08-02 14:44] scarroll32 opened #262 "Challenge data visualizations"
D3, add in the admin panel.

[2017-08-02 15:06] scarroll32 opened #263 "Are emails working?"

[2017-08-02 17:18] marcelsalathe commented on #263
I haven't received any emails about forum posts, so I'm pretty certain something is broken.

[2017-08-03 06:47] scarroll32 commented on #263
Making this the top priority.

[2017-08-03 07:43] scarroll32 opened #264 "Build mailing list generator for Mailchimp"
Currently building a custom mailing list requires running SQL and then uploading a CSV file. Add a simple query page to the admin panel to build and push a custom mailing list to Mailchimp (use Ransack).

This functionality would be useful in other projects also.

[2017-08-03 08:02] scarroll32 commented on #259
An opt-out of emails for a hearted challenge will need to be separately developed.

[2017-08-03 08:12] scarroll32 commented on #259
**Update**

- Participants = people who participate
- Followers = participants + anyone else who is interest to follow the challenge (by hearting it)
- Emails go to followers

[2017-08-03 08:15] marcelsalathe commented on #259
I would not treat the hearts as participants. Yes, I agree a heart means to follow, but participants are those who want to participate (by downloading the data or other files), while someone who hearts a challenge simply says "I like this, keep me in the loop").

i.e.
participants = people who participate
followers = participants + anyone else who is interested to follow the challenge (by hearting

[2017-08-03 08:33] scarroll32 opened #265 "Heart count doesn't match db"
Learning how to run has 98 hearts in the DB

<img width="1205" alt="screen shot 2017-08-03 at 10 33 08" src="https://user-images.githubusercontent.com/11340230/28913112-2bd6ebec-7837-11e7-9306-a1ba90f435c6.png">

[2017-08-03 08:43] scarroll32 commented on #259
Proposed changes

- participants: users who download files, made comments or submitted
- follows: participants + users who 'heart' the challenge or any topics/ comments. Can be opted out.

**Changes**
- Heart at challenge level to be replaced by another symbol ("following")
- Heart at Topic, Comment and Tutorial level remains the same but doesn't affect emails
- Any participant (downloaded files,

[2017-08-04 14:12] scarroll32 commented on #253
This looks **very** suspicious ...

https://github.com/crowdAI/crowdai/blob/master/app/concepts/footer/cell.rb#L7-L11

[2017-08-05 05:55] scarroll32 commented on #235
https://www.thesitewizard.com/html-tutorial/open-links-in-new-window-or-tab.shtml

[2017-08-07 11:01] scarroll32 commented on #75
### Summary of discussion

- Heart buttons remain in place and have no effect on emails
- Follow button is added to challenge
- Mentions functionality to be added

#### Email Settings

These do not change, and the default settings are marked below. The crowdAI newsletter needs to be integrated with the Mailchimp list.

- Receive the crowdAI Newsletter (ON)
- Receive email for challenges which I am

[2017-08-07 11:26] scarroll32 opened #267 "Sync S3 bucket on dev / stg refresh"
Some assets are not syncing.

[2017-08-07 11:38] scarroll32 commented on #265
It turns out this was due to a stale database and is fact working OK.

[2017-08-07 11:38] #265 closed, assigned to scarroll32

[2017-08-07 12:04] scarroll32 opened #268 "Submission reset message"
Onr participant writes on the opensnp challenge discussion forum that :
[code]
(edited)

This is the error returned by the crowdAI API, which the grader simply relays to the participant
so I am not sure, when exactly the 5 submissions per day limit resets

- Need to add the reset time to the return message

[2017-08-07 12:08] scarroll32 commented on #268
The submissions are based on a rolling 24 hour period. We would need to calculate when a slot becomes available (when the first submission has aged out).

[code]

https://github.com/crowdAI/crowdai/blob/master/app/controllers/submissions_controller.rb#L119-L120

[2017-08-07 12:15] scarroll32 commented on #268
- [ ] Change message to existing endpoint: you will next able able to submit at xx time
- [ ] New endpoint to query how many submissions are remaining or when they next make a submission.

[2017-08-07 13:04] jsnrynlds commented on #75
Hi @seanfcarroll – I would simply change the text to "Following".

[2017-08-07 13:07] marcelsalathe commented on #75
@jsnrynlds Is there any issue that the shape of the button will increase / decrease depending on the text?

[2017-08-07 15:24] scarroll32 commented on #235
This is probably best applied on a per link basis. It has now been implemented via the link button, and may also be manually entered like this:

[code]

It won't be applied to existing links.

[2017-08-07 15:51] scarroll32 commented on #261
This is happening when the Bio field is edited and then blanked. It is no longer NULL so fails the test.

[2017-08-07 15:54] scarroll32 commented on #261
Modified so this will not happen.

[2017-08-07 16:56] scarroll32 commented on #239
@spMohanty FYI on the more link for the Leaderboard.

[2017-08-07 16:57] scarroll32 commented on #259
Covered by https://github.com/crowdAI/crowdai/issues/75

[2017-08-07 16:57] #259 closed, assigned to scarroll32

[2017-08-07 16:58] scarroll32 commented on #219
@spMohanty do we still need this?

[2017-08-07 18:27] jsnrynlds commented on #75
@marcelsalathe @seanfcarroll Yes, it maybe best to create a separate modifier that can be applied to this button to maintain a min. width:
[code]

[2017-08-08 05:47] scarroll32 opened #269 "Disabled account unlock in Admin section"
An account was correctly disabled (for having an email address rejected by Mailchimp).

The email address was corrected via the admin panel, but the account cannot be re-enabled except via SQL. There should be a button to re-enable the account, which will include pushing (in this case) the new email address to Mailchimp.

<img width="477" alt="screen shot 2017-08-08 at 07 44 06" src="https://user-

[2017-08-10 11:06] scarroll32 opened #270 "Add participant mentions"
Add the ability to mention a participant in a comment body. The participant will then receive that comment in their next notification email.

[2017-08-10 12:54] scarroll32 opened #271 "Implement Mailchimp Webhook"
Synchronize the user preferences page setting for unsubscribe on the crowdAI newsletter.

[2017-08-10 13:52] scarroll32 opened #272 "Challenge level security for API keys"
At present the challenge API key is verified, but it is not tied to a specific challenge.

[code]

[2017-08-10 18:12] scarroll32 commented on #88
As discussed in-app notifications will not be implemented for now.

[2017-08-10 18:12] #88 closed, assigned to scarroll32

[2017-08-10 18:15] scarroll32 commented on #205
Comments deleted by the admin will be in fact retained, but the text changes to "This comment has been removed by the administrator"

[2017-08-10 18:21] spMohanty commented on #270
waiting eagerly for this one 👼

[2017-08-11 19:17] scarroll32 opened #275 "play / pause conflict"
Rollbar is reporting issues on the play / pause leaderboard js.

Possible solution: https://developers.google.com/web/updates/2017/06/play-request-was-interrupted

[2017-08-12 10:53] scarroll32 commented on #222
https://github.com/seancdavis/mark_it_zero

[2017-08-12 11:12] scarroll32 opened #276 "Add a hot rating to discussion topics"
Google analytics tells us how popular specific discussion posts are. It should be possible to mine this data from the API and display a small chart, perhaps under the heart, as to click popularity. A simple bar chart with color coding comes to mind.

Thoughts? @marcelsalathe @spMohanty

<img width="467" alt="screen shot 2017-08-12 at 13 09 09" src="https://user-images.githubusercontent.com/1134023

[2017-08-14 08:17] scarroll32 opened #277 "Long text breaks formatting in discussions"
There are 2 places it is broken in:

- long participant name combined with "About 10 hours ago" text
- long discussion topic

<img width="1287" alt="screen shot 2017-08-14 at 10 14 56" src="https://user-images.githubusercontent.com/11340230/29263572-bcd042f6-80d9-11e7-81a6-302069963dea.png">

[2017-08-14 09:20] scarroll32 opened #278 "Discussions read indicator"
An indicator should be present on the discussions pages to show if the currently logged in user has already read the discussion topic. To be discussed with Jason.

[2017-08-14 18:31] scarroll32 commented on #205
Implemented

[2017-08-14 18:31] #205 closed, assigned to scarroll32

[2017-08-15 06:18] scarroll32 commented on #263
Closed

[2017-08-15 06:18] #263 closed, assigned to scarroll32

[2017-08-15 06:20] scarroll32 commented on #188
Fixed.

[2017-08-15 06:20] #188 closed, assigned to scarroll32

[2017-08-15 06:22] scarroll32 commented on #99
Implemented.

[2017-08-15 06:22] #99 closed, assigned to scarroll32

[2017-08-15 06:23] scarroll32 commented on #263
Most users are on daily digest, which runs at 2:30am

[2017-08-15 06:23] scarroll32 commented on #261
Closed.

[2017-08-15 06:23] #261 closed, assigned to scarroll32

[2017-08-15 06:24] scarroll32 commented on #75
I think the expanding button looks fine. Please review @marcelsalathe

[2017-08-15 06:24] scarroll32 commented on #93
Implemented.

[2017-08-15 06:24] #93 closed, assigned to scarroll32

[2017-08-15 06:26] scarroll32 commented on #153
Fixed going forward.

[2017-08-15 06:26] #153 closed, assigned to scarroll32

[2017-08-15 07:19] scarroll32 commented on #141
Added some padding. Closed.

[2017-08-15 07:19] #141 closed, assigned to jsnrynlds

[2017-08-15 07:40] scarroll32 commented on #219
Closed.

[2017-08-15 07:40] #219 closed, assigned to scarroll32

[2017-08-15 07:41] scarroll32 commented on #218
Closed.

[2017-08-15 07:41] #218 closed, assigned to spMohanty

[2017-08-15 07:41] scarroll32 commented on #110
Closed.

[2017-08-15 07:41] #110 closed, assigned to spMohanty

[2017-08-15 08:13] scarroll32 commented on #275
Closed.

[2017-08-15 08:13] #275 closed, assigned to scarroll32

[2017-08-15 08:55] scarroll32 commented on #269
Implemented.

[2017-08-15 08:55] #269 closed, assigned to scarroll32

[2017-08-15 10:02] scarroll32 commented on #215
Fixed via a page reload. Additions mean the leaderboard component needs refactoring which will be done at some future date.

[2017-08-15 10:02] #215 closed, assigned to scarroll32

[2017-08-15 10:03] scarroll32 commented on #215
https://github.com/crowdAI/crowdai/commit/9f6c9cfd0402c32b9fdd9e34bfc34718f094000c

[2017-08-15 10:03] scarroll32 commented on #275
https://stackoverflow.com/questions/37674223/domexception-failed-to-load-because-no-supported-source-was-found

[2017-08-15 10:25] scarroll32 commented on #238
Added on the video modal under the video.
<img width="1004" alt="screen shot 2017-08-15 at 12 22 11" src="https://user-images.githubusercontent.com/11340230/29312213-a8480f86-81b4-11e7-8368-853f0d8dee27.png">

Note that there are some records with broken markdown.

We need to circle back at some point and do some replanning on the leaderboard enhancements, perhaps in conjunction with the API clean

[2017-08-15 10:25] #238 closed, assigned to scarroll32

[2017-08-15 10:26] scarroll32 commented on #238
https://github.com/crowdAI/crowdai/commit/7076496bf8e8a561c3254ee21acae3eb4ddca99c

[2017-08-15 10:34] scarroll32 commented on #229
Jcrop looks dead, so I'll implement this for all image uploads: https://github.com/fengyuanchen/cropper

[2017-08-15 10:36] scarroll32 opened #284 "Fix CI"
The CI is failing due to a Redis auth error. Not sure where it came from.

Tests are running OK locally.

[2017-08-15 11:00] scarroll32 commented on #229
Or better still https://github.com/roadmanfong/react-cropper

[2017-08-15 11:19] jsnrynlds commented on #277
@seanfcarroll I managed to fix this with flex, unfortunately the changes are having undesirable effects elsewhere. Instead, if you apply `max-width: 60%` to `.details` in `.list-topics` that should work.

[code]

[2017-08-15 11:37] jsnrynlds commented on #75
I'd say in this scenario it would be better to apply a `min-width` so the button doesn't expand. Not a massive deal either way though.

[2017-08-15 17:02] scarroll32 commented on #239
https://github.com/embedly/player.js

http://playerjs.io/scroll.html

[2017-08-16 08:40] scarroll32 opened #285 "Submission detail link inactive to participants"
Participants are reporting the submission detail link is not active.

https://www.crowdai.org/topics/getting-started/comments/new

[2017-08-16 20:35] spMohanty opened #286 "Ability to download videos in the NIPS challenge"
It would be good if we provide the ability to download the videos on the leaderboard.
Feature requested here : https://www.crowdai.org/topics/how-does-one-visualize-the-submitted-runs/comments/new

[2017-08-16 22:16] spMohanty opened #287 "Capture and render changes in ranks on the leaderboard"
Would be great to be able to see the changes in the ranks on the leaderboard by using red and green arrows like in this pic : ![](https://d2eeipcrcdle6.cloudfront.net/email/tracked_keywords_volume1.png?1473461364)

[2017-08-18 08:22] scarroll32 opened #288 "Comments missing from consolidated emails"
Also add the link to change subscription options.

[2017-08-18 22:40] spMohanty opened #289 "Quotes not rendering correctly in discussion forum"

[2017-08-19 08:55] marcelsalathe commented on #288
I would also change the submission links - at the moment, I am getting an email that says multiple times "NIPS 2017: Learning to Run by eatnow. " But all the links go to the same page. So perhaps, what I would do instead is to just write:

**Submissions Summary**
The challenge NIPS 2017: Learning to Run has received 13 new submissions.
The challenge OpenSNP Height Prediction has received 1 new sub

[2017-08-19 09:27] scarroll32 commented on #288
The basecamp approach looks good, but there are a couple of considerations for crowdAI.

- It is possible to print the comment content in the email, but the comments are often very long. To truncate them is also possible, but as they are rendered html generated from markdown, truncating would require either finding the body text within a markdown tag, then re-rendering, or parsing the rendered htm

[2017-08-19 11:49] marcelsalathe commented on #288
How about we render the HTML, strip the rags using https://apidock.com/rails/ActionView/Helpers/SanitizeHelper/strip_tags and then truncate?

[2017-08-19 15:08] ctmakro commented on #239
GIF's are smaller. There's another problem playing MP4s, that my videocard will start to burn whenever I load the leaderboard page.

A solution would be to load the videos(or GIFs) on-demand, i.e. page should not start download unless user scroll down to see it.

[2017-08-19 19:25] ctmakro commented on #239
might also consider: https://appelsiini.net/projects/lazyload/
[code]
[code]
should apply to more than images.

[2017-08-20 22:03] AdamStelmaszczyk commented on #239
A quick and easy win would be to not display videos, but links to download them.

I believe now lots of people (including me) sees something similar to:

![image](https://user-images.githubusercontent.com/733573/29498824-d6125360-8603-11e7-9d75-4e53f460806a.png)

[2017-08-21 07:59] scarroll32 commented on #239
Leaderboard paging has been implemented (25 entries) and the videos are not playing on the leaderboard for now. They still play on the modal window.

[2017-08-21 08:47] scarroll32 commented on #75
Implemented https://github.com/crowdAI/crowdai/commit/21eeb4ae999225dbc3c1f91cab1705f5da12f02b

[2017-08-21 09:04] scarroll32 commented on #289
Hi Jason,

We need to have some way to represent quoted text. Could you produce some css for the ```<blockquote>``` tag?

For a live example, see the last comment made here (by me) https://www.crowdai.org/topics/is-the-deadline-august-13th-or-september-21st/comments/new

It has rendered the original comment with a blockquote, but it is not obvious. eg:

[code]

[2017-08-21 09:19] scarroll32 commented on #288
I believe this approach will lead to very long emails, as well as broken-looking text when mixed formatting elements are used. But OK, will implement.

[2017-08-21 09:38] scarroll32 commented on #277
Implemented https://github.com/crowdAI/crowdai/commit/a0906c6834d1f0cf4ea74f80f30bb91971d583ec

[2017-08-21 09:48] scarroll32 commented on #277
Closed

[2017-08-21 09:48] #277 closed, assigned to jsnrynlds

[2017-08-21 09:48] scarroll32 commented on #75
Closed

[2017-08-21 09:48] #75 closed, assigned to marcelsalathe

[2017-08-21 10:47] marcelsalathe commented on #288
I think if we limit ourselves to less text than the Basecamp example, we should be fine. How about we implement a first version and then review before pushing live?

[2017-08-21 11:05] jsnrynlds commented on #289
Hi @seanfcarroll  – here you go:
[code]

It looks like there's an additional margin being added to .comment... this should be smaller but not sure what's causing it. I think it's maybe being added on by:
[code]
... but don't want to break anything else by resetting this.

[2017-08-21 11:07] scarroll32 commented on #289
Hi Jason, that's great, thanks for that.

Perhaps we can at some point do a review of the various hacks that have been added to the css, and maybe redesign some of them?

[2017-08-21 11:09] jsnrynlds commented on #289
Yeah, that would be good. I despair at some of the CSS now, looking back at it!

[2017-08-21 11:16] scarroll32 commented on #289
Cool ... I'd like to have a mini-planning session for new features for crowdAI very soon. Perhaps we can involve you also. I also [added](https://github.com/crowdAI/crowdai/tree/master/app/assets/stylesheets) some bits and pieces to the css, mostly kept separated in from the site.scss file.

Would be good to refactor a little, but with the new features incorporated.

[2017-08-21 11:21] jsnrynlds commented on #257
@seanfcarroll @marcelsalathe is it possible to move the position of the button within the HTML so it's after the `.comment` div? If so, then we can replace the `.discussion-topic, .discussion-comment` classes with the following (and the button will appear after the comment):
[code]

[2017-08-21 11:22] jsnrynlds commented on #257
The only additional code here is within `.btn`:
[code]

[2017-08-21 11:24] jsnrynlds commented on #289
Sure. I think one thing it would be helpful to do (if possible) is modularise it. Bit of a nightmare going through an SCSS file that's thousands of lines long :)

[2017-08-21 11:36] spMohanty opened #292 "Styling for Media Modal"
<img width="972" alt="screen shot 2017-08-21 at 13 34 08" src="https://user-images.githubusercontent.com/1581312/29517449-7f5c3aa0-8675-11e7-9660-62d0fb3d6cae.png">

The media modal requires styling. It can be accessed by going to [this link](https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards#) and cliking on one of the videos.

The features we want there are :
* Buttons to

[2017-08-21 11:38] scarroll32 commented on #292
Also need to consider the placement of the submission comments text, and perhaps some other submission information (score, timestamp, error messages).

[2017-08-21 11:39] spMohanty commented on #239
@seanfcarroll : Depending on the performance, I would like to have at least the videos from say the top-5 submissions running on page load.

It is easy to miss that these are videos, and also, given a broad overview of (at least) a few good different policies learn by just loading the leaderboard, was something both participants and externals have loved about the Learning to Walk and the Learning

[2017-08-21 11:41] scarroll32 opened #293 "Docker-based dev environment"
As discussed at lunch today - it should be easier for participants to contribute to the crowdAI codebase (Rails + grader).

A way to make this possible and will support Linux, OS X and Windows users would be to develop a Vagrant box using scripts and make it publicly accessible.

[2017-08-21 11:41] jsnrynlds commented on #228
@marcelsalathe @spMohanty @seanfcarroll

How about something like this?

![crowdai_404_desktop_v1 1](https://user-images.githubusercontent.com/1162939/29517677-098000c0-866e-11e7-9731-3d3edc1742d9.png)

[2017-08-21 11:43] spMohanty commented on #228
@jsnrynlds : ❤️ it !!!!!!!!!!!!!!!!!!!!

[2017-08-21 11:44] jsnrynlds commented on #278
@seanfcarroll I wonder if rather than add anything here, we simply unbolden the title for discussions that have been read (as is common in email apps)?

[2017-08-21 11:45] scarroll32 commented on #278
Sounds reasonable to me. @spMohanty @marcelsalathe your thoughts?

[2017-08-21 11:46] spMohanty opened #294 "Add a storage layer to remove the strong dependency on S3"
An abstract storage layer will remove the strong dependency on Amazon S3 that we have right now. And also allow us to flexibly move to other storage services if required in the future.
Plus it will also help developers get started more easily, (by implementation of a configurable local storage options)

[2017-08-21 11:47] scarroll32 commented on #239
Yes definitely, the previous code for running the videos based on what was viewable had problems and has been inactived, but I will shortly implement a new solution using a different library.

[2017-08-21 11:48] scarroll32 commented on #289
Implemented. Thanks @jsnrynlds !

[2017-08-21 11:48] #289 closed, assigned to jsnrynlds

[2017-08-21 11:49] scarroll32 commented on #294
Related https://github.com/crowdAI/crowdai/issues/293

[2017-08-21 11:54] jsnrynlds commented on #231
Not ignoring this, just struggling to find what's causing it...

[2017-08-21 11:56] jsnrynlds opened #295 "Phantom margin above footer"
@seanfcarroll I've noticed in a couple of places we have whitespace appearing above the `<footer>`. If I remember correctly we had a class called `.no-margin-top` applied to the `<footer>` to avoid this on certain pages.

<img width="1886" alt="screen shot 2017-08-21 at 12 54 21" src="https://user-images.githubusercontent.com/1162939/29518079-ec815526-866f-11e7-9619-c46f6fd85621.png">

[2017-08-21 12:01] spMohanty opened #296 "Load more button on the leaderboard"
<img width="1474" alt="screen shot 2017-08-21 at 13 58 49" src="https://user-images.githubusercontent.com/1581312/29518280-f6782d94-8678-11e7-967d-2660161757a0.png">

The load more button on [the leaderboard](https://www.crowdai.org/challenges/nips-2017-learning-to-run/leaderboards) somehow seems a bit off to me, cant say exactly why.

It could just be overthinking :D, but anyway wanted to pass it

[2017-08-21 14:31] scarroll32 commented on #296
It's because the text "load more" is centered ... but the video thumbnail is not

[2017-08-21 14:33] scarroll32 commented on #296
I think we need a planning session ... esp on the leaderboard.

[2017-08-21 14:38] scarroll32 commented on #295
Yes I think it is a HTML issue rather than styling. I will hunt it down.

[2017-08-21 14:39] scarroll32 commented on #228
Perfect!!!!

[2017-08-21 14:41] scarroll32 commented on #296
Related

- https://github.com/crowdAI/crowdai/issues/286
- https://github.com/crowdAI/crowdai/issues/292

[2017-08-21 15:09] scarroll32 commented on #257
Implemented https://github.com/crowdAI/crowdai/commit/97711c8753a9c3e9126dba1f603687c7723c8ea5

[2017-08-21 15:09] #257 closed, assigned to jsnrynlds

[2017-08-21 15:18] scarroll32 commented on #257
This is how it looks on my phone (iphone 6)

![img_7755](https://user-images.githubusercontent.com/11340230/29526023-c145f6e4-8694-11e7-8462-f5fbb5a93379.PNG)

[2017-08-21 15:20] scarroll32 commented on #285
Implemented.

[2017-08-21 15:20] #285 closed, assigned to nobody

[2017-08-21 15:24] scarroll32 commented on #288
Yes no problem. (Need to also add the "change email settings" link)

[2017-08-21 18:34] scarroll32 commented on #217
@jsnrynlds  what are your thoughts on this?

[2017-08-22 08:39] scarroll32 opened #297 "Markdown renderer truncating trailing file extensions"
https://www.crowdai.org/topics/opensim-install-script/comments/new

oups, the link got truncated:

[code]

[2017-08-23 14:35] jsnrynlds commented on #257
@seanfcarroll Hmmm, that's not what I was seeing. Did you change the HTML, moving the button so it's after the `.comment` div?

[2017-08-23 14:58] scarroll32 commented on #257
Not intentionally ... let's discuss tomorrow

[2017-08-24 19:03] scarroll32 commented on #296
@jsnrynlds What are your thoughts on this? The columns in the leaderboard will change depending on the challenge.

[2017-08-25 18:47] scarroll32 commented on #239
Reactivated.

I think the original problems are offset by the paging. Many of the videos are still close to 1MB.

<img width="1190" alt="screen shot 2017-08-25 at 20 45 56" src="https://user-images.githubusercontent.com/11340230/29728041-a09313f6-89d6-11e7-9fe4-f5122b9fb6e7.png">

Pull requests welcome.

@spMohanty let's work on this together.

[2017-08-25 18:47] #239 closed, assigned to spMohanty

[2017-08-25 18:51] scarroll32 commented on #286
Is downloading a single video via a button on the modal acceptable?

[2017-08-28 05:13] marcelsalathe opened #298 "Weird heart placement on forum (mobile)"
Probably a CSS issue
![img_2276](https://user-images.githubusercontent.com/215057/29759948-3e6f8fb0-8bc0-11e7-913c-e08bce20b102.PNG)

[2017-08-28 08:05] scarroll32 commented on #295
Fixed https://github.com/crowdAI/crowdai/commit/4e74852b488c0456d2af256ee3590917dde2bf09

[2017-08-28 08:51] scarroll32 commented on #252
Fixed by https://github.com/crowdAI/crowdai/commit/342ddb78cd4083cf369127bdbdfc2b1f02551035

[2017-08-28 08:53] scarroll32 commented on #284
Fixed by https://github.com/crowdAI/crowdai/pull/299/commits/8a4f145762908b6a46c8272f271cc0d0fd334f99

[2017-08-28 08:55] scarroll32 commented on #253
Same as https://github.com/crowdAI/crowdai/issues/295

[2017-08-28 08:55] #253 closed, assigned to scarroll32

[2017-08-28 08:58] scarroll32 commented on #295
Closed

[2017-08-28 08:58] #295 closed, assigned to scarroll32

[2017-08-28 08:58] scarroll32 commented on #284
Closed

[2017-08-28 08:58] #284 closed, assigned to scarroll32

[2017-08-28 08:59] scarroll32 commented on #252
Closed

[2017-08-28 08:59] #252 closed, assigned to scarroll32

[2017-08-29 08:25] scarroll32 opened #300 "Mailing list signup"
We might have a mailing list signup that does not require a user to create an account.

[2017-08-29 20:44] jsnrynlds commented on #298
This is actually a HTML issue. The heart button needs to be moved to under `<div class="comment">`. I think that should fix it whilst retaining it's position at higher resolutions.

[2017-08-31 03:53] ctmakro commented on #287
Interested. To participate it seems that i ll need some form of Ruby. It would be great if you could publish some APIs, for example the historical record of all submissions to a competition, RESTfully, so we could write some JS scripts to consume them and generate all kinds of visualization. You may later combine those scripts into your codebase if necessary.
I was thinking about a score-versus-da

[2017-09-01 22:01] scarroll32 commented on #287
@ctmakro The leaderboard data could be exposed via an API for consumption by a JS component.  We are thinking to move off jQuery and standardise on ReactJS but are open to suggestions.

[2017-09-01 22:02] scarroll32 commented on #293
Please vote this up if you are interested.

[2017-09-01 22:03] scarroll32 commented on #287
Related issue: pre-built dev env https://github.com/crowdAI/crowdai/issues/293

[2017-09-01 22:04] scarroll32 commented on #278
Will require persisting which posts a user has viewed.

[2017-09-01 22:24] scarroll32 opened #302 "Style ActiveAdmin to match site styling"
Style ActiveAdmin like the main site.

Probably want to wait for this https://github.com/activeadmin/activeadmin/pull/3862

[2017-09-02 13:38] spMohanty opened #303 "If the user is not in top-N on the leaderboard"
When the user is not in the top-N on the leaderboard, we should render the top-N, and also the actual score of the user along with the scores of some participants just above him and just below him.

[2017-09-02 13:52] marcelsalathe commented on #231
Why don't we copy the CSS properties from openfood.ch where we have the same checkbox on the login page, and where we don't seem to have that problem?

[2017-09-02 13:57] marcelsalathe commented on #243
Is this still an issue? Which middle button do you mean?

[2017-09-03 17:22] AdamStelmaszczyk commented on #243
I just tried middle button clicking on video, yes, it's still an issue.

With mouses with roll and 2 buttons, pressing the roll acts as a middle button click:
https://teamlife.byu.edu/Portals/41/images/tips/mouse-middle-click.png

[2017-09-04 08:18] scarroll32 opened #304 "Markdown editor"

[2017-09-04 08:19] marcelsalathe opened #305 "User needs to be able to find his / her own posts"
probably on the profile

[2017-09-04 08:20] marcelsalathe commented on #305
@jsnrynlds can you make a design suggestion? I think it should go between challenges and tutorials.
<img width="557" alt="screen shot 2017-09-04 at 10 19 55 am" src="https://user-images.githubusercontent.com/215057/30017744-a5bca136-915a-11e7-80f0-5304512c5847.png">

[2017-09-04 08:30] marcelsalathe opened #306 "Notifications"
Add when someone posts a comment to your post.

[2017-09-04 13:23] jsnrynlds commented on #305
I think that's the perfect place for it.

[2017-09-05 09:04] scarroll32 commented on #298
Fixed https://github.com/crowdAI/crowdai/commit/3df0ef13709848a87d7570aa499a8803fb1def55

[2017-09-05 09:04] #298 closed, assigned to jsnrynlds, scarroll32

[2017-09-05 09:43] scarroll32 commented on #243
The middle button opens the link in a new tab. This doesn't really work for a modal, which should be attached the to parent. New behaviour: middle button opens the leaderboard in a new tab. Existing right click on the video opens the modal.

Thanks for the contribution @AdamStelmaszczyk

[2017-09-05 09:43] #243 closed, assigned to scarroll32

[2017-09-05 11:30] scarroll32 commented on #305
Implemented https://github.com/crowdAI/crowdai/pull/308/commits/826cfade9646dacec8f8016e9905651213bf1cd4

[2017-09-05 11:30] #305 closed, assigned to jsnrynlds, scarroll32

[2017-09-11 17:25] scarroll32 commented on #304
Fixed https://github.com/crowdAI/crowdai/commit/0ac2698a56e4ea6efb1f2869bf74957a9dd09851

[2017-09-11 17:25] scarroll32 commented on #297
Fixed https://github.com/crowdAI/crowdai/commit/0ac2698a56e4ea6efb1f2869bf74957a9dd09851

[2017-09-11 17:44] scarroll32 commented on #304
Closed

[2017-09-11 17:44] #304 closed, assigned to nobody

[2017-09-11 17:44] scarroll32 commented on #297
Closed

[2017-09-11 17:44] #297 closed, assigned to scarroll32

[2017-09-11 17:45] scarroll32 commented on #222
Closed.

[2017-09-11 17:45] #222 closed, assigned to scarroll32

[2017-09-14 19:46] #300 closed, assigned to nobody

[2017-09-14 19:46] #276 closed, assigned to marcelsalathe

[2017-09-14 19:46] #267 closed, assigned to scarroll32

[2017-09-14 19:47] #132 closed, assigned to scarroll32

[2017-09-18 09:14] scarroll32 commented on #288
Implemented.

[2017-09-18 09:14] #288 closed, assigned to scarroll32

[2017-09-18 09:44] scarroll32 commented on #231
The issue only appears on a physical device, not in Safari or Chrome dev tools

<img width="305" alt="screen shot 2017-09-18 at 11 41 50" src="https://user-images.githubusercontent.com/11340230/30536570-99f6fdd0-9c66-11e7-8a9f-0eb2e85fffa9.png">

<img width="421" alt="screen shot 2017-09-18 at 11 43 49" src="https://user-images.githubusercontent.com/11340230/30536584-aac59892-9c66-11e7-98bb-5bf790

[2017-09-19 07:15] jsnrynlds commented on #228
Hi @seanfcarroll, this is built now. Can you check it works okay with the logomark SVG that's currently being used? If not I'll send over another one.

HTML:
[code]

SCSS
[code]

[2017-09-19 07:16] jsnrynlds commented on #228
I can push this to Git if you'd prefer but guessing this is probably simpler for you.

[2017-09-19 07:31] scarroll32 commented on #228
That's great Jason, thank you very much! It should be fine like this.

[2017-09-19 08:18] scarroll32 opened #312 "Opensim Grader submission grader"
I've seen a single instance of the error below. @spMohanty can you look into this?

[code]

[2017-09-19 11:47] scarroll32 commented on #271
Implemented

[2017-09-19 11:47] #271 closed, assigned to scarroll32

[2017-09-19 13:12] scarroll32 commented on #228
Implemented, thanks @jsnrynlds !

https://github.com/crowdAI/crowdai/commit/2b5a71f376eb5d2a6acfffe366668f5fafa44255

[2017-09-19 13:12] #228 closed, assigned to jsnrynlds

[2017-09-19 13:13] scarroll32 commented on #228
https://www.crowdai.org/500
https://www.crowdai.org/404
https://www.crowdai.org/422

[2017-09-20 04:45] marcelsalathe opened #314 "Email preferences / email broken"
When I click on Email Preferences link in crowdAI digest email, I first get the message the email preferences link is invalid.
<img width="266" alt="screen shot 2017-09-20 at 6 34 22 am" src="https://user-images.githubusercontent.com/215057/30626970-c5d6fe6a-9dcd-11e7-9fb8-76fa5ee08010.png">

Then, once I log in, I get a "too many redirects" error.
<img width="416" alt="screen shot 2017-09-20 at 6

[2017-09-20 06:20] scarroll32 commented on #314
Link issue is fixed, the 505 issue is still open. Additional tests to be written before this ticket is closed.

Strange url generated on error

<img width="1042" alt="screen shot 2017-09-20 at 08 19 16" src="https://user-images.githubusercontent.com/11340230/30629502-7bf15eda-9ddc-11e7-82a3-819e9ff80451.png">

[2017-09-20 06:40] scarroll32 commented on #314
505 issue is fixed.

[2017-09-20 07:18] scarroll32 opened #315 "Add validator for Mailchimp sync"

[2017-09-22 05:29] marcelsalathe opened #316 "Need to replace template text in email"
Text currently says "Use this area to offer a short preview of your email's content."

Need to replace with "Your summary of activity in crowdAI."

[2017-09-22 08:14] scarroll32 commented on #316
Changed https://github.com/crowdAI/crowdai/pull/317/commits/451fc6445c4f473f52332b2dc91864c8a2c84354

[2017-09-22 09:32] scarroll32 commented on #316
Done

[2017-09-22 09:32] #316 closed, assigned to scarroll32

[2017-09-22 14:59] scarroll32 commented on #314
Closed

[2017-09-22 14:59] #314 closed, assigned to scarroll32

[2017-09-22 15:53] #264 closed, assigned to scarroll32

[2017-09-22 15:55] #302 closed, assigned to nobody

[2017-09-22 15:55] #315 closed, assigned to nobody

[2017-09-22 16:00] scarroll32 commented on #293
https://app.vagrantup.com/lazygray/boxes/heroku-cedar-14

[2017-09-22 16:06] scarroll32 commented on #294
Probably best to stay with the real S3 in production, but can use something like this in the prebuilt dev env https://github.com/jubos/fake-s3

[2017-09-25 08:13] scarroll32 opened #318 "Are some users able to submit more than 5 submissions per day"
The latest admin daily digest seems to say so.

[2017-09-25 11:38] scarroll32 opened #319 "crowdAI emails design request"
Have the various crowdAI emails which are sent as Mailchimp templates professionally designed. Details to be discussed with Jason.

[2017-09-26 09:35] spMohanty opened #320 "Show the "N-days left" message in a more granular way when the challenge end is near"

[2017-09-26 09:50] scarroll32 commented on #320
It currently shows in increments of hours when there is less than a day left.

I think we need to display the challenge end time somewhere

[2017-09-26 10:59] scarroll32 commented on #320
We could add the end date on the index page: instead of 2 days left we could add 'Finishing on eptember 28th 17:00 GMT", once into the last week.

<img width="719" alt="screen shot 2017-09-26 at 12 57 49" src="https://user-images.githubusercontent.com/11340230/30856980-66f10110-a2ba-11e7-9729-34ca17fc5f30.png">

[2017-09-26 12:24] scarroll32 commented on #303
last n days and compare to now, configurable at the challenge level.

[2017-09-26 12:36] scarroll32 commented on #235
Always open links in a new tab

[2017-09-26 12:40] scarroll32 commented on #217
Perhaps add a small play icon

[2017-09-26 12:43] spMohanty commented on #286
feature on hold :D

[2017-09-26 12:43] scarroll32 opened #321 "Leaderboard without scores"
optionally have a leaderboard with no score

- show the last score for participant
- sort by first come first served.

[2017-09-26 12:49] scarroll32 opened #322 "First come first show sorting on leaderboard option"

[2017-09-26 13:44] #318 closed, assigned to nobody

[2017-09-27 04:35] marcelsalathe opened #323 "1 Days"
Thanks for fixing today. Small detail but sends subtle signals about committment to quality.
http://api.rubyonrails.org/classes/ActionView/Helpers/TextHelper.html#method-i-pluralize

<img width="206" alt="screen shot 2017-09-27 at 6 31 47 am" src="https://user-images.githubusercontent.com/215057/30895921-af955586-a34d-11e7-94a7-064d470e72c9.png">

<img width="199" alt="screen shot 2017-09-27 at 6

[2017-09-27 07:50] scarroll32 commented on #323
Fixed

[2017-09-27 07:50] #323 closed, assigned to scarroll32

[2017-09-27 07:52] scarroll32 commented on #320
Closed

<img width="751" alt="screen shot 2017-09-27 at 09 52 19" src="https://user-images.githubusercontent.com/11340230/30901832-9810ab60-a369-11e7-8d9c-a3180080329f.png">

[2017-09-27 08:23] spMohanty commented on #320
Hi @seanfcarroll,

I think the ending time information would better go on the challenge page instead of the homepage.

For example here :
<img width="1351" alt="screen shot 2017-09-27 at 10 22 22" src="https://user-images.githubusercontent.com/1581312/30903072-cb27b350-a36d-11e7-8229-c35e6e7ebff1.png">

rather than here :
<img width="708" alt="screen shot 2017-09-27 at 10 23 19" src="https://user-

[2017-09-27 08:47] scarroll32 commented on #320
It appears there when < 1 day

Otherwise the design needs to change

On 27 September 2017 at 10:23, SP Mohanty <notifications@github.com> wrote:

[2017-09-27 15:02] hagrid67 commented on #286
FWIW, I find I can download a file blabla.mp4 file, after left-clicking on the thumbnail to view the larger video, by then right-clicking save-as.  Works from Chrome on Ubuntu 16.04 and Windows 10.

[2017-09-28 08:27] scarroll32 opened #324 "Leaderboard V2"
The crowdAI leaderboard will be redesigned and rebuilt. Changes are:

- Leaderboard changes from being a modal to a full page with a shortened url and buttons to share on Facebook and Twitter
- Comments and likes are available on this full page
- Closing the page returns to the leaderboard
- A challenge-level configuration setting (eg: 1 day) tracks leaderboard rankings and shows up and down arrow

[2017-09-28 08:28] scarroll32 commented on #321
Closed by #324

[2017-09-28 08:28] #321 closed, assigned to nobody

[2017-09-28 08:29] scarroll32 commented on #322
Closed by #324

[2017-09-28 08:29] #322 closed, assigned to nobody

[2017-09-28 08:29] scarroll32 commented on #303
Closed by #324

[2017-09-28 08:29] #303 closed, assigned to nobody

[2017-09-28 08:29] scarroll32 commented on #296
Closed by #324

[2017-09-28 08:29] #296 closed, assigned to jsnrynlds

[2017-09-28 08:32] scarroll32 commented on #292
Closed by #324

[2017-09-28 08:32] #292 closed, assigned to nobody

[2017-09-28 08:33] scarroll32 commented on #287
Closed by #324

[2017-09-28 08:34] scarroll32 commented on #286
Closed by #324 will be superceeded by a sharable link.

[2017-09-28 08:34] #286 closed, assigned to scarroll32

[2017-09-28 08:40] scarroll32 opened #325 "Teams"
An optional team name field will be added to the participant profile, with one team possible for each challenge.
A team is created by filling this field in, which then generates a new API key for the team. Any team member can submit using the team API key, but only the leader can recycle it. Teams will appear in a new tab on each participant's profile.

The primary team leader can then invite othe

[2017-09-28 09:11] scarroll32 commented on #320
<img width="872" alt="screen shot 2017-09-28 at 11 08 03" src="https://user-images.githubusercontent.com/11340230/30958463-8485305a-a43d-11e7-86b7-48ea8fe160da.png">

[2017-09-28 09:11] #320 closed, assigned to nobody

[2017-09-28 10:10] marcelsalathe opened #326 "new time thing looks ugly on mobile"
<img width="394" alt="screen shot 2017-09-28 at 12 09 01 pm" src="https://user-images.githubusercontent.com/215057/30961268-ec9195dc-a445-11e7-8ad4-6931266026a9.png">

[2017-09-28 11:14] scarroll32 commented on #326
I've changed this 3 times now :-)

I'll discuss with Jason

[2017-09-28 11:25] scarroll32 commented on #326
https://github.com/crowdAI/crowdai/issues/320

[2017-09-28 12:36] scarroll32 opened #327 "API key validation requirements"
Transferred from Slack

There are three calls needed for the grader.

**GET - /api/external_graders/dev_api_key - individual developer**
auth: organizer API key OR crowdAI API key
params: dev_api_key
returns: participant_id + 200

**GET - /api/external_graders/dev_api_key - team member**
auth: organizer API key OR crowdAI API key
params: team_api_key
returns: team leader participant_id + 200

**PO

[2017-09-28 12:44] scarroll32 commented on #327
@spMohanty please confirm or correct when you have time.

[2017-09-28 12:45] scarroll32 commented on #325
@marcelsalathe @spMohanty Please review.

[2017-09-28 12:45] spMohanty commented on #327
yeah the challenge_config would be beneficial.

Also, in the `GET - /api/external_graders/dev_api_key` call, I think you will also have to think how you can respond back in case of teams, etc. But that can be dealt with, in terms of implementation, later.

For now the rest of the stuff looks great, and we can go ahead with it. 👍

[2017-09-28 12:47] spMohanty commented on #325
Looks great to me !! 👍

Some considerations :
* Can a participant still submit as an individual after he joins a team ?
* Confirmations from every team member, when they join a team
* Can a participant join multiple teams in the same challenge ?
* Can we make any of these things configurable ?

Guess the simplest way to go forward on this front is to have a setup, where someone can create a team a

[2017-09-28 12:48] scarroll32 commented on #325
OK I'll ask Jason to help with the very minimal design required on Monday.

[2017-09-28 12:51] spMohanty commented on #324
Covers everything we discussed.
(And I love my drawings :')) )
Lets go for it. But in any case, I think this will need some inputs from @jsnrynlds in terms of design related issues (structuring of the modals, how the arrows on the leaderboard looks like, etc)

The issue of leaderboards with no scores, and rendering by first come first serve, needs a little bit more of thought I think. I will chew

[2017-09-28 12:52] scarroll32 commented on #327
Regarding teams: https://github.com/crowdAI/crowdai/issues/325

As a team has it's own API key, then the user can either submit as an individual using their own key or under the team key. A team key is treated as a participant key, and in effect, the results are stored against the team leader's account.

[2017-09-28 12:56] scarroll32 commented on #324
The leaderboard with no scores - would be happy to kill this. It was discussed for the MS challenge.

[2017-09-28 12:57] scarroll32 commented on #327
Linked issue https://github.com/crowdAI/crowdai/issues/272

[2017-09-28 12:57] scarroll32 commented on #272
Closed by #327

[2017-09-28 12:57] #272 closed, assigned to scarroll32

[2017-09-28 13:16] spMohanty commented on #324
@seanfcarroll : No I just meant, that the idea wasnt mature yet. It still needs some thought. But we will actually need it for both the Music challenge, and in some way for the second NIPS challenge.

[2017-09-28 16:26] scarroll32 commented on #324
@spMohanty Can we decide by Monday, as I'll be talking to Jason then. If possible I'd like to handle all the leaderboard changes together.

[2017-09-28 16:27] scarroll32 commented on #324
Will be useful https://github.com/jpmcgrath/shortener

[2017-09-28 16:34] scarroll32 commented on #325
To answer your questions above @spMohanty The general premise is to get it running asap, and it could be enhanced in a future release.

- Can a participant still submit as an individual after he joins a team ?
**Yes - they use their own API key instead of the team key**
- Confirmations from every team member, when they join a team
**No - they are invited by the leader**
- Can a participant join mu

[2017-09-28 16:35] scarroll32 commented on #312
Will be handled in the #327 refactoring.

[2017-09-28 16:36] scarroll32 commented on #268
Will be handled in #327 refactoring

[2017-09-28 18:10] marcelsalathe opened #328 "CSS issues in forum"
<img width="321" alt="screen shot 2017-09-28 at 8 10 10 pm" src="https://user-images.githubusercontent.com/215057/30982892-146a2d6a-a489-11e7-8f4e-20e803123790.png">

[2017-09-28 18:15] marcelsalathe opened #329 "CSS and ordering issue"
This image is from the homepage right now:
<img width="613" alt="screen shot 2017-09-28 at 8 12 12 pm" src="https://user-images.githubusercontent.com/215057/30983001-67270442-a489-11e7-869a-2a8f3e32c334.png">

There are two problems here: the first is that the top padding of the first challenge (to the horizontal line) is too large.

The second is that the open challenge should be at the top. I as

[2017-09-28 18:29] scarroll32 commented on #328
Can you add a link to the forum post?

[2017-09-28 18:51] marcelsalathe commented on #328
https://www.crowdai.org/challenges/opensnp-height-prediction/topics

[2017-09-29 05:33] marcelsalathe opened #330 "I can't edit my own posts"
<img width="790" alt="screen shot 2017-09-29 at 7 31 59 am" src="https://user-images.githubusercontent.com/215057/31002033-55aad5b8-a4e8-11e7-9bba-d4709509c823.png">

[2017-09-29 07:31] scarroll32 commented on #329
These are both acting as designed.

The sorting changes were requested in closed issue #230. A high level **featured challenge** field was added to the challenges setup page, to override the sort order based on status, for the landing page only.

Options:
(1) Clear it manually for each challenge after we no longer want a challenge pinned to the top of the list. This is the current behaviour, and c

[2017-09-29 07:32] scarroll32 commented on #328
Related issue https://github.com/crowdAI/crowdai/issues/277

[2017-09-29 07:47] scarroll32 commented on #330
As an admin you should be able to edit any post, this is not currently extended to participants.

Original feature: https://github.com/crowdAI/crowdai/issues/205

In this case, it is the discussion Topic that needs editing, not the Comment itself. The Topic doesn't have edit capability as the comments are based on this original content, and then the following comments may not make sense.

The admi

[2017-09-29 09:08] scarroll32 opened #331 "Dynamic partial"
For the upcoming music challenge a page is needed where the content can be managed from the challenge configuration page, without the need to customise the application.

A single text area will be provided in the challenges page which can accept any valid Rails template content, as a partial.

The code in the challenge will be trusted, and will be extracted from the database and injected into a pa

[2017-09-29 09:08] scarroll32 commented on #331
Assigned to @spMohanty to complete requirements.

[2017-09-29 12:31] marcelsalathe commented on #330
Admins should definitely be able to edit / delete topics, not at least to manage abusive posts. I would implement this ASAP, and then we can talk with Jason about how any edits should look like later.

[2017-09-29 12:38] marcelsalathe commented on #329
Ok I think we should review the design issue with Jason. I did not know there was a field that can overwrite the ordering. This needs maybe some more thought, but that aspect I consider closed for now.

[2017-09-29 12:38] #329 closed, assigned to marcelsalathe

[2017-09-29 12:39] marcelsalathe commented on #328
Yes, let's escalate to high priority, as a user with a long name is really breaking parts of the website.

[2017-09-29 12:58] scarroll32 commented on #324
Leaderboard with no scores removed.

[2017-09-29 13:03] scarroll32 commented on #325
@spMohanty @marcelsalathe so we will go ahead with the design above, unless there are any more comments.

[2017-09-29 13:30] scarroll32 opened #332 "Post challenge flag is set for create only"
The post challenge flag should only be set when a submission is created, not when it is later updated for a regrade.

https://github.com/crowdAI/crowdai/blob/master/app/models/submission.rb

[2017-09-29 14:34] scarroll32 commented on #327
TODO - need to discuss the passing of the S3 key / url @spMohanty let's discuss next week.

[2017-09-29 18:04] spMohanty commented on #332
Also, we need to rethink how to visually show post-challenge submissions.
I will add this to the discussion on Monday with Jason, if we have some extra time at the end.

OpenSNP challenge will continue accepting submissions starting tomorrow (30th September)

[2017-10-02 09:03] mar-muel opened #333 "Disabling checkbox "Receive a daily digest email" doesn't work (keeps sending daily digests)"

[2017-10-03 07:15] scarroll32 commented on #332
Have implemented this assuming post challenges are also limited by the same number of submissions. If this is not required for a specific challenge, then the limit can be removed after the end of the challenge (by setting it to zero).

[2017-10-03 10:34] scarroll32 opened #335 "Is Kramdown markdown safe from script injection?"
https://github.com/salathegroup/openfood/blob/1d0fb03cb6dd69ca998cf6fcfd3771c2c0103cf1/app/models/page.rb#L34-L52

[2017-10-03 11:49] scarroll32 commented on #332
Incorporated into #327

[2017-10-03 11:49] #332 closed, assigned to nobody

[2017-10-03 11:49] scarroll32 commented on #268
Incorporated into #327

[2017-10-03 11:49] #268 closed, assigned to scarroll32

[2017-10-03 11:50] scarroll32 commented on #312
These keys will be rejected by crowdAI. Incorporated onto #327

[2017-10-03 11:50] #312 closed, assigned to spMohanty

[2017-10-03 11:51] scarroll32 commented on #330
OK. A delete will delete any comments associated with the Topic.

[2017-10-03 12:45] scarroll32 commented on #335
Starting point is the standard whitelist sanitizer. Need to assess if it will break Mathjax

https://github.com/flavorjones/loofah/blob/master/lib/loofah/html5/whitelist.rb

[2017-10-03 12:48] scarroll32 commented on #325
Please note that this model implies a user participant can be the leader of only 1 team at a time.

[2017-10-03 12:56] scarroll32 commented on #327
https://github.com/crowdAI/crowdai/issues/325

[2017-10-03 13:00] scarroll32 commented on #324
This ticket should also incorporate the issue of video on mobile phones. Moved from here: https://github.com/crowdAI/crowdai/issues/217

[2017-10-03 13:01] scarroll32 commented on #217
Moved to the main leaderboard issue.

[2017-10-03 13:01] #217 closed, assigned to marcelsalathe

[2017-10-03 13:02] scarroll32 commented on #319
Sean to split a crowdAI Mailchimp account off from the main account, and give Jason access.

[2017-10-04 11:59] spMohanty opened #337 "Include images side by side using Kramdown ?"
The section below takes a lot of vertical space, while wasting a lot of horizontal space.
It would be great if there is an easy way to place images side by side.

We will run into this particular issue multiple times over many challenges in the future when we have to put down logos in the partner section.

<img width="393" alt="screen shot 2017-10-04 at 13 57 53" src="https://user-images.githubuse

[2017-10-04 12:56] scarroll32 commented on #331
The partial will go on a tab next to the datasets tab.

[2017-10-05 07:16] scarroll32 commented on #337
Actually Jason also mentioned this issue. We had discussed having a special partners section which would have a regular file upload and then place the resized images in a grid. We could also have some mouse over CSS effects like with the sponsors on [AMLD](https://www.appliedmldays.org/).

This would be a bit tricky with Kramdown though ... unless you have any ideas on how to do it @spMohanty  ?

[2017-10-05 07:37] scarroll32 opened #338 "Maximum submissions of zero should = unlimited"
We talked about this at some point but it doesn't appear to be implemented in the code. If the daily submissions are set to zero on a challenge, the user can make an unlimited number of submissions.

[2017-10-05 08:20] scarroll32 commented on #306
Moved out of the critical path for now.

[2017-10-05 08:22] scarroll32 commented on #325
Upon further discussion, it's probably better to create a separate teams object. UI to be discussed with Jason.

[2017-10-05 08:29] scarroll32 commented on #330
Ready but waiting for upsteam code.

[2017-10-05 08:29] scarroll32 commented on #327
Ready

[2017-10-05 08:40] scarroll32 commented on #333
Actually you've found a bug. The top 3 boxes define what emails will be sent. The bottom three are actually radio buttons, and only one must be on at any given time. Not sure how none is possible.

<img width="522" alt="screen shot 2017-10-05 at 10 38 49" src="https://user-images.githubusercontent.com/11340230/31218051-65927474-a9b9-11e7-8606-8b9fae073bbc.png">

Will also add additional code so th

[2017-10-05 09:33] scarroll32 commented on #335
Fixed https://github.com/crowdAI/crowdai/pull/336/commits/2c79b08f4d71c958838a5d51a71394b91a7f0d21

Thanks @DjilaniKebaili !

[2017-10-05 09:33] #335 closed, assigned to scarroll32

[2017-10-05 10:52] jsnrynlds commented on #328
I can't get this issue to replicate on Chrome or Safari on my Mac :/

I will rebuild this using flexbox, but think it looks a bit odd due to the length of some of the _last comment_ info. Wondering if we really need the username and could just keep the time/date.

[2017-10-05 13:11] scarroll32 opened #339 "CLEF Challenges"
This modification provides support for the 'CLEF' challenges model, eg: ImageCLEF.

[Specification document](https://github.com/crowdAI/crowdai/files/1359346/ImageCLEF_CrowdAI.Final.pdf)

The key tasks required for crowdAI are:

### Organizer / Challenge

- [x] Checkbox on the organizer to identify a 'CLEF' organizer
- [x] ~~Template for 'CLEF' to control which challenge fields are visible / requi

[2017-10-05 13:14] scarroll32 commented on #328
What about putting the username on it's own line?

Otherwise I am OK with it. @marcelsalathe ?

[2017-10-05 13:34] scarroll32 opened #340 "Multi-round challenges"
This ticket (re-)introduces the concept of multi-round challenges. This option will be set at the challenge level, and when selected, the ability to add one or more additional stages to the challenge.

Each stage will have the following attributes:

- stage description
- entry requirements (score >= x and secondary_score >= y if applicable)
- end dttm

Assumption is the daily submission limit is t

[2017-10-05 13:41] ieggel commented on #339
Could we also have the downloaded status in order to mark the participant as registered? Or maybe you have a better idea?
It is important for us that the registration is open before the actual data release, so there should be a definition of when somebody is considered as registered. Or do we want to introduce the terms&licenses which the user has to accept before the EUA page appears? In this cas

[2017-10-05 13:44] scarroll32 commented on #330
Implemented.

[2017-10-05 13:44] #330 closed, assigned to marcelsalathe

[2017-10-05 14:05] jsnrynlds commented on #328
@seanfcarroll I'd avoid putting it on another line as it'll look a bit messy.

[2017-10-05 14:13] scarroll32 commented on #327
Implemented.

[2017-10-05 14:13] #327 closed, assigned to spMohanty

[2017-10-05 19:58] scarroll32 commented on #339
We could use these statuses:

- requested - user has downloaded the form but but not submitted it
- submitted - user has uploaded the signed form
- registered - ImageCLEF admin has approved the user and they start accessing the data as soon as it is released
- rejected - something is wrong with the form. I think the best action here is the ImageCLEF admin emails the user to discuss.

[2017-10-05 20:01] scarroll32 commented on #306
Related https://github.com/crowdAI/crowdai/issues/270

[2017-10-05 20:11] ieggel commented on #339
Ok. This seems reasonable. So let's stick with these statuses. An ImageClef participant will be considered as registered as soon as his signed EUA has been validated.

[2017-10-06 13:09] bkDJ opened #341 "Topic Comment ❤️ vote buttons, incorrect behavior"
* The ❤️ button for any comment other than a topic's original post is actually a link to the sign-in page (even if you are signed in!)
* The ❤️ button for a topic's original post works correctly the **first** time you click it. A second click has the same incorrect behavior described above.

[2017-10-06 15:09] bkDJ commented on #337
Since kramdown allows attribute lists, why not take advantage of that? Add some css to the app and use the appropriate class when preparing the challenge kramdown.

![](https://user-images.githubusercontent.com/6138914/31284457-e22a5862-aab8-11e7-9dd0-d2582edcdf56.png 'Crude example')

[2017-10-08 09:19] marcelsalathe commented on #260
**What is crowdAI?**
CrowdAI is a platform for open data science challenges. CrowdAI helps universities, government agencies, NGOs, or businesses to run and manage their data challenges. The crowdAI platform is a non-profit, open source infrastructure that can immediately reach thousands of data scientists around the world to work on interesting data problems.

**I have a data science problem - wh

[2017-10-09 12:26] scarroll32 commented on #331
Implemented for admins only, documentation here: https://github.com/crowdAI/crowdai/blob/master/doc/technical/dynamic_content.md

[2017-10-09 12:26] #331 closed, assigned to spMohanty

[2017-10-09 13:46] scarroll32 commented on #260
Added via 'FAQ' link in the footer. Please reopen if you want it elsewhere.

[2017-10-09 13:46] #260 closed, assigned to scarroll32

[2017-10-09 17:34] scarroll32 opened #344 "Challenge slug should keep history"

[2017-10-09 17:44] scarroll32 commented on #344
http://www.rubydoc.info/github/norman/friendly_id/FriendlyId/History

[2017-10-10 14:28] scarroll32 opened #345 "Dynamic visualisations on leaderboard detail page"
On a per-challenge basis, crowdAI will be able to display dynamic visualisations on the leaderboard detail page (which is under development https://github.com/crowdAI/crowdai/issues/324). These visualisations will be challenge-specific D3 code.

## Modifications needed

- [ ] Modify the API to accept a json hash
- [ ] Store the json in a new jsonb field against the submission
- [ ] Add the D3 libr

[2017-10-10 14:28] scarroll32 commented on #345
@spMohanty please review

[2017-10-10 14:30] spMohanty commented on #345
Looks great. Thanks @seanfcarroll !

[2017-10-10 21:24] spMohanty opened #346 "A winners tab on challenge page"
We should have a winners tab on every challenge page, which can be filled in markdown by the admins (or challenge organisers) after the said challenge ended.

[2017-10-11 10:53] jsnrynlds commented on #231
I wonder if this may be caused by `@include scale(1.3848);`. I'll look into this at some point this week.

[2017-10-11 19:05] spMohanty opened #347 "Links to posts on discussion forum end with `new`"
The URL for a particular post on a discussion forum is currently of the form `https://www.crowdai.org/topics/new-1-5-model/comments/new`

the `/comments/new` part is redundant, and we should try to get rid of it  ?

[2017-10-12 04:29] marcelsalathe commented on #347
Agree - it's especially awkward when trying to share the link. Since it's very easy to do and is an inhibitor to growth, I'll move this up to high priority.

[2017-10-12 09:23] scarroll32 opened #348 "Multiple switches don't flip when enclosed in the same container"
I'm trying to add two switches (checkboxes) side by side on a page, and attempted to use the twin-field class. They do display correctly, but the second switch cannot be flipped.

[code]
For now we have a workaround which is to used an (unstyled) checkbox.

![screen shot 2017-10-12 at 11 22 28](https://user-images.githubusercontent.com/11340230/31488982-a9bb6602-af3f-11e7-8b5e-c293ce3cca4d.png)

T

[2017-10-12 10:08] scarroll32 commented on #340
With leaderboards we now have 2 possible states (in challenges / post challenge), as well as more than 1 leaderboard per challenge (round 1, round 2 etc).

<img width="770" alt="screen shot 2017-10-12 at 12 08 09" src="https://user-images.githubusercontent.com/11340230/31490971-0a571c12-af46-11e7-99cd-ae1867ba5df8.png">

[2017-10-12 12:13] jsnrynlds opened #349 "Look into using badges for challenge statuses (e.g., draft, completed, etc)"

[2017-10-12 13:18] scarroll32 commented on #346
@spMohanty, so would this work?

- [x] Add markdown editor field in challenge definition  - "winner_description"
- [x] If the "winner_description" is completed AND the challenged has ended, display the rendered markdown as the last tab in the challenge, with a title "Winner"

[2017-10-12 13:33] spMohanty commented on #346
@seanfcarroll : Perfect ! 😄 Once this is implemented, I will fill in the winners for the previous challenges.

[2017-10-12 13:40] scarroll32 commented on #344
https://github.com/crowdAI/crowdai/commit/f24f4ca6c29e6dc0ede93fcc53d18861ea2c595a

[2017-10-12 14:04] scarroll32 commented on #214
https://github.com/crowdAI/crowdai/commit/947a17b987173a63a4dc7bb9809bcecc7bc7b484

[2017-10-12 16:05] scarroll32 commented on #346
https://github.com/crowdAI/crowdai/commit/9af01669123d071abc81600ed8f6bee943321c96

[2017-10-13 13:27] marcelsalathe opened #351 "Site not recognising previous hearts"
I'm logged in and go to the openSNP challenge, and it doesn't show the correct heart - it shows the inactive one, even though I hearted it quite some time ago.

<img width="396" alt="screen shot 2017-10-13 at 15 24 04" src="https://user-images.githubusercontent.com/215057/31548362-d634081a-b02a-11e7-8ce3-b19196713c69.png">

When I try to hear it, it redirects me to the homepage, and gives me an "a

[2017-10-13 13:57] scarroll32 opened #352 "Jobs"
Add a simple jobs view

## Job Attributes

- Job Title
- Organisation
- Contact Name (optional)
- Contact Email / Phone (optional)
- Posted Date
- Closing Date (optional)
- Status - (active / inactive)
- Job Description (markdown)
- Remote (boolean)
- Location (city / country)

Added components

- [x]  "Jobs" link on the main navbar
- [x]  Jobs button on the landing page
- [x] Admin interface to m

[2017-10-13 14:10] marcelsalathe commented on #352
Description should be title

Should have country field

A Boolean field remote (yes / no)

[2017-10-16 07:08] scarroll32 opened #353 "Additional fields on participant profile page"
For the CLEF challenges, some additional fields are needed. These are also visible for other participants but are optional

- [x] Affiliation
- [x] Address and country fields (visible only to the participant, organizers or admins)

[2017-10-16 12:16] spMohanty opened #354 "UI bug on edit comment form"
<img width="1239" alt="screen shot 2017-10-16 at 14 15 34" src="https://user-images.githubusercontent.com/1581312/31611486-8cb0ebe6-b27c-11e7-9360-43241da0b16a.png">

Notice the overlap between the "Update Comment" button and the ❤️  button :D

[2017-10-16 14:18] scarroll32 commented on #344
Implemented

[2017-10-16 14:18] #344 closed, assigned to scarroll32

[2017-10-16 14:19] scarroll32 commented on #214
Implemented.

[2017-10-16 14:19] #214 closed, assigned to scarroll32

[2017-10-16 14:32] scarroll32 commented on #346
Implemented.

[2017-10-16 14:32] #346 closed, assigned to spMohanty

[2017-10-17 09:20] scarroll32 commented on #328
Name removed in new design.

[2017-10-17 09:26] scarroll32 commented on #324
Shortener gem is not up to date for v5 ... possible alternative method https://medium.com/@noestauffert/building-a-url-shortener-with-rails-5-ece84f59b6a3

[2017-10-17 10:40] scarroll32 opened #356 "Missing leaderboard entries"
13 & 28 are missing from learning how to run

[2017-10-17 10:46] scarroll32 commented on #356
They are in the sql view so must be a rendering problem

[2017-10-17 12:53] scarroll32 commented on #353
<img width="735" alt="screen shot 2017-10-17 at 14 52 47" src="https://user-images.githubusercontent.com/11340230/31665957-e0094314-b34a-11e7-9e2b-5509dd679789.png">

[2017-10-19 08:23] scarroll32 opened #357 "Additional of field on challenge to upload a PDF EAU document"
Create a place on the challenge page to upload a PDF document, using Carrierwave. This will require adding an uploader class and attaching it to the model. An example to follow is the ImageUploader class.

The [Carrierwave documentation](https://github.com/carrierwaveuploader/carrierwave) describes how to use a generator to create the class.

[2017-10-19 08:26] scarroll32 opened #358 "Addition of a 'Participants' tab to the challenge"
Add a new tab called 'Participants' to the challenge view. This will be populated from the ParticipantChallenge model (SQL view), and will require a new controller called ParticipantChallengeController.

A later version of this function will require uploading documents and approval step for ImageCLEF participants, so the ParticipantChallenge will probably need to be converted from a SQL view into

[2017-10-19 09:30] scarroll32 opened #359 "Add cell ID as a data element"
eg: https://github.com/crowdAI/crowdai/blob/master/app/concepts/dataset/views/list_detail.erb

[2017-10-19 11:31] scarroll32 commented on #278
@jsnrynlds I wonder if the simplest way to to do this is to use the visited attribute in css. Of course if the browser cache is deleted it with be lost, but I think that is OK. I'll do a PR on the templates repo

[2017-10-19 13:09] scarroll32 opened #360 "Refactor Comments and SubmissionComments into a single model"
Use a polymorphic relation.

[2017-10-19 13:31] scarroll32 commented on #356
Fixed

[2017-10-19 13:31] #356 closed, assigned to scarroll32

[2017-10-19 13:31] scarroll32 commented on #354
Fixed

[2017-10-19 13:31] #354 closed, assigned to nobody

[2017-10-19 13:34] scarroll32 commented on #351
Fixed

[2017-10-19 13:34] #351 closed, assigned to scarroll32

[2017-10-19 13:34] scarroll32 commented on #341
Fixed

[2017-10-19 13:34] #341 closed, assigned to scarroll32

[2017-10-19 13:36] scarroll32 opened #362 "Participant qualification - multi round challenge"
Reject submissions from participants if they have not qualified for stage 2 (with an appropriate message)
 Some view of the qualified stage 2 participants

Re: https://github.com/crowdAI/crowdai/issues/340

[2017-10-19 13:36] scarroll32 commented on #340
Implemented

[2017-10-19 13:36] #340 closed, assigned to jsnrynlds, scarroll32

[2017-10-19 13:37] scarroll32 commented on #328
Fixed

[2017-10-19 13:37] #328 closed, assigned to jsnrynlds, scarroll32

[2017-10-19 13:41] scarroll32 commented on #293
Also need some better seeds

[2017-10-19 14:05] scarroll32 opened #363 "Rename Vote to Heart"
Internal naming

[2017-10-19 14:17] scarroll32 commented on #352
Changed "Company" to "Organisation"

[2017-10-19 14:43] scarroll32 opened #364 "remove simple_form"

[2017-10-19 21:15] spMohanty opened #365 "cannot access videos without log in"
Cannot access this link if I am not logged in : https://www.crowdai.org/challenges/8/leaderboards/2765

Ideally this should be accessible to anyone without any sign in required

[2017-10-20 09:06] jsnrynlds commented on #278
Hi @seanfcarroll, that sounds like a nice, simple solution. I've added this to `_typography.scss`:

[code]

[2017-10-20 09:09] jsnrynlds commented on #326
I think we decided to change the top line to just 'Ending', then below show '6 hours left (17:00 UTC)'.

Can we remove the final two digits from the time so it's just XX:XX (as opposed to XX:XX:XX)?

[2017-10-20 09:09] jsnrynlds commented on #326
I will recreate this using flexbox when I get a chance.

[2017-10-20 09:16] scarroll32 commented on #365
agreed

[2017-10-20 09:18] scarroll32 commented on #352
Available in Staging for review

https://crowdai-stg.herokuapp.com/job_postings

Jobs can be turned completely on or off via settings in ActiveAdmin.

Individual jobs will appear only if in a status of 'open'

<img width="1027" alt="screen shot 2017-10-20 at 11 18 07" src="https://user-images.githubusercontent.com/11340230/31813940-5fe29182-b588-11e7-8216-0ae97c3e40e1.png">

[2017-10-20 13:38] scarroll32 commented on #352
Implemented.

[2017-10-20 13:38] #352 closed, assigned to nobody

[2017-10-20 18:29] spMohanty commented on #352
Shouldnt people be able to interact with Job Postings at https://www.crowdai.org/job_postings ?
Like heart them, hopefully in the future, respond to them ;) etc ?

[2017-10-26 10:20] scarroll32 opened #369 "Flags for jobs"
In the jobs design, we need to have a flag for the country in which the job is located. We will also need some other symbol to nominate a remote job.

[2017-10-26 10:22] scarroll32 commented on #347
How about:

`https://www.crowdai.org/topics/new-1-5-model/discussion`

?

[2017-10-27 11:51] ieggel commented on #358
@seanfcarroll
I guess this tab should only be visible for admins and organizers. Can you confirm?

[2017-10-27 12:21] spMohanty opened #370 "Videos wont load on the leadeboard"
<img width="1911" alt="screen shot 2017-10-27 at 14 17 50" src="https://user-images.githubusercontent.com/1581312/32103759-1c194d34-bb22-11e7-94eb-31fa59d3dc64.png">

<img width="1819" alt="screen shot 2017-10-27 at 14 17 19" src="https://user-images.githubusercontent.com/1581312/32103774-25331c74-bb22-11e7-937b-474aeb6787bf.png">

[2017-10-27 12:24] spMohanty opened #371 "Autoplay of (thumbnail) videos on the leaderboard starts after way too long"
It took approximately 12 seconds before the thumbnail videos started playing. It was much faster before the leaderboard redesign I guess ?

[2017-10-27 12:28] scarroll32 commented on #370
Seems to be loading in Chrome, will investigate

<img width="554" alt="screen shot 2017-10-27 at 14 27 21" src="https://user-images.githubusercontent.com/11340230/32104016-0e396270-bb23-11e7-857b-504c6b9bdd26.png">

[2017-10-27 12:36] spMohanty commented on #347
@seanfcarroll : Ideally we should have something like ``https://www.crowdai.org/topics/new-1-5-model`. But I remember it was a bit of extra work because of the embedded form. So if there has to be something after the slug of the topic, I think `https://www.crowdai.org/topics/new-1-5-model/comments` should be more relevant I think ?

In any case, I just had the issue with the `/new` at the end, whi

[2017-10-27 12:44] scarroll32 commented on #347
It's just that ```https://www.crowdai.org/topics/new-1-5-model/comments``` is already a rails route. The ```new``` is there as it is a form (this is standard Rails).

We can override this of course, but probably best to override to something that is not meaningful to Rails, hence ```discussion```

[2017-10-27 12:51] scarroll32 commented on #347
Actually with a bit more hacking we can go with ```comments``` I think. Will try it out.

[2017-10-27 12:55] scarroll32 commented on #371
OK now I'm getting errors also

<img width="816" alt="screen shot 2017-10-27 at 14 54 46" src="https://user-images.githubusercontent.com/11340230/32104926-d9bdaaf2-bb26-11e7-86fa-24aee9d36017.png">

[2017-10-27 14:13] scarroll32 commented on #371
Will drop the html5 video element and instead try this React component https://github.com/video-react/video-react

[2017-10-27 14:24] scarroll32 opened #373 "ImageCLEF redesign"
A few elements for ImageCLEF will need some design work. Will implement and then later request design work from Jason.

- participant contact tab

[2017-10-27 14:33] scarroll32 commented on #353
Implemented

[2017-10-27 14:33] #353 closed, assigned to ieggel

[2017-10-27 15:17] scarroll32 commented on #347
In the end went with discussion, as overriding rails defaults with different meanings feels like asking for trouble...

[2017-10-27 15:23] scarroll32 commented on #347
Implemented

[2017-10-27 15:23] #347 closed, assigned to scarroll32

[2017-10-28 11:53] spMohanty opened #375 "Logos in the challenge overview page are too large"
https://www.crowdai.org/challenges/nips-2017-learning-to-run

<img width="1920" alt="screen shot 2017-10-28 at 13 52 52" src="https://user-images.githubusercontent.com/1581312/32134159-56304070-bbe7-11e7-98b6-b35eb189005a.png">

[2017-10-28 11:58] marcelsalathe commented on #375
Ugh - what happened? They used to be properly sized.

[2017-10-28 12:18] spMohanty commented on #375
I think we should fix this one properly this time.
Even when they are properly sized, they take up way too much vertical space. And you have to scroll a lot before you can reach the next section.

When adding images, we do want to be able to decide if they should be inline or not, and also preferrably select the size we want them to be rendered as.

[2017-10-28 12:36] marcelsalathe commented on #375
Agree - I think we can use the grid solution that we developed for Applied Machine Learning Days (2018) website - what do you think, @seanfcarroll?

[2017-10-28 15:05] spMohanty commented on #370
Accessing the link to the video, says the request has expired.
[https://crowdai-prd.s3.eu-central-1.amazonaws.com/submission_files/submission_359/b96d5629-e27f-4df0-bafb-e2de88e5091c_gif.mp4?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAILFF3ZEGG7Y4HXEQ%2F20171016%2Feu-central-1%2Fs3%2Faws4_request&X-Amz-Date=20171016T084820Z&X-Amz-Expires=604800&X-Amz-SignedHeaders=host&X-Amz-Signature=c1

[2017-10-30 09:18] scarroll32 commented on #375
@marcelsalathe we can do something like the ALMD approach; to do so we will need to capture logo images specifically. Currently they are embedded into the markdown.

I'm not sure what happened exactly. The images are marked with a width of 200px but it doesn't seem to be applying. I've added a new style which is working to solve the immediate problem, but will leave this ticket open to implement a

[2017-10-30 10:46] scarroll32 commented on #326
![screen shot 2
![screen shot 2017-10-30 at 11 44 52](https://user-images.githubusercontent.com/11340230/32166966-c6bfa0ac-bd67-11e7-8d5d-c0af8d9743a0.png)
017-10-30 at 11 38 00](https://user-images.githubusercontent.com/11340230/32166659-d9894720-bd66-11e7-9e03-77c198219c7a.png)
![screen shot 2017-10-30 at 11 39 53](https://user-images.githubusercontent.com/11340230/32166741-13cc6ab6-bd67-11e7-9e

[2017-10-30 12:36] scarroll32 commented on #337
They now wrap, you just need to add the class {:class='img-logo'} in the markdown.

[2017-10-30 12:36] #337 closed, assigned to nobody

[2017-10-30 16:39] scarroll32 commented on #326
Implemented

[2017-10-30 16:39] #326 closed, assigned to jsnrynlds, scarroll32

[2017-10-30 16:43] scarroll32 commented on #371
Fixed

[2017-10-30 16:43] #371 closed, assigned to scarroll32

[2017-10-30 16:44] scarroll32 commented on #370
Fixed

[2017-10-30 16:44] #370 closed, assigned to scarroll32

[2017-10-31 10:03] jsnrynlds commented on #369
Hi @seanfcarroll – I think the location (or remote status) needs to go on the Jobs index page, too. You okay with that?

[2017-10-31 10:46] ieggel opened #381 "seed.rb add admin bug"
The seed.rb, which can be used to set up the initial db for development includes a line that creates an admin. This however does not work because 'the confirmed_at' field is not set.
The 'confirmed_at' field should be set to 'Time.now'.
At the same time it would probably good to include another 2 participants without admin rights into seed.rb.

[2017-10-31 11:00] jsnrynlds commented on #369
@seanfcarroll @marcelsalathe – We could use something [like this](https://github.com/7kfpun/flag-css) for the flags, although I'm not sure what the default size is.

Alternatively, we could allow companies/organisations to upload a logo instead? It would be a bit simpler (I think) but would still add some visual interest.

[2017-10-31 11:54] marcelsalathe commented on #369
Agree it should be on index page. If I'm in Germany, I don't care too much about jobs in France, US, etc...  it doesn't need to be prominent, but should be clear nonetheless. Would actually also be nice eventually if one could filter by country...

Logo upload - maybe in a further stage, if this is of interest to companies. For now this adds too much complexity.

[2017-11-01 07:51] scarroll32 opened #382 "Challenge end_dttm not updated with challenge rounds"
Needs plenty of test cases written.

[2017-11-01 10:21] scarroll32 opened #383 "Challenge ordering"
Change to status first, then featured sequence.

Write tests before deploy.

[2017-11-02 12:20] scarroll32 opened #384 "Receive meta-data hash on submission create via API"
Store in a hash on the submissions with ability to read and update it.

[2017-11-02 12:25] spMohanty opened #385 "CSS issue on profile page"
Observed on firefox.
The numbers next to the tabs are placed in a weird way.
<img width="1071" alt="screen shot 2017-11-02 at 13 23 59" src="https://user-images.githubusercontent.com/1581312/32325918-3c816eae-bfd1-11e7-9fde-b5b02db86dd9.png">

[2017-11-02 12:31] marcelsalathe commented on #385
can confirm, I'm on latest version of firefox and have the same.

[2017-11-02 16:55] scarroll32 commented on #384
Implemented

[2017-11-02 16:55] #384 closed, assigned to scarroll32

[2017-11-03 12:02] scarroll32 opened #388 "Submission license field"
- add license field
- API
- display on modal page

[2017-11-03 12:35] #357 closed, assigned to ieggel

[2017-11-03 13:08] #358 closed, assigned to ieggel

[2017-11-03 13:15] scarroll32 opened #392 "Dataset file downloads not logging"

[2017-11-06 14:14] #381 closed, assigned to ieggel

[2017-11-06 14:29] scarroll32 opened #395 "Challenge round type"
- Challenge round should default to a single round for a new challenge
- There should be a challenge round type:

- registrations
- submissions

[2017-11-06 14:30] scarroll32 commented on #395
Issue with start / end dttm

<img width="499" alt="screen shot 2017-11-06 at 15 30 23" src="https://user-images.githubusercontent.com/11340230/32445914-7a4b3146-c307-11e7-95b3-64ca37ea5a00.png">

[2017-11-06 14:43] scarroll32 opened #396 "Only show challenge headings if populated"

[2017-11-06 14:45] scarroll32 opened #397 "Delete dataset link for admins and organizers"

[2017-11-06 19:30] scarroll32 commented on #397
Implemented

[2017-11-06 19:30] #397 closed, assigned to nobody

[2017-11-06 19:30] scarroll32 commented on #392
Fixed

[2017-11-06 19:30] #392 closed, assigned to scarroll32

[2017-11-07 10:07] spMohanty opened #401 "User handles are hard to tag in discussion forums"
As the user handles on the discussion forums have a " " in the middle, it might be hard for us to parse in retrospect and link the correct referenced users in the posts.

The same goes for tagging users in the discussion forum at the moment.
For ex :
<img width="951" alt="screen shot 2017-11-07 at 11 04 40" src="https://user-images.githubusercontent.com/1581312/32488052-ac2d669e-c3ab-11e7-8ca5-efe

[2017-11-07 13:39] scarroll32 commented on #401
I agree. I think we should enforce no spaces and convert the existing records to this format.

There is a separate PR queued up which will implement optional first and last name fields, which are independent of the username.

I will try to implement the user tagging soon ... I know it's been a long time coming :-)

[2017-11-07 13:57] #396 closed, assigned to ieggel

[2017-11-07 21:31] spMohanty opened #406 "Feature requests for submissions page"
- [x] Color code the grading status : orange for "submitted", red for "failed", "green" for graded
- [x] pagination
- [x] filtering
- [x] Turn on submissions page optionally by challenge
- [x] Refactor code

[2017-11-08 06:00] scarroll32 opened #407 "Challenges filtering"
As we are about to have > 20 live challenges, we need a filtering mechanism for the main challenges page. A simple search box could work, which could sit on the right hand side of the challenges subnav.

<img width="1262" alt="screen shot 2017-11-08 at 06 59 43" src="https://user-images.githubusercontent.com/11340230/32533753-8515dd46-c452-11e7-82c6-6802745aaa6f.png">

[2017-11-08 08:45] alexeygrigorev opened #409 "Timeout on submission"
I try to make a submission to the criteo challenge, and I keep getting timeouts

This is how I do it:

[code]

The error:

[code]

The file is 243mb with approximately 7m lines

The version: crowdai==1.0.10 installed with pip

[2017-11-08 08:46] alexeygrigorev commented on #409
Is there an other way to upload the file?

[2017-11-08 12:40] spMohanty commented on #409
@alexeygrigorev : can you please try again now ?

[2017-11-08 16:15] alexeygrigorev commented on #409
Now it works, thanks

[2017-11-08 16:15] #409 closed, assigned to spMohanty

[2017-11-08 22:18] scarroll32 commented on #362
Implemented

[2017-11-08 22:18] #362 closed, assigned to scarroll32

[2017-11-11 20:59] spMohanty opened #415 "Ranks in round-2 leaderboard show the general rank"
<img width="1465" alt="screen shot 2017-11-11 at 21 58 21" src="https://user-images.githubusercontent.com/1581312/32693466-8abb7f54-c72b-11e7-9ac5-4b1ac79bdaa0.png">

Ideal behaviour should be to show the rank only in the entries in round-2

[2017-11-13 07:50] scarroll32 commented on #415
Will check into it today

[2017-11-13 12:12] scarroll32 commented on #415
Fixed

[2017-11-13 12:12] #415 closed, assigned to scarroll32

[2017-11-13 12:12] scarroll32 commented on #382
If the last challenge_round is not marked as active, the leaderboard is broken

[2017-11-13 12:19] scarroll32 opened #417 "Submission initiated status"
As some NIPS submissions are taking ~45 minutes to upload the model, the grading process should be updated so that an API call is made at the beginning of the submission process, with a status of 'initiated' to correctly record the timestamp of the submission.

[2017-11-13 13:26] spMohanty opened #418 "Challenges page does not show `draft` challenges for admins"

[2017-11-13 13:46] scarroll32 commented on #418
I can see them
<img width="734" alt="screen shot 2017-11-13 at 14 46 11" src="https://user-images.githubusercontent.com/11340230/32728652-6b3caae8-c881-11e7-8c0b-175705901006.png">

[2017-11-13 13:58] scarroll32 commented on #339
@ieggel The Tasks tab will have the EAU and also the dataset files.

Will this be visible to any logged in user or only to the organizer?

<img width="1171" alt="screen shot 2017-11-13 at 14 57 55" src="https://user-images.githubusercontent.com/11340230/32729164-243f8ca8-c883-11e7-8697-e4c2cbce0433.png">

[2017-11-13 14:12] ieggel commented on #339
@seanfcarroll

I think it's better if this tab is only visible to the organizer.
The participants can see the EUA and the dataset files on the challenge page.

[2017-11-13 16:30] scarroll32 commented on #339
Thanks @ieggel

[2017-11-14 10:22] scarroll32 opened #420 "Clef Task instructional text"
When a participant reviews a clef task, there are a number of participant / task states possible, and the dataset download page will have different content depending on the state.

The states are:

- profile_incomplete: user has not completed the required profile fields (address etc)
- unregistered: user has completed fields but has not downloaded the EUA. Page displays the EUA download / upload
-

[2017-11-14 10:54] scarroll32 commented on #420
For LifeCLEF the participant must complete the profile fields, but then may immediately download the data files.

A message like "by downloading these files you agree to the terms and conditions " is displayed. This is configurable at the challenge level.

- profile_incomplete: user has not completed the required profile fields (address etc)
- registered: user has been approved and may download fi

[2017-11-14 11:58] ieggel commented on #420
@seanfcarroll
Here the instructional text for each of the **ImageCLEF** states:

**1. profile_incomplete**

This challenge belongs to the ImageCLEF lab which in turn is part of the Conference and Labs of the Evaluation Forum: CLEF 2018. In order to be compliant with the CLEF registration requirements, please edit your profile by providing the following information:

- First name

- Last name

- Af

[2017-11-14 12:03] ieggel commented on #420
@seanfcarroll
Here the instructional text for each of the **LifeCLEF** states:

**1. profile_incomplete**:

This challenge belongs to the LifeCLEF lab which in turn is part of the Conference and Labs of the Evaluation Forum: CLEF 2018. In order to be compliant with the CLEF registration requirements, please edit your profile by providing the following information:

- First name

- Last name

- Aff

[2017-11-14 13:13] scarroll32 opened #421 "Expose participant data for CLEF consumers"

[2017-11-14 13:13] scarroll32 opened #422 "Refactor CLEF and non-clef datasets into a single model"
Probably solvable via a polymorphic association.

[2017-11-14 15:39] scarroll32 opened #423 "Reload SSL certs"

[2017-11-14 20:51] spMohanty opened #424 "Better syntax highlighting in Kramdown"
<img width="744" alt="screen shot 2017-11-14 at 21 50 24" src="https://user-images.githubusercontent.com/1581312/32804031-e4664596-c985-11e7-8bb5-50a31a184017.png">

We definitely need to have better syntax highlighting in the forum posts on crowdAI.

[2017-11-15 10:30] spMohanty opened #425 "rendering lists in Kramdown"
Bug Report by @ctmakro : "the bulletpoints in kramdown is again not showing.i tried to disable a rule in the CSS; it seems that the rule is applied to both the tab text and the lists. not the best practice tho.
that specific rule should only be applied to the tab text(tab items), not all the lists in the page."

![screenshot](https://files.gitter.im/crowdAI/Lobby/2whm/image.png)

[2017-11-16 10:51] bkDJ opened #426 "kramdown branding"
According to [kramdown's official website](https://kramdown.gettalong.org/):

However, the crowdAI website has a few spots where kramdown is allowed in text boxes, but is mentioned with improper case or not at all.

<i>Example 1:  Adding a comment to a discussion. https://www.crowdai.org/topics/format-of-the-predictions/discussion </i>
![image](https://user-images.githubusercontent.com/6138914/328

[2017-11-16 14:47] scarroll32 opened #428 "ImageCLEF pre launch items"
- "Complete the EAU"
- "EAU approval pending

[2017-11-16 14:50] scarroll32 commented on #428
Remove add file button

<img width="245" alt="screen shot 2017-11-16 at 15 50 22" src="https://user-images.githubusercontent.com/11340230/32897456-ec5f782e-cae5-11e7-9fec-3bee58fbc496.png">

[2017-11-16 15:06] scarroll32 commented on #420
Implemented

[2017-11-16 15:06] #420 closed, assigned to ieggel

[2017-11-16 15:07] #373 closed, assigned to nobody

[2017-11-16 15:08] scarroll32 commented on #339
Implemented

[2017-11-16 15:08] #339 closed, assigned to scarroll32

[2017-11-16 15:08] scarroll32 opened #429 "Organizer invitations"
Ability for an organizer account to invite other participants or remove a participant from the organization

(mostly needed for Clef but useful generally)

[2017-11-16 15:10] #418 closed, assigned to nobody

[2017-11-16 15:10] #388 closed, assigned to nobody

[2017-11-16 15:33] ieggel commented on #428
@seanfcarroll
Just discovered a problem on the task pages (organizers/imageclef/clef_tasks/***)  in the staging environment:
- Can't access the tasks' already uploaded EUA,
- Can't add dataset files,
- Can't see existing dataset files,
- This happens when logged in as an ImageCLEF as well as a LifeCLEF organizer

[2017-11-16 15:37] scarroll32 commented on #359
Implemented

[2017-11-16 15:37] #359 closed, assigned to scarroll32

[2017-11-16 15:38] scarroll32 commented on #428
Thanks @ieggel I think it is a security issue. I will look into it.

[2017-11-16 15:39] scarroll32 commented on #417
Assigned to Mohanty, but time permitting I will look after it.

[2017-11-16 17:46] #364 closed, assigned to scarroll32

[2017-11-16 17:47] #363 closed, assigned to scarroll32

[2017-11-16 19:25] scarroll32 opened #430 "System admin"
https://github.com/okbob/pspg

[2017-11-16 22:32] scarroll32 commented on #324
https://github.com/nicolasbeauvais/vue-social-sharing

[2017-11-17 10:00] ieggel commented on #428
@seanfcarroll

In the LifeCLEF challenge dataset tab I'm asked to provide an EUA. This should not happen for LifeCLEF tasks, as they do not require an EUA. Maybe a good way would be to simply check if the task has an EUA uploaded, and only then require it for participants

[2017-11-17 10:02] ieggel commented on #428
@seanfcarroll

the profile_incomplete status does not show up in the dataset tab if my profile is not complete. The following fields should be filled in:
 - firstname
 - lastname
 - afiiliatiom
 - address
 - city
 - country

[2017-11-17 10:04] ieggel commented on #428
@seanfcarroll

The requested status (if participant downloaded EUA) message does not show up in the dataset tab. Instead the unregistered status message is shown.

[2017-11-17 10:07] ieggel commented on #428
@seanfcarroll

There is no possibily to replace (reupload) the EUA in the dataset tab if the status is submitted. It would be good to for a participant to replace the uploaded EUA as often they do some mistakes when filling  it out.

[2017-11-17 10:09] ieggel commented on #428
@seanfcarroll

I cannot upload any dataset files in the staging env. Probably an S3 issue?

[2017-11-17 11:50] scarroll32 opened #431 "Suffixes on Firefox"
<img width="707" alt="screen shot 2017-11-17 at 12 49 18" src="https://user-images.githubusercontent.com/11340230/32945972-e27e8ff6-cb95-11e7-95c1-7b5f3b24fa35.png">

[2017-11-17 11:56] scarroll32 commented on #278
Implemented.